{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Deductions</title>
<meta name="description" content="Personal Details" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/deductions.js' %}"></script>
<!-- <head>
  <meta charset="utf-8" />
  <title>Salat Tax | Deductions</title>
  <meta name="description" content="Deductions" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">
  
  <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

  <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/deductions.js' %}"></script>
  
</head> -->
<style type="text/css">
  .error_field{ color: red; }
  .success-step{
    color:#9ED438 ;
    float: right;
  }
  .inprogress-step{
    color:grey;
    float: right;
  }
  .warning-step{
    color:orange;
    float: right;
  }
  #tooltip{
    float:left;
    position: relative;
    bottom: 40px;
    color: #00A1DF;
    right:20px;
  }
  select{
    position: relative;
    top:20px;
  }
  .gotop{ color:#00A1DF;}


</style>

<body ng-controller="index_cntrl" style="display: none">


  <div ng-controller="deductions_cntrl">
  <div class="app" id="app" ng-controller="deductions_controller">

  

    <div class='loader'>
      <span class="please_css">Please wait...</span>
    </div>
    <!-- ############ LAYOUT START-->
    {% include 'menubar_efiling.html'%}
    <div id="aside" class="app-aside fade nav-dropdown black">
      <!-- fluid app aside -->
      <div class="navside dk" data-layout="column">
        <div class="navbar blue no-radius nav_css">
          <!-- brand -->
          <a href="index.html" class="navbar-brand">
            <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
          </a>
          <!-- / brand -->
        </div>
        <div data-flex class="hide-scroll dark">
          <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
          {% include 'sidebar.html'%}
        </div>
      </div>
    </div>
    <!-- content -->
    <input type="hidden" ng-init="user.client_id='{{client_id}}'" ng-model="user.client_id">

    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
      
      <div class="app-body" ng-style="display_login">
        <!-- only need a height for layout 4 -->
        <div style="min-height: 200px;margin-top:67px;">
        <!--   <h4 style="margin-left:20px;">Deductions</h4> -->
          <form role="form" name="taxForm" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom:15px;">
                  <div class="b-b _800" style="padding-top: 1.2rem;padding-bottom: 1rem"><h5>Deductions</h5></div>
              </div>


              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="b-b b-primary nav-active-primary">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab1" id="commonDeductionsTab">Common Deductions</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-toggle="tab" data-target="#tab2" id="otherDeductionsTab">Other Deductions</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content p-a m-b-md">
                  <div class="tab-pane animated fadeIn active text-muted" id="tab1">
                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80c">
                        <input class="md-input" id="section_80c" ng-model="user_d.section_80c" ng-keyup="validation('section_80c',user_d.section_80c)" ng-init="user_d.section_80c=''" placeholder="Investments & Insurance">
                        <label for="section_80c">Investments & Insurance <!-- {{state_list}} --> <input type="hidden" ng-model="user_d.state_code" ng-init="user_d.state_code={{state_list}}"></label>
                      </div>

                      <a href="#" id="tooltip" data-toggle="tooltip" title="You can save tax if you do some investments. Maximum deduction that can be claimed is Rs.1.5 lac. Popular 80C investments are EPF, Tax Saving Mutual Funds (ELSS), PPF, Life Insurance Premium, Housing loan principal repayment etc. Even if your Form-16 does not have the total 80C amount, you can claim it here. Just keep your investment proofs with you safely"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field" >
                        <p>
                          <span ng-messages="taxForm.user_d.section_80c.$error" role="alert"><%section_80c_error%></span>
                        </p>
                      </div>
                    </div>
                   <!--  <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="field in items">
                      <%field%>
                    </div> -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ccd">
                        <input class="md-input" id="section_80ccd" ng-model="user_d.section_80ccd" ng-keyup="validation('section_80ccd',user_d.section_80ccd)"ng-init="user_d.section_80ccd=''" placeholder="National Pension Scheme (NPS)">
                        <label for="section_80ccd">National Pension Scheme (NPS)</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="If you have invested in National Pension Scheme (NPS) you can save tax. Maximum deduction available is Rs. 50,000 over anb above 1,50,000/-"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ccd.$error" role="alert"><%section_80ccd_error%></span>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ccd1">
                        <input class="md-input" id="section_80ccd1" ng-model="user_d.section_80ccd1" ng-keyup="validation('section_80ccd1',user_d.section_80ccd1)"ng-init="user_d.section_80ccd1=''" placeholder="NPS by Emloyee ">
                        <label for="section_80ccd1">NPS by Emloyee</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Employee’s contribution to NPS account (maximum up to Rs 1,50,000 to be included in 80C)"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p> <span ng-messages="taxForm.user_d.section_80ccd1.$error" role="alert"><%section_80ccd1_error%> </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ccd2">
                        <input class="md-input" id="section_80ccd2" ng-model="user_d.section_80ccd2" ng-keyup="validation('section_80ccd2',user_d.section_80ccd2)"ng-init="user_d.section_80ccd2=''" placeholder="NPS by Employer">
                        <label for="section_80ccd2">NPS by Employer</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Employer's contribution in NPS (upto 10% of basic Salary + Dearness Allowance)"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ccd2.$error" role="alert"><%section_80ccd2_error%>
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 style="color:#089CE4">Self</h5>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80d">
                          <input class="md-input" id="self_health_checkup" ng-model="user_d.self_health_checkup" ng-init="user_d.self_health_checkup=''" placeholder="Preventive Health Checkup">
                          <label for="self_health_checkup">Preventive Health Checkup</label>
                      </div>
                      <a href="#" id="tooltip" data-html="true" data-toggle="tooltip" title="Premium paid towards medical insurance can be availed for tax deduction. Following are different scenarios people covered under Medical Insurance
                      Yourself, Spouse & children - Maximum Deduction is 25,000 
                      Yourself, Spouse & children & parents - Maximum Deduction is 50,000 
                      Yourself, Spouse & children & parents (Senior Citizen) - Maximum Deduction is 75,000
                      Amount spent towards preventive health check can also be availed cumulatively subject to availability of bills upto Rs. 5,000/-"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80d.$error" role="alert"><%self_health_checkup_error%>
                        </p>
                      </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80d">
                          <input class="md-input" id="section_80d" ng-model="user_d.self_insurance_premium" ng-init="user_d.self_insurance_premium=''" placeholder="Medical Insurance Premium" ng-keyup="restrict_to_fill('self_insurance_premium',user_d.self_insurance_premium)" ng-disabled="self_insurance_premium_disabled">
                          <label for="self_insurance_premium">Medical Insurance Premium</label>
                      </div>
                      <a href="#" id="tooltip" data-html="true" data-toggle="tooltip" title="Premium paid towards medical insurance can be availed for tax deduction. Following are different scenarios people covered under Medical Insurance
                      Yourself, Spouse & children - Maximum Deduction is 25,000 
                      Yourself, Spouse & children & parents - Maximum Deduction is 50,000 
                      Yourself, Spouse & children & parents (Senior Citizen) - Maximum Deduction is 75,000
                      Amount spent towards preventive health check can also be availed cumulatively subject to availability of bills upto Rs. 5,000/-"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80d.$error" role="alert"><%section_80d_error%>
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-if="user_d.citizen_type=='SC'">
                      <div class="md-form-group has-float-label" id="div_80ddb">
                        <input class="md-input" id="self_medical_expenditure" ng-model="user_d.self_medical_expenditure" ng-init="user_d.self_medical_expenditure=''" placeholder="Medical Expenditure" ng-keyup="restrict_to_fill('self_medical_expenditure',user_d.self_medical_expenditure)" ng-disabled="self_medical_expenditure_disabled">
                        <label for="self_medical_expenditure">Medical Expenditure</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Deduction for resident Individual & HUFwith respect to specified disease - Rs. 40,000/-. For Senior citizens with respect to specified disease - Rs.1,00,000/-. The taxpayer has to reduce the deduction if he has received any reimbursements or insurance money."><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ddb.$error" role="alert"><%section_80ddb_error%>
                        </p>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group label-floating">
                            <label class="control-label">Is any of your parents dependent on you?</label>
                            <br>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="    margin-bottom: 8px !important; ">
                                        <input type="radio" id="parent_dependent_yes" value="yes" ng-model="user_d.parent_dependent" ng-click="user_d.parent_senier_citizen='no'">
                                        <label for="parent_dependent_yes">Yes</label>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="    margin-bottom: 8px !important;">
                                        <input type="radio" id="parent_dependent_no" value="no" ng-model="user_d.parent_dependent" ng-click="user_d.parent_senier_citizen=''">
                                        <label for="parent_dependent_no">No</label>
                                  </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="user_d.parent_dependent=='yes'">
                        <div class="form-group label-floating">
                            <label class="control-label">Is any of your parent a senior citizen?</label>
                            <br>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="    margin-bottom: 8px !important; ">
                                        <input type="radio" id="parent_senier_citizen_yes" value="yes" ng-model="user_d.parent_senier_citizen" >
                                        <label for="parent_senier_citizen_yes">Yes</label>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="    margin-bottom: 8px !important;">
                                        <input type="radio" id="parent_senier_citizen_no" value="no" ng-model="user_d.parent_senier_citizen" >
                                        <label for="parent_senier_citizen_no">No</label>
                                  </div>
                        </div>
                    </div>

                  <!--   <div lass="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
 -->
                    <div ng-if="user_d.parent_senier_citizen=='yes' || user_d.parent_senier_citizen=='no'">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h5 style="color:#089CE4">Parent</h5>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <div class="md-form-group has-float-label" id="div_80d">
                              <input class="md-input" id="parent_health_checkup" ng-model="user_d.parent_health_checkup" ng-init="user_d.parent_health_checkup=''" placeholder="Preventive Health Checkup">
                              <label for="parent_health_checkup">Preventive Health Checkup</label>
                          </div>
                          <a href="#" id="tooltip" data-html="true" data-toggle="tooltip" title="Premium paid towards medical insurance can be availed for tax deduction. Following are different scenarios people covered under Medical Insurance
                          Yourself, Spouse & children - Maximum Deduction is 25,000 
                          Yourself, Spouse & children & parents - Maximum Deduction is 50,000 
                          Yourself, Spouse & children & parents (Senior Citizen) - Maximum Deduction is 75,000
                          Amount spent towards preventive health check can also be availed cumulatively subject to availability of bills upto Rs. 5,000/-"><i class="fa fa-info-circle"></i></a>
                          <div class="error_field">
                            <p>
                              <span ng-messages="taxForm.user_d.section_80d.$error" role="alert"><%section_80d_error%>
                            </p>
                          </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                          <div class="md-form-group has-float-label" id="div_80d">
                              <input class="md-input" id="parent_insurance_premium" ng-model="user_d.parent_insurance_premium" ng-init="user_d.parent_insurance_premium=''" placeholder="Medical Insurance Premium" ng-blur="restrict_to_fill('parent_insurance_premium',user_d.parent_insurance_premium)" ng-disabled="parent_insurance_premium_disabled">
                              <label for="parent_insurance_premium">Medical Insurance Premium</label>
                          </div>
                          <a href="#" id="tooltip" data-html="true" data-toggle="tooltip" title="Premium paid towards medical insurance can be availed for tax deduction. Following are different scenarios people covered under Medical Insurance
                          Yourself, Spouse & children - Maximum Deduction is 25,000 
                          Yourself, Spouse & children & parents - Maximum Deduction is 50,000 
                          Yourself, Spouse & children & parents (Senior Citizen) - Maximum Deduction is 75,000
                          Amount spent towards preventive health check can also be availed cumulatively subject to availability of bills upto Rs. 5,000/-"><i class="fa fa-info-circle"></i></a>
                          <div class="error_field">
                            <p>
                              <span ng-messages="taxForm.user_d.section_80d.$error" role="alert"><%section_80d_error%>
                            </p>
                          </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-if="user_d.parent_senier_citizen=='yes'">
                          <div class="md-form-group has-float-label" id="div_80ddb">
                            <input class="md-input" id="parent_medical_expenditure" ng-model="user_d.parent_medical_expenditure" ng-init="user_d.parent_medical_expenditure=''"  placeholder="Medical Expenditure" ng-blur="restrict_to_fill('parent_medical_expenditure',user_d.parent_medical_expenditure)" ng-disabled="parent_medical_expenditure_disabled">
                            <label for="parent_medical_expenditure">Medical Expenditure</label>
                          </div>
                          <a href="#" id="tooltip" data-toggle="tooltip" title="Deduction for resident Individual & HUFwith respect to specified disease - Rs. 40,000/-. For Senior citizens with respect to specified disease - Rs.1,00,000/-. The taxpayer has to reduce the deduction if he has received any reimbursements or insurance money."><i class="fa fa-info-circle"></i></a>
                          <div class="error_field">
                            <p>
                              <span ng-messages="taxForm.user_d.section_80ddb.$error" role="alert"><%section_80ddb_error%>
                            </p>
                          </div>
                    </div>
             
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80dd">
                        <input class="md-input" id="section_80dd" ng-model="user_d.section_80dd" ng-keyup="validation('section_80dd',user_d.section_80dd)" ng-init="user_d.section_80dd=''" placeholder="Disabled Dependent">
                        <label for="section_80dd">Disabled Dependent</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Deduction for disabled family member(Spouse, Children or parent) dependant on you having Form 10 - IA signed by doctor practicing in Government hospital for 40% or more - Rs.75,000/- or 80% or more disability - Rs.1,25,000/-"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80dd.$error" role="alert"><%section_80dd_error%>
                        </p>
                      </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Donation Receipt</label>
                        <div class="col-sm-7">
                          <input type="file" class="form-control">
                        </div>
                      </div>
                    </div> -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80g">
                        <input class="md-input" id="section_80g" ng-model="user_d.section_80g" ng-keyup="validation('section_80g',user_d.section_80g);update_donee_tbl();" ng-init="user_d.section_80g=''" placeholder="Donation">
                        <label for="section_80g">Donation</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Philanthropy is good. Govt too rewards you if you donate by giving you tax benefits. Donations only to registered organisations are tax exempt. Please mention the donation amount along with other required details done in 2018-19."><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80g.$error" role="alert"><%section_80g_error%>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ttb">
                        <input class="md-input" id="section_80ttb" ng-model="user_d.section_80ttb" ng-keyup="validation('section_80ttb',user_d.section_80ttb);" ng-init="user_d.section_80ttb=''" placeholder="Interest Income">
                        <label for="section_80ttb">Interest Income</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Interest income deposits for Senior citizen upto Rs.50,000/- includes Fixed Deposit Interest, Savings Interest, Post Office Interest"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field" >
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ttb.$error" role="alert"><%section_80ttb_error%>
                        </p>
                      </div>
                    </div>

                    <div class="app-body" ng-style="donee_tbl">
                      <div class="table-responsive">
                        <table class="table table-bordered m-a-0" id="donation_table">
                          <thead>
                            <tr>
                              <th></th>
                              <th class="name_space">Name of Donee</th>
                              <th class="address">Address</th>
                              <th class="city">City/town of Donee</th>
                              <th class="pan_space">State code</th>
                              <th class="pin_code">Pin code</th>
                              <th class="name_space">PAN OF Donee</th>
                              <th class="name_space">Amount of Donation</th>
                              <th class="name_space">Deduction Percentage</th>
                              <th class="name_space">Eligible Amount of Donation</th>
                            </tr>
                          </thead>
                          <tbody  id='donation_tbody' ng-model="donation_tbody"> </tbody>
                        </table>
                      </div>
                      <div class="btn_style" style="margin-top:10px">
                        <button type="button" class="add-row1 btn info" value="Add Row">Add Row</button>
                        <button type="button" class="delete-row1 btn info">Delete Row</button>
                      </div>
                      <div class="error_field" style="margin-top:10px">
                        <p> <%donee_tbl_error%> </p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class=" p-a" style="margin-bottom: 50px;">

                        <a class="btn info pull-left" ng-class="{disabled: isDisabled}" ng-click="gotoincomedetails()" ng-model="isDisabled" style="color:#ffffff;">Prev</a>

                        <a class="btn btn-success pull-right" id="save1" ng-click="deductions_save1()" style="color:#ffffff;" onclick="ga('send','event','btn click','next deductions common','Label',1);track_FP('btn click','next deductions common')">Save</a>
                      </div>
                      <span id="status_span" ng-messages="taxForm.section_80c.$error" role="alert" style="display: none;"><%status1%></span>
                    </div>
                  </div>
                  <div class="tab-pane animated fadeIn text-muted" id="tab2">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ccg">
                        <input class="md-input" id="section_80ccg" ng-model="user_d.section_80ccg" ng-keyup="validation('section_80ccg',user_d.section_80ccg)" ng-init="user_d.section_80ccg=''" placeholder="RGESS">
                        <label for="section_80ccg">RGESS</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="what exactly is Section 80C"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ccg.$error" role="alert"><%section_80ccg_error%>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80e">
                        <input class="md-input" id="section_80e" ng-model="user_d.section_80e" ng-keyup="validation('section_80e',user_d.section_80e)" ng-init="user_d.section_80e=''" placeholder="Interest on Education Loan">
                        <label for="section_80e">Interest on Education Loan</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Have you taken education loan for higher studies (Graduate & Post Graduate)? If yes then please write the interest amount you paid towards the loan."><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80e.$error" role="alert"><%section_80e_error%>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ee">
                        <input class="md-input" id="section_80ee" ng-model="user_d.section_80ee" ng-keyup="validation('section_80ee',user_d.section_80ee)" ng-init="user_d.section_80ee=''" placeholder="Interest on Home Loan">
                        <label for="section_80ee">Interest on Home Loan</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="For first time buyers, value of property must be less than 50 lakhs and home loan should be less than 35 lakhs upto Rs.50,000/-"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p> <span ng-messages="taxForm.user_d.section_80ee.$error" role="alert"><%section_80ee_error%> </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80gg">
                        <input class="md-input" id="section_80gg" ng-model="user_d.section_80gg" ng-keyup="validation('section_80gg',user_d.section_80gg)" ng-init="user_d.section_80gg=''" placeholder="House Rent">
                        <label for="section_80gg">House Rent</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Person having HRA in Form 16 cannot claim this deduction. If the company does not give HRA deduction in Form 16 he can claim under this section. Exemption - Least of the following 1. Rent paid minus 10% of the adjusted total income 2. 25% of the adjusted total income 3. Rs. 5000 per month"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p> <span ng-messages="taxForm.user_d.section_80gg.$error" role="alert"><%section_80gg_error%> </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80gga">
                        <input class="md-input" id="section_80gga" ng-model="user_d.section_80gga" ng-keyup="validation('section_80gga',user_d.section_80gga)" ng-init="user_d.section_80gga=''" placeholder="Contribution to scientific research">
                        <label for="section_80gga">Contribution to scientific research</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Have you taken education loan for higher studies (Graduate & Post Graduate)? If yes then please write the interest amount you paid towards the loan in 2017-18."><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p> <span ng-messages="taxForm.user_d.section_80gga.$error" role="alert"><%section_80gga_error%> </p>
                      </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group float-label">
                        <input class="md-input" ng-model="user_d.section_80dd" ng-keyup="validation('section_80dd',user_d.section_80dd)" ng-init="user_d.section_80dd=''">
                        <label>Section 80DD</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="what exactly is Section 80C"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80dd.$error" role="alert"><%section_80dd_error%>
                        </p>
                      </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80u">
                        <input class="md-input" id="section_80u" ng-model="user_d.section_80u" ng-keyup="validation('section_80u',user_d.section_80u)" ng-init="user_d.section_80u=''" placeholder="Self Disability">
                        <label for="section_80u">Self Disability</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Deduction for self disablility having Form 10 - IA signed by doctor practicing in Government hospital for 40% or more - Rs.75,000/- or 80% or more disability - Rs.1,25,000/-"></i></a>
                      <div class="error_field" >
                        <p>
                          <span ng-messages="taxForm.user_d.section_80u.$error" role="alert"><%section_80u_error%>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="md-form-group has-float-label" id="div_80ggc">
                        <input class="md-input" id="section_80ggc" ng-model="user_d.section_80ggc" ng-keyup="validation('section_80ggc',user_d.section_80ggc)" ng-init="user_d.section_80ggc=''" placeholder="Contribution to Political Parties">
                        <label for="section_80ggc">Contribution to Political Parties</label>
                      </div>
                      <a href="#" id="tooltip" data-toggle="tooltip" title="Amount contributed (not allowed if paid in cash)"><i class="fa fa-info-circle"></i></a>
                      <div class="error_field">
                        <p>
                          <span ng-messages="taxForm.user_d.section_80ggc.$error" role="alert"><%section_80ggc_error%>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class=" p-a" style="margin-bottom: 50px;">

                        <a class="btn info pull-left" ng-class="{disabled: isDisabled}" ng-click="gotocommondeductionstab()" ng-model="isDisabled" style="color:#ffffff;">Prev</a>

                        <a class="btn btn-success pull-right" ng-click="gotoDeductions()" style="color:#ffffff;" onclick="ga('send','event','btn click','next deductions other','Label',1);track_FP('btn click','next deductions other')">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- ############ PAGE END-->
      </div>
      <div class="app-body" ng-style="display_logout">
        <div style="margin-top:20px;"> Kindly Login to continue. </div>
      </div>
    </div>
    <!-- ############ LAYOUT END-->
    {% include 'footer_efiling.html'%}
  </div>
  </div>

  <!-- build:js scripts/app.min.js -->
  <!-- jQuery -->
  <!-- <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script> -->
  <!-- Bootstrap -->
  <!-- <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script> -->
  <!-- core -->
  <!-- <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
  <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
  <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
  <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
  <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

  <script src="{% static 'scripts/config.lazyload.js'%}"></script>
  <script src="{% static 'scripts/ui-load.js'%}"></script>
  <script src="{% static 'scripts/ui-jp.js'%}"></script>
  <script src="{% static 'scripts/ui-include.js'%}"></script>
  <script src="{% static 'scripts/ui-device.js'%}"></script>
  <script src="{% static 'scripts/ui-form.js'%}"></script>
  <script src="{% static 'scripts/ui-modal.js'%}"></script>
  <script src="{% static 'scripts/ui-nav.js'%}"></script>
  <script src="{% static 'scripts/ui-list.js'%}"></script>
  <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
  <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
  <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
  <script src="{% static 'scripts/ui-taburl.js'%}"></script>
  <script src="{% static 'scripts/app.js'%}"></script>
  <script src="{% static 'scripts/ajax.js'%}"></script>

  <script src="{% static 'js/ui-mask.js' %}"></script> -->
  <!-- endbuild -->
  <script type="text/javascript">
    $('#save1').on('click', function(e) {
      setTimeout(function(){ 
        var status1 = document.getElementById('status_span').innerHTML;
        if(status1=='' || status1=='F'){
        }else{
          $('#capitalGainsTab').removeClass('active');
          $('#otherDeductionsTab').tab('show');
          $("html, body").animate({ scrollTop: 0 }, "slow");
        } 
      }, 2000);
    });
    $('#btnGoTop').on('click', function(e) {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      return false;
    });
  </script>
  <!-- Upload profile image -->
  <script type="text/javascript">
    $(function() {
      $('a').tooltip({ 
          disabled: true,
          close: function( event, ui ) { $(this).tooltip('disable'); }
      });

      $('a').on('click', function () {
          $(this).tooltip('enable').tooltip('open');
      });

      $("#upload_link").on('click', function(e) {
        e.preventDefault();
        $("#upload:hidden").trigger('click');
      });
    });
    $(".add-row1").click(function() {
      var scope = angular.element(document.getElementById('app')).scope();
      scope.add_row_donation();
      // var markup = "<tr><td><input type='checkbox' name='record'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.dname1'></td>";
      
      // markup += '<td><div class="md-form-group float-label">';
      // markup += '<td><div class="md-form-group float-label"><input class="md-input" ng-model="user_d.dname1" ng-keyup="validation('+"'dname1'"+',user_d.dname1);" ng-init='+"'dname1'"+'></div></td>';
      // // <input class="md-input" ng-model="user_d.dname1" ng-keyup="validation('dname1',user_d.dname1);" ng-init="user_d.dname1=''">
      // // markup += "<td><input class='md-input' ng-model='user_d.dadd1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.dcity1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.dstate1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.dpin1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.dpan1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.damt1'></td>";
      // markup += "<td><input class='md-input' ng-model='user_d.deamt1'></td></tr>";
      // $("#donation_table tbody").append(markup);
    });

    function donation_row_count() {
      var x = document.getElementById("donation_table").rows.length;
      // alert(x);
      return x;
    }

    // Find and remove selected table rows
    $(".delete-row1").click(function() {
      $("#donation_table tbody").find('input[name="record"]').each(function() {
          if ($(this).is(":checked")) {
            $(this).parents("tr").remove();
          }
      });
    });
    function label_float(id){
      var element = document.getElementById(id);
      element.classList.remove("float-label");
    };
    function donation_arr() {
      var last_row = 0;
      var arr = [];
      var table=document.getElementById("donation_table");
      for (var i = 1 ; i < table.rows.length; i++) {
        last_row++;
        var row = table.rows[i].cells[0].id;

        // for (var j = 0; j < table.rows[i].cells.length; j++) {
        //   row += table.rows[i].cells[j].innerHTML;
        //   row += " | ";
        // }
        // console.log(row);
        arr.push(row);
      }
      return arr;
    }
    function delete_all_donee(){
      $("#donee_tbl").remove();
    }
  </script>
</body>
</html>
