{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Home | Salat Tax</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <!-- owl corousel testimonial -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
 
    <style type="text/css">
        .my_custom_card_view{
            background: #FFFFFF;
            border-radius: 10px;
            /*-webkit-box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);
            -moz-box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);
            box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);*/
        }
        .nav a {
            color: #000;
        }
        .testimonial{
            text-align: center;
            padding: 85px 50px 45px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            /*box-shadow: 8px 4px 0 0 #3A98E3;*/
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial .pic{
            width: 120px;
            height: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial .pic img{
            width: 100%;
            height: auto;
        }
        .testimonial .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .owl-theme .owl-controls{
            margin-top: 10px;
        }
        .owl-theme .owl-controls .owl-page span{
            background: #5e5f5f;
            opacity: 1;
            transition: all 0.4s ease 0s;
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span{
            background: #3A98E3;
        }
        .owl-theme .owl-controls .owl-page.active span{
            width: 22px;
            height: 12px;
        }
    </style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="index_controller">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col" style="background:url(../static/images/rev-slider1.jpg) no-repeat; background-size:cover;">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height: 3rem;background: white;border-radius: 0;position: fixed;width: 100%;z-index: 10000;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>

                    <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                        <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                            <li class="active nav-item">
                                <a href="#" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='pricing.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Services</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='tsa.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Tax Saving Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='contact.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Contact Us</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#signin_model" data-ui-toggle-class="zoom" data-ui-target="#animate">
                                    <span class="btn btn-md info">
                                        Sign in
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                    <div class="right-half col-lg-6 col-md-6" style="margin-top: 120px;margin-bottom: 50px" ng-app="myapp">
                        <h1 class="header-login">RESET PASSWORD</h1>
                        {% csrf_token %}  
                        <h5 class="normal-grey">Please Enter New Password</h5>
                        <span class="check_new_confirm_password" style="color: maroon;"></span>
                        <center>
                            <span ng-model="new_data.current_id" ng-init="new_data.current_id='{{ get_current_id }}'"></span>
                            <span ng-model="new_data.salatuser_id" ng-init="new_data.salatuser_id='{{ get_email }}'"></span>
                            <div class="form-group">
                                <!-- <div class="col-xs-12">
                                    <input type="password" id="old_password" ng-blur="check_old_password(new_data)" ng-model="new_data.old_password" name="reset-password" class="field-password form-control" placeholder="Enter old Password">
                                </div> -->
                                <span class="error_password" style="color: maroon;"></span>
                                <div class="col-xs-12" style="margin-top: 40px;">
                                    <input type="password" id="new_password" ng-model="new_data.reset_password" name="reset-password" class="field-password form-control" placeholder="Enter Password" ng-init="new_data.reset_password=''">
                                </div>
                                <div class="col-xs-12" style="margin-top: 40px;">
                                    <input type="password" id="confirm_password" ng-model="new_data.confirm_password" name="login-email" class="field-password form-control" placeholder="Confirm Password" ng-init="new_data.confirm_password=''">
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-lg-12 text-right">
                                    <button type="submit" id="button_submit" ng-click="New_Password(new_data)" class="btn btn-effect-ripple btn-primary" style="width: 100%;height: 50px;margin-top: 30px;">Submit</button>
                                </div>
                            </div>
                        </center>
                    </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <!-- <div class="left-half col-lg-6 col-md-6" id="left-half" style="background:#188BC0; ">    
            <div class="col-lg-12 col-md-12" style="position: relative;right: 20%;top:20%">
                <center>
                    <img src="../static/images/gif-password.gif">
                </center>
            </div>
        </div> -->



        <div class="footer black text-info-hover">
            <div class="container">
                <div class="row p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="col-md-5">
                        <div class="text-muted m-y-lg">
                            <h2 class="text-muted _600">
                        <span class="text-muted">Salat Tax Footer</span>
                    </h2>
                        </div>
                    </div>
                </div>
                <div class="p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. All rights reserved.</span>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Google+">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red-600"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ############ LAYOUT END-->
        <!-- / .modal -->
    </div>
    </form>


    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <!-- <script src="{% static 'scripts/ui-screenfull.js'%}"></script> -->
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>

    <!-- endbuild -->
    <!-- script for testimonial -->
   <!--  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#testimonial-slider").owlCarousel({
                items:2,
                itemsDesktop:[1000,2],
                itemsDesktopSmall:[979,2],
                itemsTablet:[768,2],
                itemsMobile:[650,1],
                pagination:true,
                navigation:false,
                slideSpeed:1000,
                autoPlay:true
            });
        });
    </script>

</body>

</html>