{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Home | Salat Tax</title>
    <meta name="description" content="Financial Goal" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/financial_goal.js' %}"></script>

    <!-- owl corousel testimonial -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    
        <style type="text/css">
        .btn:not([disabled]):hover, .btn:not([disabled]):focus, .btn:not([disabled]).active {
            box-shadow: none!important;
        }
        /*shop css*/
        .btn .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 21%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
            /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btn:hover .shop_content{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .btn_add{
            background: rgba(0,0,0,0.7);
        }
        .shop_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .shop_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 100px;
            left: 200px;
        }
        /*end shop*/
        /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btns{
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .btns:hover .phone_content{
            opacity: 1;
        }
        .btn_adds{
            background: rgba(0,0,0,0.7);
        }
        .phone_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .phone_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 100px;
            left: 410px;
        }


         /*jewellery image*/
         .btnj .content-overlayj {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 21%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            
        }
        /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btnj{
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .btnj:hover .jew_content{
            opacity: 1;
        }
        .btn_addj{
            background: rgba(0,0,0,0.7);
        }
        .jew_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .jew_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 292px;
            left: 211px;
        }
        /*end donate*/
        /*donate image*/
         .btns .content-overlayf {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 21%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            
        }
        /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btnd{
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .btnd:hover .donate_content{
            opacity: 1;
        }
        .btn_addd{
            background: rgba(0,0,0,0.7);
        }
        .donate_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .donate_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 292px;
            left: 211px;
        }
        /*end donate*/

        /*gift image*/
        .btns .content-overlayf {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 21%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            
        }
        /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btng{
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .btng:hover .gift_content{
            opacity: 1;
        }
        .btn_addg{
            background: rgba(0,0,0,0.7);
        }
        .gift_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .gift_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 280px;
            left: 386px;
        }
        /*end image*/
        /*apparels image*/
        .btna .content-overlaya {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 21%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
            
        }
         .btna{
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .btna:hover .apparel_content{
            opacity: 1;
        }
        .btn_adda{
            background: rgba(0,0,0,0.7);
        }
        .apparel_css{
            background: rgba(0,0,0,0.7);
            opacity: 0.2;
        }
        .apparel_content h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 280px;
            left: 590px;
        }
        /*end image*/

        input[type="radio"], input[type="checkbox"] {
                margin: 4px 0 0;
                margin-top: 1px \9;
                line-height: normal;
            }
            input[type="checkbox"], input[type="radio"] {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0;
            }
            .hidden {
                display: none !important;
            }
        .label_css{
            position: absolute;
        }
        .first_checkbox{
            position: relative;
            left: -18px;
            top: 13px;
        }

        .checkbox label:after, 
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

            .checkbox .cr,
            .radio .cr {
                position: relative;
                display: inline-block;
                border: 1px solid #a9a9a9;
                border-radius: .25em;
                width: 1.3em;
                height: 1.3em;
                float: left;
                margin-right: .5em;
            }

            .radio .cr {
                border-radius: 50%;
            }

            .checkbox .cr .cr-icon,
            .radio .cr .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }

            .radio .cr .cr-icon {
                margin-left: 0.04em;
            }

            .checkbox label input[type="checkbox"],
            .radio label input[type="radio"] {
                display: none;
            }

            .checkbox label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

            .checkbox label input[type="checkbox"]:disabled + .cr,
            .radio label input[type="radio"]:disabled + .cr {
                opacity: .5;
            }

            /*phone*/
            .checkboxs label:after, 
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

            .checkboxs .cr,
            .radio .cr {
                position: relative;
                display: inline-block;
                border: 1px solid #a9a9a9;
                border-radius: .25em;
                width: 1.3em;
                height: 1.3em;
                float: left;
                margin-right: .5em;
            }

            .radio .cr {
                border-radius: 50%;
            }

            .checkboxs .cr .cr-icon,
            .radio .cr .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }

            .radio .cr .cr-icon {
                margin-left: 0.04em;
            }

            .checkboxs label input[type="checkbox"],
            .radio label input[type="radio"] {
                display: none;
            }

            .checkboxs label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .checkboxs label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

            .checkboxs label input[type="checkbox"]:disabled + .cr,
            .radio label input[type="radio"]:disabled + .cr {
                opacity: .5;
            }
            /*end phone*/
            /*donate*/
            .donate_checkbox label:after, 
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

            .donate_checkbox .cr,
            .radio .cr {
                position: relative;
                display: inline-block;
                border: 1px solid #a9a9a9;
                border-radius: .25em;
                width: 1.3em;
                height: 1.3em;
                float: left;
                margin-right: .5em;
            }

            .radio .cr {
                border-radius: 50%;
            }

            .donate_checkbox .cr .cr-icon,
            .radio .cr .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }

            .radio .cr .cr-icon {
                margin-left: 0.04em;
            }

            .donate_checkbox label input[type="checkbox"],
            .radio label input[type="radio"] {
                display: none;
            }

            .donate_checkbox label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .donate_checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

            .donate_checkbox label input[type="checkbox"]:disabled + .cr,
            .radio label input[type="radio"]:disabled + .cr {
                opacity: .5;
            }
            /*end donate*/
            /*jewellery*/
             .checkboxss label:after, 
        .radio label:after {
            content: '';
            display: table;
            clear: both;
        }

            .checkboxss .cr,
            .radio .cr {
                position: relative;
                display: inline-block;
                border: 1px solid #a9a9a9;
                border-radius: .25em;
                width: 1.3em;
                height: 1.3em;
                float: left;
                margin-right: .5em;
            }

            .radio .cr {
                border-radius: 50%;
            }

            .checkboxss .cr .cr-icon,
            .radio .cr .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }

            .radio .cr .cr-icon {
                margin-left: 0.04em;
            }

            .checkboxss label input[type="checkbox"],
            .radio label input[type="radio"] {
                display: none;
            }

            .checkboxss label input[type="checkbox"] + .cr > .cr-icon,
            .radio label input[type="radio"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            .checkboxss label input[type="checkbox"]:checked + .cr > .cr-icon,
            .radio label input[type="radio"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }

            .checkboxss label input[type="checkbox"]:disabled + .cr,
            .radio label input[type="radio"]:disabled + .cr {
                opacity: .5;
            }
            /*end jewellery*/



        .main_css{
            box-shadow: 0px 3px 32px 8px #adaeaf;
            background: #b3e1e8;

        }
        .next_btn{
            margin-left: 45%;
            margin-top: 30px;
        }
        .copy_css{
            padding-top:5px;
            padding-bottom:10px;
        }
        .footer_same_css{
            padding-top: 30px;
        }
        .row_data{
            padding-top:5px;
            padding-bottom:10px;
        }
        .card_style{
            /*border: 1px solid #ddd;*/
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
        .card-header{
            background: #b3e1e8;
            color: #113d6d;
            border-bottom: 1px solid #00B8ED!important;
            /*border: 1px solid #ddd;
            box-shadow: 0px 3px 32px 8px #1A2531;*/
        }
        .card_tax{
            /*box-shadow: 0px 15px 32px 8px #1A2531;*/
            border-radius: 0;
            padding: 12px;
            margin-bottom: 30px;
        }
        .container_img{
            margin-left: auto;
            margin-right: auto; 
            padding-left: 15px; 
            padding-right: 15px; 
        }
        .h3, h3 {
            font-size: 1.15rem!important;
        }
        .main_div{
          width:94%;
        }
        .image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .phone_mobile{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .jew_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .donate_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .gift_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .app_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .pay_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .medical_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .new_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .car_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }
        .foreign_image_data{
          width: 60px;
          text-align: center;
          margin: 1%;
          display: inline-block;
          cursor: pointer;
          font-family: 'Lato';
          margin-left: 123px;
        }


        .medical_img{
            width: 188px;
        }
        .desktop_css{
            display: block;
        }
        .main-title{
            color: #2d2d2d;
            text-align: center;
            text-transform: capitalize;
            padding: 0.7em 0;
        }
        .container_data{
            padding: 1em 0;
            float: left;
            width: 50%;
        }
        .container_data .footer_data{ width: 100%; }
        @media screen and (max-width: 640px){
            .container_data{
                display: block;
                width: 100%;
            }
        }
        @media screen and (min-width: 900px){
            .container_data{ width: 100%; }
        }
        .container_data .title{
            color: #1a1a1a;
            text-align: center;
            margin-bottom: 10px;
        }
        .content {
            position: relative;
            /*width: 90%;*/
            max-width: 400px;
            /*margin: auto;*/
            /*overflow: hidden;*/
        }
        .contents {
            position: relative;
           /* width: 90%;*/
            max-width: 400px;
            /*margin: auto;
            overflow: hidden;*/
        }
        /*.content .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 125%;
            width: 50%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }*/
        /*shopping*/
        .content .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 109%;
            width: 315%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        .contents .content-overlays {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 125%;
            width: 94%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        /*.content:hover .content-overlay{ opacity: 0.6; }*/
        .contents:hover .content-overlays{ opacity: 0.6; }
        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 18px;
        }
        /*phone*/
        .content-details-phone {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content-details-phone h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 40px;
        }
        .content:hover .content-details-phone{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-phone{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        /*end phone*/
        /*jewellery*/
        .content-details-jwe {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-jwe{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-jwe{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-jwe h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 7px;
        }
        /*end jewe*/
        /*donate*/
        .content-details-donate {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-donate{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-donate{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-donate h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 30px;
        }
        /*end donate*/
        /*gift*/
        .content-details-gift {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-gift{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-gift{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-gift h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 54px;
        }
        /*end gift*/
        /*pay of loan*/
        .content-details-pay {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-pay{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-pay{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-pay h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 54px;
        }
        /*end pay of loan*/
        /*new venture*/
        .content-details-new {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-new{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-new{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-new h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 36px;
        }
        .btn .content-overlay {
                background: rgba(0,0,0,0.7);
                position: absolute;
                height: 21%;
                width: 140px;
                left: 188px;
                top: 24px;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }
            /*.btn:hover .content-overlay{ opacity: 0.6; }*/
        .btn:hover .shop_content{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        /*end new*/
        /*car*/
        .content-details-car {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .content:hover .content-details-car{
            top: 50%;
            left: 25%;
            opacity: 1;
        }
        .contents:hover .content-details-car{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
        .content-details-car h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 54px;
        }
        /*end car*/
        .content-details p{
            color: #fff;
            font-size: 0.8em;
        }
        .fadeIn-top{ top: 20%; }
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds{
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .nav a { color: #000; }
        h5.file_head{ font-size: 16px; }
        @media only screen and (max-width: 480px) and (min-width: 320px){ }
        @media only screen and (max-width: 640px) and (min-width: 360px){
            .card_tax {
                margin-left: 2px;
            }
            .next_btn {
                /*margin-left: 40%;*/
                margin-top: 30px;
            }
            .container_img{
                margin-left: initial;
                margin-right: initial; 
                padding-left: 0px; 
                padding-right: 0px; 
            }
            /*.content {
                position: relative;
                width: 100%!important;
            }*/
            .contents {
                position: relative;
                width: 100%!important;
            }
            .same_css_style{
                margin-bottom: 12px;
                margin-left: 15px;
            }
            .same_car_style{
                margin-bottom: 12px;
                margin-left: 15px;
                position: absolute;
                top: -53%;
                left: 37%;
            }
            .car_style{
                margin-left: 0;
                margin-top: 0;
            }
            .shop_style{ margin-left: 0; }
            .content .content-overlay {
                background: rgba(0,0,0,0.7);
                position: absolute;
                height: 100%;
                width: 140px;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }

            .contents .content-overlays {
                background: rgba(0,0,0,0.7);
                position: absolute;
                height: 125%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }
            .content-details h3 {
                color: #fff;
                font-weight: 500;
                letter-spacing: 0.15em;
                margin-bottom: 0.5em;
                text-transform: uppercase;
                margin-left: 30px;
            }
            h3.content-title{
                font-size: 1.3rem;
            }
            .image_data {
                /*width: 45%;*/
                text-align: center;
                margin: 0px;
                display: inline-block;
                cursor: pointer;
                font-family: 'Lato';
                margin-left: 8px;
            }
            .phone_mobile {
                margin: 0px;
                cursor: pointer;
                margin-left: 38%;
                position: relative;
                /*left: 55px;*/
                margin-top: 20px;
            }
            .jew_image_data {
                margin: 0px;
                cursor: pointer;
                /* margin-left: 38%; */
                position: relative;
                left: 20px;
                margin-top: 20px;
            }
            .donate_image_data {
                margin: 0px;
                cursor: pointer;
                margin-left: 38%;
                position: relative;
                /*left: 40px;*/
                margin-top: 20px;
            }
            .gift_image_data {
                /*margin: 0px;*/
                cursor: pointer;
                position: relative;
                margin-top: 20px;
                right: 104px;
                
            }
            .app_image_data {
                margin: 0px;
                cursor: pointer;
                /* margin-left: 38%; */
                position: relative;
                left: -10px;
                margin-top: 20px;
            }
            .pay_image_data {
                margin: 0px;
                cursor: pointer;
                margin-left: 14%;
                position: relative;
                right: 28px;
                margin-top: 20px;
            }
            .medical_image_data {
                /*margin: 0px;*/
                width: auto;
                cursor: pointer;
                position: relative;
                left: 62px;
                margin-top: 20px;
                margin-left: 0;
            }
            .new_image_data {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 3px;
                 margin-top: 20px;
            }
            .new_image_datas {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 55px;
                margin-top: 20px;
                top: 110px;
            }
            .new_image_data_pay {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 55px;
                margin-top: 20px;
                top: 110px;
            }
            .car_image_data {
                width: auto;
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 116px;
                margin-top: 20px;
            }
            .car_image_datas {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 6px;
                margin-top: 20px;
            }
            .car_image_data_medi {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 6px;
                 margin-top: 20px; 
            }
            .foreign_image_data {
                cursor: pointer;
                position: relative;
                right: 116px;
                margin-top: 20px;
            }
            .foreign_image_datas {
                cursor: pointer;
                position: relative;
                right: 116px;
            }
            .new_image_data_medi_none {
                margin: 0px;
                cursor: pointer;
                position: relative;
                left: 82px;
                margin-top: 20px;
                width: auto;
            }
            .car_image_data_medi_none {
                margin: 0px;
                cursor: pointer;
                position: relative;
                 left: 5px; 
                margin-top: 20px;
                width: auto;
            }
            .medical_img {
                width: 140px;
            }
            .all_img_css{
                width: 140px;
            }
            .h3, h3 {
                font-size: 1.1rem!important;
            }
            .foreign_image_data_medi_none {
                cursor: pointer;
                position: relative;
                /*left: 114px;*/
                margin-top: 20px;
                /*margin: 4px;*/
            }
            .phone_mobiles {
                margin: 0px;
                cursor: pointer;
                margin-left: 0;
                position: relative;
                right: 0;
                margin-top: 20px;
            }
            .jew_image_datas {
                margin: 0px;
                cursor: pointer;
                margin-left: 30%;
                position: relative;
                right: 0;
                margin-top: 20px;
            }
            .donate_image_datas {
                margin: 0px;
                cursor: pointer;
                margin-left: 38%;
                position: relative;
                right: 112px;
                margin-top: 20px;
            }
            .medical_image_datas {
                /* margin: 0px; */
                width: auto;
                cursor: pointer;
                position: relative;
                margin-left: -71px;
                margin-top: 20px;
            }
            .car_image_data_mobile {
                width: auto;
                margin: 0px;
                cursor: pointer;
                position: relative;
                /*left: 48px;*/
                margin-top: 20px;
            }


        }
        .row-col1 {
            display: table;
            table-layout: fixed;
            border-spacing: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body ng-controller="index_cntrl">
<form name="myForm" method="post" >
<div class="app" ng-controller="financial_goal_controller">
    <div class="row-col1" style="">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height:3rem;background:white;border-radius:0;position:fixed;width:100%;z-index:10000;right:0;top:0">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>
                    <!-- navbar collapse -->
                    <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                        <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                            <li class="active nav-item">
                                <a href="#" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='/services'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Services</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a onclick="location.href='/tsa'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Tax Saving Account</span>
                                </a>
                            </li> -->
                            <li class="nav-item">
                                <a onclick="location.href='/contact_us'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Contact Us</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#b_signin_model" data-ui-toggle-class="zoom" data-dismiss="modal" data-ui-target="#animate" ng-model="signin" href="" ng-style="display_login">
                                    <span class="nav-text"> Business Log in </span>
                                </a>
                                <!-- <a class="nav-link" ng-model="signout" ng-click="signOut();" href="../" ng-style="display_logout">
                                    <span class="nav-text"> Business Sign out </span>
                                </a> -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#signin_model" data-ui-toggle-class="zoom" data-dismiss="modal" data-ui-target="#animate" ng-model="signin" href="" ng-style="display_login">
                                    <span class="nav-text"> Client Log in </span>
                                </a>
                                <a class="nav-link" ng-model="signout" ng-click="signOut();" href="../" ng-style="display_logout">
                                    <span class="nav-text"> Log out </span>
                                </a>
                            </li>
                        </ul>
                        <!-- / link and dropdown -->
                    </div>
                </div>
            </div>
            <!-- content -->
             <div class="col-sm-12 text-center">
                <div class="p-t-lg" style="padding-top:5rem;padding-bottom: 1rem;">
                    <h1 class="m-y-md text-white"></h1>
                    <center>
                   
                    </center>
                    
                </div>
            </div>
          <!-- all view-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12 col-xs-12 main_css">

            <div class="card-header card_taxs text-center"><h4 class="">We are almost done. In the meanwhile ..</h4><h5 id="get_value">What would you do if you get Rs. <span><%total_salat_tax%></span> now?</h5></div>
            <div class="card bg-dark mb-3 card_tax">
                <div class="card-body card_style" id="card_data">
                    <div class="main_div container_img">
                        <div class="image_data" id="shopping_img">
                            <label class="btn">
                            <div class="content-overlay"></div>
                               <img  class="img-check all_img_css" src="../static/images/shopping.png" style="width: 130px">
                                <input type="checkbox" name="chk1" id="item1" value="1" class="hidden" autocomplete="off">
                                <!-- <h3 class="shop_content">Shopping</h3> -->
                                <div class="shop_content">
                                    <h3 class="">Shopping</h3>
                                </div>
                            </label>
                              
                        </div>

                        <div class="phone_mobile" id="phone_img">
                         <label class="btns">
                            <div class="content-overlayf"></div>
                               <img  class="img-checks all_img_css" src="../static/images/phone.png" style="width: 130px">
                                <input type="checkbox" name="chk2" id="item2" value="2" class="hidden" autocomplete="off">
                               <!--  <h3 class="phone_content">Phone</h3> -->
                                <div class="phone_content">
                                    <h3 class="">Phone</h3>
                                </div>
                            </label>
                        </div>
                        <div class="jew_image_data" id="jewe_img">
                        <label class="btnj">
                                <div class="content-overlayj"></div>
                                   <img  class="img-checkj all_img_css" src="../static/images/jewellery.png" style="width: 130px">
                                    <input type="checkbox" name="chk3" id="item3" value="3" class="hidden" autocomplete="off">
                                    <div class="jew_content">
                                        <h3 class="">Jewellery</h3>
                                    </div>
                            </label>
                            <!-- <div class="content">
                                    <a href="" target="_blank">
                                        <div class="content-overlay"></div>
                                            <img  class="content-image all_img_css" src="../static/images/jewellery.png">
                                        <div class="content-details-jwe fadeIn-top">
                                            <h3 class="content-title">Jewellery</h3>
                                        </div>
                                    </a>
                            </div> -->
                        </div>
                        <div class="donate_image_data" id="doante_img">
                            <label class="btnd">
                                <div class="content-overlayd"></div>
                                   <img  class="img-checkd all_img_css" src="../static/images/donate.png" style="width: 130px">
                                    <input type="checkbox" name="chk4" id="item4" value="4" class="hidden" autocomplete="off">
                                    <div class="donate_content">
                                        <h3 class="">Donate</h3>
                                    </div>
                            </label>
                        </div>
                        <div class="gift_image_data" id="gift_love_img">
                            <label class="btng">
                                <div class="content-overlayg"></div>
                                   <img  class="img-checkg all_img_css" src="../static/images/gift.png" style="width: 130px">
                                    <input type="checkbox" name="chk5" id="item5" value="5" class="hidden" autocomplete="off">
                                    <div class="gift_content">
                                        <h3 class="">Gift for <br>loved one</h3>
                                    </div>
                            </label>
                           <!--  <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image all_img_css" src="../static/images/gift.png">
                                    <div class="content-details-gift fadeIn-top">
                                        <h3 class="content-title">Gift for loved one</h3>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                        <div class="app_image_data" id="apperals_img">
                             <label class="btna">
                                <div class="content-overlaya"></div>
                                   <img  class="img-checka all_img_css" src="../static/images/apperals.png" style="width: 130px">
                                    <input type="checkbox" name="chk6" id="item6" value="6" class="hidden" autocomplete="off">
                                    <div class="apparel_content">
                                        <h3 class="">Apparels</h3>
                                    </div>
                            </label>
                          
                        </div>
                        <div class="pay_image_data" id="pay_of_loan_img">
                            <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image all_img_css"  src="../static/images/apperals.png">
                                    <div class="content-details-pay fadeIn-top">
                                        <h3 class="content-title">Pay Of Loan</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="medical_image_data" id="medical_treatment_img">
                            <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image medical_img" src="../static/images/medical.jpeg">
                                    <div class="content-details fadeIn-top">
                                        <h3 class="content-title">Medical Treatment</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="new_image_data" id="start_new_venture_img">
                            <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image medical_img" src="../static/images/medical.jpeg">
                                    <div class="content-details-new fadeIn-top">
                                        <h3 class="content-title">Start a new venture</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="car_image_data" id="car_img">
                            <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image medical_img" src="../static/images/medical.jpeg">
                                    <div class="content-details-car fadeIn-top">
                                        <h3 class="content-title">New Car</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="foreign_image_data" id="foreign_img"> 
                            <div class="content">
                                <a href="" target="_blank">
                                    <div class="content-overlay"></div>
                                        <img  class="content-image medical_img" src="../static/images/medical.jpeg">
                                    <div class="content-details-new fadeIn-top">
                                        <h3 class="content-title">Foreign Trip</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="location.href='/tax_report'" class="btn btn-md blue p-x-md btn-md next_btn">Next</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
            
            <div class="footer black text-info-hover animate visible fadeInUp" data-animation="fadeInUp" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay: 400ms;animation-duration: 1000ms;margin-top: 110px;" role="main">
                <div class="container footer_data">
                    <div class="row p-y-lg row_data">
                        <div class="col-md-6 footer_same_css">
                            <h2 class="widget-title">About Us</h2>
                            <span class="text-muteds">Salat Tax is an initiative by Salat Investments founded by Swapnil Bagmar and Prerana Bagmar. We like to use cutting edge technology and simplify tax compliance for tax payers. We are on a mission to save maximum tax and use the money to create sustainable wealth for the clients. </span>
                        </div>
                        <div class="col-md-3 footer_same_css">
                            <h2 class="widget-title">Address</h2>
                            <span class="text-muteds">Flat No 1, Building A1,<br> Indira Park Co-Operative Housing Society, Pune Nagar Road,<br> Pune 411006 </span>
                        </div>
                        <div class="col-md-3 footer_same_css">
                            <h2 class="widget-title">Contact Us</h2>
                            <span class="text-muteds">E-mail : <a href="mailto:salattax@gmail.com">salattax@gmail.com</a></span><br>
                            <span class="text-muteds">Telephone : <a href="tel:020-41225277">020-41225277</a></span>
                        </div>
                    </div>
                    <div class="p-y-lg copy_css">
                        <div class="m-b-lg text-sm">
                            <div class="text-muted pull-left pull-none-xs m-b">
                                <span class="text-muted">&copy; Copyright. <a href="http://salatinvestments.com" target="_blank">salatinvestments.com </a> All rights reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <!-- <script src="{% static 'scripts/ui-screenfull.js'%}"></script> -->
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $('.current_age').hide();
        $('.sell_share').hide();
        $('.son_d').hide();
        $('.car_style').hide();
        /*$('#shopping_img').hide();
        $('#phone_img').hide();
        $('#gift_love_img').hide();
        $('#apperals_img').hide();
        $('#car_img').hide();
        $('#pay_of_loan_img').hide();
        $('#start_new_venture_img').hide();
        $('#foreign_img').hide();
        $('#medical_treatment_img').hide();
        $('#doante_img').hide();
        $('#jewe_img').hide();*/
    if(($('#shopping_img').css('display') == 'none') && ($('#gift_love_img').css('display') == 'none')){
        $('.phone_mobile').addClass('phone_mobiles');
        $('.jew_image_data').addClass('jew_image_datas');
        $('.donate_image_data').addClass('donate_image_datas');
    }  
    if(($('#shopping_img').css('display') == 'none') && ($('#gift_love_img').css('display') == 'none') && ($('#apperals_img').css('display') == 'none') && ($('#start_new_venture_img').css('display') == 'none')){
        $('.medical_image_data').addClass('medical_image_datas');
        $('.car_image_data').addClass('car_image_data_mobile');
    }   
    if(($('#pay_of_loan_img').css('display') == 'none') && ($('#foreign_img').css('display') == 'none') && ($('#medical_treatment_img').css('display') == 'none')){
        $('.new_image_data').addClass('new_image_datas');
        $('.car_image_data').addClass('car_image_datas');
    }
     if(($('#pay_of_loan_img').css('display') == 'none') && ($('#medical_treatment_img').css('display') == 'none')){
        $('.new_image_data').addClass('new_image_data_pay');
        $('.car_image_data').addClass('car_image_data_medi');
        $('.foreign_image_data').addClass('foreign_image_datas');
    }
    if(($('#medical_treatment_img').css('display') == 'none')){
        $('.new_image_data').addClass('new_image_data_medi_none');
        $('.car_image_data').addClass('car_image_data_medi_none');
        $('.foreign_image_data').addClass('foreign_image_data_medi_none');
    }
        function par_age(value){
            if(value=='Y'){
                $('.current_age').show();
            }else if(value=='N'){
               $('.current_age').hide(); 
            }
        }

         function sold_share(value){
            if(value=='Y'){
                $('.sell_share').show();
            }else if(value=='N'){
               $('.sell_share').hide(); 
            }
        }

         function child_son(value){
            if(value=='Y'){
                $('.son_d').show();
            }else if(value=='N'){
               $('.son_d').hide(); 
            }
        }
        var data_value= $('#get_value span').text();
        if(data_value=='2.8 lacs'){
            /*$('.jewellery_image').hide();*/
        }
        $('.shop_content').hide();
        $('.phone_content').hide();
        $('.donate_content').hide();
        $('.gift_content').hide();
        $('.apparel_content').hide();
        $('.jew_content').hide();
        $("#item1").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            alert('true');
            $('.img-check').addClass('shop_css');
            $('.btn').addClass('btn_add');
            $('.shop_content').fadeIn(900);

            $('.img-checks').removeClass('phone_css');
            $('.btns').removeClass('btn_adds');
            $('.phone_content').fadeOut(900);
          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
          }
        });
        /*shopping image*/

        /*phone image*/
        $("#item2").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.img-checks').addClass('phone_css');
            $('.btns').addClass('btn_adds');
            alert('true');
            $('.phone_content').fadeIn(900);
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-checks').removeClass('phone_css');
            $('.btns').removeClass('btn_adds');
            $('.phone_content').fadeOut(900);
          }
        });
        /*end phone*/
         /*donate image*/
        $("#item4").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.img-checkd').addClass('phone_css');
            $('.btnd').addClass('btn_adds');
            alert('true');
            $('.donate_content').fadeIn(900);


            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);

          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-checkd').removeClass('phone_css');
            $('.btnd').removeClass('btn_adds');
            $('.donate_content').fadeOut(900);
          }
        });
        /*end phone*/
        /*jew image*/
         $("#item3").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.img-checkj').addClass('jew_css');
            $('.btnj').addClass('btn_addj');
            alert('true');
            $('.jew_content').fadeIn(900);


            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);

          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-checkj').removeClass('jew_css');
            $('.btnj').removeClass('btn_addj');
            $('.jew_content').fadeOut(900);
          }
        });
        /*end gift*/
        /*gift image*/
         $("#item5").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.img-checkg').addClass('gift_css');
            $('.btng').addClass('btn_addg');
            alert('true');
            $('.gift_content').fadeIn(900);


            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);

          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-checkg').removeClass('gift_css');
            $('.btng').removeClass('btn_adds');
            $('.gift_content').fadeOut(900);
          }
        });
        /*end gift*/

        /*apparel image*/
         $("#item6").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.img-checka').addClass('apparel_css');
            $('.btna').addClass('btn_adda');
            alert('true');
            $('.apparel_content').fadeIn(900);


            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);
            $('.img-check').removeClass('shop_css');
            $('.btn').removeClass('btn_add');
            $('.shop_content').fadeOut(900);

          } else {
            $(this).attr('value', 'false');
            alert('false');
            $('.img-checka').removeClass('apparel_css');
            $('.btna').removeClass('btn_adda');
            $('.apparel_content').fadeOut(900);
          }
        });
        /*end gift*/
    </script>

</body>
</html>