{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="partner_dashboard_app" ng-controller="partner_dashboard_ctrl">

<head>
    <meta charset="utf-8" />
    <title>Partner | Partner Dashboard</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/logo.png">

    {% include 'header.html'%}
    <script src="{% static 'js/partner_dashboard.js' %}"></script>

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />
    <style type="text/css">
        .success-step {
            color: #9ED438;
            float: right;
        }
        
        .inprogress-step {
            color: grey;
            float: right;
        }
        
        .warning-step {
            color: orange;
            float: right;
        }
        
        #tooltip {
            float: left;
            position: relative;
            bottom: 40px;
            color: #00A1DF;
            right: 20px;
        }
        
        select {
            position: relative;
            top: 20px;
        }
        
        .gotop {
            color: #00A1DF;
        }

        th, td{
            text-align: center;
        }

        .inactive{
            background: grey;
        }

        #generate_lead{
            display: none;
        }

        .search-box{
            padding: 5px;
            box-shadow: none;
            border: 1px solid #e3e3e3;
            background: transparent;
            border-radius: 5px;
            font-size: 14px;

        }
        table.dataTable thead th, table.dataTable tfoot th {
            font-weight: initial!important;
        }
        #example-datatable{
            width: 1200px!important;
        }
        .loader {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url("{% static 'img/loader-final-2.gif' %}") 50% 50% no-repeat rgb(255,255,255);
          opacity: .6;
        }
    </style>
</head>

<body>
    <div class="app" id="app">
        <div class='loader'>
          <span class="please_css">Please wait...</span>
        </div>
        <!-- ############ LAYOUT START-->

        <!-- aside -->
        <div id="aside" class="app-aside fade nav-dropdown black" style="display: none!important;">
            <!-- fluid app aside -->
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius">
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="images/logo_white.png" alt="Salat-logo" height="30">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    <nav class="scroll nav-stacked nav-stacked-rounded nav-color">

                        <ul class="nav" data-ui-nav>
                            
                            <li class="active">
                                <a>
                                    <span class="nav-text">Partner Dashboard<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- / -->

        <!-- content -->
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main" style="margin-left: 0!important">
            <div class="app-header white bg b-b">
                <div class="navbar" data-pjax>
                    <!-- <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                        <i class="fa fa-th-list"></i>
                    </a> -->
                    <input type="hidden" ng-model="user.b_id" ng-init="user.b_id='{{ b_id }}'" id="b_id">
                    <input type="hidden" ng-model="user.username" ng-init="user.username='{{ username }}'">
                    <input type="hidden" ng-model="user.user_id" ng-init="user.user_id='{{ user_id }}'">
                    <input type="hidden" ng-model="user.user_type" ng-init="user.user_type='{{ user_type }}'">
                    <input type="hidden" ng-model="user.business_type" ng-init="user.business_type='{{ business_type }}'">

                    <!-- <div data-ng-init="load_page(1,'onload')"></div> -->
                    <div class="navbar-item pull-left h5" id="pageTitle" style="">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="40">
                        <span style="margin-left: 10%;">Partner Dashboard </span>
                    </div>
                    <!-- nabar right -->
                    <ul class="nav navbar-nav pull-right">
                        <!-- / dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link clear" data-toggle="dropdown">
                                <span class="avatar w-40">
                                    <img src="../static/images/avatar9.jpg" class="w-full rounded" alt="...">
                                </span>
                            </a>
                            <div class="dropdown-menu w dropdown-menu-scale pull-right">
                                <a class="dropdown-item" ng-model="partner_name" >{{ partner_name }}</a>
                                <a class="dropdown-item" ng-model="signout" ng-click="signOut();user_tracking('click header','Logout');">Logout</a>
                            </div>
                        </li>
                    </ul>
                    <!-- / navbar right -->
                </div>

            </div>
            <div class="app-footer black bg p-a b-t">
                <a class="pull-right fa fa-arrow-circle-up" id="btnGoTop" style="font-size:24px;"></a>
                <span class="text-sm text-muted">&copy; Copyright.</span>
            </div>
            <div class="app-body">

                <!-- ############ PAGE START-->
                <!-- only need a height for layout 4 -->
                <div style="min-height: 200px;margin-top:20px;">
                    
                    <form role="form" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="b-b b-primary nav-active-primary">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#" data-toggle="tab" data-target="#tab1" id="returnFilingDashboard">Return Filing Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="tab" data-target="#tab2" id="earnings">Earnings</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="tab" data-target="#tab3" id="leadManagement">Lead Management</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content p-a m-b-md">
                                    <div class="tab-pane animated fadeIn active text-muted" id="tab1">
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                            



                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-lg-12" style="margin-top: 25px;">

                                                    <span style="float:left">
                                                    <h3>Summary</h3>
                                                    </span>
                                                     
                                                    <!-- <input autocomplete="off" type="text" class="form-control" placeholder="Client Name, PAN Search" ng-model="user.search" ng-keyup="user.search=user.search.toUpperCase();search_on_enter($event,user.search)"  style="width:30%; padding-top:8px; padding-bottom:8px; float:left"> -->
                                                
                                                   
                                                    <!-- <button type="button" class="btn btn-effect-ripple btn-warning" style="width:10%;float:right" ng-click="reset()">RESET</button> -->
                                                    <span style=" margin-top: 20px;position: absolute;right: 97px;">Assessment Year</span>
                                                    <span style="float:right"> 
                                                        <select ng-init="user.AssessmentYear='2019-2020'" ng-model="user.AssessmentYear">
                                                            <option value="2019-2020">2019-20</option>
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>

                                            <table class="table table-bordered table-responsive" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 15%">
                                                            No of PANs
                                                        </th>
                                                        <th style="width: 15%">
                                                            No of PANs Registered
                                                        </th>
                                                        <th style="width: 15%">
                                                            No of XMLs generated
                                                        </th>
                                                        <th style="width: 15%">
                                                            No of returns Filed successfully
                                                        </th>
                                                        <th style="width: 15%">
                                                            Return Filing Unsuccessful
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="no_of_pans">
                                                        </td>
                                                        <td id="registered_pans">
                                                        </td>
                                                        <td id="generated_xml">
                                                        </td>
                                                        <td id="returns_filed_successfully">
                                                        </td>
                                                        <td id="returns_filing_unsuccessful">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                            <h3>Client Level Details</h3>

                                         <div class="row media-filter-items" style="margin-right: -20px">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding: 5px 0px 5px 15px;">
                                                    <!-- Setting Block -->
                                                    <div class="block"  style="position: relative;bottom: 30px;">
                                                        

                                                        <!-- Tabs Content -->
                                                        <div class="row" style="margin-bottom: 10px;">
                                                            <div class="col-lg-12" style="margin-top: 25px;">
                                                                 
                                                                <input autocomplete="off" type="text" class="form-control" placeholder="Client Name, PAN Search" ng-model="user.search" ng-keyup="user.search=user.search.toUpperCase();search_on_enter($event,user.search)"  style="width:30%; padding-top:8px; padding-bottom:8px; float:left">
                                                            
                                                                <ul class="pagination" id="pagination1" style="margin: 0px 0;margin-left: 15%;">
                                                                        {{listing | safe}}
                                                                </ul>

                                                                <ul class="pagination" id="pagination" style="margin: 0px 0">
                                                                </ul>

                                                                <button type="button" class="btn info" style="color:#ffffff;width: 12%;position: absolute;left: 75%;" ng-click="add_new_client()">Add New Client</button>

                                                                <button type="button" class="btn btn-effect-ripple btn-warning" style="width:10%;float:right" ng-click="reset()">RESET</button>

                                                            </div>
                                                        </div>

                                                    <!--     <input type="text" ng-model="user.listing" ng-init="user.listing='{{listing | safe}}'"> -->

                                                        <div class="row">
                                                          <div class="col-lg-12 text-center">
                                                                
                                                          </div>
                                                        </div>

                                                      

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="table-responsive">
                                                                    <table id="example-datatable" class="table table-striped table-bordered dt-responsive nowrap vcenter" style="width: 100%;">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width: 20%">
                                                                                    Name
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    PAN
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    Partner Name
                                                                                </th>
                                                                                <th>
                                                                                    Expert Assisted
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    Salat Tax Registration
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    26AS processing
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    Client Confirmation
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    XML Generated
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    Payment Status
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    Return Filing
                                                                                </th>
                                                                                <th style="width: 10%">
                                                                                    ITR Verification
                                                                                </th>
                                                                                <!-- <th style="display:none">
                                                                                    No
                                                                                </th> -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="example-datatable1">
                                                                        </tbody>
                                                                    </table>
                                                                    <p id="tablePanel"></p>
                                                                </div>
                                                                <!-- END Tabs Content -->
                                                            </div>
                                                            <!-- END SCOM Settings Block -->
                                                        </div>



                                                </div>
                                            </div>
                                            <!-- END Media Box Content -->
                                            </div>      

                                        </div>
                                    </div>
                                    <div class="tab-pane animated fadeIn text-muted" id="tab2" style="margin-top: 20px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <!-- Tabs Content -->
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-lg-12" style="margin-top: 25px;">

                                                    <span style="margin-top: 7px;position: absolute;right: 344px;" >Deposit Balance</span>
                                                     
                                                    <input autocomplete="off" type="text" class="form-control" ng-init="user.balance='₹  {{ deposit_balance }}'" ng-model="user.balance"  style="width:15%; padding-top:8px; padding-bottom:8px; position:absolute; left:72%;" readonly>
                                                
                                                    <button type="button" class="btn btn-effect-ripple btn-warning" style="width:10%;float:right" ng-click="topup()">Top-Up</button>

                                                </div>
                                            </div>


                                            <h3>Earn Summary</h3>
                                            
                                            <table class="table table-bordered table-responsive" style="width: 100%;border:none;">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 15%;">
                                                            No of Returns Filed
                                                        </th>
                                                        <th style="width: 15%;">
                                                            Filing Earnings
                                                        </th>
                                                        <th style="width: 15%;">
                                                            No of Referrals
                                                        </th>
                                                        <th style="width: 15%;">
                                                            Referral Earnings
                                                        </th>
                                                        <th style="width: 15%;">
                                                            Total Earnings
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td id="er_no_of_returns_filed">
                                                        </td>
                                                        <td id="er_filing_earnings">
                                                        </td>
                                                        <td id="er_no_of_referrals">
                                                        </td>
                                                        <td id="er_referral_earnings">
                                                        </td>
                                                        <td id="er_total_earnings">
                                                        </td>
                                                    </tr>
                                                </thead>
                                                
                                            </table>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;margin-bottom: 50px;">
                                            <h3>Earning Details</h3>

                                            <!-- Tabs Content -->
                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-lg-12" style="margin-top: 25px;">
                                                     
                                                    <input autocomplete="off" type="text" class="form-control" placeholder="Client Name, PAN Search" ng-model="user.earning_search" ng-keyup="user.earning_search=user.earning_search.toUpperCase();earning_search_on_enter($event,user.earning_search)"  style="width:30%; padding-top:8px; padding-bottom:8px; float:left">
                                                
                                                    <!-- <ul class="pagination" id="earning-pagination1" style="margin: 0px 0;margin-left: 15%;">
                                                            {{listing | safe}}
                                                    </ul> -->

                                                    <ul class="pagination" id="earning-pagination" style="margin: 0px 0;margin-left: 15%;">
                                                            {{listing | safe}}">
                                                    </ul>

                                                    <button type="button" class="btn btn-effect-ripple btn-warning" style="width:10%;float:right" ng-click="earning_reset()">RESET</button>

                                                </div>
                                            </div>

                                            <table id="earning-datatable" class="table table-bordered table-responsive" style="width: 100%; border:none;">
                                                
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20%">
                                                            Name
                                                        </th>
                                                        <th style="width: 10%">
                                                            PAN
                                                        </th>
                                                        <th style="width: 10%">
                                                            Partner Name
                                                        </th>
                                                        <th style="width: 10%">
                                                            Engagement Type
                                                        </th>
                                                        <th style="width: 10%">
                                                            Return Filing Date
                                                        </th>
                                                        <th style="width: 20%">
                                                            Return Filing Fee Charged to Client
                                                        </th>
                                                        <th style="width: 10%">
                                                            Partner Earning
                                                        </th>
                                                        <th style="width: 10%">
                                                            Settlement Status
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="earning-datatable-body">
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>

                                    <div class="tab-pane animated fadeIn text-muted" id="tab3">
                                        
                                        <div class="col-lg-12 col-md-12">
                                            <center>
                                                <div class=" p-a text-center">
                                                    <a class="btn info" id="btn_ml" style="color:#ffffff;">Manage Lead</a>
                                                    <a class="btn inactive" id="btn_gl" style="color:#ffffff;">Generate Lead</a>
                                                </div>
                                            </center>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="manage_leads">
                                            <h3>Lead Details</h3>
                                            
                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="float: right; padding-right: 0;">
                                                <a class="btn info" id="save1" style="color:#ffffff; float: right;margin-bottom: 10px;">Add New Lead</a>
                                            </div>
                                            <table class="table table-bordered table-responsive" style="width: 100%;border: none;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            No
                                                        </th>
                                                        <th style="width: 20%">
                                                            Name
                                                        </th>
                                                        <th style="width: 10%">
                                                            Email 
                                                        </th>
                                                        <th>
                                                            Mobile
                                                        </th>
                                                        <th>
                                                            PAN
                                                        </th>
                                                        <th>
                                                            Return Filing Fee Charged to Client
                                                        </th>
                                                        <th>
                                                            Partner Earning
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>

                                          

                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="generate_lead">
                                            <h3>Generate Lead</h3>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- ############ PAGE END-->

            </div>
        </div>
        <!-- / -->
       <!-- ############ LAYOUT END-->
    </div>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js' %}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js' %}"></script>
    <script src="{% static 'libs/PACE/pace.min.js' %}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js' %}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js' %}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js' %}"></script>

    <script src="{% static 'scripts/config.lazyload.js' %}"></script>
    <script src="{% static 'scripts/ui-load.js' %}"></script>
    <script src="{% static 'scripts/ui-jp.js' %}"></script>
    <script src="{% static 'scripts/ui-include.js' %}"></script>
    <script src="{% static 'scripts/ui-device.js' %}"></script>
    <script src="{% static 'scripts/ui-form.js' %}"></script>
    <script src="{% static 'scripts/ui-modal.js' %}"></script>
    <script src="{% static 'scripts/ui-nav.js' %}"></script>
    <script src="{% static 'scripts/ui-list.js' %}"></script>
    <script src="{% static 'scripts/ui-screenfull.js' %}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js' %}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js' %}"></script>
    <script src="{% static 'scripts/ui-taburl.js' %}"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script src="{% static 'scripts/ajax.js' %}"></script>
    
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- endbuild -->
    <!-- <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/uiTables.js' %}"></script>
    <script>$(function(){ UiTables.init(); });</script> -->

    <script type="text/javascript">
        $('#save1').on('click', function(e) {
            $('#capitalGainsTab').removeClass('active');
            $('#otherDeductionsTab').tab('show');
        });
    </script>
    <script type="text/javascript">
        $('#btnGoTop').on('click', function(e) {
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
    </script>
    
    <script type="text/javascript">
        /*$(document).ready( function () {
        
            var table_data = $('#example-datatable').removeAttr('width').DataTable({
                    "scrollX": true,
                    "scrollY": '200px',
                    responsive: true,
                    paging: false,
                    fixedHeader: true,
                    "searching": false,
                    "ordering": false,
                    fixedColumns: {
                        leftColumns: 1,
                        "scrollX": false,
                    },
                    columnDefs: [
                        { "width": "20%", "targets": [1] },       
                        { "width": "10%", "targets": [2] }
                    ]
                });
                    table_data.rows().remove().draw();
        } );*/

        $("#btn_gl").click(function(){
            $("#generate_lead").show();
            $("#manage_leads").hide();
            $("#btn_gl").removeClass( "inactive" )
            $("#btn_gl").addClass( "info" )

            $("#btn_ml").removeClass( "info" )
            $("#btn_ml").addClass( "inactive" )
        });

        $("#btn_ml").click(function(){
            $("#generate_lead").hide();
            $("#manage_leads").show();

            $("#btn_ml").removeClass( "inactive" )
            $("#btn_ml").addClass( "info" )

            $("#btn_gl").removeClass( "info" )
            $("#btn_gl").addClass( "inactive" )
        });

    </script>
</body>

</html>