{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Review and e-file</title>
    <meta name="description" content="Review and e-file" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../static/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/statement_income.js' %}"></script>
    <style type="text/css">
        .success-step {
            color: #9ED438;
            float: right;
        }
        .inprogress-step {
            color: grey;
            float: right;
        }
        .warning-step {
            color: orange;
            float: right;
        }
        #tooltip {
            float: left;
            position: relative;
            bottom: 40px;
            color: #00A1DF;
            right: 20px;
        }
        select {
            position: relative;
            top: 20px;
        }
        .gotop {
            color: #00A1DF;
        }
        .para_style{
            margin-top: 10px;
            margin-left: 14px;
            font-weight: bold;
        }
        .capital_width{
            width: 25%;
        }
        .text_style{
            text-align: justify !important;
        }
        .taxes_paid_al{
            margin-top:20px;
            height: 558px;
        }
        .total_tax{
            margin-top:20px;
            height: 340px;
        }
        .deduction_via{
            margin-top:20px;
            height: 545px;
        }
        .income_other_source{
            margin-top:20px;
            height: 356px;
        }
        .cpital_gain{
            margin-top:20px;
            height: 245px;
        }
        .income_house{
            margin-top:20px;
            height: 445px;
        }
        .statement_income_mob{
            margin-top:20px;
            height: 282px;
        }
        .font_size_view{
            font-size: 1.1em;
        }
        .font_size_gross_view {
            font-size: 1.2em;
        }
        .table > thead > tr > td{
            /*padding: 5px 16px !important;*/
            text-align: center;
        }
        .income_charge_underss{
            width: 53% !important;
            font-weight: 600 !important;
        }
        .income_charge_undersss{
            width: 52% !important;
            font-weight: 600 !important;
        }
        .color_headertt{
            width: 34%;
            background: #009EDF;
            color: white;
        }
        .table > tbody > tr > td{
            text-align: center;
        }
        .color_header{
            background: #009EDF;
            color: white;
        }
        .income_charge{
            width: 54%  !important;
            font-weight: 600 !important;
        }
        .income_charge_total{
            width: 54%  !important;
            font-weight: 600 !important;
        }
        .income_charge_under{
            width: 577px  !important;
            font-weight: 600 !important;
        }
        .description{
            margin-bottom: 45px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            padding: 12px;
        }
        @media only screen and (min-width: 360px)  and (max-width: 640px){
            .statement_income_mob {
                height: 365px;
            }
            .income_house {
                height: 727px;
            }
            .cpital_gain {
                height: 365px;
            }
            .income_other_source {
                height: 349px;
            }
            .deduction_via {
                height: 508px;
            }
            .total_tax {
                height: 288px;
            }
            .taxes_paid_al {
                height: 578px;
            }
            .table > tbody > tr > td {
                text-align: center;
                font-size: 0.9em;
            }
            .table > thead > tr > th {
                padding: 0px 60px 1px 80px !important;
                font-size: 0.9em;
            }
            .mob_para{
              font-size: 0.9em;
              margin-bottom: 15px;
            }
        }
    </style>
</head>

<body  ng-controller="review_cntrl">
    <form name="taxForm" method="post" >
    <div class="app" id="app" ng-controller="review_controller">
        <!-- ############ LAYOUT START-->
        <!-- aside -->
        <div id="aside" class="app-aside fade nav-dropdown black">
            <!-- fluid app aside -->
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius">
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    <nav class="scroll nav-stacked nav-stacked-rounded nav-color">
                        <ul class="nav" data-ui-nav>
                            <li>
                                <a ng-click="gotoPersonalInformation()">
                                    <span class="nav-text">Personal Information<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoOtherDetails()">
                                    <span class="nav-text">Other Details<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoIncomeDetails()">
                                    <span class="nav-text">Income Details<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoDeductions()">
                                    <span class="nav-text">Deductions<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoExempt()">
                                    <span class="nav-text">Exempt Income<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoTaxesPaid()">
                                    <span class="nav-text">Taxes Paid<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li class="active">
                                <a>
                                    <span class="nav-text">Review and e-file<i class="fa fa-eye success-step"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div data-flex-no-shrink>
                    <div class="nav-fold dropup dark">
                        <a data-toggle="dropdown">
                            <div class="clear hidden-folded p-x">
                                <span class="block _500 text-muted">Goto Dashboard</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / -->

        <!-- content -->
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
            <div class="app-header blue white bg b-b">
                <div class="navbar" data-pjax>
                    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                        <i class="fa fa-th-list"></i>
                    </a>
                    <div class="navbar-item pull-left h5" id="pageTitle">File New Tax Return</div>
                    <!-- nabar right -->
                    <ul class="nav navbar-nav pull-right">
                        <!-- / dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link clear" data-toggle="dropdown">
                                <span class="avatar w-40">
                                    <img src="../static/images/avatar.jpg" class="w-full rounded" alt="...">
                                </span>
                            </a>
                            <div class="dropdown-menu w dropdown-menu-scale pull-right">
                                <a class="dropdown-item">
                                    <input id="upload" type="file" />
                                    <a href="" id="upload_link">Edit Profile Picture</a>

                                </a>
                                <a class="dropdown-item" href="setting.html">
                                    <span>Go to Dashboard</span>
                                </a>
                                <a class="dropdown-item" href="signin.html">Sign out</a>
                            </div>
                        </li>
                    </ul>
                    <!-- / navbar right -->
                </div>
            </div>
            <div class="app-footer black bg p-a b-t">
                <div class="pull-right text-sm text-muted">Salat Tax Return</div>
                <span class="text-sm text-muted">&copy; Copyright.</span>
            </div>
            <div class="app-body">
                <!-- ############ PAGE START-->
                <!-- only need a height for layout 4 -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                    <h5 style="font-weight: 600;text-align: center;">Personal Information</h5>
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Name</th>
                                        <th style="width: 27%;"></th>
                                        <th style="width: 10%;">PAN</th>
                                        <th style="width: 27%;"></th>
                                        <th style="width: 10%;">Date of Birth</th>
                                        <th style="width: 18%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th style="width: 14%;">Address</th>
                                        <th style="width: 55%;"></th>
                                        <th style="width: 14%;">Financial Year</th>
                                        <th ></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statement_income_mob">
                    <h5 style="font-weight: 600;text-align: center;">Statement of Income</h5>
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr><th class="color_header text_style">Income from Salary</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td>Employer Name</td>
                                        <td>Company Name 1</td>
                                        <td>Company Name 2</td>
                                        <td>Company Name 3</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Income from Salary</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td> Less Tax on employment</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_view"> Income chargeable under the head Salaries</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 income_house">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style">Income from House Property</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="capital_width">Property Type</td>
                                        <td class="capital_width">Self Occupied</td>
                                        <td class="capital_width">Let Out Property 1</td>
                                        <td class="capital_width">Let Out Property 2</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Address</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td> Rent Received</td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>  Less Municipal Taxes</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                     <tr>
                                        <td>  Less Interest Payable</td>
                                        <td>1,24,000</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                     <tr>
                                        <td>  Less Standard Deduction @ 30%</td>
                                        <td>-</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                     <tr>
                                        <td>Net Income from House Property</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_under font_size_view">
                                        Income chargeable under House Property</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cpital_gain">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th style="width: 27%;background: #009EDF;color: white;" class="text_style">
                                            Capital Gains
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="capital_width">Asset Class </td>
                                        <td class="capital_width">Shares</td>
                                        <td class="capital_width">Equity Mutual Fund</td>
                                        <td class="capital_width">Debt Mutual Fund</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Long Term</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td> Short Term</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="income_charge font_size_view">
                                        Income chargeable under Capital Gains</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 income_other_source">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th style="width: 36%;background: #009EDF;color: white;" class="text_style">Income from other sources</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width: 54%">Interest Income </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Other Income</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Savings Bank Interest</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Dividend Exempt</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_view">
                                        Income chargeable under other sources</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" style="margin-top: 12px;">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_gross_view">Gross Total Income</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 deduction_via">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th style="width: 39%;background: #009EDF;color: white;" class="text_style">
                                        Deductions under Chapter VI A
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width: 50%;">80 C </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 54%;">80 CCD</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80 G</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80 DD</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80 U</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80 D</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td> 80 E</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td> 80 TTA</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_total font_size_view">Total Deductions</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" style="margin-top: 12px;">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge" style="font-size: 1.2em;">
                                            Taxable Income
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 total_tax">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_headertt text_style">Total Tax Requirement</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width: 50%;">Income Tax at Normal Rates </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Income Tax at Special Rates</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rebate</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Surcharge</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Add Education Cess 3%</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tax with Cess</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 taxes_paid_al">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style">Taxes Already Paid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <p class="para_style">Tax Deducted at Source</p>
                                <thead>
                                    <tr>
                                        <td style="width: 2%;">Sr. No</td>
                                        <td style="width: 24.5%;">TAN</td>
                                        <td style="width: 24.5%;">Name</td>
                                        <td style="width: 24.5%;">Income Chargeable</td>
                                        <td>Tax Deducted</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                     <tr>
                                        <td> </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_underss font_size_view">Total TDS Paid</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <p class="para_style"> Advance Tax / Self Assessment Tax Paid </p>
                                <thead>
                                    <tr>
                                        <td class="" style="width: 2%;">Sr. No </td>
                                        <td style="width: 24.5%;">Date of Tax Deposit</td>
                                        <td style="width: 24.5%;">BSR Code</td>
                                        <td style="width: 24.5%;">Challan No</td>
                                        <td style="width: 24.5%;">Tax Paid</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_undersss font_size_view">Total Advance Tax Paid</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_headertt text_style">Taxes to be paid / refunded</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                      <td style="width: 50%">Balance Tax </td>
                                      <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Add Interest</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tax Payable/Refund</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content_dec">
                    <div class="description">
                        <p class="mob_para">Disclaimer: I hereby declare that the information provided by me on salattax.com for Income Tax Return Filing purposes is true and verifiable. I also declare that I have not withheld any information which is mandated by the Income Tax Department for Income Tax return filing.. I indemnify Salat Tax, its partners and consultants of any issues arising due to incorrect or incomplete data submitted by me and I bear total responsibility for the same.</p> 
                    </div>
                </div>
                <p style="margin-left: 12px;">
                    <input type="checkbox">I have read and understood the above disclaimer
                </p>
                <div style="margin-bottom: 20px;" class="row">
                    <div class="col-lg-4">
                        <div class=" p-a text-center">
                            <a class="btn info" href="#">Calculate E-Filing Charges & Pay</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class=" p-a text-center">
                            <a class="btn primary" href="#">Pay Tax directly to Income Tax</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class=" p-a text-center">
                            <a class="btn warning" href="#">Save & File EReturn</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############ PAGE END-->
        </div>
        <!-- ############ SWITHCHER START-->
        <!-- ############ SWITHCHER END-->
        <!-- ############ LAYOUT END-->
    </div>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>
    
    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btnGoTop').on('click', function(e) {
                e.preventDefault();
                //     $("html, body").animate({ scrollTop: 0 }, "slow");
                alert("clicked");
            });
        });
    </script>
    <!-- Upload profile image -->
    <script type="text/javascript">
        $(function() {
            $("#upload_link").on('click', function(e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
    </script>
    </form>
</body>

</html>