{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Calculate Tax</title>
<meta name="description" content="Tax Calculate" />
{% include 'header.html'%}

<script src="{% static 'js/calculate_tax.js' %}"></script>

<style type="text/css">
    #wait_modal{ margin-top: 50px; }
    .table td.td-m{ padding: .5rem!important; }
    .css-typing-m p {
        border-right: .15em solid orange;
        white-space: nowrap;
        overflow: hidden;
    }
    .css-typing-m p:nth-child(1) {
        width: 13.3em;
        -webkit-animation: type 7s steps(40, end);
        animation: type 4s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .css-typing-m p:nth-child(2) {
        width: 19.5em;
        opacity: 0;
        -webkit-animation: type2 8s steps(40, end);
        animation: type2 5s steps(40, end);
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .css-typing-m p:nth-child(3) {
        width: 14.5em;
        opacity: 0;
        -webkit-animation: type3 11s steps(40, end);
        animation: type3 8s steps(40, end);
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @-webkit-keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @-webkit-keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @keyframes blink {
        50% { border-color: transparent; }
    }
    @-webkit-keyframes blink {
        50% { border-color: tranparent; }
    }
    .md_css{
        padding-top:5rem!important;
        padding-bottom:1rem!important;
    }
    .age_error_css_select_one{
        color: #ff1212;
        position: absolute;
        left: 70px;
        top: 328px;
    }
    .age_error_css_select_two{
        color: #ff1212;
        position: absolute;
        left: 70px;
        top: 388px;
    }
    .age_error_css_select_three{
        color: #ff1212;
        position: absolute;
        left: 70px;
        top: 444px;
    }
    .age_error_css_select_four{
        color: #ff1212;
        position: absolute;
        left: 70px;
        top: 502px;
    }
    .text_center{ text-align-last: center; }
    .age_error_csss{
        color: #ff1212;
        position: absolute;
        right: 90px;
        top: 388px;
    }
    .age_error_csss_three{
        color: #ff1212;
        position: absolute;
        right: 90px;
        top: 444px;
    }
    .age_error_csss_four{
        color: #ff1212;
        position: absolute;
        right: 90px;
        top: 505px;
    }
    .age_error_csss_one{ 
        color: #ff1212; 
        position: absolute;
        right: 90px;
        top: 333px;
    }
    .age_error_css{
        color: #ff1212;
        position: absolute;
        right: 80px;
        top: 104px;
    }
    .share_error{
        color: #ff1212;
        position: absolute;
        right: 80px;
        /*top: 217px;*/
    }
    .same_input_css{
        width: 40%;
        margin-right: 51%;
        text-align: center;
    }
    .same_son_dau{
        width: 35%;
        margin-right: 50%;
    }
    .cal_css_right{ font-size: 1.1rem; }
    .sub_data{
        position: relative;
        right: 30%; 
    }
    .card-header { border: 1px solid #b3e1e8!important; }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
        margin-bottom: 3rem;
    }
    .card_taxs{ background: #b3e1e8; }
    .card_tax{
        border-radius: 0;
        padding: 12px;
        margin-bottom: 17px;
    }
    .dot_span{ margin-left:10px; }
    .footer_con{ padding-top: 30px; }
    .cal_css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .dep_css{ padding-top: 0.0rem; }
    .submit_style{margin-left: -50px;}
    .padding_css{ padding-top: 0.0rem; }
    .age_style{ text-align: -webkit-auto; }
    .sell_style{
        text-align: -webkit-auto;
        padding-top: 0.0rem;
    }
    .solid_style{ text-align: -webkit-auto; }
    .dependent_style{
        text-align: -webkit-auto;
        padding-top: 0.0rem;
    }
    .text_style{ text-align: -webkit-auto; }
    .child_css{
        text-align: -webkit-auto;
        padding-top: 0.0rem;
    }
    .card-header{
        border: 1px solid #ddd;
        color: #113d6d;
        border-bottom: 1px solid #00B8ED!important;
    }
    .card_style{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    /*first td*/
    .onoffswitch3 {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
        height: 0px;
    }
    .onoffswitch3-checkbox { display: none; }
    .onoffswitch3-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 0px solid #999999; border-radius: 10px;height: 22px;width: 70px;
    }
    .onoffswitch3-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch3-inner > span {
        display: block;
        float: left; position:relative; width:50%; height:30px; padding:0; line-height:30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch3-inner .onoffswitch3-active {
        padding-left: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
    }
    .onoffswitch3-inner .onoffswitch3-inactive {
        padding-right: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch3-switch {
        display: block; width: 32px; margin: 0px; text-align: center; 
        border: 0px solid #999999;border-radius: 0px; 
        position: absolute; top: -4px; bottom: 0;
    }
    .onoffswitch3-active .onoffswitch3-switch {
        background: #27A1CA; left: 0;
    }
    .onoffswitch3-inactive .onoffswitch3-switch {
        background: #A1A1A1; right: 0;
    }
    .onoffswitch3-active .onoffswitch3-switch:before {
        content: " "; position: absolute; top: 0; left: 32px; 
        border-style: solid;
        border-color: #27A1CA transparent transparent #27A1CA; border-width: 15px 9px;
    }
    .onoffswitch3-inactive .onoffswitch3-switch:before {
        content: " "; position: absolute; top: 0; right: 32px; 
        border-style: solid;
        border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 15px 9px;
    }
    .onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
        margin-left: 0;
    }
    /*end first*/
    /*second td*/
    .onoffswitch2{
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
        /*height: 0px;*/
    }
    .onoffswitch2-checkbox { display: none; }
    .onoffswitch2-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 0px solid #999999; border-radius: 10px;height: 22px;width: 70px;
    }
    .onoffswitch2-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch2-inner > span {
        display: block; float: left;
        position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch2-inner .onoffswitch2-active {
        padding-left: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
    }
    .onoffswitch2-inner .onoffswitch2-inactive {
        padding-right: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch2-switch {
        display: block; width: 32px; margin: 0px; text-align: center; 
        border: 0px solid #999999;border-radius: 0px; 
        position: absolute; top: -4px; bottom: 0;
    }
    .onoffswitch2-active .onoffswitch2-switch { background: #27A1CA; left: 0; }
    .onoffswitch2-inactive .onoffswitch2-switch { background: #A1A1A1; right: 0; }
    .onoffswitch2-active .onoffswitch2-switch:before {
        content: " "; position: absolute; top: 0; left: 32px; 
        border-style: solid;
        border-color: #27A1CA transparent transparent #27A1CA; border-width: 15px 9px;
    }
    .onoffswitch2-inactive .onoffswitch2-switch:before {
        content: " "; position: absolute;
        top: 0; right: 32px; 
        border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent;
        border-width: 15px 9px;
    }
    .onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner { margin-left: 0; }
    /*end second*/
    /*third td*/
    .onoffswitch1{
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch1-checkbox { display: none; }
    .onoffswitch1-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 0px solid #999999; border-radius: 10px;height: 22px;width: 70px;
    }
    .onoffswitch1-inner {
        display: block; width: 200%; margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch1-inner > span {
        display: block; float: left;
        position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch1-inner .onoffswitch1-active {
        padding-left: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
    }
    .onoffswitch1-inner .onoffswitch1-inactive {
        padding-right: 10px;
        background-color: #EEEEEE; color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch1-switch {
        display: block; width: 32px; margin: 0px; text-align: center; 
        border: 0px solid #999999;border-radius: 0px; 
        position: absolute; top: -4px; bottom: 0;
    }
    .onoffswitch1-active .onoffswitch1-switch { background: #27A1CA; left: 0; }
    .onoffswitch1-inactive .onoffswitch1-switch { background: #A1A1A1; right: 0; }
    .onoffswitch1-active .onoffswitch1-switch:before {
        content: " "; position: absolute; top: 0; left: 32px; 
        border-style: solid; border-color: #27A1CA transparent transparent #27A1CA;
        border-width: 15px 9px;
    }
    .onoffswitch1-inactive .onoffswitch1-switch:before {
        content: " "; position: absolute; top: 0; right: 32px; 
        border-style: solid;
        border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 15px 9px;
    }
    .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
        margin-left: 0;
    }
    /*end third*/
    /*animated dots*/
    @keyframes blink {
        /* At the start of the animation the dot has an opacity of .2 */
        0% { opacity: .2; }
        /* At 20% the dot is fully visible and then fades out slowly */
        20% { opacity: 1; }
        /* Until it reaches an opacity of .2 and the animation can start again */
        100% { opacity: .2; }
    }
    .para_modal span {
        /* Use the blink animation, which is defined above */
        animation-name: blink;
        /* The animation should take 1.4 seconds */
        animation-duration: 1.4s;
        /* It will repeat itself forever */
        animation-iteration-count: infinite;
        color: orange;
        font-weight: bold;
        letter-spacing: 5px;
        /* This makes sure that the starting style (opacity: .2) of the animation is applied before the animation starts.
        Otherwise we would see a short flash or would have to set the default styling of the dots to the same as the animation. Same applies for the ending styles. */
        animation-fill-mode: both;
    }
    .para_modal span:nth-child(2) {
        /* Start animation of 3rd dot with delay of .2s,otherwise all dots would animate at same time */
        animation-delay: .2s;
    }
    .para_modal span:nth-child(3) {
        /* Start animation of 3rd dot with delay of .4s,otherwise all dots would animate at same time */
        animation-delay: .4s;
    }
    /*end dots*/
    .table td, .table th{ border: none!important; }
    .para_modal{ font-size: 1.5rem; }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 480px) and (min-width: 320px){}
    @media only screen and (max-width: 640px) and (min-width: 360px){
        body{ margin: 10px!important; }
        .padding_css{ padding-top: 1rem; }
        .sub_data{
            position: relative;
            right: 29%;
        }
        .submit_style{margin-left: 0px;}
        .same_son_dau{ width: 100%; }
        .same_input_css {
            width: 75%;
            margin-right: 51%;
            text-align: center;
        }
        .age_error_css_select {
            color: #ff1212;
            position: relative;
            right: 0;
        }
        .para_modal { font-size: 18px!important; }
        .css-typing-m p:nth-child(1) {
            width: 13.3em;
            -webkit-animation: type 8s steps(40, end);
            animation: type 4s steps(40, end);
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typing-m p:nth-child(2) {
            width: 19.5em;
            opacity: 0;
            -webkit-animation: type2 8s steps(40, end);
            animation: type2 6s steps(40, end);
            -webkit-animation-delay: 5s;
            animation-delay: 5s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typing-m p:nth-child(3) {
            width: 14.9em;
            opacity: 0;
            -webkit-animation: type3 12s steps(40, end);
            animation: type3 7s steps(40, end);
            -webkit-animation-delay: 11s;
            animation-delay: 11s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .age_error_css_select_four {
            color: #ff1212;
            position: absolute;
            left: 35px;
            top: 588px;
        }
        .age_error_css_select_one {
            color: #ff1212;
            position: absolute;
            left: 35px;
            top: 414px;
        }
        .age_error_css_select_two {
            color: #ff1212;
            position: absolute;
            left: 35px;
            top: 472px;
        }
        .age_error_css_select_three{
            color: #ff1212;
            position: absolute;
            left: 35px;
            top: 530px;
        }
        .age_error_csss_one {
            color: #ff1212;
            position: absolute;
            right: 25px;
            top: 414px;
        }
        .age_error_csss_three {
            color: #ff1212;
            position: absolute;
            right: 25px;
            top: 530px;
        }
        .age_error_csss_four {
            color: #ff1212;
            position: absolute;
            right: 25px;
            top: 588px;
        }
        .age_error_csss{
            color: #ff1212;
            position: absolute;
            right: 25px;
            top: 472px;
        }
        .age_error_css {
            color: #ff1212;
            position: absolute;
            right: 30px;
            top: 136px;
        }
        .share_error {
            color: #ff1212;
            position: absolute;
            right: 30px;
            /*top: 290px;*/
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    /*435*/
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="calculate_tax_controller">
        <div class="row-col1" style="">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <!-- content -->
            <div class="col-sm-12 text-center row-main">
                <div class="p-t-lg md_css">
                    <h1 class="m-y-md text-white"></h1>
                </div>
            </div>
            <div class="row row-main">
            <div class="col-md-3 col-sm-3 col-lg-3 text-center"></div>
            <div class="col-md-6 col-sm-6 col-lg-6 text-center main_css row-main">
                <div class="card-header card_taxs">
                    <h4 class="card_css">You are doing good. Just answer below 3 questions and you are done.</h4>
                    <h5 class="cal_css_right">Note:  Right answer -> Right analysis &nbsp;&nbsp; Wrong answer -> Wrong analysis</h5>
                </div>
                <div class="card bg-dark mb-3 card_tax">
                    <div class="card-body card_style">
                        <table class="table">
                            <tr>
                                <td class="text_alignment text_style">
                                    1. Is any of your parent dependent on you?
                                </td>
                                <td class="text-center">
                                    <div class="onoffswitch3">
                                        <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox lable_check" id="myonoffswitch3">
                                        <label class="onoffswitch3-label" for="myonoffswitch3">
                                            <span class="onoffswitch3-inner">
                                                <span class="onoffswitch3-active">
                                                    <span class="onoffswitch3-switch" ng-model="user.dep_parent" value="yes">Yes</span>
                                                </span>
                                                <span class="onoffswitch3-inactive">
                                                    <span class="onoffswitch3-switch" ng-model="user.dep_parent" value="no" ng-init="user.dep_parent='no'">No</span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="current_age fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td class="current_age dependent_style">1.1 What is the current age of your dependent parent?</td>
                                <td class="text-center dep_css">
                                    <span class="md-form-group float-label current_age">
                                        <input type="text" ng-model="user.p_age" class="md-input same_input_css" ng-init="user.p_age=''" min="0" max="120" value="0">
                                    </span>
                                    <span  class="age_error_css"><%age_err%> </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text_alignment solid_style">2. Have you ever bought/sold Shares ?</td>
                                <td class="text-center">
                                    <div class="onoffswitch2">
                                        <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="onoffswitch2">
                                        <label class="onoffswitch2-label" for="onoffswitch2">
                                            <span class="onoffswitch2-inner">
                                                <span class="onoffswitch2-active">
                                                    <span class="onoffswitch2-switch">Yes</span>
                                                </span>
                                                <span class="onoffswitch2-inactive">
                                                    <span class="onoffswitch2-switch">No</span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="sell_share fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td class="sell_share sell_style"><p>2.1 In which year did you sell the shares for the first time?</p> </td>
                                <td class="text-center dep_css">
                                    <span class="md-form-group float-label sell_share">
                                        <input type="text" class="md-input same_input_css" ng-model="user.shares_year" ng-init="user.shares_year=''" >
                                    </span> <br>
                                    <span class="share_error"><%shares_err%> </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text_alignment age_style">3. Are you married ? </td>
                                <td class="text-center">
                                    <div class="onoffswitch1">
                                        <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="onoffswitch1">
                                        <label class="onoffswitch1-label" for="onoffswitch1">
                                            <span class="onoffswitch1-inner">
                                                <span class="onoffswitch1-active">
                                                    <span class="onoffswitch1-switch">Yes</span>
                                                </span>
                                                <span class="onoffswitch1-inactive">
                                                    <span class="onoffswitch1-switch">No</span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="son_d animate visible fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td class="son_d child_css">3.1 How many children do you have?</td>
                                <td class="text-center padding_css">
                                    <select onchange="select_num(value)" class="md-input son_d select_child same_input_css text_center" ng-model="no_children">
                                        <!-- <option selected="" disabled="">Select</option> -->
                                        <option value="0" class="text-center">0</option>
                                        <option value="1" class="text-center">1</option>
                                        <option value="2" class="text-center">2</option>
                                        <option value="3" class="text-center">3</option>
                                        <option value="4" class="text-center">4</option>
                                    </select> 
                                </td>
                            </tr>
                            <tr class="son_d_one visible fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td>
                                    <select class="md-input same_son_dau text_center son_d_one" ng-model="type_c1" ng-change="validation('type_c1',type_c1)">
                                        <option value="" disabled="">Daughter/Son</option>
                                        <option vlaue="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                    </select>
                                    <span class="age_error_css_select_one"><%c1_type_err%></span> 
                                </td>
                                <td>
                                    <span class="md-form-group float-label son_d_one">
                                        <input class="md-input same_input_css" placeholder="Age" ng-model="age_c1" ng-blur="validation('age_c1',age_c1)">
                                    </span>
                                    <span class="age_error_csss_one"><%c1_age_err%></span> 
                                </td>
                            </tr>
                            <tr class="son_d_two visible fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td>
                                    <select class="md-input same_son_dau text_center son_d_two" ng-model="type_c2" ng-change="validation('type_c2',type_c2)">
                                        <option value="" disabled="">Daughter/Son</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                    </select>
                                    <span class="age_error_css_select_two"><%c2_type_err%></span> 
                                </td>
                                <td>
                                    <span class="md-form-group float-label son_d_two">
                                        <input class="md-input same_input_css" placeholder="Age" ng-model="age_c2" ng-blur="validation('age_c2',age_c2)">
                                    </span>
                                    <span class="age_error_csss"><%c2_age_err%></span>  
                                </td>
                            </tr>
                            <tr class="son_d_three visible fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td>
                                    <select class="md-input same_son_dau text_center son_d_three" ng-model="type_c3" ng-change="validation('type_c3',type_c3)">
                                        <option value="" disabled="">Daughter/Son</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                    </select>
                                    <span class="age_error_css_select_three"><%c3_type_err%></span>  
                                </td>
                                <td>
                                    <span class="md-form-group float-label son_d_three">
                                        <input class="md-input same_input_css" placeholder="Age" ng-model="age_c3" ng-blur="validation('age_c3',age_c3)">
                                    </span>
                                    <span class="age_error_csss_three"><%c3_age_err%></span>  
                                </td>
                            </tr>
                            <tr class="son_d_four visible fadeInDown" data-animation="fadeInDown" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;">
                                <td>
                                    <select class="md-input same_son_dau text_center son_d_four" ng-model="type_c4" ng-change="validation('type_c4',type_c4)">
                                        <option value="" disabled="">Daughter/Son</option>
                                        <option value="Daughter">Daughter</option>
                                        <option value="Son">Son</option>
                                    </select>
                                    <span class="age_error_css_select_four"><%c4_type_err%></span>  
                                </td>
                                <td>
                                    <span class="md-form-group float-label son_d_four">
                                        <input class="md-input same_input_css" placeholder="Age" ng-model="age_c4" ng-blur="validation('age_c4',age_c4)">
                                    </span>
                                    <span class="age_error_csss_four"><%c4_age_err%></span>  
                                </td>
                            </tr>
                            <tr>
                                <!-- <td></td> -->
                                <td colspan="2">
                                   <span style="color:#ff1212;"><%err_common%></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-m"></td>
                                <td class="sub_data td-m">
                                    <button type="button" class="btn btn-md blue p-x-md btn-md submit_style" ng-click="submit();user_tracking('click btn','calculate tax Submit');" onclick="ga('send','event','btn click','calculate tax Function','Label',1);track_FP('btn click','calculate tax Function');">Submit</button>
                                </td>
                            </tr>
                        </table>
                        <!-- <h1 id="stopwatch"><time>00:00:00</time></h1> -->
                    </div>
                </div>
                <!-- </div> -->
                <div class="col-md-3 col-sm-3 col-lg-3 text-center"></div>
            </div>
            </div>
            <!--modal-->
            <div class="container">
                <!-- Trigger the modal with a button -->
               <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wait_modal">Success</button> -->
                <div class="modal fade" id="wait_modal" role="dialog" data-backdrop="static">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                            <div class="css-typing-m">
                                <p class="para_modal">We have got all that we need.</p>
                                <p class="para_modal">We are analysing your tax statements now.</p>
                                <p class="para_modal">This could take up to a minute<span  class="dot_span">.</span><span>.</span><span>.</span></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html'%}
        </div>
    </div>
    </form>

  
<!-- script for testimonial -->
<script type="text/javascript">
    var seconds = 0, minutes = 0, hours = 0,t;
    var dep_parent = 'no';
    var sold_shares = 'no';
    var married = 'no';
    function add() {
        seconds++;
        if (seconds >= 60) {
            seconds = 0;
            minutes++;
            if (minutes >= 60) {
                minutes = 0;
                hours++;
            }
        }
        document.getElementById('stopwatch').textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
        timer();
    }
    function timer() {
        t = setTimeout(add, 1000);
    }
    function stoptimer() {
        clearTimeout(t);
    }
    function cleartimer() {
        document.getElementById('stopwatch').textContent = "00:00:00";
        seconds = 0; minutes = 0; hours = 0;
    }
    $('.current_age').hide();
    $('.sell_share').hide();
    $('.son_d').hide();
    $('.son_d_one').hide();
    $('.son_d_two').hide();
    $('.son_d_three').hide();
    $('.son_d_four').hide();

    function married_fun(value){
        if(value>0){
            document.getElementById("onoffswitch1").checked=true;
            $('.son_d').fadeIn(1100);
            married = 'yes';
        }
    }
    function parent_age(value){
        if(value != ''){
            document.getElementsByClassName("lable_check").checked=true;
            document.getElementById("myonoffswitch3").checked=true;
            $('.current_age').fadeIn(1100);
            dep_parent = 'yes';
        }
    }
    function invest_share(value){
        if(value != ''){
            document.getElementById("onoffswitch2").checked=true;
            $('.sell_share').fadeIn(1100);
            sold_shares = 'yes';
        }
    }

    function select_num(value){
        if(value=='0'){
            $('.son_d_one').fadeOut(800);
            $('.son_d_two').fadeOut(800);
            $('.son_d_three').fadeOut(800);
            $('.son_d_four').fadeOut(800);
        }else if(value=='1'){
            $('.son_d_one').fadeIn(1100);
            $('.son_d_two').fadeOut(800);
            $('.son_d_three').fadeOut(800);
            $('.son_d_four').fadeOut(800);
        }else if(value=='2'){
            $('.son_d_one').fadeIn(1100);
            $('.son_d_two').fadeIn(1100);
            $('.son_d_three').fadeOut(800);
            $('.son_d_four').fadeOut(800);
        }else if(value=='3'){
            $('.son_d_one').fadeIn(1100);
            $('.son_d_two').fadeIn(1100);
            $('.son_d_three').fadeIn(1100);
            $('.son_d_four').fadeOut(800);
        }else if(value=='4'){
           $('.son_d_one').fadeIn(1100);
            $('.son_d_two').fadeIn(1100);
            $('.son_d_three').fadeIn(1100);
            $('.son_d_four').fadeIn(1100);
        }
    }
   
    $(".lable_check").on('change', function() {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.current_age').fadeIn(1100);
            dep_parent = 'yes';
        }
        else {
           $(this).attr('value', 'false');
           $('.current_age').fadeOut(800);
            dep_parent = 'no';
        }
    });

    $("#onoffswitch2").on('change', function() {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.sell_share').fadeIn(1100);
            sold_shares = 'yes';
            
        }
        else {
           $(this).attr('value', 'false');
           $('.sell_share').fadeOut(800);
           sold_shares = 'no';
        }
    });

    $("#onoffswitch1").on('change', function() {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
            $('.son_d').fadeIn(1100);
            married = 'yes';
        }
        else {
            $(this).attr('value', 'false');
            $('.select_child').val('0');
            $('.son_d').fadeOut(800);
            $('.son_d_one').fadeOut(800);
            $('.son_d_two').fadeOut(800);
            $('.son_d_three').fadeOut(800);
            $('.son_d_four').fadeOut(800);
            married = 'no';
        }
    });
    $("#wait_modal").on('hide.bs.modal', function () {
        setTimeout(function(){
            window.location.href = "/financial_goal";
        }, 2000);
    });

    function dep_parent_check(){
        return dep_parent;
    }
    function sold_shares_check(){
        return sold_shares;
    }
    function married_check(){
        return married;
    }
</script>
</body>
</html>
