{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
<meta charset="utf-8" />
<title>Salat Tax | Test Calculation </title>
<meta name="description" content="Test Calculation" />
{% include 'header.html'%}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <script src="{% static 'js/camsKarvy.js' %}"></script>
    <style type="text/css">
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds{
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .nav a { color: #000; }
        .row-col1 {
            display: table;
            table-layout: fixed;
            border-spacing: 0;
            width: 100%;
            height: 100%;
        }
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(/static/img/loader-final-2.gif) 50% 50% no-repeat rgb(255,255,255);
            opacity: .6;
        }
        /*435*/
    </style>
</head>

<body ng-controller="camsKarvy_controller">
    <form name="myForm" method="post" >
        <div class="loader"></div>
    <div class="app">
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
            <div class="col-sm-12">
                <div class="col-sm-12" ng-controller="index_controller">
                {% include 'menubar.html'%}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg" style="padding-top:6rem;padding-bottom: 4rem;">
                        <h2 class="m-y-md">Enter PAN</h2>
                        <center>
                            <!-- <div class="form-group">
                                <input type="text" ng-model="user.mailid" class="form-control" placeholder="Email ID" ng-init="user.mailid=''">
                            </div> -->
                            <div style="width: 50%">
                                <input type="text" ng-model="user.pan" class="form-control" ng-keyup="user.pan=user.pan.toUpperCase();" placeholder="PAN" ng-init="user.pan=''">
                            </div>
                            <div style="width: 50%">
                                <input type="text" ng-model="user.dob" class="form-control" placeholder="DOB DD/MM/YYYY" ng-init="user.dob=''">
                            </div>
                            <div>
                                <span style="color:red"><%mail_err%></span><br>
                                <span style="color:red"><%pan_err%></span>
                            </div>

                            <div class="form-group">
                                <div class="md-form-group float-label" style="width: 50%">
                                  <input type="number" class="md-input" ng-model="user.p_age" ng-keyup="isNumberKey(event);" ng-blur="isNumberKey(event)" min="0" max="120" value="0">
                                  <label>Current age of your Parent's</label>
                                </div>
                                <div class="error_field">  <span style="color:red"><%age_err%> </div>
                            </div>
                            <div class="form-group" style="width: 50%">
                                <label class="control-label">Have you invested in shares?</label>
                                <br>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="radio" name="invested_share" id="yes" value="yes" ng-model="user.invested_share" ng-init="user.invested_share='no'" ng-click="invested_share()">
                                  <label for="invested_share">Yes</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                  <input type="radio" name="invested_share" id="no" value="no" ng-model="user.invested_share" ng-click="invested_share()">
                                  <label for="invested_share">No</label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group" ng-style="invested_share_div">
                                <div class="md-form-group float-label" style="width: 50%">
                                  <input type="text" class="md-input" ng-model="user.shares_year" ng-init="user.shares_year=''" >
                                  <label>When was the first time you bought shares?</label>
                                </div>
                                <div class="error_field"> <span style="color:red"><%shares_err%> </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <!-- <button ng-click="trigger_mail()" class="btn success"> Submit </button>
                                <button ng-click="get_attachement()" class="btn success"> Get Attachment </button> -->
                                <!-- <button ng-click="get_ITR()" class="btn success"> Get ITR </button> -->
                                <button ng-click="show_ITR()" class="btn success"> Show ITR Data </button>
                                <button ng-click="cal_tax()" class="btn success">Calculate Salat Tax</button>
                                <!-- <button ng-click="get_26as()" class="btn success"> Get 26AS </button> -->
                                <button ng-click="show_26as()" class="btn success"> Show 26AS </button>
                                <button ng-click="multiple_eri()" class="btn success"> Multiple ERI </button>
                                <div class="error_field"><span style="color:red"><%ITR_entry_count%></div>
                                <div class="error_field"> <span style="color:red"><%salat_tax_count%></div>
                                <div> <span style="color:blue"><%email_txt%> </div>
                                <div> <span style="color:blue"><%mobile_txt%> </div>
                            </div>
                        </center>
                        <h1 id="stopwatch"><time>00:00:00</time></h1>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="table-responsive" ng-style="ITR_Data">
                    <table class="table table-bordered m-a-0" id="table1">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>ITR</th>
                                <th>Income From Salary</th>
                                <th>No. of House Property</th>
                                <th>Income From House Property</th>
                                <th>Interest payable borrowed Capital</th>
                                <th>Capital Gain</th>
                                <th>Schedule SI - Income</th>
                                <th>Income From Other Source</th>
                                <th>Business or profession</th>
                                <th>Interest Gross</th>
                                <th>Gross Total Income</th>
                                <th>Total Deduction</th>
                                <th>80C</th>
                                <th>80D</th>
                                <th>80TTA</th>
                                <th>80CCD(1B)</th>
                                <th>80CCG</th>
                                <th>80E</th>
                                <th>80EE</th>
                                <th>80G</th>
                                <th>80GG</th>
                                <th>Total Income</th>
                                <th>Schedule SI - Tax</th>
                                <th>Total Tax & Interest</th>
                                <th>Tax Paid</th>
                                <th>Advance Tax/Self - Assessment Tax</th>
                                <th>Total TCS</th>
                                <th>Total TDS</th>
                            </tr>
                        </thead>
                        <tbody id='ITR_content' ng-model="ITR_content"></tbody>
                    </table>
                </div><br>
                <div class="table-responsive" ng-style="salat_tax">
                    <table class="table table-bordered m-a-0" id="table2">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Capital Gain</th>
                                <th>GTI</th>
                                <th>80C</th>
                                <th>80D</th>
                                <th>80CCG</th>
                                <th>80CCD (1B)</th>
                                <th>80CCD (2)</th>
                                <th>80E</th>
                                <th>80EE</th>
                                <th>80G</th>
                                <th>80GG</th>
                                <th>80TTA</th>
                                <th>Taxable Income (TI)</th>
                                <th>Tax at Normal Rates (Tx)</th>
                                <th>Tax at Special Rates (Tx1)</th>
                                <th>Rebate</th>
                                <th>Tax after Rebate (TxR)</th>
                                <th>Surcharge</th>
                                <th>Tax after Surcharge (TxSH)</th>
                                <th>Education Cess (EC)</th>
                                <th>Refund</th>
                                <th>Total Tax (Salat Tax)</th>
                                <th>Tax paid</th>
                                <th>Tax Leakage</th>
                            </tr>
                        </thead>
                        <tbody id='salat_tax_content' ng-model="salat_tax_content"></tbody>
                    </table>
                </div><br>
                <div class="table-responsive" ng-style="table_26as">
                    <table class="table table-bordered m-a-0" id="table2">
                        <thead>
                            <tr>
                                <th>PART</th>
                                <th>Deductor Collector Name</th>
                                <th>TAN</th>
                                <th>Section</th>
                                <th>No of Transaction</th>
                                <th>Amount Paid</th>
                                <th>Tax Deduction</th>
                                <th>TDS/TCS Deposited</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody id='table_26as_content' ng-model="table_26as_content"></tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
        <!-- .modal -->
        <div id="modal_otp" class="modal fade animate" data-backdrop="false" style="margin-top:10%;">
            <div class="modal-dialog" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter OTP</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <div> <span style="color:blue"><%email_txt%> </div>
                        <br>
                        <div> <span style="color:blue"><%mobile_txt%> </div>
                        <br>
                        <div class="md-form-group float-label" style="width: 50%">
                            <input type="text" class="md-input" ng-model="user.mail_otp" ng-init="user.mail_otp=''" >
                            <label>Email OTP</label>
                        </div>
                        <div class="md-form-group float-label" style="width: 50%">
                            <input type="text" class="md-input" ng-model="user.mobile_otp" ng-init="user.mobile_otp=''" >
                            <label>Mobile OTP</label>
                        </div>
                        <div class="error_field"> <span style="color:red"><%otperr%> </div>
                        <br>
                        <a class="btn btn-md blue p-x-sm" style="color: white" ng-click="get_otp(user,$event)">Submit</a>
                        <br>
                        <div class="modal-footer" style="margin-top:20px;">
                            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>
    </div>
    </form>

    {% include 'footer.html'%}

    <!-- script for testimonial -->
    <script type="text/javascript">
        function money_format(value, currency) {
            result = currency + value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            return result.replace('.00','');
        }
        // https://jsfiddle.net/Daniel_Hug/pvk6p/
        var seconds = 0, minutes = 0, hours = 0,t;
        function add() {
            seconds++;
            if (seconds >= 60) {
                seconds = 0;
                minutes++;
                if (minutes >= 60) {
                    minutes = 0;
                    hours++;
                }
            }
            
            document.getElementById('stopwatch').textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

            timer();
        }
        function timer() {
            t = setTimeout(add, 1000);
        }
        function stoptimer() {
            clearTimeout(t);
        }
        function cleartimer() {
            document.getElementById('stopwatch').textContent = "00:00:00";
            seconds = 0; minutes = 0; hours = 0;
        }
    </script>

</body>

</html>
<!-- BSHPK5958D -->
<!-- ACAPK1080G -->