{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Personal Details</title>
<meta name="description" content="Personal Details" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/personal_info.js' %}"></script>
<script src="{% static 'js/other_details.js' %}"></script>
<script src="{% static 'js/chooseFillingType.js' %}"></script>

<style type="text/css">
   .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/static/img/loader-final-2.gif) 50% 50% no-repeat rgb(255,255,255);
    opacity: .6;
    }
  .otpGenerate{
    position: absolute;
    top: 13px;
    left: 100%;
  }
  .same_align{
    vertical-align: middle!important;
  }
  .text_c{
    text-align: justify!important;
  }
  .pro_color{
        color: #fff;
        background: #273849!important;
    }
    .pro_colorsss{
        color: #fff;
        background: #273849!important;
    }
    .starter_color{
        color: #d20298;
        background: aqua!important;
    }
    .add_starter{
        color: black;
        background: #fff!important;
    }
    .add_pro_color{
        color: black;
        background: #fff!important;
    }

  .error_field{ color: red; }
  .success-step{
    color:#9ED438 ;
    float: right;  
  }
  .inprogress-step{
    color:grey;
    float: right;
  }
  .warning-step{
    color:orange;
    float: right;
  }
  #tooltip{
    float:left;
    position: relative;
    bottom: 40px;
    color: #00A1DF;
    right:20px;
  }
  select{
    position: relative;
    top:20px;
  }
  .font_css {
    font-weight: 700!important;
  }
  .same_v{
    font-size: 25px;
  }
  .color_header{
        background: #009EDF;
        color: white;
    }
    .e_c{
        width: 35%;
    }
    .p_a{
        padding: 12px;
    }
    .f_c{
      cursor: pointer;
      text-align: justify;

    }
    .m_v{
      margin-left: -13px;
    }
    .w_d{
        width: 20%;
    }
    .h_s{
      margin-top: 80px;
      margin-bottom: -111px;
      padding: 16px 7px;
      width: 98%;
      text-align: center;
    }
    select {
      position: relative;
      top: 0!important;
    }

  .gotop{ color:#00A1DF; }
   @media only screen and (max-width: 640px) and (min-width: 360px){
    .e_c{
          width: 100%;
    }
    .m_v{
      margin-left: 0;
    }
    .w_d{
        width: 100%;
    }
    .font_c{
      font-size: inherit;
    }
    .f_c{
      cursor: pointer;
      font-size: inherit;
    }
    .file_c{
      padding:10px;
    }
    .h_s{
      width: 100%;
    }
    .otpGenerate {
    position: relative;
    top: 5px;
     left: 0; 
}

   }
</style>

<body ng-controller="index_cntrl">
<form name="taxForm" method="post" ng-controller="chooseFillingType_cntrl">
  <div class="app" id="app">
  	<div class='loader'>
            <span class="please_css">Please wait...</span>
    </div>
    <!-- ############ LAYOUT START-->
    {% include 'menubar_efiling.html'%}
    <div id="aside" class="app-aside fade nav-dropdown black">
      <!-- fluid app aside -->
      <div class="navside dk" data-layout="column">
        <div class="navbar blue no-radius nav_css">
          <!-- brand -->
          <a href="index.html" class="navbar-brand">
            <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
          </a>
          <!-- / brand -->
        </div>
        <div data-flex class="hide-scroll dark">
                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    {% include 'sidebar.html'%}
                    <input type="hidden" ng-init="user.client_id='{{client_id}}'" ng-model="user.client_id">
                </div>
      </div>
    </div>
    <!-- content -->
    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
      
      <div class="app-body" ng-style="display_login">
        <!-- ############ PAGE START-->
        <div class="">
        <h4 class="h_s" style="margin-left:20px;">Choose a return filing type</h4>
        </div>
        <div style="min-height: 200px;margin-top:120px;border-top: 1px solid rgba(120, 130, 140, 0.13);" ng-controller="MyController">
          <h4 style="line-height: 1.6em;font-size: 21px;" class="file_c">Are you a do it yourself type or you make experts work for you? <br> We have two flavours for IT return filing. Choose your preferred option</h4>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m_v" style="margin-top: 20px;margin-bottom: 60px;">
              <div class="box">
                <div class="table-responsive">
                    <table class="table table-bordered m-a-0" id="table2">
                        <thead>
                       <!--  <tr>
                            <th class="color_header text_style" colspan="3">Choose your preferred option</th>
                          </tr> -->
                            <tr>
                              <th ></th>
                              <th class="color_header font_css f_c  test1">Filed by Experts</th>
                              <th class="color_header font_css f_c  test2">Do it yourself</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="w_d font_c same_align">How does it work?</td>
                            <td class="f_c select_td test1" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><p class="text_c">1. Our experts call you to understand your tax situation.</p><p class="text_c">2. They enter the data on your behalf saving you time and complexity.</p><p class="text_c">3. Once complete they will send the return to you for your review.</p><p class="text_c">4. You pay the required Tax filing charges to Salat.</p><p class="text_c">5. Pay Income Tax if any to IT department.</p><p class="text_c">6. Submit.</p></td>
                            <td class="f_c select_td_data test2" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><p class="text_c">1. You enter all the relevant data in appropriate fields.</p><p class="text_c">2. Review your return for appropriate tax compliances.</p><p class="text_c">3. Pay Tax filing charges to Salat.</p><p class="text_c">4. Pay Income Tax if any to IT department.</p><p class="text_c">5. Submit.</p></td>
                          </tr>
                          <tr>
                            <td class="font_c same_align" >Who should avail</td>
                            <td class="f_c select_td test1 text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title="">If you are not well versed with tax laws, find taxation complex or boring then let your return be Filed by experts.</td>
                            <td class="f_c select_td_data test2 text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title="">If you know what to do and can navigate through tax complexities easily then Do it yourself is a better option.</td>
                          </tr>
                          <tr>
                            <td class="font_c same_align">Charges</td>
                            <td class="f_c select_td test1 text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><a href="/services" target="_blank" style="text-decoration: underline;">Standard Return Filing Charges</a> as per complexities + 450</td>
                            <td class="f_c select_td_data test2 text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><a href="/services" target="_blank" style="text-decoration: underline;">Standard Return Filing Charges</a> as per complexities.</td>
                          </tr>
                          <tr>
                            <td class="font_c same_align">What are others choosing?</td>
                            <td class="f_c select_td test1 text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><b class="same_v">65%</b> return filers chose this option</td>
                            <td class="f_c test2 select_td_data text_c" data-original-title="Click On Select" data-toggle="tooltip" data-placement="bottom" class="matrisHeader" data-container="body" title=""><b class="same_v">35%</b> return filers chose this option</td>
                          </tr>
                           <!-- <tr>
                            <td class="font_c same_align"></td>
                            <td class="f_c select_td test1 text_c"><b>Click On Select</b></td>
                            <td class="f_c test2 select_td_data text_c"><b>Click On Select</b></td>
                          </tr> -->
                        </tbody>
                    </table>
                </div>
              </div>
              <!-- If Filed by Experts is chosen, -->
              <div class="box p_a f_c">
               <div id="hideBlockOne" style="display: none;"> 
                <p>Great Choice!</p>
                <p>Please click on the below link and select a date and time for Salat Tax experts to call you.</p>
                <p><u><a href="https://calendly.com/salattax/30min" target="_blank">Schedule Link</a></u></p>
                
                <!-- When Schedule Call  is Clicked  -->
                <p>Salat Tax Experts shall call you at your preferred time. In the meanwhile you may browse other sections and fill any information which you may have handy.</p>
                </div>
                <div id="Yourself" style="display: none;">
                  <!-- [ If Do it Yourself is chosen then -->
                  <p>You have our respect!</p> 
                  <p>This year there have been many changes in the ITR forms. You have to provide a break up of Salary, Allowances, perquisites etc. Just make sure you double check the data you are filling. 
                  If at any point in time you need help just come back to this page and change your return filing preference and we will be happy to assist you.</p>
                </div>
                  <div >
                  	<input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    <div class="form-group label-floating">
                  <label class="control-label">Have you sold any mutual funds from 1-Apr-2018 to 31-Mar-2019.</label>
                  <br>
                  <div class="">
                    <input type="radio" name="foreign_asset" id="yes" ng-click="ShowBlock('Y')" value="yes">
                    <label for="foreign_asset" style="margin-right: 20px;">Yes</label>
                    <input type="radio" name="foreign_asset" id="no" ng-click="ShowBlock('N')" value="no">
                    <label for="foreign_asset">No</label>
                  </div>
                </div>
              <!-- {If Yes then -->
                <div ng-show="IsVisible">
                  <p>You may have capital gains from sale of mutual funds. We automatically calculate the same for you. </p>
                  <p>Please help us with the following.</p>
                  
                    <div class="md-form-group has-float-label e_c">
                      <input class="md-input" ng-model="email" placeholder="Email id" ng-init='email=""'>
                      <label for="email">Email id registered with mutual funds</label>
                      <span style="color:red"><%emailError%></span>
                      <a class="btn info otpGenerate" style="color:#ffffff;" ng-click="ButtonClick1()">Generate Captcha</a>
                    </div>

                    {% load staticfiles %}
                    <img src="<%Customer%>" style="margin-bottom: 15px;"/>
                    <a ng-click="ButtonClick1()"><i style="font-size:24px" class="fa">&#xf021;</i></a>
                    
                    <div class="md-form-group has-float-label e_c">
                      <input id="capttcha" class="md-input" ng-model="captcha" placeholder="Captcha" ng-init='captcha=""'>
                      <label for="captcha">Captcha</label>
                      <span style="color:red"><%captchaError%></span>
                    </div>
                    
                    <p>By submitting the below button your consolidated mutual fund transaction statement will be triggered automatically to above email id.</p>
                    <br>
                    <a class="btn info" style="color:#ffffff;" ng-click="ButtonClick()">Submit</a>
                    <br>
                    <br>
                    <p>You will now receive an email from  CAMS Mailback Server with subject as <b>“Consolidated Account Statement - CAMS Mailback Request”.</b><!--  <br>Please forward that email to <a style="cursor: pointer;color: #0275d8;"> capitalgains@salattax.com</a> and your mutual fund capital gains will be calculated automatically. --></p>

                </div>

                <!-- {If No then, -->               
                  <div>
                  
                <!--   {If No then, -->
                  <p ng-show="IsVisiblee">Cool, no mutual fund capital gain for you then. Please click Next.</p>
                  </div>

                </div>

              </div>
                
                  <div class="p-a text-right">
                    <a class="btn info"  style="color:#ffffff;" ng-click="ButtonNnext()">NEXT</a>
                  </div>
                  <input type="hidden" id="selectOptionn">
              </div>
        </div>
        <!-- ############ PAGE END-->
      </div>
    </div>
    <!-- ############ LAYOUT END-->
        {% include 'footer_efiling.html'%}
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
         $('#btnGoTop').on('click', function(e) {
            e.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
    });
    </script>
    <!-- Upload profile image -->
    <script type="text/javascript">
        $(function() {
            $("#upload_link").on('click', function(e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
        function label_float(id){
            // document.getElementById(id).style.display = "none";
            var element = document.getElementById(id);
            element.classList.remove("float-label");
            // if(value==''){
            //     $('.add_pan').addClass('float-label');
            // }else{
            //     $('.add_pan').removeClass('float-label');
            // }
        };
    </script>   

      <script type="text/javascript">
      	flag_Filed=''
      $(function () {
    $("[data-toggle='tooltip']").tooltip();
});
    flag_Filed=''
    $('.test1').click(function(){
        $('.select_td').addClass('pro_colorsss');
        $('.select_td').removeClass('add_starter');
        $('.select_td_data').removeClass('pro_color');
        $('.select_td_data').addClass('add_pro_color');
        $('#hideBlockOne').show();
        $('#selectOptionn').val(500);
    });
    //second checkbox Professional plan
    $('.test2').click(function(){
        $('.select_td_data').addClass('pro_color');
        $('.select_td_data').removeClass('add_pro_color');
        $('.select_td').addClass('add_starter');
        $('.select_td').removeClass('starter_color');
        $('#hideBlockOne').hide();
        $('#selectOptionn').val(0);
    });
  </script>

    </form>
</body>

</html>