{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Client Registration </title>
    <meta name="description" content="Client Registration" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../static/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/client_registration.js' %}"></script>

    <style type="text/css">
        .disabled {
            cursor: not-allowed;
        }
        .error_field{
            color: red;
        }
        .success-step {
            color: #9ED438;
            float: right;
        }
        
        .inprogress-step {
            color: grey;
            float: right;
        }
        
        .warning-step {
            color: orange;
            float: right;
        }
        
        #tooltip {
            float: left;
            position: relative;
            bottom: 40px;
            color: #00A1DF;
            right: 20px;
        }
        
        select {
            position: relative;
            top: 20px;
        }
        
        .gotop {
            color: #00A1DF;
        }
        @media only screen and (min-width: 360px)  and (max-width: 640px){
            .font_css{
              font-size: 14px;
            }
            .input_css{
              font-size: 13px;
            }
        }
    </style>
</head>

<body ng-controller="client_registration_cntrl">
    <div class="app" id="app" ng-controller="client_registration_controller">
        <!-- ############ LAYOUT START-->
        <!-- aside -->
        <div id="aside" class="app-aside fade nav-dropdown black">
            <!-- fluid app aside -->
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius">
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    <nav class="scroll nav-stacked nav-stacked-rounded nav-color">
                        <ul class="nav" data-ui-nav>
                            <li>
                                <a ng-click="gotoPersonalInformation( user.id )">
                                    <span class="nav-text">Personal Information <i class="fa fa-check success-step"></i></span>
                                
                                </a>
                            </li>
                            <li class="active">
                                <a>
                                    <span class="nav-text">Client Registration<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoOtherDetails( user.id )">
                                    <span class="nav-text">Other Details<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoIncomeDetails( user.id )">
                                    <span class="nav-text">Income Details<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoDeductions( user.id )">
                                    <span class="nav-text">Deductions<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoExempt( user.id )">
                                    <span class="nav-text">Exempt Income<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoTaxesPaid( user.id )">
                                    <span class="nav-text">Taxes Paid<i class="fa fa-check success-step"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoNewReview( user.id )">
                                    <span class="nav-text">Review and e-file<i class="fa fa-eye success-step"></i></span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- / -->

        <!-- content -->
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
            <div class="app-header blue white bg b-b">
                <div class="navbar" data-pjax>
                    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
                        <i class="fa fa-th-list"></i>
                    </a>
                    <div class="navbar-item pull-left h5" id="pageTitle">File New Tax Return</div>
                    <!-- nabar right -->
                    <ul class="nav navbar-nav pull-right">
                        <!-- / dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link clear" data-toggle="dropdown">
                                <span class="avatar w-40">
                                    <img src="../static/images/avatar.jpg" class="w-full rounded" alt="...">
                                </span>
                            </a>
                            <div class="dropdown-menu w dropdown-menu-scale pull-right">
                                <a class="dropdown-item">
                                    <input id="upload" type="file" ng-model=pan />
                                    <a href="" id="upload_link">Edit Profile Picture</a>

                                </a>
                                <a class="dropdown-item" href="">
                                    <span>Go to Dashboard</span>
                                </a>
                                <a class="dropdown-item" ng-model="signout" ng-click="signOut();" href="" ng-style="display_login">Sign out</a>
                                <a class="dropdown-item" ng-model="signout" href="../" ng-style="display_logout">Sign in</a>
                            </div>
                        </li>
                    </ul>
                    <!-- / navbar right -->
                </div>
            </div>
            <div class="app-footer black bg p-a b-t">
                <a class="pull-right fa fa-arrow-circle-up" id="btnGoTop" style="font-size:24px;"></a>
                <span class="text-sm text-muted">&copy; Copyright.</span>
            </div>
            <div class="app-body" ng-style="display_login">
                <!-- ############ PAGE START-->
                <!-- only need a height for layout 4 -->
                <div style="margin-top:20px;" ng-style="efiling_registration_style" id="efiling_registration">
                    <h4 class="text-center">E-filing registration for Income Tax Department</h4>
                    <form role="form" name="taxForm" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">
                        <div id="" style="display: none">
                            <span id="hide_register" ng-init="user.registered_pan=''"><%user.registered_pan%></span>
                        </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr>
                                <td style="font-weight: bold;">
                                    Client Name
                                </td>
                                <td>
                                    <!-- {{ client.pan1_first_name }} --><%user.first_name%> <%user.middle_name%> <%user.last_name%>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">
                                    PAN
                                </td>
                                <td>
                                    <!-- {{ client.pan1 }} --><%user.pan%>
                                </td>
                            </tr>
                        </table>
                        <!-- <p style="margin-top: 12px;">Please enter the captcha value shown below</p>
                        <div class="contents">
                            <table class="table table-bordered">
                                <tr>
                                    <td><img src="../static/images/a5.jpg" style="width: 100%; height: 40%;" alt="captcha image"></td>
                                    <td> <div class="md-form-group float-label">
                                            <input id="pan" class="md-input" required>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                        <p>You shall receive OTPs on your email id & mobile no. Please enter them below.</p>
                        <table class="table table-bordered">
                            <tr>
                                <td class="font_css"><%user.Email%></td>
                                <td class="md-form-group float-label input_css">
                                    <input id="efiling_mail_otp" class="md-input" ng-model="user.efiling_mail_otp" ng-blur="validation_text('efiling_mail_otp',user.efiling_mail_otp);" ng-init="user.efiling_mail_otp=''">
                                </td>
                            </tr>
                            <tr>
                                <td class="font_css"><!-- {{ client.mobile }} --><%user.mobile%></td>
                                <td class="md-form-group float-label input_css">
                                    <input id="efiling_mobile_otp" class="md-input" ng-model="user.efiling_mobile_otp" ng-blur="validation_text('efiling_mobile_otp',user.efiling_mobile_otp);" ng-init="user.efiling_mobile_otp=''">
                                </td>
                            </tr>
                        </table>
                        <div class="error_field">
                            <p>
                                <span ng-messages="taxForm.user.efiling_mail_otp.$error" role="alert"><%otp1err%>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class=" p-a text-center">
                            <!-- <a class="btn info" ng-click="get_otp1(user,'{{ client.pan1 }}','{{ client.pan1_first_name }}','{{ client.pan1_dob }}',$event)" >Save</a> -->
                            <a class="btn info" ng-disabled="" ng-class="{disabled: isDisabled1}" id="save_salat_otp" ng-click="get_otp1(user,user.pan,user.first_name,user.dob,$event)" ng-model="isDisabled1">Save</a>
                        </div>
                    </div>
                </div>
                <!-- <input ng-model="user.registered_pan" type="hidden" ng-init="user.registered_pan='{{ client.registered_pan }}'">
                <input ng-model="user.pan" type="hidden" ng-init="user.pan='{{ client.pan1 }}'">
                <input ng-model="user.first_name" type="hidden" ng-init="user.first_name='{{ client.pan1_first_name }}'">
                <input ng-model="user.middle_name" type="hidden" ng-init="user.middle_name='{{ client.pan1_middle_name }}'">
                <input ng-model="user.city" type="hidden" ng-init="user.city='{{ client.pan1_city }}'">
                <input ng-model="user.area" type="hidden" ng-init="user.area='{{ client.pan1_area }}'">
                <input ng-model="user.mobile" type="hidden" ng-init="user.mobile='{{ client.mobile }}'">
                <input ng-model="user.pin" type="hidden" ng-init="user.pin='{{ client.pan1_pin }}'">
                <input ng-model="user.last_name" type="hidden" ng-init="user.last_name='{{ client.pan1_last_name }}'">
                <input ng-model="user.dob" type="hidden" ng-init="user.dob='{{ client.pan1_dob }}'">
                <input ng-model="user.Residential_status" type="hidden" ng-init="user.Residential_status='{{ client.Residential_status }}'">
                <input ng-model="user.flatno" type="hidden" ng-init="user.flatno='{{ client.pan1_flatno }}'"> -->
                <!-- <input ng-model="user.first_name" type="hidden" ng-init="user.first_name='{{ client.pan1_first_name }}'"> -->

                <div style="min-height: 20px;margin-top:20px;" ng-style="salat_registration_style" id="salat_registration" ng-model="salat_registration">
                    <h4 class="text-center">One time registration for Salat Tax</h4>
                    <div role="form" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">
                        <div class="col-md-3"></div>
                        <div class="col-lg-6">
                            <table class="table table-bordered" >
                                <tr>
                                    <td style="font-weight: bold;">
                                        Client Name
                                    </td>
                                    <td>
                                        <!-- {{ client.pan1_first_name }} --><%user.first_name%>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">
                                        PAN
                                    </td>
                                    <td>
                                        <!-- {{ client.pan1 }} --><%user.pan%>
                                        <input ng-model="user.addclient" type="hidden" ng-init="">
                                    </td>
                                </tr>
                            </table>
                            <!-- <p style="margin-top: 12px;">Please enter the captcha value shown below</p>
                            <div class="contents">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>
                                            <img src="../static/images/a5.jpg" style="width:100%;height:40%;" alt="captcha image">
                                        </td>
                                        <td class="md-form-group float-label">
                                            <input id="pan" class="md-input" required>
                                        </td>
                                    </tr>
                                </table>
                            </div> -->
                            <p>You shall receive OTPs on your email id & mobile no registered with Income Tax Department. Please enter them below.</p>
                            <table class="table table-bordered">
                                <tr>
                                    <td class="font_css"><%user.Email%> / Email OTP</td>
                                    <td class="md-form-group float-label input_css">
                                        <input id="pan" class="md-input" ng-pattern="/^[0-9]*$/" ng-blur="validation_text('salat_mail_otp',user.salat_mail_otp);" ng-model="user.salat_mail_otp" ng-init="user.salat_mail_otp=''">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font_css"><%user.mobile%> / Mobile OTP</td>
                                    <td class="md-form-group float-label input_css">
                                        <input id="pan" class="md-input" ng-pattern="/^[0-9]*$/" ng-blur="validation_text('salat_mobile_otp',user.salat_mobile_otp);" ng-model="user.salat_mobile_otp" ng-init="user.salat_mobile_otp=''">
                                    </td>
                                </tr>
                            </table>

                            <div class="error_field">
                                <p>
                                    <span ng-messages="taxForm.user.salat_mail_otp.$error" role="alert"><%otperr%>
                                </p>
                                <p>
                                    <span ng-messages="taxForm.user.salat_mail_otp.$error" role="alert"><%otperr_mail%>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" p-a text-center">
                                <a class="btn info" ng-disabled="" ng-class="{disabled: isDisabled}" id="save_salat_otp" ng-click="get_otp(user,$event);" ng-model="isDisabled">Save</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <div style="min-height: 20px;margin-top:20px;margin: 20px" class="">
                    <p>
                        <span ng-messages=""><%pan_exist%></span>
                    </p>
                </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" p-a text-center">
                                <a class="btn info" ng-disabled="{disabled: isDisabled_26AS}" ng-class="" id="form26as" ng-click="get_26AS(user,$event);" ng-model="isDisabled_26AS">Form 26AS</a>
                            </div>
                            <button style="display: none" class="btn info" data-toggle="modal" id="captcha_img" ng-model="captcha_img" data-target="#m-a-a" data-ui-toggle-class="zoom" data-ui-target="#animate">Captcha</button>
                        </div>
                <!-- ############ PAGE END-->
            </div>
            <div class="app-body" ng-style="display_logout">
                <div style="margin-top:20px;">
                Kindly Login to continue.
                </div>
            </div>
        </div>
        <div id="m-a-a" class="modal fade animate" data-backdrop="static" ng-model="model" style="margin-top:10%;">
            <div class="modal-dialog modal-sm" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enter Captcha</h5>
                    </div>
                    <div class="modal-body text-center p-lg">
                        <div class="navbar-brand">
                            <!--  -->
                            <img ng-src='<%user.captcha_url%>' alt="Captcha" height="100" style="margin-bottom:20px;" >
                            <img ng-src='/static/images/refresh.jpg' ng-click="refresh_captcha(user,$event)" alt="Captcha" height="100" style="margin-bottom:20px;" >
                        </div>
                        <input id="captcha_26AS" class="form-control" ng-model="user.captcha_26AS" ng-blur="validation_text('captcha_26AS',user.captcha_26AS);" ng-init="user.captcha_26AS=''">
                        <div class="error_field">
                            <p>
                                <span ng-messages="taxForm.user.captcha_26AS.$error" role="alert"><%captcha_err%>
                            </p>
                        </div>
                        <button class="btn info" ng-click="save_captcha(user,$event);"> Submit </button>
                        <div class="modal-footer" style="margin-top:10px;display: block">
                            <button type="button" class="btn dark-white p-x-sm" data-dismiss="modal" id="close_model" ng-model="close_model" >Close</button>
                            <!-- <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button> -->
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>
    </div>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>
    
    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        $('#btnGoTop').on('click', function(e) {
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
    </script>

    <!-- Upload profile image -->
    <script type="text/javascript">
        $(function() {
            $("#upload_link").on('click', function(e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
    </script>
</body>
</html>