{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
<title>Reset Password | Salat Tax</title>
<meta name="description" content="Home" />
 <meta name="google-signin-client_id" content="620307496742-ie66gj71obcvc805rtum4rn1jb7a5feh.apps.googleusercontent.com">
{% include 'header.html'%}

<link rel="stylesheet" href="{% static 'css/styles/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/owl.theme.min.css' %}">
 
<style type="text/css">
    .my_custom_card_view{
        background: #FFFFFF;
        border-radius: 10px;
        /*-webkit-box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);
        -moz-box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);
        box-shadow: 10px 10px 100px 0px rgba(181,220,230,1);*/
    }
    .nav a { color: #000; }
    .p-y-lg {
        /*padding-top: 3rem;*/
        padding-bottom: 0rem !important; 
    }
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="index_controller">
        <div class="row-col" style="background:url(../static/images/rev-slider1.jpg) no-repeat; background-size:cover;">
            <div class="col-sm-12">
                {% include 'menubar.html'%}
                <div class="col-sm-2"></div>
                <div class="right-half col-lg-6 col-md-6" style="margin-top: 120px;margin-bottom:50px" ng-app="myapp">
                    <h1 class="header-login">RESET PASSWORD</h1>
                    {% csrf_token %}  
                    <h5 class="normal-grey">Please Enter New Password</h5>
                    <!-- <span class="check_new_confirm_password" style="color:maroon;"></span> -->
                    <center>
                        <span ng-model="new_data.current_id" ng-init="new_data.current_id='{{ get_current_id }}'"></span>
                        <span ng-model="new_data.salatuser_id" ng-init="new_data.salatuser_id='{{ get_email }}'"></span>
                        <div class="form-group">
                            <span class="error_password" style="color: maroon;"></span>
                            <div class="row">
                                <div class="col-xs-6" style="margin-top: 30px;">
                                    <input type="password" id="new_password" ng-model="new_data.reset_password" name="reset-password" class="field-password form-control" placeholder="Enter Password" ng-init="new_data.reset_password=''">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6" style="margin-top: 30px;">
                                    <input type="password" id="confirm_password" ng-model="new_data.confirm_password" name="login-email" class="field-password form-control" placeholder="Confirm Password" ng-init="new_data.confirm_password=''">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6" style="margin-top: 20px;">
                                    <span class="otp-css"><%password_err%></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-lg-6">
                                <button type="submit" id="button_submit" ng-click="New_Password(new_data);user_tracking('click','Reset Password Submit')" class="btn btn-md blue p-x-lg" style="margin-top: 20px;">Submit</button>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <!-- <div class="left-half col-lg-6 col-md-6" id="left-half" style="background:#188BC0; ">
            <div class="col-lg-12 col-md-12" style="position: relative;right: 20%;top:20%">
                <center>
                    <img src="../static/images/gif-password.gif">
                </center>
            </div>
        </div> -->
    </div>
    </form>

    {% include 'footer.html'%}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132417121-1"></script>
    <!-- <script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script> -->
    <script type="text/javascript">
        $(document).ready(function(){ });
    </script>

</body>
</html>
