{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Contact</title>
    <meta name="description" content="Contact" />
    {% include 'header.html'%}
    <style type="text/css">
        .work_css{
            margin-top: 50px;
        }
        .nav a {
            color: #000;
        }
        .text-info-hover .active > a {
            color: #2196f3 !important;
        }
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds{
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        @media only screen and (max-width: 640px) and (min-width: 360px){
            .height-c{
                height: 350px;
            }
        }
    </style>
</head>

<body ng-controller="index_cntrl">
    <div class="app" id="app">
        <div class="row-col1">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-main" style="position:relative;margin-top:80px;">
                <center>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.4903114167832!2d73.89288831429677!3d18.551920987390748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c11949f15449%3A0xd8ec819aa198602f!2sSalat+Investments!5e0!3m2!1sen!2sin!4v1498281099852" frameborder="0" style="border:0;width: 100%;height: 450px;
" allowfullscreen></iframe>
                </center>
            </div>

            </div>
        </div>

        <!-- content -->
        <div id="content" class="app-content row-main" role="main" style="background:url(../static/images/contact_back.jpg) no-repeat; background-size:cover;">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" style="padding-top:20px;">
                <center>
                    <h4> Leave Us a Message</h4>
                </center>

                <form data-ui-jp="parsley">
                    <div class="box">
                        <div class="box-body">
                            <p class="text-muted">Need support? please fill the fields below.</p>
                            <div class="row m-b">
                                <div class="col-sm-6">
                                    <label>Your name</label>
                                    <input type="text" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Enter email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" required class="form-control" placeholder="Your subject">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" rows="6" data-minwords="6" required placeholder="Type your message"></textarea>
                            </div>
                        </div>
                        <div class=" p-a text-right">
                            <button type="submit" class="btn info">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 row-main height-c" style="padding-top:20px;">
                <center>
                    <h4>Contact Info</h4>
                </center>
                <ul type="none">
                    <li>
                        <i class="fa fa-globe" style="color:#00B7EC;"> </i>
                        <strong>Address:</strong> Office No 201B,<br>
                        Gera 77 Condominium, Kalyani Nagar, <br>Near Bishops School,<br>
                        Pune Nagar Road, <br>
                        Pune 411006 
                    </li>
                    <li><i class="fa fa-envelope-o" style="color:#00B7EC;"></i> <strong>Email:</strong> salattax@gmail.com</li>
                    <li><i class="fa fa-phone" style="color:#00B7EC;"></i> <strong>Telephone:</strong> 020 - 41225277 </li>
                </ul>
                <center>
                <h4 class="work_css">Working Hours</h4>
                </center>
                <ul type="none">
                    <li><strong>Monday - Friday</strong> - 10am to 6pm</li>
                    <li><strong>Saturday</strong> - 10am to 2pm</li>
                    <li><strong>Sunday</strong> - Closed</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- endbuild -->
    {% include 'footer.html'%}
</body>

</html>