{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Exempt Income</title>
<meta name="description" content="Allowances not Part of Form" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/exempt_income.js' %}"></script>
<!-- <head>
  <meta charset="utf-8" />
  <title>Salat Tax | Exempt Income</title>
  <meta name="description" content="Exempt Income" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">
  
  <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

  <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/exempt_income.js' %}"></script>
</head> -->
<style type="text/css">
  .error_field{ color: red; }
  .success-step{
    color:#9ED438 ;
    float: right;  
  }
  .inprogress-step{
    color:grey;
    float: right;
  }
  .warning-step{
    color:orange;
    float: right;
  }
  #tooltip{
    float:left;
    position: relative;
    bottom: 40px;
    color: #00A1DF;
    right:20px;
  }
  select{
    position: relative;
    top:20px;
  }
  .gotop{ color:#00A1DF; }
</style>

<body ng-controller="index_cntrl" style="display: none">
  <form name="taxForm" method="post" ng-controller="exempt_income_cntrl">
  <div class="app" id="app" ng-controller="exempt_income_controller">
    <!-- ############ LAYOUT START-->
    {% include 'menubar_efiling.html'%}
    <div id="aside" class="app-aside fade nav-dropdown black">
      <!-- fluid app aside -->
      <div class="navside dk" data-layout="column">
        <div class="navbar blue no-radius nav_css">
          <!-- brand -->
          <a href="index.html" class="navbar-brand">
          	<img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
          </a>
          <!-- / brand -->
        </div>
        <div data-flex class="hide-scroll dark">
          <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
          {% include 'sidebar.html'%}
        </div>
      </div>
    </div>
    <!-- content -->
    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
      
      <div class="app-body" ng-style="display_login">
        <!-- ############ PAGE START-->
        <div style="min-height: 200px;margin-top:100px;">
          <h4>Exempt Income</h4>
          <form role="form" name="taxForm" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
            <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <center>
                <h5>Allowances not Part of Form – 16</h5>
              </center>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label" id="HRA_div">
                <input class="md-input" ng-model="user.house_rent_allownce" ng-keyup="validation('house_rent_allownce',user.house_rent_allownce)" ng-init="user.house_rent_allownce=''">
                <label>Tax Free Interest</label>
                <!-- <label>House Rent Allowance</label> -->
              </div>
              <a href="#" id="tooltip" data-html="true" data-toggle="tooltip" title="If you have not claimed HRA in Form 16, the same can be claimed here. Just keep rent receipts with you safely. Deduction - Least of the following </br>1. Actual HRA received.</br>2. 50%/40% of (basic salary + Dearness allowance).</br>3. Actual rent paid less 10% of basic salary + dearness allowance"><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.house_rent_allownce.$error"><%house_rent_allownce_error%> </span></p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label" id="LTA_div">
                <input class="md-input" ng-model="user.leave_travel_allownce" ng-keyup="validation('leave_travel_allownce',user.leave_travel_allownce)" ng-init="user.leave_travel_allownce=''">
                <label>Long Term Capital Gain From Shares and Equity MF</label>
                <!-- <label>Leave Travel Allowance</label> -->
              </div>
              <a href="#" id="tooltip" data-toggle="tooltip" title="If you have not claimed in Form 16, the same can be claimed here. Just keep travel tickets safely as proof. The exemption can be claimed twice in the block of four years. Exemption is available only on the actual travel costs i.e., air, rail or bus fare incurred by the employee. No expenses such as local conveyance, sightseeing, hotel accommodation, food etc are eligible for exemption."><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.leave_travel_allownce.$error" role="alert"><%leave_travel_allownce_error%> </span></p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label" id="agri_income_div">
                <input class="md-input" ng-model="user.agri_income" ng-keyup="validation('agri_income',user.agri_income)" ng-init="user.agri_income=''">
                <label>Agriculture Income</label>
              </div>
                <a href="#" id="tooltip" data-toggle="tooltip" title="Agriculture Income"><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.agri_income.$error" role="alert"><%agri_income_error%> </p></span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label" id="other_exempt_income_div">
                <input class="md-input" ng-model="user.other_exempt_income" ng-keyup="validation('other_exempt_income',user.other_exempt_income)" ng-init="user.other_exempt_income=''">
                <label>Any other Exempt Income</label>
              </div>
              <a href="#" id="tooltip" data-toggle="tooltip" title="PPF Interest, Long term Capital Gain On Shares & Equity Mutual Funds, etc."><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.other_exempt_income.$error" role="alert"><%other_exempt_income_error%> </span></p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label ">
                <input class="md-input" ng-model="user.other_allownce" ng-keyup="validation('other_allownce',user.other_allownce)" ng-init="user.other_allownce=''">
                <label>Other Allowance</label>
              </div>
              <a href="#" id="tooltip" data-toggle="tooltip" title="Other Allowances not claimed in Form 16 like transport allowance, Children Education Allowance etc."><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.other_allownce.$error" role="alert"><%other_allownce_error%> </p>
              </div>
            </div> -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="md-form-group float-label" id="dividend_div">
                <input class="md-input" ng-model="user.dividend" ng-keyup="validation('dividend',user.dividend)" ng-init="user.dividend=''">
                <label>Dividend</label>
              </div>
              <a href="#" id="tooltip" data-toggle="tooltip" title="Dividend earned from Indian Companies on shares & equity mutual funds"><i class="fa fa-info-circle"></i></a>
              <div class="error_field">
                <p> <span ng-messages="taxForm.user.dividend.$error" role="alert"><%dividend_error%> </span></p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class=" p-a text-right">
                <a class="btn info" ng-click="gotoExempt($event); user_tracking('click btn','next exempt income');" style="color:#ffffff;" onclick="ga('send','event','btn click','next exempt income','Label',1);track_FP('btn click','next exempt income')">Next</a>
              </div>
            </div>
          </form>
        </div>
        <!-- ############ PAGE END-->
      </div>
      <div class="app-body" ng-style="display_logout">
        <div style="margin-top:20px;"> Kindly Login to continue. </div>
      </div>
    </div>
    <!-- ############ LAYOUT END-->
    {% include 'footer_efiling.html'%}
  </div>
  
  <script type="text/javascript">
    $('#btnGoTop').on('click', function(e) {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      return false;
    });
  </script>
  <!-- Upload profile image -->
  <script type="text/javascript">
    $(function() {
      $("#upload_link").on('click', function(e) {
        e.preventDefault();
        $("#upload:hidden").trigger('click');
      });
    });
    function label_float(id){
      var element = document.getElementById(id);
      element.classList.remove("float-label");
    };
  </script>
  </form>
</body>
</html>
