{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Financial Goal</title>
<meta name="description" content="Financial Goal" />
{% include 'header.html'%}
<script src="{% static 'js/financial_goal.js' %}"></script>

<style type="text/css">

/*text all images*/
    .same_margin{
        margin-top: 20px;
    }
    .shop_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .phone_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .jewellery_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .donate_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .gift_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .apparels_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .medical_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .new_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .car_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .trip_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .bike_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    .pay_text{
        position: absolute;
        top: 150px;
        left: 180px;
    }
    
/*end*/

    .n-m{
        margin-bottom: 3rem;
    }
    .md_css{
        padding-top:5rem!important;
        padding-bottom: 1rem!important;
    }
    .trip_add {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 55px!important;
        left: 165px!important;
    }
    .gift_add{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 35px!important;
        left: 172px!important;
    }
    .trip_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 250px!important;
        left: 605px!important;
    }
    .trip_content_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 55px!important;
        left: 168px!important;
    }
    .new_car_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 58px!important;
        left: 179px!important;
    }
    .gift_content_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 70px!important;
        left: 202px!important;
    }
    .pay_content_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 60px!important;
        left: 175px!important;
    }
    .medi_content_more{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 55px!important;
        left: 150px!important;
    }
    .new_content_more {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 46px!important;
        left: 165px!important;
    }
    .bike_image_data{
        position: relative;
        left: 118px;
    }
    .bike_image_data_dis {
        position: relative;
        left: 118px;
        display: inline-block!important;
    }
    /*bike css*/
    .btnb{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnb .content-overlayb {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .btnb:hover .bike_content{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .btn_addb{
        background: rgba(0,0,0,0.7);
    }
    .bike_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .bike_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 60px;
        left: 54px;
    }
    /*end bike*/
    .next-bt{
        outline: 0 !important;
        display: inline-block;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-radius: .25rem;
    }
    .hidden{ display: none; }
    .all_img_css{
        width: 130px;
        height: 130px;
    }
    .btnsop:not([disabled]):hover, .btnsop:not([disabled]):focus, .btnsop:not([disabled]).active {
        box-shadow: none!important;
    }
    /*shop css*/
    .btnsop{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnsop .content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .btnsop:hover .shop_content{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .btn_add{
        background: rgba(0,0,0,0.7);
    }
    .shop_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .shop_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 65px;
        left: 160px;
    }
    /*end shop*/
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btns{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btns:hover .phone_content{ opacity: 1; }
    .btn_adds{ background: rgba(0,0,0,0.7); }
    .phone_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .phone_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 65px;
        left: 180px;
    }
    /*jewellery image*/
    .btnj .content-overlayj {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnj{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnj:hover .jew_content{ opacity: 1; }
    .btn_addj{ background: rgba(0,0,0,0.7); }
    .jew_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .jew_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 65px;
        left: 154px;
    }
    /*end jew*/
    /*pay image*/
    .btnp .content-overlayp {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnp{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnp:hover .pay_content{ opacity: 1; }
    .btn_addp{ background: rgba(0,0,0,0.7); }
    .pay_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .pay_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 412px;
        left: 210px;
    }
    /*end donate*/
    /*donate image*/
    .btns .content-overlayf {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnd{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnd:hover .donate_content{ opacity: 1; }
    .btn_addd{ background: rgba(0,0,0,0.7); }
    .donate_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .donate_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 65px;
        left: 170px;
    }
    /*end donate*/
    /*gift image*/
    .btns .content-overlayf {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btng{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btng:hover .gift_content{ opacity: 1; }
    .btn_addg{ background: rgba(0,0,0,0.7); }
    .gift_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .gift_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 40px;
        left: 170px;
    }
    /*end image*/
    /*apparels image*/
    .btna .content-overlaya {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .btna{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btna:hover .apparel_content{ opacity: 1; }
    .btn_adda{ background: rgba(0,0,0,0.7); }
    .apparel_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .apparel_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 65px;
        left: 161px;
    }
    /*end image*/
    /*medical image*/
    .btnm .content-overlaym {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnm{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnm:hover .gift_content{ opacity: 1; }
    .btn_addm{ background: rgba(0,0,0,0.7); }
    .medi_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .medi_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 410px;
        left: 350px;
    }
    /*end image*/
    /*new image*/
    .btnw .content-overlayw {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnw{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnw:hover .new_content{ opacity: 1; }
    .btn_addw{ background: rgba(0,0,0,0.7); }
    .new_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .new_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 410px;
        left: 560px;
    }
    /*end image*/
    /*car image*/
    .btnc .content-overlayc {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnc{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnc:hover .car_content{ opacity: 1; }
    .btn_addc{ background: rgba(0,0,0,0.7); }
    .car_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .car_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 585px;
        left: 170px;
    }
    /*end image*/
    /*trip image*/
    .btnf .content-overlayf {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnf{
        cursor: pointer;
        padding: .5rem 1rem;
    }
    .btnf:hover .trip_content{ opacity: 1; }
    .btn_addf{ background: rgba(0,0,0,0.7); }
    .trip_css{
        background: rgba(0,0,0,0.7);
        opacity: 0.2;
    }
    .trip_content h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        position: absolute;
        top: 584px;
        left: 370px;
    }
    /*end image*/
    /*jewellery*/
    .checkboxss label:after, .radio label:after {
        content: '';
        display: table;
        clear: both;
    }
    .checkboxss .cr, .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }
    .radio .cr { border-radius: 50%; }
    .checkboxss .cr .cr-icon, .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }
    .radio .cr .cr-icon { margin-left: 0.04em; }
    .checkboxss label input[type="checkbox"], .radio label input[type="radio"] { display: none; }
    .checkboxss label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }
    .checkboxss label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }
    .checkboxss label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr { opacity: .5; }
    /*end jewellery*/
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
    }
    .next_btn{ margin-left: 45%; margin-top: 30px; }
    .copy_css{ padding-top:5px; padding-bottom:10px; }
    .footer_same_css{ padding-top: 30px; }
    .row_data{ padding-top:5px; padding-bottom:10px; }
    .card_style{ border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
    .card-header{
        background: #b3e1e8;
        color: #113d6d;
        border-bottom: 1px solid #00B8ED!important;
    }
    .card_tax{
        border-radius: 0;
        padding: 12px;
        margin-bottom: 14px;
    }
    .container_img{
        margin-left: auto;
        margin-right: auto; 
        padding-left: 15px; 
        padding-right: 15px; 
    }
    .h3, h3 { font-size: 1.15rem!important; }
    .main_div{ width:92%; margin-left: -35px; }
    .image_data{
        width: 60px;
        text-align: center;
        margin: 1%;
        display: inline-block;
        cursor: pointer;
        font-family: 'Lato';
        margin-left: 123px;
    }
    .phone_mobile{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .jew_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .donate_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .gift_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .app_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .pay_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .medical_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .new_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .car_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .foreign_image_data{
      width: 60px;
      text-align: center;
      margin: 1%;
      display: inline-block;
      cursor: pointer;
      font-family: 'Lato';
      margin-left: 123px;
    }
    .main-title{
        color: #2d2d2d;
        text-align: center;
        text-transform: capitalize;
        padding: 0.7em 0;
    }
    .container_data{
        padding: 1em 0;
        float: left;
        width: 50%;
    }
    .container_data .footer_data{ width: 100%; }
    @media screen and (max-width: 640px){
        .container_data{
            display: block;
            width: 100%;
        }
    }
    @media screen and (min-width: 900px){
        .container_data{ width: 100%; }
    }
    .container_data .title{
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px;
    }
    .content { position: relative; max-width: 400px; }
    .contents { position: relative; max-width: 400px; }
    /*shopping*/
    .content .content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 109%;
        width: 315%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .contents .content-overlays {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 125%;
        width: 94%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.content:hover .content-overlay{ opacity: 0.6; }*/
    .contents:hover .content-overlays{ opacity: 0.6; }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 18px;
    }
    /*phone*/
    .content-details-phone {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content-details-phone h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 40px;
    }
    .content:hover .content-details-phone{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-phone{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    /*end phone*/
    /*jewellery*/
    .content-details-jwe {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-jwe{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-jwe{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-jwe h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 7px;
    }
    /*end jewe*/
    /*donate*/
    .content-details-donate {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-donate{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-donate{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-donate h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 30px;
    }
    /*end donate*/
    /*gift*/
    .content-details-gift {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-gift{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-gift{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-gift h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 54px;
    }
    /*end gift*/
    /*pay of loan*/
    .content-details-pay {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-pay{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-pay{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-pay h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 54px;
    }
    /*end pay of loan*/
    /*new venture*/
    .content-details-new {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-new{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-new{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-new h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 36px;
    }
    .btnsop .content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 21%;
        width: 140px;
        left: 188px;
        top: 24px;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    /*.btn:hover .content-overlay{ opacity: 0.6; }*/
    .btnsop:hover .shop_content{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    /*end new*/
    /*car*/
    .content-details-car {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .content:hover .content-details-car{
        top: 50%;
        left: 25%;
        opacity: 1;
    }
    .contents:hover .content-details-car{
        top: 50%;
        left: 50%;
        opacity: 1;
    }
    .content-details-car h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        margin-left: 54px;
    }
    /*end car*/
    .content-details p{
        color: #fff;
        font-size: 0.8em;
    }
    .fadeIn-top{ top: 20%; }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        body{ margin: 10px; }
        .hidden{ display: none; }
        .btns{ cursor: pointer; padding: 0; }
        .shop_content h3 { left: 29px;top: 55px; }
        .phone_content h3 { left: 33px; top: 56px; }
        .jew_content h3 { top: 52px; left: 10px; }
        .donate_content h3 { top: 53px; left: 28px; }
        .gift_content h3 { top: 31px; left: 31px; }
        .apparel_content h3 { top: 50px; left: 17px; }
        .pay_content h3 { top: 41px; left: 37px; }
        .medi_content h3 { top: 40px; left: 9px; }
        .new_content h3 { top: 45px; left: 22px; }
        .car_content h3 { top: 52px; left: 22px; }
        .trip_content h3 { top: 50px; left: 23px; }
        .btnsop{ cursor: pointer; padding: 0!important; }
        .btnj { cursor: pointer; padding: 0!important; }
        .btnd { cursor: pointer; padding: 0!important; }
        .btng { cursor: pointer; padding: 0!important; }
        .btna { cursor: pointer; padding: 0!important; }
        .btnp { cursor: pointer; padding: 0!important; }
        .btnm { cursor: pointer; padding: 0!important; }
        .btnw { cursor: pointer; padding: 0!important; }
        .btnc { cursor: pointer; padding: 0!important; }
        .btnf { cursor: pointer; padding: 0!important; }
        .card_tax { margin-left: 2px; }
        .next_btn { margin-top: 30px; }
        .container_img{
            margin-left: initial;
            margin-right: initial; 
            padding-left: 0px; 
            padding-right: 0px; 
        }
        .contents { position: relative; width: 100%!important; }
        .content .content-overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 100%;
            width: 140px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        .contents .content-overlays {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 125%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        .content-details h3 {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
            margin-left: 30px;
        }
        h3.content-title{ font-size: 1.3rem; }
        .image_data {
            text-align: center;
            margin: 0px;
            display: inline-block;
            cursor: pointer;
            font-family: 'Lato';
            margin-left: 8px;
        }
        .phone_mobile {
           cursor: pointer;
            margin-left: 25%;
            position: relative;
            left: 0;
            margin-top: 0;
        }
        .jew_image_data {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 0;
            margin-top: 20px;
        }
        .donate_image_data {
            margin: 0px;
            cursor: pointer;
            margin-left: 25%;
            position: relative;
            margin-top: 20px;
        }
        .gift_image_data {
            cursor: pointer;
            position: relative;
            margin-top: 20px;
            right: 0;
            margin-left: 25%;
        }
        .foreign_image_data_m {
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            margin-left: 0;
        }
        .app_image_data {
            margin: 0px;
            cursor: pointer;
            position: relative;
            margin-left: 25%;
            margin-top: 20px;
        }
        .pay_image_data {
            margin: 0px;
            cursor: pointer;
            margin-left: 0;
            position: relative;
            right: 0px;
            margin-top: 20px;
        }
        .medical_image_data {
            width: auto;
            cursor: pointer;
            position: relative;
            left: 14px;
            margin-top: 20px;
            margin-left: 0;
        }
        .new_image_data {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 45px;
            margin-top: 20px;
        }
        .new_image_datas {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 55px;
            margin-top: 20px;
            top: 110px;
        }
        .new_image_data_pay {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 55px;
            margin-top: 20px;
            top: 110px;
        }
        .car_image_data {
            width: auto;
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 14px;
            margin-top: 20px;
        }
        .car_image_datas {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 6px;
            margin-top: 20px;
        }
        .car_image_data_medi {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 6px;
             margin-top: 20px; 
        }
        .foreign_image_data {
            cursor: pointer;
            position: relative;
            left: 45px;
            margin-top: 20px;
            margin-left: 0;
        }
        .foreign_image_datas {
            cursor: pointer;
            position: relative;
            right: 116px;
        }
        .new_image_data_medi_none {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 82px;
            margin-top: 20px;
            width: auto;
        }
        .car_image_data_medi_none {
            margin: 0px;
            cursor: pointer;
            position: relative;
             left: 5px; 
            margin-top: 20px;
            width: auto;
        }
        .all_img_css{ width: 140px; }
        .h3, h3 { font-size: 1.1rem!important; }
        .foreign_image_data_medi_none {
            cursor: pointer;
            position: relative;
            margin-top: 20px;
        }
        .phone_mobiles {
            margin: 0px;
            cursor: pointer;
            margin-left: 0;
            position: relative;
            right: 0;
            margin-top: 20px;
        }
        .jew_image_datas {
            margin: 0px;
            cursor: pointer;
            margin-left: 30%;
            position: relative;
            right: 0;
            margin-top: 20px;
        }
        .donate_image_datas {
            margin: 0px;
            cursor: pointer;
            margin-left: 38%;
            position: relative;
            right: 112px;
            margin-top: 20px;
        }
        .medical_image_datas {
            width: auto;
            cursor: pointer;
            position: relative;
            margin-left: -71px;
            margin-top: 20px;
        }
        .car_image_data_mobile {
            width: auto;
            margin: 0px;
            cursor: pointer;
            position: relative;
            margin-top: 20px;
        }
        .bike_image_data { position: relative; left: 0; }
        .foreign_image_data_less {
            cursor: pointer;
            position: relative;
            right: 6px;
            margin-top: 20px;
            margin-left: 0;
        }
        .gift_content_more{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 28px!important;
            left: 38px!important;
        }
        .pay_content_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 36px!important;
             left: 40px!important; 
        }
        .medi_content_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 44px!important;
            left: 8px!important;
        }
        .new_content_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 40px!important;
            left: 20px!important;
        }
        .new_car_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 56px!important;
            left: 22px!important;
        }
        .trip_content_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 48px!important;
            left: 24px!important;
        }
        .foreign_image_data_mo {
            cursor: pointer;
            position: relative;
            left: -10px;
            margin-top: 20px;
            margin-left: 0;
        }
        .trip_more {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 45px!important;
            left: 25px!important;
        }
        .btnb { cursor: pointer; padding: 0; }
        .bike_content h3 {
            color: #fff!important;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 50px;
            left: 47px;
        }
        .bike_mo {
            position: relative;
            left: 0;
            margin-left: 25%;
            margin-top: 20px;
        }
        .gift_add{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 0!important;
            left: 30px!important;
            margin-top: 27px;
        }
        .trip_add {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: absolute;
            top: 48px!important;
            left: 20px!important;
        }
        .medical_image_data_f {
            width: auto;
            cursor: pointer;
            position: relative;
            left: 0;
            margin-top: 20px;
            margin-left: 25%;;
        }
        .new_img_d{
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
        }
        .car_d {
            width: auto;
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            margin-left: 25%;
        }
        .foreign_im {
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            margin-left: 0;
            top: 0px!important;
        }
        .bike_image_d {
            position: relative;
            left: 0;
            margin-top: 20px;
            margin-left: 25%;
        }
        .gift_first{
            cursor: pointer;
            position: relative;
            margin-top: 20px;
            right: 35px!important;
        }
    }
    @media only screen and (max-width: 731px) and (min-width: 411px){
        .je_image_data{
            margin: 0px;
            cursor: pointer;
            margin-left: 38%;
            position: relative;
            left: -125px;
            margin-top: 20px;
        }
        .do_image_data {
            margin: 0px;
            cursor: pointer;
            margin-left: 0;
            position: relative;
            margin-top: 20px;
        }
    }
    @media only screen and (max-width: 812px) and (min-width: 375px){
        .je_image_data{
            margin: 0px;
            cursor: pointer;
            margin-left: 38%;
            position: relative;
            left: -52px;
            margin-top: 20px;
        }
        .do_image_data {
            margin: 0px;
            cursor: pointer;
            margin-left: 40px;
            position: relative;
            margin-top: 20px;
        }
        .gift_data {
            cursor: pointer;
            position: relative;
            margin-top: 20px;
             margin-left: 25px; 
            left: 10px;
        }
        .for_image_data {
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            margin-left: 0;
            top: 0;
        }
        .bike_o { position: relative; left: 0; }
        .new_img_ad {
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            top:0;
        }
        .car_im_d {
            width: auto;
            margin: 0px;
            cursor: pointer;
            position: relative;
            left: 39px!important;
            margin-top: 20px;
        }
        .foreign_im_ip {
            cursor: pointer;
            position: relative;
            left: 0px!important;
            margin-top: 20px;
            margin-left: 0;
            top: 0px!important;
        }
        .bike_image_d_ip {
            position: relative;
            left: 0;
            margin-top: 20px;
        }
        .pay_image_data_ip {
            margin: 0px;
            cursor: pointer;
            margin-left: 0%;
            position: relative;
            right: 0px;
            margin-top: 20px;
        }
    }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    /*1716*/
</style>
</head>

<body ng-controller="index_cntrl">
<form name="myForm" method="post" >
<div class="app" ng-controller="financial_goal_controller">
    <div class="row-col1" style="">
        <div class="col-sm-12" ng-controller="index_controller">
        {% include 'menubar.html'%}
        </div>
        <!-- content -->
        <div class="col-sm-12 text-center row-main">
            <div class="p-t-lg md_css">
                <h1 class="m-y-md text-white"></h1>
            </div>
        </div>
        <div class="row row-main n-m">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 main_css">
                <div class="card-header card_taxs text-center"><h4 class="">We are almost done. In the meanwhile ..</h4><h5 id="get_value">What would you do if you get Rs. <span><%total_salat_tax%></span> now?</h5></div>
                <div class="card bg-dark mb-3 card_tax">
                    <div class="card-body card_style" id="card_data">
                        <div class="main_div container_img row">
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="shopping_img">
                            <div class="image_data">
                                <label class="btnsop">
                                    <div class="content-overlay"></div>
                                   <img class="img-check all_img_css" src="../static/images/shopping.png" >
                                    <input type="checkbox" name="chk1" id="item1" value="false" class="hidden" autocomplete="off">
                                    <div class="shop_content">
                                        <h3 class="">Shopping</h3>
                                    </div>
                                     <h5 class="text-center shop_color shop_text">Shopping</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="phone_img">
                            <div class="phone_mobile">
                                <label class="btns">
                                    <div class="content-overlayf"></div>
                                   <img  class="img-checks all_img_css" src="../static/images/phone.png">
                                    <input type="checkbox" name="chk2" id="item2" value="false" class="hidden" autocomplete="off">
                                    <div class="phone_content">
                                        <h3 class="">Phone</h3>
                                    </div>
                                    <h5 class="text-center phone_color phone_text">Phone</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="jewe_img">
                            <div class="jew_image_data">
                                <label class="btnj">
                                    <div class="content-overlayj"></div>
                                    <img  class="img-checkj all_img_css" src="../static/images/jewellery.png">
                                    <input type="checkbox" name="chk3" id="item3" value="false" class="hidden" autocomplete="off">
                                    <div class="jew_content">
                                        <h3 class="">Jewellery</h3>
                                    </div>
                                     <h5 class="text-center jewellery_color jewellery_text">Jewellery</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="doante_img">
                            <div class="donate_image_data">
                                <label class="btnd">
                                    <div class="content-overlayd"></div>
                                    <img  class="img-checkd all_img_css" src="../static/images/donate.png">
                                    <input type="checkbox" name="chk4" id="item4" value="false" class="hidden" autocomplete="off">
                                    <div class="donate_content">
                                        <h3 class="">Donate</h3>
                                    </div>
                                     <h5 class="text-center donate_color donate_text">Donate</h5> 
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="gift_love_img">
                            <div class="gift_image_data">
                                <label class="btng">
                                    <div class="content-overlayg"></div>
                                    <img  class="img-checkg all_img_css" src="../static/images/gift.png">
                                    <input type="checkbox" name="chk5" id="item5" value="false" class="hidden" autocomplete="off">
                                    <div class="gift_content">
                                        <h3 class="gift_content_add">Gift for <br>loved one</h3>
                                         
                                    </div>
                                    <h5 class="text-center gift_color gift_text">Gift for loved one</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="apperals_img">
                            <div class="app_image_data">
                                <label class="btna">
                                    <div class="content-overlaya"></div>
                                    <img  class="img-checka all_img_css" src="../static/images/apperals.png">
                                    <input type="checkbox" name="chk6" id="item6" value="false" class="hidden" autocomplete="off">
                                    <div class="apparel_content">
                                        <h3 class="">Apparels</h3>
                                         
                                    </div>
                                    <h5 class="text-center apparels_color apparels_text">Apparels</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="pay_of_loan_img">
                            <div class="pay_image_data">
                                <label class="btnp">
                                    <div class="content-overlayp"></div>
                                    <img  class="img-checkp all_img_css" src="../static/images/Loan.png">
                                    <input type="checkbox" name="chk7" id="item7" value="false" class="hidden" autocomplete="off">
                                    <div class="pay_content">
                                        <h3 class="pay_content_add">Pay Of<br> Loan</h3>
                                    </div>
                                    <h5 class="text-center pay_color pay_text">Pay Of Loan</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="medical_treatment_img">
                            <div class="medical_image_data">
                                <label class="btnm">
                                    <div class="content-overlaym"></div>
                                    <img  class="img-checkm all_img_css" src="../static/images/medical.jpeg">
                                    <input type="checkbox" name="chk8" id="item8" value="false" class="hidden" autocomplete="off">
                                    <div class="medi_content">
                                        <h3 class="medi_content_add">Medical <br> Treatment</h3>
                                    </div>
                                     <h5 class="text-center medical_color medical_text">Medical Treatment</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="start_new_venture_img">
                            <div class="new_image_data">
                                <label class="btnw">
                                    <div class="content-overlayw"></div>
                                    <img  class="img-checkw all_img_css" src="../static/images/Venture.png">
                                    <input type="checkbox" name="chk9" id="item9" value="false" class="hidden" autocomplete="off">
                                    <div class="new_content">
                                        <h3 class="new_start_add">Start <br>a new<br> venture</h3>
                                    </div>
                                    <h5 class="text-center new_color new_text">Start a new venture</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="car_img">
                            <div class="car_image_data">
                                <label class="btnc">
                                    <div class="content-overlayc"></div>
                                    <img  class="img-checkc all_img_css" src="../static/images/Car.png">
                                    <input type="checkbox" name="chk10" id="item10" value="false" class="hidden" autocomplete="off">
                                    <div class="car_content">
                                        <h3 class="new_car_add">New Car</h3>
                                    </div>
                                    <h5 class="text-center car_color car_text">New Car</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="foreign_img">
                            <div class="foreign_image_data">
                                <label class="btnf">
                                    <div class="content-overlayf"></div>
                                    <img  class="img-checkf all_img_css" src="../static/images/Trip.png">
                                    <input type="checkbox" name="chk11" id="item11" value="false" class="hidden" autocomplete="off">
                                    <div class="trip_content">
                                        <h3 class="trip_content_add">Foreign <br>Trip</h3>
                                    </div>
                                     <h5 class="text-center foreign_color trip_text">Foreign Trip</h5>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6 same_margin" id="bike_img">
                            <div class="bike_image_data">
                                <label class="btnb">
                                    <div class="content-overlayb"></div>
                                    <img  class="img-checkb all_img_css" src="../static/images/Bike.png">
                                    <input type="checkbox" name="chk12" id="item12" value="false" class="hidden" autocomplete="off">
                                    <div class="bike_content">
                                        <h3 class="">Bike</h3>
                                    </div>
                                    <h5 class="text-center Bike_color bike_text">Bike</h5>
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div ng-show="select_image_err" id="image_err">
                        <center style="color: red"> Please select your goal.</center>
                    </div>
                    <!-- location.href='/tax_report' -->
                    <button ng-click="save_goal();user_tracking('click btn','Select Financial Goal');" class="next-bt btn-md blue p-x-md btn-md next_btn" onclick="ga('send','event','btn click','Select Financial Goal','Label',1);track_FP('btn click','Select Financial Goal');">Next</button>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>
{% include 'footer.html'%}

</div>
</form>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->


<script type="text/javascript">
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    var selected_goal = '';
    $('.shop_content').hide();
    $('.phone_content').hide();
    $('.donate_content').hide();
    $('.gift_content').hide();
    $('.apparel_content').hide();
    $('.jew_content').hide();
    $('.pay_content').hide();
    $('.medi_content').hide();
    $('.new_content').hide();
    $('.car_content').hide();
    $('.trip_content').hide();
    $('.bike_content').hide();
    function select_image(id){
        $('#image_err').hide();
        selected_goal = '';
        $('.img-check').removeClass('shop_css');
        $('.btnsop').removeClass('btn_add');
        $('.shop_content').fadeOut(900);

        $('.img-checks').removeClass('phone_css');
        $('.btns').removeClass('btn_adds');
        $('.phone_content').fadeOut(900);

        $('.img-checkd').removeClass('phone_css');
        $('.btnd').removeClass('btn_adds');
        $('.donate_content').fadeOut(900);

        $('.img-checkj').removeClass('jew_css');
        $('.btnj').removeClass('btn_addj');
        $('.jew_content').fadeOut(900);

        $('.img-checka').removeClass('apparel_css');
        $('.btna').removeClass('btn_adda');
        $('.apparel_content').fadeOut(900);

        $('.img-checkp').removeClass('pay_css');
        $('.btnp').removeClass('btn_addp');
        $('.pay_content').fadeOut(900);

        $('.img-checkm').removeClass('medi_css');
        $('.btnm').removeClass('btn_addm');
        $('.medi_content').fadeOut(900);

        $('.img-checkw').removeClass('new_css');
        $('.btnw').removeClass('btn_addw');
        $('.new_content').fadeOut(900);

        $('.img-checkc').removeClass('car_css');
        $('.btnc').removeClass('btn_addc');
        $('.car_content').fadeOut(900);

        $('.img-checkf').removeClass('trip_css');
        $('.btnf').removeClass('btn_addf');
        $('.trip_content').fadeOut(900);

        $('.img-checkg').removeClass('gift_css');
        $('.btng').removeClass('btn_addg');
        $('.gift_content').fadeOut(900);


        $('.img-checkb').removeClass('bike_css');
        $('.btnb').removeClass('btn_addb');
        $('.bike_content').fadeOut(900);

        //text show all images
        $('.shop_color').show();
        $('.phone_color').show();
        $('.jewellery_color').show();
        $('.donate_color').show();
        $('.gift_color').show();
        $('.apparels_color').show();
        $('.pay_color').show();
        $('.medical_color').show();
        $('.new_color').show();
        $('.car_color').show();
        $('.foreign_color').show();
        $('.Bike_color').show();

        // alert(id);
        // alert(document.getElementById(id).value);
        if(document.getElementById(id).value == 'true' && id == 'item1'){
            selected_goal = 'shopping';
            $('.img-check').addClass('shop_css');
            $('.btnsop').addClass('btn_add');
            $('.shop_content').fadeIn(900);
            $('.shop_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item2'){
            selected_goal = 'phone';
            $('.img-checks').addClass('phone_css');
            $('.btns').addClass('btn_adds');
            $('.phone_content').fadeIn(900);
            $('.phone_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item4'){
            selected_goal = 'donation';
            $('.img-checkd').addClass('phone_css');
            $('.btnd').addClass('btn_adds');
            $('.donate_content').fadeIn(900);
            $('.donate_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item3'){
            selected_goal = 'jewellery';
            $('.img-checkj').addClass('jew_css');
            $('.btnj').addClass('btn_addj');
            $('.jew_content').fadeIn(900);
            $('.jewellery_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item5'){
            selected_goal = 'gift';
            $('.img-checkg').addClass('gift_css');
            $('.btng').addClass('btn_addg');
            $('.gift_content').fadeIn(900);
            $('.gift_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item6'){
            selected_goal = 'apparels';
            $('.img-checka').addClass('apparel_css');
            $('.btna').addClass('btn_adda');
            $('.apparel_content').fadeIn(900);
            $('.apparels_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item7'){
            selected_goal = 'loan';
            $('.img-checkp').addClass('pay_css');
            $('.btnp').addClass('btn_addp');
            $('.pay_content').fadeIn(900);
            $('.pay_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item8'){
            selected_goal = 'medical';
            $('.img-checkm').addClass('medi_css');
            $('.btnm').addClass('btn_addm');
            $('.medi_content').fadeIn(900);
            $('.medical_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item9'){
            selected_goal = 'venture';
            $('.img-checkw').addClass('new_css');
            $('.btnw').addClass('btn_addw');
            $('.new_content').fadeIn(900);
            $('.new_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item10'){
            selected_goal = 'car';
            $('.img-checkc').addClass('car_css');
            $('.btnc').addClass('btn_addc');
            $('.car_content').fadeIn(900);
            $('.car_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item11'){
            selected_goal = 'foreign';
            $('.img-checkf').addClass('trip_css');
            $('.btnf').addClass('btn_addf');
            $('.trip_content').fadeIn(900);
            $('.foreign_color').hide();
        }
        if(document.getElementById(id).value == 'true' && id == 'item12'){
            selected_goal = 'bike';
            $('.img-checkb').addClass('bike_css');
            $('.btnb').addClass('btn_addb');
            $('.bike_content').fadeIn(900);
            $('.Bike_color').hide();
        }
        document.getElementById(id).checked = false;
        UserId = getCookie("UserId");
        $.ajax({
            url:'/get_client/',
            type:'POST',
            dataType: 'json',
            data:{'mail':'mail'},
            success: function(response){
                if (response.client_id!=0) {
                    $.ajax({
                        url:'/user_tracking_func/',
                        type:'POST',
                        dataType: 'json',
                        data:{'event':'select','event_name':'Financial goal : '+selected_goal,'client_id':response.client_id,'UserId':UserId},
                        success: function(response){
                            // console.log(response);
                        }
                    });
                }
            }
        });
        track_FP('select','Financial goal : '+selected_goal);
    }

    /*shopping image*/
    $("#item1").on('change', function() {
        if ($(this).is(':checked'))
            var f = $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item1');
    });
    /*phone image*/
    $("#item2").on('change', function() {
        if ($(this).is(':checked'))
            $(this).attr('value', 'true');
        else 
            $(this).attr('value', 'false');
        select_image('item2');
    });
    /*donate image*/
    $("#item4").on('change', function() {
        if ($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item4');
    });
    /*jew image*/
    $("#item3").on('change', function() {
        if ($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item3');
    });
    /*gift image*/
    $("#item5").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item5');
    });
    /*apparel image*/
    $("#item6").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item6');
    });
    /*pay of loan image*/
    $("#item7").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item7');
    });
    /*medical image*/
    $("#item8").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item8');
    });
    /*start a new venture image*/
    $("#item9").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item9');
    });
    /*car image*/
    $("#item10").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item10');
    });
    /*trip image*/
    $("#item11").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item11');
    });
    /*bike image*/
    $("#item12").on('change', function() {
        if($(this).is(':checked'))
            $(this).attr('value', 'true');
        else
            $(this).attr('value', 'false');
        select_image('item12');
    });

    function hide_show_image(value){
        $('#shopping_img').hide();
        $('#phone_img').hide();
        $('#jewe_img').hide();
        $('#doante_img').hide();
        $('#gift_love_img').hide();
        $('#apperals_img').hide();
        $('#pay_of_loan_img').hide();
        $('#medical_treatment_img').hide();
        $('#start_new_venture_img').hide();
        $('#car_img').hide();
        $('#foreign_img').hide();
        $('#bike_img').hide();
        value = value * -1;
        // console.log(value);
        if(value<=20000){
            $('#shopping_img').show();
            $('#phone_img').show();
            $('#jewe_img').show();
            $('#doante_img').show();
            $('#gift_love_img').show();
            $('#apperals_img').show();
            $('.gift_image_data').addClass('gift_first');
            /*iphone css*/
            $('.jew_image_data').addClass('je_image_data');
            $('.donate_image_data').addClass('do_image_data');
        }
        else if(value>20000 && value<=60000){
            $('#shopping_img').show();
            $('#phone_img').show();
            $('#jewe_img').show();
            $('#bike_img').show();
            $('#gift_love_img').show();
            $('#foreign_img').show();
            /*mobile and desktop dynamic css*/
            $('.foreign_image_data').addClass('foreign_image_data_less');
            $('.trip_content_add').addClass('trip_add');
            $('.foreign_image_data').addClass('foreign_image_data_mo');
            $('.gift_content_add').addClass('gift_add');
            $('.foreign_image_data').addClass('foreign_image_data_m');
            $('.bike_image_data').addClass('bike_mo');
            $('.bike_image_data').addClass('bike_image_data_dis');
            /*iphone css*/
            $('.jew_image_data').addClass('je_image_data');
            $('.donate_image_data').addClass('do_image_data');
            $('.gift_image_data').addClass('gift_data');
            $('.foreign_image_data').addClass('for_image_data');
            $('.bike_image_data').addClass('bike_o');
        }
        else if(value>60000){
            $('#car_img').show();
            $('#foreign_img').show();
            $('#start_new_venture_img').show();
            $('#pay_of_loan_img').show();
            $('#medical_treatment_img').show();
            $('#bike_img').show();
             /*mobile and desktop dynamic css*/
            $('.gift_content_add').addClass('gift_content_more');
            $('.pay_content_add').addClass('pay_content_more');
            $('.medi_content_add').addClass('medi_content_more');
            $('.new_start_add').addClass('new_content_more');
            $('.new_car_add').addClass('new_car_more');
            $('.trip_content_add').addClass('trip_content_more');
            $('.medical_image_data').addClass('medical_image_data_f');
            $('.new_image_data').addClass('new_img_d');
            $('.car_image_data').addClass('car_d');
            $('.foreign_image_data').addClass('foreign_im');
            $('.bike_image_data').addClass('bike_image_d');
            $('.bike_image_data').addClass('bike_image_data_dis');
            /*iphone css*/
            $('.new_image_data').addClass('new_img_ad');
            $('.car_image_data').addClass('car_im_d');
            $('.foreign_image_data').addClass('foreign_im_ip');
            $('.bike_image_data').addClass('bike_image_d_ip');
            $('.pay_image_data').addClass('pay_image_data_ip');
        }
    }
    function get_selected_goal(){
        return selected_goal;
    }
</script>

</body>
</html>
