{% load static %}
<!-- <div class="footer black text-info-hover animate visible fadeInUp" data-animation="fadeInUp" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay: 400ms;animation-duration: 1000ms;">
    <div class="container">
        <div class="row p-y-lg">
            <div class="col-md-6 footer-style">
                <h2 class="widget-title">About Us</h2>
                <span class="text-muteds">Salat Tax is an initiative by Salat Investments founded by Swapnil Bagmar and Prerana Bagmar. We like to use cutting edge technology and simplify tax compliance for tax payers. We are on a mission to save maximum tax and use the money to create sustainable wealth for the clients. </span>
            </div>
            <div class="col-md-3 footer-style">
                <h2 class="widget-title">Address</h2>
                <span class="text-muteds">Flat No 1, Building A1,<br> Indira Park Co-Operative Housing Society, Pune Nagar Road,<br> Pune 411006 </span>
            </div>
            <div class="col-md-3 footer-style">
                <h2 class="widget-title">Contact Us</h2>
                <span class="text-muteds">E-mail : <a href="mailto:salattax@gmail.com">salattax@gmail.com</a></span><br>
                <span class="text-muteds">Telephone : <a href="tel:020-41225277">020-41225277</a></span>
            </div>
        </div>
        <div class="p-y-lg">
            <div class="m-b-lg text-sm">
                <div class="text-muted pull-left pull-none-xs m-b">
                    <span class="text-muted">&copy; Copyright. <a href="http://salatinvestments.com" target="_blank">salatinvestments.com </a> All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="app-footer black bg p-a b-t">
    <a class="pull-right fa fa-arrow-circle-up" id="btnGoTop" style="font-size:24px;"></a>
    <span class="text-sm text-muted">&copy; Copyright.</span>
</div>
<!-- ############ LAYOUT END-->
<script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
<!-- Bootstrap -->
<script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
<!-- core -->
<script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
<script src="{% static 'libs/PACE/pace.min.js'%}"></script>
<script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
<script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
<script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>
<script src="{% static 'scripts/ui-include.js'%}"></script>
<script src="{% static 'scripts/ui-device.js'%}"></script>
<script src="{% static 'scripts/ui-form.js'%}"></script>
<script src="{% static 'scripts/ui-modal.js'%}"></script>
<script src="{% static 'scripts/ui-nav.js'%}"></script>
<script src="{% static 'js/drop.js'%}"></script>
<script src="{% static 'js/sweetalert.js' %}"></script>
<script src="{% static 'js/ui-mask.js'%}"></script>

<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132417121-1"></script> -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134695579-1"></script>
<script type="text/javascript">
    $('body').hide();
    setTimeout(function(){
        $('body').show();
    }, 900);
    var UserId = '';
    var current_path_url = window.location.href; 
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        // alert(document.cookie);
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function checkCookie() {
        UserId = getCookie("UserId");
        // console.log(UserId); //testing
        if (UserId != "" && UserId != null) {
            // alert("Welcome again " + UserId);
            if(current_path_url.includes("/selenium")){
            }else{
                setUserId_GA(UserId);
                setUserId_FP(UserId);                
            }
        } else {
            $.ajax({
                url:'/get_session/',
                type:'POST',
                dataType: 'json',
                data:{'mail':'mail'},
                success: function(response){
                    console.log(response);
                    // UserId = prompt("Please enter your name:", "");
                    UserId = response.user_id;
                    if (UserId != "" && UserId != null) {
                        setCookie("UserId", UserId, 90);
                        if(current_path_url.includes("/selenium")){
                        }else{
                            setUserId_GA(UserId);
                            setUserId_FP(UserId);                
                        }
                    }
                }
            });
        }
    }
    checkCookie();

    function setUserId_GA(UserId) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)
        [0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        console.log('user id-'+UserId);

        ga('create', 'UA-134695579-1', 'auto') ; 
        var dimensionValue = 'SOME_DIMENSION_VALUE';
        ga('set', 'dimension1', dimensionValue);
        ga('set', 'userId', 'user id-'+UserId);
        ga('send', 'pageview', location.pathname);
    }

    function setUserId_FP(UserId) {
        fbq('init', '392095814926137', {uid: UserId});
        fbq('setUserProperties', '392095814926137', 
          {
            subscription: 'Done'
          }
        );
    }

    /*$.ajax({
        url:'/get_client/',
        type:'POST',
        dataType: 'json',
        data:{'mail':'mail'},
        success: function(response){
            // console.log(response);
            if(response.client_id == null || response.client_id == 1 || response.client_id == 0){
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)
                [0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                // var randomId = randomUserId();
                // console.log(randomId);
                // console.log(typeof(randomId) );

                ga('create', 'UA-134695579-1', 'auto') ; 
                var dimensionValue = 'SOME_DIMENSION_VALUE';
                ga('set', 'dimension1', dimensionValue);
                ga('set', 'userId', 'user id-'+UserId);
                ga('send', 'pageview', location.pathname);
            }
            else{
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)
                [0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                // var randomId = randomUserId();
                // console.log(randomId);
                // console.log(typeof(randomId) );
                console.log(response.client_id+'-'+response.username);

                ga('create', 'UA-134695579-1', 'auto') ;
                var dimensionValue = 'SOME_DIMENSION_VALUE';
                ga('set', 'dimension1', dimensionValue);
                ga('set', 'userId', response.client_id+'-'+response.username);
                ga('send', 'pageview', location.pathname);
            }
        }
    });*/
</script>