<div class="app-header blue white bg b-b" ng-controller="index_controller">
    <div class="navbar nav_css" data-pjax>
        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
            <i class="fa fa-th-list"></i>
        </a>
        <div class="navbar-item pull-left h5" id="pageTitle">File New Tax Return</div>

      <!--   <div class="text-center">File New Tax Return</div> -->
        <!-- nabar right -->
        <ul class="nav navbar-nav pull-right">
            <!-- / dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link clear" data-toggle="dropdown">
                   <!--   <%username%> -->
                    <span class="avatar w-40">
                        <img src="../static/images/avatar.jpg" class="w-full rounded" alt="..">
                    </span>
                </a>
                <div class="dropdown-menu w dropdown-menu-scale pull-right">
                    <a class="dropdown-item" href="">
                        <span><%user.username%></span>
                    </a>
                    <a class="dropdown-item">
                        <input id="upload" type="file" />
                        <a href="" id="upload_link">Edit Profile Picture</a>
                    </a>
                    <a class="dropdown-item" href="">
                        <span>Go to Dashboard</span>
                    </a>
                    <a class="dropdown-item" ng-model="signout" ng-click="signOut();" href="" >Sign out</a>
                    <!-- <a class="dropdown-item" ng-model="signout" href="../" ng-style="display_logout">Sign in</a> -->
                </div>
            </li>
        </ul>
        <!-- / navbar right -->
    </div>
</div>
        
<script type="text/javascript">
  function track_FP(event,parameter) {
    // console.log(parameter);
    fbq('trackCustom', event, {text: parameter});
  }
</script>

