{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Review and e-file</title>
<meta name="description" content="E-Filing Detail Review" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/statement_income.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>

<style type="text/css"> 
    .success-swal-wide{
           /* width: 100% !important;*/
            margin-top: -290px !important;
    }
    .field-message {
        font-size: 85%;
        color: red;
        display: none;
        position: inherit;
    }
    .modal-body { position: relative; }
    .my_custom_card_view{
        background: #FFFFFF; border-radius: 10px;
        width:90%;
        /*height: 560px;*/
    }
    iframe {
        height: 390px;
        width: 95%;
    }
    .success-step { color: #9ED438; float: right; }
    .inprogress-step { color: grey; float: right; }
    .warning-step { color: orange; float: right; }
    #tooltip {
        float: left;
        position: relative;
        bottom: 40px;
        color: #00A1DF;
        right: 20px;
    }
    select {
        position: relative; top: 20px;
    }
    .gotop { color: #00A1DF; }
    .para_style{
        margin-top: 10px;
        margin-left: 14px;
        font-weight: bold;
    }
    .capital_width{ width: 25%; }
    .text_style{ text-align: justify !important; }
    .taxes_paid_al{ margin-top:20px; height: 558px;  margin-bottom: 58px !important}
    .total_tax{ margin-top:20px; height: 340px; }
    .deduction_via{ margin-top:20px; height: 545px; }
    .income_other_source{ margin-top:20px; /*height: 356px;*/ }
    .cpital_gain{ margin-top:20px; /*height: 245px;*/ }
    .income_house{ margin-top:20px; /*height: 445px;*/ }
    .statement_income_mob{ margin-top:20px; /*height: 282px;*/ }
    .font_size_view{ font-size: 1.1em; }
    .font_size_gross_view { font-size: 1.2em; }
    .table > thead > tr > td{ text-align: center; }
    .income_charge_underss{
        width: 53% !important;
        font-weight: 600 !important;
    }
    .income_charge_undersss{
        width: 52% !important;
        font-weight: 600 !important;
    }
    .color_headertt{
        width: 34%;
        background: #009EDF;
        color: black;
        text-align: center !important;
        font-weight: bold !important;
    }
    .table > tbody > tr > td{ text-align: center; }
    .color_header{
        background: #009EDF!important;
        color: black!important;
        text-align: center !important;
        font-weight: bold !important;
    }
    .income_charge{
        width: 54%  !important;
        font-weight: 600 !important;
    }
    .income_charge_total{
        width: 54%  !important;
        font-weight: 600 !important;
    }
    .income_charge_under{
        width: 577px  !important;
        font-weight: 600 !important;
    }
    .description{
        margin-bottom: 45px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 12px;
    }
    .font_css{ font-weight: 700!important; }
    
    @media only screen and (min-width: 360px)  and (max-width: 640px){
        /*.statement_income_mob { height: 365px; }*/
        /*.income_house { height: 727px; }*/
        /*.cpital_gain { height: 365px; }*/
        /*.income_other_source { height: 349px; }*/
        .my_custom_card_view{
            width: 95%;
            margin-top: 80px;
        }
        .deduction_via { height: 508px; }
        .total_tax { height: 288px; }
        .taxes_paid_al { height: 578px; margin-bottom: 108px !important}
        .table > tbody > tr > td {
            text-align: center;
            font-size: 0.9em;
        }

        .table > thead > tr > th {
            padding: -1px 60px 1px 80px !important;
            font-size: 0.9em;
        }

        .mob_para{
            font-size: 0.9em;
            margin-bottom: 15px;
        }

      /*  #pricing_table > thead > tr > th {
            padding: -1px 60px 1px 80px !important;
            font-size: 0.9em;
        }*/
    }
</style>

<body ng-controller="index_cntrl" style="display: none">
    <form name="taxForm" method="post" ng-controller="review_cntrl" >
    <div class="app" id="app" ng-controller="review_controller">

        <div class='loader'>
          <span class="please_css">Please wait...</span>
        </div>
        <!-- ############ LAYOUT START-->
        {% include 'menubar_efiling.html'%}
        <div id="aside" class="app-aside fade nav-dropdown black">
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius nav_css">
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    {% include 'sidebar.html'%}
                </div>
                <!-- <div data-flex-no-shrink>
                    <div class="nav-fold dropup dark">
                        <a data-toggle="dropdown">
                            <div class="clear hidden-folded p-x">
                                <span class="block _500 text-muted">Goto Dashboard</span>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- content -->
        <input type="hidden" ng-init="user.client_id='{{client_id}}'" ng-model="user.client_id">
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
            
            <div class="app-body" ng-style="display_login">
                <div style="min-height: 200px;margin-top:100px;margin-bottom:80px;">
                <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                    <h5 style="font-weight: 600;text-align: center;">Personal Information</h5>

                    <a style="font-weight: 600;text-align: left;" ng-click="html_to_pdf()">Download PDF<%pdf_download%></a>

                    <div ng-show="pdf_download">
                        <a id="pdf_link" href="<%pdf_link%>" download>PDF Link</a>
                    </div>

                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="font_css">Name</th>
                                        <td><%client_name%></td>
                                    </tr>
                                    <tr>
                                        <th class="font_css">PAN</th>
                                        <td><%client_PAN%></td>
                                    </tr>
                                    <tr>
                                        <th class="font_css">Date of Birth</th>
                                        <td><%client_DOB%></td>
                                    </tr>
                                     <tr>
                                        <th class="font_css">Address</th>
                                        <td><%client_address%></td>
                                    </tr>
                                    <tr>
                                        <th class="font_css">Financial Year</th>
                                        <td><%return_detail_fy%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                       <!--  <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Financial Year</th>
                                    </tr>
                                    <tr>
                                        <td><%client_address%></td>
                                        <td>2017-18</td>
                                    </tr>
                                </thead>
                            </table>
                        </div> -->
                    </div>
                </div>
                <h5 style="font-weight: 600;text-align: center;">Statement of Income</h5>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statement_income_mob" ng-style="statement_income_div">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr><th class="color_header text_style">Income from Salary</th></tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr id='statement_company'>
                                        <td>Employer Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='statement_salary'>
                                        <td>Income from Salary</td>
                                    </tr>
                                    <tr id='statement_less_tax'>
                                        <td> Less Tax on employment</td>
                                    </tr>
                                    <tr ng-show="standard_deduction">
                                        <td> Standard Deduction</td>
                                        <td> 40,000</td>
                                    </tr>
                                    <tr id="entertainment_allowance">
                                        <td>Entertainment Allowance</td>
                                       <!--  <td> 40,000</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_view"> Income chargeable under the head Salaries</td>
                                        <!-- <td><%ICU_head_salary | currency:"":0%></td> -->
                                        <td class="font_css"><%ICU_head_salary%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 income_house" ng-style="style_income_house" >
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style">Income from House Property</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr id='hp_type'>
                                        <td class="capital_width">Property Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='hp_add'>
                                        <td>Address</td>
                                    </tr>
                                    <tr id='hp_rent'>
                                        <td> Rent Received</td>
                                    </tr>
                                    <tr id='hp_municipal'>
                                        <td>  Less Municipal Taxes</td>
                                    </tr>
                                    <tr id='hp_assessee_share'>
                                        <td>  Assessee’s Share</td>
                                    </tr>
                                     <tr id='hp_proportionate_annual_value'>
                                        <td>  Proportionate Annual Value</td>
                                    </tr>
                                    <tr id='hp_interest'>
                                        <td>  Less Interest Payable</td>
                                    </tr>
                                    <tr id='hp_deduction'>
                                        <td>  Less Standard Deduction @ 30%</td>
                                    </tr>
                                    <tr id='hp_net'>
                                        <td>Net Income from House Property</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_under font_size_view">
                                        Income chargeable under House Property</td>
                                        <!-- <td><%ICU_house_property | currency:"":0%></td> -->
                                        <td class="font_css"><%ICU_house_property%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cpital_gain" ng-style="capital_gain_div">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style"> Capital Gains </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="capital_width">Asset Class </td>
                                        <td class="capital_width" ng-show="col_shares">Shares</td>
                                        <td class="capital_width" ng-show="col_equity">Equity Mutual Fund</td>
                                        <td class="capital_width" ng-show="col_debt">Debt Mutual Fund</td>
                                        <td class="capital_width" ng-show="col_listed">Listed Debentures</td>
                                        <td class="capital_width" ng-show="col_total">Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Long Term</td>
                                        <td ng-show="col_shares"><%lt_shares%></td>
                                        <td ng-show="col_equity"><%lt_equity%></td>
                                        <td ng-show="col_debt"><%lt_debt%></td>
                                        <td ng-show="col_listed"><%lt_listed%></td>
                                        <td ng-show="col_total"><%lt_total%></td>
                                    </tr>
                                    <tr>
                                        <td> Short Term</td>
                                        <td ng-show="col_shares"><%st_shares%></td>
                                        <td ng-show="col_equity"><%st_equity%></td>
                                        <td ng-show="col_debt"><%st_debt%></td>
                                        <td ng-show="col_listed"><%st_listed%></td>
                                        <td ng-show="col_total"><%st_total%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="income_charge font_size_view"> Income chargeable under Capital Gains at special rates</th>
                                        <!-- <th><%ICU_capital_gain | currency:"":0%></th> -->
                                        <th class="font_css">
                                        <%Income_chargeable_CG_at_special_rates%>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="income_charge font_size_view"> Income chargeable under Capital Gains at applicable rates</th>
                                        <!-- <th><%ICU_capital_gain | currency:"":0%></th> -->
                                        <th class="font_css"><%Income_chargeable_CG_at_applicable_rates%></th>
                                    </tr>

                                    <tr>
                                        <th class="income_charge font_size_view"> Carry Forword Losses</th>
                                        <!-- <th><%ICU_capital_gain | currency:"":0%></th> -->
                                        <th class="font_css"><%carry_forword_losses%></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 income_other_source">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style">Income from other sources</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width: 54%">Interest Income </td>
                                        <td><%other_II%></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Other Income</td>
                                        <td><%other_OI%></td>
                                    </tr>
                                    <tr>
                                        <td>Savings Bank Interest</td>
                                        <td><%other_SBI%></td>
                                    </tr>
                                    <tr>
                                        <td>Dividend Exempt</td>
                                        <td><%other_DE%></td>
                                    </tr>
                                    <tr>
                                        <td>FD Interest</td>
                                        <td><%other_FD%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_view"> Income chargeable under other sources</td>
                                        <td class="font_css"><%ICU_other_sources%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive" style="margin-top: 12px;">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge font_size_gross_view">Gross Total Income</td>
                                        <td class="font_css"><%GTI%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 deduction_via">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style"> Deductions under Chapter VI A </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width:50%;">80 C </td>
                                        <td><%deduction_80C%></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:54%;">80 CCD</td>
                                        <td><%deduction_80CCD%></td>
                                    </tr>
                                    <tr>
                                        <td>80 G</td>
                                        <td><%deduction_80G%></td>
                                    </tr>
                                    <tr>
                                        <td>80 DD</td>
                                        <td><%deduction_80DD%></td>
                                    </tr>
                                    <tr>
                                        <td>80 U</td>
                                        <td><%deduction_80U%></td>
                                    </tr>
                                    <tr>
                                        <td>80 D</td>
                                        <td><%deduction_80D%></td>
                                    </tr>
                                    <tr>
                                        <td> 80 E</td>
                                        <td><%deduction_80E%></td>
                                    </tr>
                                    <tr ng-if="citizen_type=='OC'">
                                        <td> 80 TTA</td>
                                        <td><%deduction_80TTA%></td>
                                    </tr>
                                    <tr ng-if="citizen_type=='SC'">
                                        <td> 80 TTB</td>
                                        <td><%deduction_80TTB%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_total font_size_view">Total Deductions</td>
                                        <td class="font_css"><%Total_deduction%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive" style="margin-top: 12px;">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge" style="font-size: 1.2em;">
                                            Taxable Income
                                        </td>
                                        <td class="font_css"><%taxable_income%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 total_tax">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_headertt text_style">Total Tax Requirement</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td style="width:50%;">Income Tax at Normal Rates </td>
                                        <td><%IT_normal_rates%></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Income Tax at Special Rates</td>
                                        <td><%IT_special_rates%></td>
                                    </tr>
                                    <tr>
                                        <td>Rebate</td>
                                        <td><%rebate%></td>
                                    </tr>
                                    <tr>
                                        <td>Surcharge</td>
                                        <td><%surcharge%></td>
                                    </tr>
                                    <tr>
                                        <td>Add Education Cess 4%</td>
                                        <td><%education_cess%></td>
                                    </tr>
                                    <tr>
                                        <td>Tax with Cess</td>
                                        <td><%tax_with_cess%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 taxes_paid_al" ng-style="taxes_paid_al">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_header text_style">Taxes Already Paid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive" ng-style="taxes_paid_al_div">
                            <table class="table table-bordered m-a-0" id="table2">
                                <!-- <p class="para_style">Tax Deducted at Source</p> -->
                                <!-- <thead>
                                    <tr>
                                        <td style="width: 2%;"></td>
                                        <td style="width: 21%;">TAN</td>
                                        <td style="width: 31%;">Name</td>
                                        <td style="width: 21%;">Income Chargeable</td>
                                        <td>Tax Deducted</td>
                                    </tr>
                                </thead> -->
                                <tbody id='tax_al_paid'></tbody>
                            </table>
                        </div>
                        <div class="table-responsive" ng-style="taxes_paid_al_div">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_underss font_size_view">Total TDS Paid</td>
                                        <td><%total_tds_paid%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive" ng-style="adv_tax_div">
                            <table class="table table-bordered m-a-0" id="table2">
                                <!-- <p class="para_style"> Advance Tax / Self Assessment Tax Paid </p> -->
                                <!-- <thead>
                                    <tr>
                                        <td class="" style="width: 2%;"> </td>
                                        <td style="width: 24.5%;">Date of Tax Deposit</td>
                                        <td style="width: 24.5%;">BSR Code</td>
                                        <td style="width: 24.5%;">Challan No</td>
                                        <td style="width: 24.5%;">Tax Paid</td>
                                    </tr>
                                </thead> -->
                                <tbody id='self_tax_paid'></tbody>
                            </table>
                        </div>
                        <div class="table-responsive" ng-style="adv_tax_div">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_undersss font_size_view">Total Advance + Self Assessment Tax</td>
                                        <td><%total_adv_tax_paid%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table-responsive" ng-style="adv_tax_div">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <td class="income_charge_undersss font_size_view">Total Tax</td>
                                        <td><%total_tax%></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_headertt text_style">Taxes to be paid / refunded</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                      <td style="width: 50%">Balance Tax </td>
                                      <td><%balance_tax%></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Add Interest</td>
                                        <td><%add_interest%></td>
                                    </tr>
                                    <tr>
                                        <td>Tax <span ng-if="tax_payable_label=='Y'">Payable</span><span ng-if="refund_label=='Y'">Refund</span></td>
                                        <td><%tax_payable%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;" ng-if="automation=='Y'">
                    <div class="box">
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table2">
                                <thead>
                                    <tr>
                                        <th class="color_headertt text_style">Payment Details</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <!--  -->
                        <div class="table-responsive">
                            <table class="table table-bordered m-a-0" id="table3">
                                <thead>
                                    <tr>
                                      <td style="width: 50%">BSR Code </td>
                                      <td>
                                        <input class="md-input text-center" ng-model="pricing.BSR_code" numbers-only>
                                      </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Date of Deposit</td>
                                        <td> 
                                            <input class="md-input text-center" ng-model="pricing.date_of_deposit" ui-date-mask="DD/MM/YYYY" parse="false" ng-init="user.pan1_dob=''" placeholder="DD/MM/YYYY" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sr. No of Challan</td>
                                        <td> 
                                            <input class="md-input text-center" ng-model="pricing.challan_no" numbers-only>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td> Amount Paid </td>
                                        <td> 
                                            <input class="md-input text-center" ng-model="pricing.amount_paid" numbers-only>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                           </span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 field-message text-right" id="payment_details_error" style="padding-right: 161px">
                    <%payment_details_error%> 
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;" ng-if="automation=='Y'">
                            <div class="text-center">

                                 <button class="btn info" ng-click="calculate_tax_payable_again()">Update</button>
                              
                            </div>
                </div>

                <div class="content_dec">
                    <div class="description">
                        <p class="mob_para">Disclaimer: I hereby declare that the information provided by me on salattax.com for Income Tax Return Filing purposes is true and verifiable. I also declare that I have not withheld any information which is mandated by the Income Tax Department for Income Tax return filing.. I indemnify Salat Tax, its partners and consultants of any issues arising due to incorrect or incomplete data submitted by me and I bear total responsibility for the same.</p> 
                    </div>
                </div>
                <p style="margin-left: 12px;">
                    <input type="checkbox" ng-model="user.i_agree" ng-click="readNcontinue()"> I have read and understood the above disclaimer
                </p>
                <div style="margin-bottom: 20px;" class="row">
                    <div class="col-lg-4">
                        <div class="p-a text-center">
                            <button class="btn info" data-toggle="modal" data-target="#pricing" data-ui-toggle-class="zoom" data-dismiss="modal" data-ui-target="#animate" ng-disabled="btn_disable">Calculate E-Filing Charges & Pay</button>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-style="pay_directly_to_IT">
                        <div class="p-a text-center">
                            <button class="btn primary" ng-click="pay_to_IT()" ng-disabled="btn_disable">Pay Tax directly to Income Tax</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="p-a text-center">
                            <button class="btn warning" ng-click="generate_xml_validation()" ng-disabled="btn_disable">Save & File EReturn</button>
                        </div>
                    </div>
                </div>
                <div ng-show="xml_download">
                    <a href="<%xml_link%>" download>Download XML</a>
                </div>
                </div>
            </div>
            <div class="app-body" ng-style="display_logout">
                <div style="margin-top:20px;"> Kindly Login to continue. </div>
            </div>
         <!--    <div id="pricing" class="modal fade animate" data-backdrop="static" data-keyboard="false" style="margin-top:0.5%;" role="dialog">
                <div class="modal-dialog modal-lg my_custom_card_view">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close resg_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Pricing</h4>
                        </div>
                        <div class="modal-body">
                            <!-- <div style="border:2px solid #D5CC5A; overflow:hidden; margin:5px auto;">
                                <iframe src="/services#content" scrolling="no" align="center" style="border:0px none;height:1190px; margin-top: -400px;"></iframe>
                            </div> -->
<!--                             <div class="app" id="app" ng-controller="services_controller">
                                <div class="box m-t-n">
                                    <table class="table table-bordered">
                                        <tr class="thead_style">
                                            <th class="text-u-c p-v-sm m-a-0 m-t text-center">Complexity of Tax Return</th>
                                            <span class="text-2x"></span>
                                            <span class="text-xs"></span>
                                            <th class="m-a-0 m-l m-v text-center"> Actions </th>
                                            <th class="m-a-0 m-l m-v text-center"> Price </th>
                                            <span class="text-2x"></span>
                                            <span class="text-xs"></span>
                                        </tr>
                                        <tr id="formp">
                                            <td class="text_alignment">Basic Return Filing Charge </td>
                                            <td class="text-center">
                                                <select id="form16" onchange="select_form16()" ng-model="user_s.basic_return_filing_charge" class="md-input">
                                                    <option selected="" disabled="">-</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td>249</td>
                                        </tr>
                                        <tr id="formp">
                                            <td class="text_alignment"> No. of form16 </td>
                                            <td class="text-center">
                                                <select id="form16" onchange="select_form16()" ng-model="user_s.no_form16" class="md-input">
                                                    <option selected="" disabled="">-</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td id="price_value"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> No. of House Property </td>
                                            <td class="text-center">
                                                <select id="House" onchange="house()" ng-model="user_s.no_house" class="md-input">
                                                    <option selected="" disabled="">-</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td id="house_price"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Have you sold mutual fund in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="yfund(value)" name="mutual_fund" id="ymutual_fund" ng-model="user_s.sold_mf" value="300">
                                                <label for="ymutual_fund">Yes</label>
                                                <input type="radio" onchange="yfund(value)" name="mutual_fund" id="nmutual_fund" ng-model="user_s.sold_mf" value="0">
                                                <label for="nmutual_fund">No</label>
                                            </td>
                                            <td id="price_mutual_fund"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Have you sold shares in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="ynshare(value)" name="share" id="yshare" ng-model="user_s.sold_shares" value="300">
                                                <label for="yshare">Yes</label>
                                                <input onchange="ynshare(value)" type="radio" name="share" id="nshare" ng-model="user_s.sold_shares" value="0">
                                                <label for="nshare">No</label>
                                            </td>
                                            <td id="price_share"></td>
                                        </tr> -->
                                       <!--  <tr>
                                            <td class="text_alignment"> Have you sold any property  in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="pro_fin_sold(value)" name="pro_fin" id="pro_fin" value="5000">
                                                <label for="pro_fin">Yes</label>
                                                <input type="radio" onchange="pro_fin_sold(value)" name="pro_fin" id="npro_fin" value="0">
                                                <label for="npro_fin">No</label>
                                            </td>
                                            <td id="price_fin"></td>
                                        </tr> -->
<!--                                         <tr>
                                            <td class="text_alignment"> Do you need help of an expert to file return </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="expert_file_change(value)" name="expert_file" id="expert_file" value="500">
                                                <label for="expert_file">Yes</label>
                                                <input type="radio" onchange="expert_file_change(value)" name="expert_file" id="nexpert_file" value="0">
                                                <label for="nexpert_file">No</label>
                                            </td>
                                            <td id="price_expert"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Email support </td>
                                            <td class="text-center"> </td>
                                            <td>Free</td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Phone support </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="phone_expert_change(value)" name="phone_expert" id="phone_expert" value="100">
                                                <label for="phone_expert">Yes</label>
                                                <input type="radio" onchange="phone_expert_change(value)" name="phone_expert" id="nphone_expert" value="0">
                                                <label for="nphone_expert">No</label>
                                            </td>
                                            <td id="price_phone"></td>
                                        </tr>
                                        <tr>
                                            <td> Total Amount </td>
                                            <td></td>
                                            <td class="total_price"> </td>
                                        </tr>
                                    </table>
                                    <table class="table">
                                        <tr class="">
                                            <th class="text-center">
                                                <div style="margin-left: 90%"></div>
                                            </th>
                                            <th class="text-center">
                                                <button class="btn btn-primary btn-md" onclick="" ng-click="pay_efiling()">Pay</button>
                                            </th> -->
                                           <!--  <th class="text-center">
                                                <button class="btn btn-primary btn-md" onclick="all_total()"> Calculate</button>
                                            </th> -->
                                  <!--       </tr>
                                    </table>
                                    
                                    <div class="text-center" style="height: 42px;">
                                        Any applicable taxes will be added as per the latest government rules.
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div> -->
             <!--        </div>
                </div>
            </div> --> 
            <div id="pay_salat" class="modal fade animate" >
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <p class="text-center"><%modal_msg%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- pricing modal-->

            <div class="modal fade animate" id="pricing" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 class="modal-title text-center">Pricing
                            <input type="hidden" ng-model="pricing.RF_charges" ng-init="pricing.RF_charges='{{RF_charges}}'">
                          </h3>
                        </div>
                        <div class="modal-body">
                         <!--  <h5 class="text-center">Hello. Some text here.</h5> -->
                          
                                <table id="pricing_table" class="table table-bordered">
                                    <thead class="thead_style">
                                      <tr>
                                        <th class="text-center">Complexity of Tax Return</th>
                                        <th class="text-center">Price</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text_alignment">Minimum Return Filing Charges</td>
                                            <td class="text-center"><input class="md-input text-center" ng-model="pricing.basic_return_filing_charge" style="border-bottom:none" readonly></td>
                                        </tr>

                                        <tr ng-if="pricing.no_of_companies_hide_show=='yes'">
                                            <td class="text_alignment">No of Companies for Salaried Income - <%pricing.no_of_companies%></td>
                                            <td class="text-center"><input class="md-input text-center" ng-model="pricing.no_of_companies_charge" style="border-bottom:none" readonly></td>
                                        </tr>

                                        <tr ng-if="pricing.no_of_house_properties_hide_show=='yes'">
                                            <td class="text_alignment">No of House Properties - <%pricing.no_of_house_properties%></td>
                                            <td class="text-center"><input class="md-input text-center" ng-model="pricing.no_of_house_properties_charge" style="border-bottom:none" readonly></td>
                                        </tr>


                                        <tr>
                                            <td class="text_alignment">Capital Gain - Shares</td>
                                            <td class="text-center"><input class="md-input text-center" ng-model="pricing.CG_shares_charge" style="border-bottom:none" readonly></td>
                                        </tr>


                                        <tr>
                                            <td class="text_alignment">Capital Gain - Mutual Funds</td>
                                            <td class="text-center"><input class="md-input text-center" ng-model="pricing.CG_MF_charge" style="border-bottom:none" readonly></td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment">
                                                Do you want an Expert to Review your Return before Filing?<br>
                                                <span style="font-size: 14px;">
                                                When it comes to legal, medical & taxation it is a smart choice to take experts advice. </span>
                                            </td>
                                            <td class="text-center">
                                                <div style="display: inline-table;">
                                                    <input type="radio" ng-model="pricing.expert_review_charge_yes_or_no" value="yes" id="expert_review_charge_yes_or_no" ng-init="pricing.expert_review_charge_yes_or_no='no'" ng-click="expert_review_charges(pricing.expert_review_charge_yes_or_no)">
                                                    <label>Yes</label>
                                                    <input type="radio" ng-model="pricing.expert_review_charge_yes_or_no" ng-click="expert_review_charges(pricing.expert_review_charge_yes_or_no)" value="no" id="expert_review_charge_yes_or_no" style="margin-left: 3px;">
                                                    <label>No</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr ng-if="pricing.expert_review_charge_yes_or_no=='yes'">
                                            <td class="text_alignment">Expert Review Charges</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.expert_review_charge" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment">Email Support</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.email_support_charge" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>

             <!--                            <tr>
                                            <td class="text_alignment">
                                                Do you want phone support?<br>
                                                <span style="font-size: 14px;">

                                                </span>
                                               
                                            </td>
                                            <td class="text-center">
                                                <div style="display: inline-table;">
                                                    <input type="radio" ng-model="pricing.phone_support_charge_yes_or_no" value="yes" id="phone_support_charge_yes_or_no" ng-init="pricing.phone_support_charge_yes_or_no='no'" ng-click="phone_support_charges(pricing.phone_support_charge_yes_or_no)">
                                                    <label>Yes</label>
                                                    <input type="radio" ng-model="pricing.phone_support_charge_yes_or_no" ng-click="phone_support_charges(pricing.phone_support_charge_yes_or_no)" value="no" id="phone_support_charge_yes_or_no" style="margin-left: 3px;">
                                                    <label>No</label>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr ng-if="pricing.phone_support_charge_yes_or_no=='yes'">
                                            <td class="text_alignment">Phone Support</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.phone_support_charge" style="border-bottom:none" readonly>
                                            </td>
                                        </tr> -->

                                        <tr>
                                            <td class="text_alignment">Chat Support</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.chat_support_charge" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment">
                                                
                                                Do you want your return to be filed on priority basis?<br>
                                                <span style="font-size: 14px;">
                                                If you don’t like to wait in queue we understand. Opt for priority return filing and jump the queue. Your return will be filed in less than 2 hours on priority basis. </span>

                                               
                                            </td>
                                            <td class="text-center">
                                                <div style="display: inline-table;">
                                                    <input type="radio" ng-model="pricing.priority_RF_charge_yes_or_no" value="yes" id="priority_RF_charge_yes_or_no" ng-init="pricing.priority_RF_charge_yes_or_no='no'" ng-click="priority_RF_charges(pricing.priority_RF_charge_yes_or_no)">
                                                    <label>Yes</label>
                                                    <input type="radio" ng-model="pricing.priority_RF_charge_yes_or_no" ng-click="priority_RF_charges(pricing.priority_RF_charge_yes_or_no)" value="no" id="priority_RF_charge_yes_or_no" style="margin-left: 3px;">
                                                    <label>No</label>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr ng-if="pricing.priority_RF_charge_yes_or_no=='yes'">
                                            <td class="text_alignment">Priority Return Filing Charges</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.priority_RF_charge" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="text_alignment">Total Return Filing Charges</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.total_return_filing_charges" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment"></td>
                                            <td class="text-center">
                                               
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment">Referral Code</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.referral_code" ng-keyup="pricing.referral_code=pricing.referral_code.toUpperCase()" ng-blur="calculate_discount(pricing.referral_code,pricing.total_return_filing_charges)" limit-to="5" ng-disabled="referral_code">

                                                <span class="field-message" id="referral_code_error"><%referral_code_error%></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text_alignment">Discount</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.discount" style="border-bottom:none" readonly>
                                            </td>
                                        </tr>


                                        <tr ng-if="user.role=='Partner' || user.role=='Admin'">
                                            <td class="text_alignment">Expert Consultation Charges</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.expert_consultation_charge" ng-blur="expert_consultaion_charge_calculation()">
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="text_alignment">Total Amount Payable</td>
                                            <td class="text-center">
                                                <input class="md-input text-center" ng-model="pricing.total_amount_payable"  style="border-bottom:none" readonly>
                                            </td>
                                        </tr>


                                        <tr ng-if="user.role=='Partner'  || user.role=='Admin'">
                                            <td class="text_alignment">
                                                
                                                Mode of Payment

                                               
                                            </td>
                                            <td class="text-center">
                                                <div style="display: inline-table;">
                                                    <input type="radio" ng-model="pricing.mode_of_payment" value="Online" id="mode_of_payment" ng-init="pricing.mode_of_payment='Online'" >
                                                    <label>Online</label>
                                                    <input type="radio" ng-model="pricing.mode_of_payment" value="Cash" id="mode_of_payment" style="margin-left: 3px;">
                                                    <label>Cash</label>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr ng-if="pricing.net_amount_payable!=0 && pricing.total_amount_paid!=0">
                                            <td colspan="2">
                                                
                                            </td>
                                        </tr>

                                        <tr ng-if="pricing.net_amount_payable!=0 && pricing.total_amount_paid!=0">
                                            <td class="text_alignment">
                                                Total Amount Paid
                                            </td>
                                            <td><%pricing.total_amount_paid%></td>
                                        </tr>


                                        <tr ng-if="pricing.net_amount_payable!=0 && pricing.total_amount_paid!=0">
                                            <td class="text_alignment">
                                                Net Amount Payable
                                            </td>
                                            <td><%pricing.net_amount_payable%></td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                
                                            </td>
                                        </tr>


                                         <tr>
                                            <td colspan="2">

                                                <input type="radio" ng-model="pricing.terms_and_conditions" id="terms_and_conditions" ng-init="pricing.terms_and_conditions='false'" value="true" ng-click="hide_terms_and_condition_error(pricing.terms_and_conditions)">
                                                <label>I have read and understood the terms and conditions </label>

                                                <span id="terms_and_conditions_error" class="field-message"><%terms_and_conditions_error%></span>
                                                
                                            </td>
                                        </tr>




                                     
                                    </tbody>
                                </table>
                               
                             <!--  <div class="form-group">

                                <span id="pricing_api_error" class="field-message"><%pricing_api_error%></span>

                                <span style="color: green"><%pricing_api_msg%></span> -->
                               <!--  <input type="button" class="btn btn-warning btn-sm pull-right" value="Reset">
                                <div class="clearfix"></div> -->
                             <!--  </div> -->
                        </div>
               
                        <div class="modal-footer text-center">
                          <!--   <button type="button" class="btn btn-default " data-dismiss="modal">Close</button> -->
                            <button type="button" ng-click="RF_charges_details(pricing)" class="btn btn-primary">Proceed</button>

                        </div>
                        
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            </div>
            <!-- pricing modal end -->
            <!-- ############ PAGE END-->
        </div>
    </div>
    {% include 'footer_efiling.html'%}
    </form>
</body>

<script type="text/javascript">
   
    $(document).ready(function() {
        $('#btnGoTop').on('click', function(e) {
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
    });
    function money_format(value, currency) {
        result = currency + value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        return result.replace('.00','');
    }
</script>
<!-- pay to salat pop-up -->
<script type="text/javascript">
    $('.total_price').html('0');
    function all_total(){
        var form16 = document.getElementById("price_value");
        var form16=form16.innerText;

        var house=document.getElementById("house_price");
        var house=house.innerText;

        var yfund =document.getElementById("price_mutual_fund");
        var yfund=yfund.innerText;

        var ynshare =document.getElementById("price_share");
        var ynshare=ynshare.innerText;

        var expert_file =document.getElementById("price_expert");
        var expert_file=expert_file.innerText;

        var phone_expert =document.getElementById("price_phone");
        var phone_expert=phone_expert.innerText;

        var pro_fin_sold =document.getElementById("price_fin");
        var pro_fin_sold=pro_fin_sold.innerText;
          
        var total =Number(form16)+Number(house)+Number(yfund)+Number(ynshare)+Number(expert_file)+Number(phone_expert);
        var pro_fin = pro_fin_sold;
        var pro_fin=pro_fin.replace(/\D/g,'');
        var total=total+Number(pro_fin);
        $('.total_price').html(total);
    }
    function get_total_amt(){
        return $('.total_price').html();
    }
    function select_form16(){
        var form16 =document.getElementById('form16');
        var form16=form16.options[form16.selectedIndex].value;
        if(form16=="1"){
            // var d = $('#price_value').html('249');
            // $('#house_price').html('');
            $('#price_value').html('249');
        }if(form16=="2"){
            $('#price_value').html('498');
        }if(form16=="3"){
            $('#price_value').html('747');
        }if(form16=='0'){
            $('#price_value').html('0');
            // $('#house_price').html('200');
        }
    }
    function house(){
        var house =document.getElementById('House');
        var house=house.options[house.selectedIndex].value;
        var form16 =$('#form16').val();
        if(house=="1" || house=='0'){
            $('#house_price').html('0');
        }if(form16=="0"){
            $('#house_price').html('200');
        }else if(house=="2"){
            $('#house_price').html('400');
        }else if(house=="3"){
            $('#house_price').html('600');
        }else if(form16=="1"){
            $('#house_price').html('');
        }
    }
    function yfund(value){
        if(value=='300'){
            $('#price_mutual_fund').html('300');
            // $('#nmutual_fund').prop('checked',false);
        }else if(value=='0'){
            $('#price_mutual_fund').html('0');
            // $('#ymutual_fund').prop('checked',false);
        }
        all_total();
    }
    function ynshare(value){
        if(value=='300'){
            $('#price_share').html('300');
            // $('#nshare').prop('checked',false);
        }else if(value=='0'){
            $('#price_share').html('0');
            // $('#yshare').prop('checked',false);
        }
        all_total();
    }
    function expert_file_change(value){
        if(value=='500'){
            $('#price_expert').html('500');
            // $('#nexpert_file').prop('checked',false);
        }else if(value=='0'){
            $('#price_expert').html('0');
            // $('#expert_file').prop('checked',false);
        }
        all_total();
    }
    function phone_expert_change(value){
        if(value=='100'){
            $('#price_phone').html('100');
            // $('#nphone_expert').prop('checked',false);
        }else if(value=='0'){
            $('#price_phone').html('0');
            // $('#phone_expert').prop('checked',false);
        }
        all_total();
    }
    function pro_fin_sold(value){
        if(value=='5000'){
            $('#price_fin').html('5000 Onwards');
            // $('#npro_fin').prop('checked',false);
        }else if(value=='0'){
            $('#price_fin').html('0');
            $('.onwards').html('');
            // $('#pro_fin').prop('checked',false);
        }
        all_total();
    }
</script>
</html>
<!-- 985 -->