{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Registration</title>
<meta name="description" content="Registration" />
<head>
{% include 'header.html'%}
<script src="{% static 'js/salat_tax.js' %}"></script>

<style type="text/css">
.email_css{
    position: relative;
    right:6%;
}
    #resend_otp{ }
    .s-color{ color: #0c5579; }
    .f-div{
        padding-bottom: 9px;
        text-align: right;
    }
    .m-div{
        border: 1px solid #eee;
        border-radius: 8px;
        background: #f9f9f9;
    }
    .label-color{ color: #1A2531; }
    .table-margin{ margin-left: 22%; }
    .css-typing p {
        border-right: .15em solid orange;
        white-space: nowrap;
        overflow: hidden;
    }
    .css-typing p:nth-child(1) {
        width: 8.3em;
        -webkit-animation: type 5s steps(40, end);
        animation: type 3s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        border-right: .15em solid orange;
    }
    .css-typing p:nth-child(2) {
        width: 12.5em;
        opacity: 0;
        -webkit-animation: type2 4s steps(40, end);
        animation: type2 4s steps(40, end);
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        border-right: .15em solid orange;
    }
    .css-typing p:nth-child(3) {
        width: 14.5em;
        opacity: 0;
        -webkit-animation: type3 8s steps(40, end);
        animation: type3 6s steps(40, end);
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        border-right: .15em solid orange; 
    }
    @keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @-webkit-keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @-webkit-keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @keyframes blink {
        50% { border-color: transparent;}
    }
    @-webkit-keyframes blink {
        50% { border-color: tranparent;}
    }
    /*end animated auto text*/
    /*second animated auto type text*/
    .css-typings p {
        border-right: .15em solid orange;
        white-space: nowrap;
        overflow: hidden;
        
    }
    .css-typings p:nth-child(1) {
        width: 18.3em;
        -webkit-animation: type 8s steps(40, end);
        animation: type 4s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .css-typings p:nth-child(2) {
        width: 10.5em;
        opacity: 0;
        -webkit-animation: type2 9s steps(40, end);
        animation: type2 4s steps(40, end);
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .css-typings p:nth-child(3) {
        width: 14.9em;
        opacity: 0;
        -webkit-animation: type3 9s steps(40, end);
        animation: type3 6s steps(40, end);
        -webkit-animation-delay: 9s;
        animation-delay: 9s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @-webkit-keyframes type {
        0% { width: 0; }
        99.9% { border-right: .15em solid orange; }
        100% { border: none; }
    }
    @keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @-webkit-keyframes type2 {
        0% { width: 0; }
        1% { opacity: 1; }
        99.9% { border-right: .15em solid orange; }
        100% {
            opacity: 1;
            border: none;
        }
    }
    @keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes type3 {
        0% { width: 0; }
        1% { opacity: 1; }
        100% { opacity: 1; }
    }
    @keyframes blink {
        50% { border-color: transparent; }
    }
    @-webkit-keyframes blink {
        50% { border-color: tranparent; }
    }
    /*end animated auto text*/
    .err_css{ color: #ff1212; }
    .same_input{
        margin-left: 50px;
        width: 40%;
    }
    .center_btn{
        border-top: 1px solid #eee;
    }
    .read_policy_css{
        border: 1px solid #eee;
        padding: 12px;
        border-radius: 8px;
        color: #1A2632;
        width: 95%;
        margin-left: 15px;
        font-size: 0.8rem;
        background: #f9f9f9;
    }
    .para_style{
        border-top: 1px solid #e0e0e0;
        padding: 10px;
        padding-bottom: 0px;
        color: #1A2632;
    }
    .para_style_s{
        border-top: 1px solid #e0e0e0;
        padding: 10px;
        color: #1A2632;
    }
    .modal-content{ border-radius: 8px!important; }
    .modal_color{ color: #113d6d; }
    .img_success{ width: 250px; }
    .copy_right_css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .inline_footer{ padding-top: 30px; }
    .footer_css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .dot_style{ margin-left:10px; }
    #modal_otp{ margin-top: 30px; }
    #modal_success{ margin-top: 50px; }
    #wait_modal{ margin-top: 50px; }
    .error_style{ color: #ff1212; }
    .tax_style{
        margin-bottom:20px;
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
        margin-bottom: 3rem;
    }
    .p-t-lg{
        padding-top:5rem!important;
        padding-bottom: 1rem!important;
    }
    .card-header{ border-bottom: 1px solid #00B8ED!important; }
    .card_taxs{
        background: #b3e1e8;
        color: #113d6d;
    }
    .card_tax{
        border-radius: 0;
        padding: 12px;
        margin-bottom: 17px;
    }
    .resg_css{
        background: #b3e1e8;
        color: white;
        padding: 4px 12px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .pan_dob_style{ 
        width: 20%;
        margin-left: 50px;
        padding: 0!important;
    }

    .pan_email_style{
            width: 40%;
            /*margin-left: 9px;*/
            position: relative;
            left: 25%;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 480px) and (min-width: 320px){ }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        #resend_otp { }
        .t-w{ width: 50%; }
        body{ margin:10px!important; }
        .center_btn {
            border-top: 1px solid #eee;
        }
        .table-margin{ margin-left: 10px; }
        #wait_modal { margin-top: 50px; }
        #otp_modal { margin-top: 50px; }
        .custom_top{
            position: relative;
            top: 70px!important;
        }
        .same_input {
            margin-left: 50px;
            width: 55%;
        }
        .para_style_s {
            border-top: 1px solid #e0e0e0;
            padding: 6px;
            color: #1A2632;
        }
        .pan_dob_style{
            width: 28%;
            margin-left: 9px;
        }

        .pan_email_style{
            width: 50%;
            /*margin-left: 9px;*/
            position: relative;
            left: 15%;
        }
        .email_css {
            position: relative;
            right: 12%;
        }

        .tax_style { padding: 1px 10px 1px; }
        .read_policy_css{ margin-left: 10px; }
        .para_modal { font-size: 18px!important; }
        .css-typings p:nth-child(1) {
            width: 20.3em;
            -webkit-animation: type 10s steps(40, end);
            animation: type 6s steps(40, end);
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typings p:nth-child(2) {
            width: 10.5em;
            opacity: 0;
            -webkit-animation: type2 10s steps(40, end);
            animation: type2 6s steps(40, end);
            -webkit-animation-delay: 6s;
            animation-delay: 6s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typings p:nth-child(3) {
            width: 14.9em;
            opacity: 0;
            -webkit-animation: type3 11s steps(40, end);
            animation: type3 11s steps(40, end);
            -webkit-animation-delay: 11s;
            animation-delay: 11s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typing p:nth-child(1) {
            width: 8.3em;
            -webkit-animation: type 5s steps(40, end);
            animation: type 4s steps(40, end);
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typing p:nth-child(2) {
            width: 12.5em;
            opacity: 0;
            -webkit-animation: type2 7s steps(40, end);
            animation: type2 5s steps(40, end);
            -webkit-animation-delay: 5s;
            animation-delay: 5s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        .css-typing p:nth-child(3) {
            width: 14.5em;
            opacity: 0;
            -webkit-animation: type3 9s steps(40, end);
            animation: type3 9s steps(40, end);
            -webkit-animation-delay: 10s;
            animation-delay:10s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    @keyframes blink {
        0% { opacity: .2; }
        20% { opacity: 1; }
        100% { opacity: .2; }
    }
    .para_modal span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        color: orange;
        font-weight: bold;
        letter-spacing: 5px;
        animation-fill-mode: both;
    }
    .para_modal span:nth-child(2) {
        animation-delay: .2s;
    }
    .para_modal span:nth-child(3) {
        animation-delay: .4s;
    }
    .para_modal{ font-size: 1.4rem; }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(/static/img/loader-final-2.gif) 50% 50% no-repeat rgb(255,255,255);
        opacity: .6;
    }
     @media only screen and (max-width: 1024px) and (min-width: 768px){
        .pan_dob_style {
            width: 21%!important;
            margin-left: 50px!important;
            padding: 0!important;
        }
    }
</style>
</head>

<body id="container" ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="salat_tax_controller">
        <div class="loader"></div>
        <div class="row-col1">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <div class="col-sm-12 text-center row-main">
                <div class="p-t-lg"> <h1 class="m-y-md"></h1> </div>
            </div>
            <div class="row row-main">
                <div class="col-md-3 col-sm-3 col-lg-3 text-center row-main"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 text-center tax_style row-main">
                    <div class="card-header card_taxs"><h4 class="heading_colors">One time registration with Salat Tax</h4></div>
                    <div class="card bg-dark mb-3 card_tax">
                        <div class="card-body">
                            <div class="md-form-group float-label " ng-if="role=='Partner' || role=='Admin'">
                                <label class="email_css">Email</label>
                                <input type="text" ng-model="user.email" class="md-input pan_email_style" ng-init="user.email=''">
                            </div>
                            <div class="md-form-group float-label ">
                                <label>Permanent Account No  (PAN)</label>
                                <input type="text" ng-model="user.pan" class="md-input pan_dob_style" ng-keyup="user.pan=user.pan.toUpperCase();show_msg(user)" ng-init="user.pan=''">
                            </div>
                            <div class="md-form-group float-label ">
                                <label>Date of birth as per PAN card</label>
                                <input ng-model="user.dob" my-date class="md-input pan_dob_style" ng-init="user.dob=''" ng-keyup="show_msg(user)">
                            </div>
                            <div>
                                <span class="error_style"><%pan_err%></span><br>
                                <span class="error_style"><%mail_err%></span><br>
                                <span class="error_style"><%mail1_err%></span>
                              <!--   <span class="error_style"><%partner_err%></span> -->
                            </div>
                            <p class="para_style" ng-show="otp_msg">On clicking the submit button you will receive OTP's on Email ID and Mobile No. registered with Income Tax department.</p>
                            <!-- <button ng-click="get_ITR()" button type="button" class="btn btn-md blue p-x-md btn-md"> Submit </button> -->
                            <button ng-click="multiple_eri();user_tracking('click btn','Register as Salat Client');" button type="button" class="btn btn-md blue p-x-md btn-md" onclick="ga('send','event','btn click','Register as Salat Client','Submit',1);track_FP('btn click','Register as Salat Client');"> Submit </button>
                            <!-- <br>
                            <h1 id="stopwatch"><time>00:00:00</time></h1> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 text-center row-main"></div>
            </div>
        </div>

        <div class="">
            <!-- <button type="button" class="btn" data-toggle="modal" data-target="#modal_otp">otp</button> -->
            <div class="modal fade" id="modal_otp" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content custom_top">
                        <div class="modal-header resg_css">
                            <h4 class="modal-title modal_color">Please enter OTP which you must received on below </h4>
                        </div>
                        <div class="modal-body">
                            <div class="m-div">
                                <table class="table-margin">
                                    <tr>
                                        <td class="md-form-group float-label t-w">
                                            <label class="label-color"><%email_txt%>
                                            <!-- jaxxxxxxxxxxx5@gmail.com -->
                                            <!-- Registered Email ID -->
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="md-input text-center same_input" ng-model="user.mail_otp" ng-init="user.mail_otp=''" ng-change="hide_resend(user)" placeholder="Email OTP">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="md-form-group float-label">
                                            <label class="label-color"><%mobile_txt%>
                                            <!-- 88XXXXXX14 -->
                                            <!-- Mobile No. Registered in IT -->
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="md-input text-center same_input" ng-model="user.mobile_otp" ng-init="user.mobile_otp=''" ng-change="hide_resend(user)" placeholder="Mobile OTP">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"> <label class="err_css"><%otperr%></label> </td>
                                    </tr>
                                </table>
                                <p class="para_style">
                                    <center>
                                    <button type="button" class="btn btn-md blue center_btn" id="resend_otp" ng-click="resend_otp(user,$event);user_tracking('click btn','Resend OTP');" ng-show="show_resend_btn" onclick="ga('send','event','btn click','Resend Button','Label',1);track_FP('btn click','Resend Button');">Resend OTP</button>
                                    <button type="button" class="btn btn-md blue center_btn" ng-click="get_otp(user,$event);user_tracking('click btn','Submit OTP');" onclick="ga('send','event','btn click','Submit OTP','Label',1);track_FP('btn click','Submit OTP');">Submit</button>
                                    </center>
                                </p>
                                <p class="para_style" style="font-size: 0.8rem;">Please check for email in your Inbox as well as the Spam or Junk folder ( mail id - <strong class="s-color">DONOTREPLY@incometaxindiaefiling.gov.in</strong> )
                                </p>
                                <p class="para_style">By clicking the submit button your income tax related data would be fetched from income tax website for providing you customized tax planning advice.<br> Are you ready to begin ?</p>
                                <div class="f-div"> </div>
                            </div>
                        </div>
                        <p class="read_policy_css">Note : Income Tax is a subject matter of solicitation please read all policy documents carefully.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--success modal-->
        <div class="container row-main">
           <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_otp_test">otp</button> -->
            <div class="modal fade" id="modal_success" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header resg_css">
                            <h4 class="modal-title modal_color text-center">Registration Successful</h4>
                        </div>
                        <div class="modal-body"> 
                        <center>
                            <img src="../static/images/success.png" class="img_success">
                            <h3 class="success_msg">Congratulations!</h3>
                        </center> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container row-main">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wait_modal">wait_modal</button> -->
            <div class="modal fade" id="wait_modal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="css-typing">
                                <p class="para_modal"> <%wait_modal_text1%> </p>
                                <p class="para_modal"> <%wait_modal_text2%> </p>
                                <p class="para_modal">This could take up to a minute<span class="dot_style">.</span><span>.</span><span>.</span></p>
                            </div>
                            <h1 id="reverse_timer"><time>00</time></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#end_modal">end_modal</button> -->
        <div class="modal fade" id="end_modal" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p class="para_modal"> It seems that too many users are checking their Tax Leakage right now. </p>
                            <p class="para_modal"> Request you to check your Tax Leakage in some time. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container row-main">
           <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otp_modal">wait_modal</button> -->
            <div class="modal fade" id="otp_modal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="css-typings">
                                <p class="para_modal">Confirming your registration on Salat Tax</p>
                                <p class="para_modal">Good things take time.</p>
                                <p class="para_modal">This could take up to a minute<span class="dot_style">.</span><span>.</span><span>.</span></p>
                            </div>
                            <h1 id="reverse_timer1"><time>00</time></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        {% include 'footer.html'%}
    </div>
    </form>
    
    <script type="text/javascript">
        var wait_modal_status = 0;
        var wait_seconds=90;
        $(document).on('show.bs.modal', '#modal_otp', function (e) {
            document.getElementById("resend_otp").disabled = true;
            setTimeout(function(){
                document.getElementById("resend_otp").disabled = false;
            }, 60000);
        });
        $(document).on('show.bs.modal', '#wait_modal', function (e) {
            wait_modal_status = 1;
            setTimeout(function(){
                r_cleartimer();
                r_timer();
            }, 2000);
            // alert('show');
        });
        $(document).on('hide.bs.modal', '#wait_modal', function (e) {
            wait_modal_status = 0;
            r_stoptimer();
            r_cleartimer();
            // alert('hide');
        });
        $(document).on('show.bs.modal', '#end_modal', function (e) {
            setTimeout(function(){

                console.log(role)
                if(role=='Client')
                    window.location.href = "/salat_reg";

            }, 10000);
        });
        /*function money_format(value, currency) {
            result = currency + value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            return result.replace('.00','');
        }*/
        // https://jsfiddle.net/Daniel_Hug/pvk6p/
        var seconds = 0, minutes = 0, hours = 0,t;
        var r_seconds = wait_seconds, r_minutes = 0, r_hours = 0,r_t;
        function add() {
            seconds++;
            if (seconds >= wait_seconds) {
                seconds = 0;
                minutes++;
                if (minutes >= wait_seconds) {
                    minutes = 0;
                    hours++;
                }
            }
            
            document.getElementById('stopwatch').textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

            timer();
        }
        function timer() {
            t = setTimeout(add, 1000);
        }
        function stoptimer() {
            clearTimeout(t);
        }
        function cleartimer() {
            document.getElementById('stopwatch').textContent = "00:00:00";
            seconds = 0; minutes = 0; hours = 0;
        }
        function substract() {
            r_seconds--;
            if (r_seconds >= wait_seconds) {
                r_seconds = 0;
                r_minutes++;
                if (r_minutes >= wait_seconds) {
                    r_minutes = 0;
                    r_hours++;
                }
            }
            if(r_seconds == 0 && wait_modal_status == 1){
                // console.log(wait_modal_status);
                var scope = angular.element(document.getElementById('container')).scope();
                ga('send','event','Show Popup','Waiting Timer Ended','Label',1);
                track_FP('Show Popup','Waiting Timer Ended');
                scope.user_tracking('Show Popup','Waiting Timer Ended');

                setTimeout(function(){
                    $('#wait_modal').modal('hide');
                    $('#end_modal').modal('show');
                }, 3000);
            }
            if(r_seconds>=0){
                document.getElementById('reverse_timer').textContent = (r_seconds > 9 ? r_seconds : "0" + r_seconds);
                document.getElementById('reverse_timer1').textContent = (r_seconds > 9 ? r_seconds : "0" + r_seconds);

                r_timer();
            }else{
                r_cleartimer();
            }
        }
        function r_timer() {
            r_t = setTimeout(substract, 1000);
        }
        function r_stoptimer() {
            clearTimeout(r_t);
        }
        function r_cleartimer() {
            document.getElementById('reverse_timer').textContent = "00";
            document.getElementById('reverse_timer1').textContent = "00";
            r_seconds = wait_seconds; r_minutes = 0; r_hours = 0;
        }

        function get_wait_modal_status(){
            // console.log(wait_modal_status);
            return wait_modal_status;
        }
    </script>

</body>
</html>
<!-- AOYPB3210P -->
