{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Other Details</title>
<meta name="description" content="Other Details, Bank Details" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/other_details.js' %}"></script>
<!-- <head>
  <meta charset="utf-8" />
  <title>Salat Tax | Other Details</title>
  <meta name="description" content="Other Details" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

  <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

  <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
  <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/other_details.js' %}"></script>

</head> -->
<style type="text/css">
  .error_field{ color: red; }
  .success-step {
    color: #9ED438;
    float: right;
  }
  .inprogress-step {
    color: grey;
    float: right;
  }
  .warning-step {
    color: orange;
    float: right;
  }
  #tooltip {
    float: left;
    position: relative;
    bottom: 40px;
    color: #00A1DF;
    right: 20px;
  }
  select {
    position: relative;
    top: 20px;
  }
  .gotop { color: #00A1DF; }
</style>

<body ng-controller="index_cntrl" style="display: none">
  <div ng-controller="other_details_cntrl">
  <div class="app" id="app"  ng-controller="other_details_controller">
    <!-- ############ LAYOUT START-->
    <!-- aside -->
    {% include 'menubar_efiling.html'%}

    <div id="aside" class="app-aside fade nav-dropdown black">
      <!-- fluid app aside -->
      <div class="navside dk" data-layout="column">
        <div class="navbar blue no-radius">
            <!-- brand -->
            <a href="index.html" class="navbar-brand">
              <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
            </a>
            <!-- / brand -->
        </div>
        <div data-flex class="hide-scroll dark">
          <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
          {% include 'sidebar.html'%}
        </div>
      </div>
    </div>
    <!-- content -->
    <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
      
      <div class="app-body" ng-style="display_login">
        <!-- only need a height for layout 4 -->
        <div style="min-height: 200px;margin-top:67px;">
         <!--  <h4 style="margin-left:20px;">Other Details</h4> -->
          <form name="taxForm" role="form" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                  <div class="b-b _800" style="padding-top: 1.2rem;padding-bottom: 1rem"><h5>Other Details</h5></div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
              <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
              <label style="position:relative;top:30px;"> Select Employer Category</label>
              <select id="employer_category" class="md-input" ng-model="user.employer_category" ng-change="validation('employer_category',user.employer_category);" ng-init="user.employer_category=''">
                <option selected="" value="">-</option>
                <option value="GOV">GOV</option>
                <option value="PSU">PSU</option>
                <option value="Other">Other</option>
                <option value="NA">NA</option>
              </select>
              <div class="error_field">
                <p> <span ng-messages="taxForm.employer_category.$error"><%employer_category_error%> </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
              <label style="position:relative;top:30px;"> Select Residential Status</label>
              <select class="md-input" ng-model="user.residential_status" ng-change="validation('residential_status',user.residential_status);" ng-init="user.residential_status=''">
                <option selected="" value="">-</option>
                <option value="NRI">NRI</option>
                <option value="R-NOR">R-NOR</option>
                <option value="RES">RES</option>
              </select>
              <div class="error_field">
                <p> <span ng-messages="taxForm.residential_status.$error"><%residential_status_error%> </p>
              </div>
            </div>

           <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:relative;bottom:20px;"> -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group" style="position:relative;right:20px;">
                <label style="position:relative;top:30px;">Select No. of Banks</label>
                <select id="noofbanks" class="md-input" onchange="nobanks()" style="margin-bottom:20px;" ng-model="user.noofbanks" ng-change="validation('noofbanks',user.noofbanks);" ng-init="user.noofbanks=''">
                  <option selected="" value="">-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.noofbanks.$error"><%noofbanks_error%> </p>
                </div>
              </div>
            <!-- </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank1Details" style="display:none">
              <center>
                <h5 style="color:#089CE4"> Bank 1 </h5>
              </center>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="ifsc1_div">
                  <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc1" ng-keyup="user.od_ifsc1=user.od_ifsc1.toUpperCase();validation('od_ifsc1',user.od_ifsc1);" ng-blur="validation('od_ifsc1',user.od_ifsc1)" ng-init="user.od_ifsc1=''">
                  <label>IFSC Code</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_ifsc1.$error" role="alert"><%ifsc1err%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" >
                <select id="bank_name" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name1" ng-change="validation('od_bank_name1',user.od_bank_name1);" ng-init="user.od_bank_name1=''">
                  <option selected="" value="">Select Bank</option>
                  {% for b in Bank_List %}
                  <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                  {% endfor %}
                </select>
                <div class="error_field" >
                  <p> <span ng-messages="taxForm.od_bank_name1.$error"><%od_bank_name1_error%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="acc1_div">
                  <input class="md-input" ng-model="user.od_account_no1" ng-keyup="validation('od_account_no1',user.od_account_no1);" ng-blur="validation('od_account_no1',user.od_account_no1)"  ng-init="user.od_account_no1=''">
                  <label>Account Number</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_account_no1.$error" role="alert"><%accountno1err%> </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <label for="account_type1" style="position:relative;bottom:10px;">Account Type</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type1" id="savings1" value="savings" ng-model="user.account_type1" ng-click="validation('account_type1',user.account_type1)" ng-init="user.account_type1='savings'">
                  <label for="account_type1">Savings</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type1" id="current1" value="current" ng-model="user.account_type1" ng-click="validation('account_type1',user.account_type1)">
                  <label for="account_type1">Current</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.account_type1.$error" role="alert"><%account_type1_error%> </p>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                      <div class="col-sm-7">
                        <input type="file" class="form-control">
                      </div>
                  </div>
              </div> -->
            </div>

            <!--  Bank 2 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank2Details" style="display:none">
              <center>
                <h5 style="color:#089CE4"> Bank 2 </h5>
              </center>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="ifsc2_div">
                  <input class="md-input" ng-model="user.od_ifsc2" ng-keyup="user.od_ifsc2=user.od_ifsc2.toUpperCase();validation('od_ifsc2',user.od_ifsc2);" ng-blur="validation('od_ifsc2',user.od_ifsc2)" ng-init="user.od_ifsc2=''">
                  <label>IFSC Code</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_ifsc2.$error"><%ifsc2err%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                <select id="bank_name2" class="md-input" style="margin-bottom:15px"ng-model="user.od_bank_name2" ng-change="validation('od_bank_name2',user.od_bank_name2);" ng-init="user.od_bank_name2=''">
                  <option selected="" value="">Select Bank</option>
                  {% for b in Bank_List %}
                  <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                  {% endfor %}
                </select>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_bank_name2.$error" role="alert"><%od_bank_name2_error%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="acc2_div">
                  <input class="md-input" ng-model="user.od_account_no2" ng-keyup="validation('od_account_no2',user.od_account_no2);" ng-blur="validation('od_account_no2',user.od_account_no2)" ng-init="user.od_account_no2=''">
                  <label>Account Number</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_account_no2.$error" role="alert"><%accountno2err%> </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <label for="account_type2" style="position:relative;bottom:10px;">Account Type</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type2" id="savings2" value="savings" ng-model="user.account_type2" ng-click="validation('account_type2',user.account_type2)" ng-init="user.account_type2='savings'">
                  <label for="account_type2">Savings</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type2" id="current2" value="current" ng-model="user.account_type2" ng-click="validation('account_type2',user.account_type2)">
                  <label for="account_type2">Current</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.account_type2.$error"><%account_type2_error%> </p>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                  <div class="col-sm-7">
                    <input type="file" class="form-control">
                  </div>
                </div>
              </div> -->
            </div>

            <!-- Bank 3 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank3Details" style="display:none">
              <center>
                <h5 style="color:#089CE4"> Bank 3 </h5>
              </center>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="ifsc3_div">
                  <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc3" ng-keyup="user.od_ifsc3=user.od_ifsc3.toUpperCase();validation('od_ifsc3',user.od_ifsc3);" ng-blur="validation('od_ifsc3',user.od_ifsc3)">
                  <label>IFSC Code</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_ifsc3.$error" role="alert"><%ifsc3err%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                <select id="bank_name3" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name3" ng-change="validation('od_bank_name3',user.od_bank_name3);">
                  <option selected="" value="">Select Bank</option>
                  {% for b in Bank_List %}
                  <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                  {% endfor %}
                </select>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_bank_name3.$error"><%od_bank_name3_error%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="acc3_div">
                  <input class="md-input" ng-model="user.od_account_no3" ng-keyup="validation('od_account_no3',user.od_account_no3);" ng-blur="validation('od_account_no3',user.od_account_no3)">
                  <label>Account Number</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_account_no3.$error"><%accountno3err%> </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <label for="account_type3" style="position:relative;bottom:10px;">Account Type</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type3" id="savings3" value="savings" ng-model="user.account_type3" ng-click="validation('account_type3',user.account_type3)" ng-init="user.account_type3='savings'">
                  <label for="account_type3">Savings</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type3" id="current3" value="current" ng-model="user.account_type3" ng-click="validation('account_type3',user.account_type3)">
                  <label for="account_type3">Current</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.account_type3.$error"><%account_type3_error%> </p>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                  <div class="col-sm-7">
                    <input type="file" class="form-control">
                  </div>
                </div>
              </div> -->
            </div>

            <!-- Bank 4 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank4Details" style="display:none">
              <center>
                <h5 style="color:#089CE4"> Bank 4 </h5>
              </center>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="ifsc4_div">
                  <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc4" ng-keyup="user.od_ifsc4=user.od_ifsc4.toUpperCase();validation('od_ifsc4',user.od_ifsc4);" ng-blur="validation('od_ifsc4',user.od_ifsc4)">
                  <label>IFSC Code</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_ifsc4.$error" role="alert"><%ifsc4err%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                <select id="bank_name4" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name4" ng-change="validation('od_bank_name4',user.od_bank_name4);">
                  <option selected="" value="">Select Bank</option>
                  {% for b in Bank_List %}
                  <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                  {% endfor %}
                </select>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_bank_name4.$error"><%od_bank_name4_error%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="acc4_div">
                  <input class="md-input" ng-model="user.od_account_no4" ng-keyup="validation('od_account_no4',user.od_account_no4);" ng-blur="validation('od_account_no4',user.od_account_no4)">
                  <label>Account Number</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_account_no4.$error"><%accountno4err%> </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <label for="account_type4" style="position:relative;bottom:10px;">Account Type</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type4" id="savings4" value="savings" ng-model="user.account_type4" ng-click="validation('account_type4',user.account_type4)" ng-init="user.account_type4='savings'">
                  <label for="account_type4">Savings</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type4" id="current4" value="current" ng-model="user.account_type4" ng-click="validation('account_type4',user.account_type4)">
                  <label for="account_type4">Current</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.account_type4.$error"><%account_type4_error%> </p>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                  <div class="col-sm-7">
                    <input type="file" class="form-control">
                  </div>
                </div>
              </div> -->
            </div>

            <!-- Bank 5  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank5Details" style="display:none">
              <center>
                <h5 style="color:#089CE4"> Bank 5 </h5>
              </center>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="ifsc5_div">
                  <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc5" ng-keyup="user.od_ifsc5=user.od_ifsc5.toUpperCase();validation('od_ifsc5',user.od_ifsc5);" ng-blur="validation('od_ifsc5',user.od_ifsc5)">
                  <label>IFSC Code</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_ifsc5.$error"><%ifsc5err%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                <select id="bank_name5" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name5" ng-change="validation('od_bank_name5',user.od_bank_name5);">
                  <option selected="" value="">Select Bank</option>
                  {% for b in Bank_List %}
                  <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                  {% endfor %}
                </select>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_bank_name5.$error"><%od_bank_name5_error%> </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label" id="acc5_div">
                  <input class="md-input" ng-model="user.od_account_no5" ng-keyup="validation('od_account_no5',user.od_account_no5);" ng-blur="validation('od_account_no5',user.od_account_no5)">
                  <label>Account Number</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.od_account_no5.$error"><%accountno5err%> </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <br>
                  <label for="account_type5" style="position:relative;bottom:10px;">Account Type</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type5" id="savings5" value="savings" ng-model="user.account_type5" ng-click="validation('account_type5',user.account_type5)" ng-init="user.account_type5='savings'">
                  <label for="account_type5">Savings</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <input type="radio" name="account_type5" id="current5" value="current" ng-model="user.account_type5" ng-click="validation('account_type5',user.account_type5)">
                  <label for="account_type5">Current</label>
                </div>
                <div class="error_field">
                  <p> <span ng-messages="taxForm.account_type5.$error"><%account_type5_error%> </p>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                  <div class="col-sm-7">
                    <input type="file" class="form-control">
                  </div>
                </div>
              </div> -->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Do you have any Foreign Assets</label>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="radio" name="foreign_asset" ng-model="user.foreign_asset" id="yes" value="yes" ng-click="foreign_asset_check(user.foreign_asset);">
                  <label for="foreign_asset">Yes</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="radio" name="foreign_asset" ng-model="user.foreign_asset" id="no" value="no" ng-click="foreign_asset_check(user.foreign_asset);">
                  <label for="foreign_asset">No</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="error_field"> <span ng-messages="taxForm.foreign_asset.$error"><%foreign_asseterr%> </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Does your Taxable Income Exceed Rs. 50 Lakhs?</label>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="radio" name="tax_income_exceed" ng-model="user.tax_income_exceed" id="house_property_yes" value="yes" onclick="showExceedAbove(true)" ng-click="Taxable_income_exceed(user.tax_income_exceed);">
                  <label for="house_property_yes">Yes</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <input type="radio" name="tax_income_exceed" ng-model="user.tax_income_exceed" id="house_property_no" value="no" onclick="showExceedAbove(false)" ng-click="Taxable_income_exceed(user.tax_income_exceed);">
                  <label for="business_no">No</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p class="error_field"> <span ng-messages="taxForm.tax_income_exceed.$error"><%tax_income_exceederr%> </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <p> <span ng-messages="taxForm.tax_income_exceed.$error"><%tax_income_exceedmsg%> </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="p-a text-right">
                <a class="btn info" ng-click="gotoSaveOtherDetails(); user_tracking('click btn','next other_details');" style="color:#ffffff;" onclick="ga('send','event','btn click','next other_details','Label',1);track_FP('btn click','next other_details')">Next</a>
              </div>
            </div>
          </form>
        </div>
        <!-- ############ PAGE END-->
      </div>
      <div class="app-body" ng-style="display_logout">
        <div style="margin-top:20px;">
        Kindly Login to continue.
        </div>
      </div>
    </div>
    <!-- ############ LAYOUT END-->
    {% include 'footer_efiling.html'%}
  </div>
  </div>

  <!-- build:js scripts/app.min.js -->
  <!-- jQuery -->
  <!-- <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script> -->
  <!-- Bootstrap -->
  <!-- <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script> -->
  <!-- core -->
  <!-- <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
  <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
  <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
  <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
  <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

  <script src="{% static 'scripts/config.lazyload.js'%}"></script>
  <script src="{% static 'scripts/ui-load.js'%}"></script>
  <script src="{% static 'scripts/ui-jp.js'%}"></script>
  <script src="{% static 'scripts/ui-include.js'%}"></script>
  <script src="{% static 'scripts/ui-device.js'%}"></script>
  <script src="{% static 'scripts/ui-form.js'%}"></script>
  <script src="{% static 'scripts/ui-modal.js'%}"></script>
  <script src="{% static 'scripts/ui-nav.js'%}"></script>
  <script src="{% static 'scripts/ui-list.js'%}"></script>
  <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
  <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
  <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
  <script src="{% static 'scripts/ui-taburl.js'%}"></script>
  <script src="{% static 'scripts/app.js'%}"></script>
  <script src="{% static 'scripts/app.js'%}"></script>
  <script src="{% static 'scripts/ajax.js'%}"></script>

  <script src="{% static 'js/ui-mask.js' %}"></script> -->
  <!-- endbuild -->
  <script type="text/javascript">
    $('#btnGoTop').on('click', function(e) {
      $("html, body").animate({
        scrollTop: 0
      }, "slow");
      return false;
    });
    $(function() {
      $("#upload_link").on('click', function(e) {
        e.preventDefault();
        $("#upload:hidden").trigger('click');
      });
    });
  </script>

  <!-- exceed fields -->
  <script type="text/javascript">
    function showExceedAbove(isYes) {
      // if (isYes) {
      //     document.getElementById("exceed_above_fields").style.display = "block";
      // } else {
      //     document.getElementById("exceed_above_fields").style.display = "none";
      // }
    }
    ///////<!-- banks -->
    function nobanks(){
      var no = document.getElementById('noofbanks');
      var item1 = no.options[no.selectedIndex].value;
      bank1 = document.getElementById("bank1Details");
      bank2 = document.getElementById("bank2Details");
      bank3 = document.getElementById("bank3Details");
      bank4 = document.getElementById("bank4Details");
      bank5 = document.getElementById("bank5Details");
      if (item1==''){
        bank1.style.display = "none";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if (item1==1){
        bank1.style.display = "block";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==2){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==3){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==4){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "none";
      }
      if(item1==5){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "block";
      }
      document.getElementById("savings1").checked = true;
      document.getElementById("savings2").checked = true;
      document.getElementById("savings3").checked = true;
      document.getElementById("savings4").checked = true;
      document.getElementById("savings5").checked = true;
    }
    function no_banks(item1){
      bank1 = document.getElementById("bank1Details");
      bank2 = document.getElementById("bank2Details");
      bank3 = document.getElementById("bank3Details");
      bank4 = document.getElementById("bank4Details");
      bank5 = document.getElementById("bank5Details");
      if (item1==''){
        bank1.style.display = "none";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if (item1==1){
        bank1.style.display = "block";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==2){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==3){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==4){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "none";
      }
      if(item1==5){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "block";
      }
    }
    function label_float(id){
      var element = document.getElementById(id);
      element.classList.remove("float-label");
    };
  </script>
</form>
</body>

</html>