{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="partner_app" ng-controller="partner_onboard">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Partner Onboard</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% include 'header.html'%}
	<script src="{% static 'js/partner_onboard.js' %}"></script>

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/logo.png">

    <!-- owl corousel testimonial -->
    <link rel="stylesheet" href="{% static 'css/styles/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles/owl.theme.min.css' %}">
 
    <style type="text/css">
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds {
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .p-l{
                padding-bottom: 0!important;
        }
        .nav a {
            color: #000;
        }
        .testimonial{
            text-align: center;
            padding: 85px 50px 45px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            /*box-shadow: 8px 4px 0 0 #3A98E3;*/
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial .pic{
            width: 120px;
            height: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial .pic img{
            width: 100%;
            height: auto;
        }
        .testimonial .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .owl-theme .owl-controls{
            margin-top: 10px;
        }
        .owl-theme .owl-controls .owl-page span{
            background: #5e5f5f;
            opacity: 1;
            transition: all 0.4s ease 0s;
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span{
            background: #3A98E3;
        }
        .owl-theme .owl-controls .owl-page.active span{
            width: 22px;
            height: 12px;
        }

        td, th{
            vertical-align: middle!important;
            text-align: center;
        }

        .form-group{
            margin-bottom: 0;
        }
        .loader {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url("{% static 'img/loader-final-2.gif' %}") 50% 50% no-repeat rgb(255,255,255);
          opacity: .6;
	    }
	    .text_color_success{
	        margin-left: 12px;
	        color: green;
	    }
	    .text_color_danger{
	        margin-left: 12px;
	        color: maroon;
	    }
        .nav-item{
            display: none!important;
        }
        .log_out_in{
            display: none!important;
        }
        .img_on{
            display: none!important;
        }
    </style>
</head>

<body>
    <div class="app" id="app">
    	<div class='loader'>
	      <span class="please_css">Please wait...</span>
	    </div>
        
	    <form name="myForm">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col" style="background:url(../static/images/rev-slider1.jpg) no-repeat; background-size:cover;">
            {% include 'menubar.html'%}
                <!-- <div class="navbar" data-pjax style="min-height: 3rem;background: white;border-radius: 0;position: fixed;width: 100%;z-index: 10000;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>-->
                    
                    
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg" style="padding-top:10rem;padding-bottom: 10rem;">
                        
                        <center>
                            <div style="padding: 10px;background: white;">
                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center" style="background: #2196f3;color: #fff">Business Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%">
                                                Business Name
                                            </td>
                                            <td style="width: 20%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Business name" required ng-init="user.partner_business=''" ng-model="user.partner_business" ng-change="user.partner_business=user.partner_business.toUpperCase()" ng-keyup="InputValidation('partner_business',user.partner_business)">
                                                </div>
                                                <span class="<%partner_business_color%> partner_business_error_cl"><%partner_business_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Primary Business
                                            </td>
                                            <td>
                                                <div class="form-group">

                                                	<select style="width: 100%;height: 40px;" ng-init="user.primary_business='0'" ng-model="user.primary_business" ng-change="InputValidation('primary_business',user.primary_business)">
                                                    	<option value="0" class='primary_business'>Select</option>
                                                        <option value="1" class='primary_business'>1</option>
                                                        <option value="2" class='primary_business'>2</option>
                                                        <option value="3" class='primary_business'>3</option>
                                                    </select>
                                                    <span class="<%primary_business_color%> primary_business_error_cl"><%primary_business_error%></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Primary PAN
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter PAN" required ng-init="user.pan=''" ng-model="user.pan" ng-change="user.pan=user.pan.toUpperCase()" ng-keyup="pan_validation(user.pan)">
                                                </div>
                                                <span class="<%pan_color%> pan_error_cl"><%pan_error%></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>  

                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center" style="background: #2196f3;color: #fff">Contact Person Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%">
                                                Name
                                            </td>
                                            <td style="width: 20%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Name" required ng-init="user.name=''" ng-model="user.name" ng-change="user.name=user.name.toUpperCase()" ng-keyup="InputValidation('name',user.name)">
                                                </div>
                                                <span class="<%name_color%> name_error_cl"><%name_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Email
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Enter Email" required ng-init="user.email=''" ng-model="user.email" ng-blur="eamil_validation(user.email)">
                                                </div>
                                                <span class="<%email_color%> email_error_cl"><%email_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Mobile
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Mobile" required ng-init="user.mobile=''" ng-model="user.mobile" ng-blur="mobile_validation(user.mobile)">
                                                </div>
                                                <span class="<%mobile_color%> mobile_error_cl"><%mobile_error%></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 

                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="6" class="text-center" style="background: #2196f3;color: #fff">Corespondence Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 10%">
                                                Address
                                            </td>
                                            <td colspan="5" style="width: 100%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Address" required ng-init="user.address=''" ng-model="user.address" ng-change="user.address=user.address.toUpperCase()" ng-keyup="InputValidation('address',user.address)">
                                                </div>
                                                <span class="<%address_color%> address_error_cl"><%address_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Pincode
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <input type="text" class="form-control" placeholder="Enter Pincode" required ng-init="user.pincode=''" ng-model="user.pincode" ng-change="user.pincode=user.pincode.toUpperCase()" ng-blur="InputValidation('pincode',user.pincode)">
                                                    <span class="<%pincode_color%> pincode_error_cl"><%pincode_error%></span>
                                                </div>
                                            </td>
                                            <td>
                                                City
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <input type="text" class="form-control" placeholder="Enter City" required ng-init="user.city=''" ng-model="user.city" ng-change="user.city=user.city.toUpperCase()" ng-keyup="InputValidation('city',user.city)">
                                                    <span class="<%city_color%> city_error_cl"><%city_error%></span>
                                                </div>
                                            </td>
                                            <td>
                                                State
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <input type="text" class="form-control" placeholder="Enter State" required ng-init="user.state=''" ng-model="user.state" ng-change="user.state=user.state.toUpperCase()" ng-keyup="InputValidation('state',user.state)">
                                                    <span class="<%state_color%> state_error_cl"><%state_error%></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>   

                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center" style="background: #2196f3;color: #fff">Return Filing Portal Login Credentials</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%">
                                                Set a Username
                                            </td>
                                            <td style="width: 20%">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Username" required ng-init="user.user_name=''" ng-model="user.user_name" ng-keyup="InputValidation('user_name',user.user_name)" ng-blur="check_user_isexist()">
                                                </div>
                                                <span class="<%user_name_color%> user_name_error_cl"><%user_name_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Set a password (6 characters minimum)
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="password" placeholder="Enter Password" required ng-init="user.password=''" ng-model="user.password" ng-keyup="check_password_length()">
                                                </div>
                                                <span class="<%password_color%> password_error_cl"><%password_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Confirm password
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Enter Password" id="confirm_password" required ng-init="user.confirm_password=''" ng-model="user.confirm_password" ng-keyup="compare_password()">
                                                </div>
                                                <span class="<%confirm_password_color%> confirm_password_error_cl"><%confirm_password_error%></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 

                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="6" class="text-center" style="background: #2196f3;color: #fff">Bank Details for Payout</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                IFSC
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <input type="text" class="form-control" placeholder="Enter IFSC" required ng-init="user.ifsc=''" ng-model="user.ifsc" ng-change="user.ifsc=user.ifsc.toUpperCase()" ng-blur="InputValidation('ifsc',user.ifsc)">
                                                </div>
                                                <span class="<%ifsc_color%> ifsc_error_cl"><%ifsc_error%></span>
                                            </td>
                                            <td>
                                                Account No
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <input type="text" class="form-control" placeholder="Enter Account No" required ng-init="user.account_no=''" ng-model="user.account_no" ng-change="user.account_no=user.account_no.toUpperCase()" ng-keyup="InputValidation('account_no',user.account_no)">
                                                </div>
                                                <span class="<%account_no_color%> account_no_error_cl"><%account_no_error%></span>
                                            </td>
                                            <td>
                                                Account Type
                                            </td>
                                            <td>
                                                <div class="form-group" style="min-width: 150px;">
                                                    <select style="width: 100%;height: 40px;" ng-init="user.account_type='0'" ng-model="user.account_type" ng-change="account_type_validation()">
                                                    	<option value="0" class='account_type'>Select</option>
                                                        <option value="SB" class='account_type'>Saving</option>
                                                        <option value="C" class='account_type'>Current</option>
                                                        <option value="CC" class='account_type'>CC</option>
                                                    </select>

                                                </div>
                                                <span class="<%account_type_color%> account_type_error_cl"><%account_type_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Account Holder Name
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter Name" required ng-init="user.bank_holder_name=''" ng-model="user.bank_holder_name" ng-change="user.bank_holder_name=user.bank_holder_name.toUpperCase()" ng-keyup="InputValidation('bank_holder_name',user.bank_holder_name)">
                                                </div>
                                                <span class="<%bank_holder_name_color%> bank_holder_name_error_cl"><%bank_holder_name_error%></span>
                                            </td>
                                            <td>
                                                Bank Proof
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group">

                                                	<input type="file" ng-init="user.bank_proof=''" ng-model="user.bank_proof" name="file" base-sixty-four-input onload="account_proof_onLoad">

                                                </div>
                                                <span class="<%bank_proof_color%> bank_proof_error_cl"><%bank_proof_error%></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            
                                        </tr>
                                    </tbody>
                                </table> 

                                <table class="table table-bordered table-responsive" style="background: #fff;">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center" style="background: #2196f3;color: #fff">Terms of Agreement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%;text-align: center;">
                                                <a href="#"><b>Terms of Agreement</b></a>
                                            </td>
                                            <td style="width: 20%;text-align: center;">
                                                <a href="#"><b>Data Confidentiality & Privacy Policy</b></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align: center;">
                                                I have read and understood the terms of agreement  <input type="checkbox" value="false" ng-init="user.check_agree=false" ng-model="user.check_agree" name="" ng-change="InputValidation('check_agree',user.check_agree)">
                                                <br>
                                                <span class="<%check_agree_color%> check_agree_error_cl"><%check_agree_error%></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 

                                <center>
                                    <button class="btn btn-primary" style="width: 200px;" ng-click="onboard_partner(user)">Submit</button>
                                    <span class="<%onboard_partner_color%>"><%onboard_partner_error%></span>
                                </center>
                            </div>
                        <!-- <button class="btn btn-lg success rounded p-x-md m-x" data-toggle="modal" data-target="#m-a-a" data-ui-toggle-class="zoom" data-ui-target="#animate">Start Now</button>
                        </center> -->
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    

    </div>

        <!-- testimonial -->
{% include 'footer.html'%}

        </form>
        <!-- ############ LAYOUT END-->
    </div>

    <!-- .modal -->
    <div id="m-a-a" class="modal fade animate" data-backdrop="true" style="margin-top:10%;">
        <div class="modal-dialog" id="animate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Start Filing Tax Return</h5>

                </div>
                <div class="modal-body text-center p-lg">
                    <button class="btn info" onclick="location.href='upload_form16.html'" style="margin:5px 5px;"><i class="fa fa-upload pull-left"></i> Upload Form 16</button>
                    <button class="btn success" onclick="location.href='signin.html'" style="margin:5px 5px"><i class="fa fa-pencil pull-left"></i> Start Filling Manually</button><br>
                    <div class="modal-footer" style="margin-top:20px;">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button> -->
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- / .modal -->

        <!-- build:js scripts/app.min.js -->
        <!-- jQuery -->
        <!-- core -->
        <!-- endbuild -->
        <!-- script for testimonial -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="{% static 'js/sweetalert.js' %}"></script>
	 <script type="text/javascript">
	$(document).ready(function(){
	    $("#testimonial-slider").owlCarousel({
	        items:2,
	        itemsDesktop:[1000,2],
	        itemsDesktopSmall:[979,2],
	        itemsTablet:[768,2],
	        itemsMobile:[650,1],
	        pagination:true,
	        navigation:false,
	        slideSpeed:1000,
	        autoPlay:true
	    });
	});
	</script>

</body>

</html>