{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="partner_app" ng-controller="partner_onboard">
	<head>
		<title>Salat Tax | Partner Onboard</title>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	{% include 'header.html'%}
		

		<script src="{% static 'js/partner_onboard.js' %}"></script>


	</head>
	<body >

	<div>
	

		<h1>Partner Onboard</h1>

		<input type="hidden" ng-init="user.partner_business=''" ng-model="user.partner_business">
		<input type="hidden" ng-init="user.primary_business=''" ng-model="user.primary_business">
		<input type="hidden" ng-init="user.pan=''" ng-model="user.pan">
		<input type="hidden" ng-init="user.name=''" ng-model="user.name">
		<input type="hidden" ng-init="user.email=''" ng-model="user.email">
		<input type="hidden" ng-init="user.mobile=''" ng-model="user.mobile">
		<input type="hidden" ng-init="user.address=''" ng-model="user.address">
		<input type="hidden" ng-init="user.pincode=''" ng-model="user.pincode">
		<input type="hidden" ng-init="user.city=''" ng-model="user.city">
		<input type="hidden" ng-init="user.state=''" ng-model="user.state">
		<input type="hidden" ng-init="user.user_name=''" ng-model="user.user_name">
		<input type="hidden" ng-init="user.password=''" ng-model="user.password">

		<input type="hidden" ng-init="user.ifsc=''" ng-model="user.ifsc">
		<input type="hidden" ng-init="user.account_no=''" ng-model="user.account_no">
		<input type="hidden" ng-init="user.account_type=''" ng-model="user.account_type">
		<input type="hidden" ng-init="user.bank_holder_name=''" ng-model="user.bank_holder_name">
		<input type="hidden" ng-init="user.bank_proof=''" ng-model="user.bank_proof">


		<input type="hidden" ng-init="user.test_arg=''" ng-model="user.test_arg">
		<span ng-init="onboard_partner_init(user)">
			
		<button type="submit" class="btn btn-primary" style="width: 200px;" ng-click="onboard_partner(user)">Submit</button>

	</div>
	{% include 'footer.html'%}
	</body>
</html> 