{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="partner_deposit_app" ng-controller="partner_deposit_ctrl">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Partner Onboard</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% include 'header.html'%}
    <script src="{% static 'js/partner_deposit.js' %}"></script>

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/logo.png">

    <!-- owl corousel testimonial -->
    <link rel="stylesheet" href="{% static 'css/styles/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles/owl.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .m_p{
            margin-left: 40px;
        }
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds {
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .p-l{
                padding-bottom: 0!important;
        }
        .block.full {
            padding: 20px 20px;
            border: 1px solid #e3e3e3;
        }

        .block-title{
            background: rgba(181, 207, 242, 0.2);
            border-bottom: 1px solid #e3e3e3;
            
        }
        .nav a {
            color: #000;
        }
        .testimonial{
            text-align: center;
            padding: 85px 50px 45px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            /*box-shadow: 8px 4px 0 0 #3A98E3;*/
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial .pic{
            width: 120px;
            height: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial .pic img{
            width: 100%;
            height: auto;
        }
        .testimonial .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .owl-theme .owl-controls{
            margin-top: 10px;
        }
        .owl-theme .owl-controls .owl-page span{
            background: #5e5f5f;
            opacity: 1;
            transition: all 0.4s ease 0s;
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span{
            background: #3A98E3;
        }
        .owl-theme .owl-controls .owl-page.active span{
            width: 22px;
            height: 12px;
        }

        td, th{
            vertical-align: middle!important;
            text-align: center;
        }

        .form-group{
            margin-bottom: 0;
        }
        .loader {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url("{% static 'img/loader-final-2.gif' %}") 50% 50% no-repeat rgb(255,255,255);
          opacity: .6;
        }
        .text_color_success{
            margin-left: 12px;
            color: green;
        }
        .text_color_danger{
            margin-left: 12px;
            color: maroon;
        }
        @media screen and (max-width: 640px) and (min-width: 360px) {

            .m_p{
                margin-left: -25px
            }
            }
    </style>
</head>

<body>
    <div class="app" id="app">
        <div class='loader'>
          <span class="please_css">Please wait...</span>
        </div>
        <form name="myForm">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col" style="background:url(images/rev-slider1.jpg) no-repeat; background-size:cover;background: #eee;">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height: 3rem;background: white;border-radius: 0;position: fixed;width: 100%;z-index: 10000;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg" style="padding-top:10rem;padding-bottom: 10rem;">
                        <input type="hidden" ng-model="user.b_id" ng-init="user.b_id='{{ b_id }}'" id="b_id">
                        <input type="hidden" ng-model="user.username" ng-init="user.username='{{ username }}'">
                        <input type="hidden" ng-model="user.user_id" ng-init="user.user_id='{{ user_id }}'">
                        <input type="hidden" ng-model="user.user_type" ng-init="user.user_type='{{ user_type }}'">
                        <input type="hidden" ng-model="user.business_type" ng-init="user.business_type='{{ business_type }}'">
                        <center>    
                            <div class="block full">
                                <div class="block-title">
                                    <h2>Partner Deposit</h2>
                                </div>
                                
                                <table class="table-bordered" style="width: 100%">
                                    <tbody>
                                        <tr style="height: 36px;">
                                            <td class="text-center" colspan="3"><input type="radio" value="plan1" id="deposit_amount" ng-model="user.deposit_amount" ng-init="user.deposit_amount=''" name="deposit_amount"> <span>₹ 2500</span>
                                            <input type="radio" value="plan2" id="deposit_amount" ng-model="user.deposit_amount" ng-init="user.deposit_amount=''" name="deposit_amount" style="margin-left: 50px;"> <span>₹ 5000</span>
                                            <input type="radio" value="plan3" id="deposit_amount" ng-model="user.deposit_amount" ng-init="user.deposit_amount=''" name="deposit_amount" style="margin-left: 50px;"> <span>₹ 10,000</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" style="width:40%">Select Mode of Payment<span style="color:maroon;font-weight:normal;font-size:15px">*</span></td>
                                            <td style="padding-left: 10px;" colspan="2">
                                                <label class="radio-inline" for="example-inline-radio1">
                                                    <input type="radio" id="payment_mode" name="payment_mode" value="Online" ng-model="user.payment_mode" ng-init="user.payment_mode=''" ng-click="show_bank_details('Online');validation('payment_mode',user.payment_mode);" class="ng-pristine ng-untouched ng-valid ng-empty"> Card/Net Banking
                                                </label>
                                                <label class="radio-inline m_p" for="example-inline-radio1">
                                                    <input type="radio" id="payment_mode" name="payment_mode" value="Cash" ng-model="user.payment_mode" ng-init="user.payment_mode=''" ng-click="show_bank_details('Cash');validation('payment_mode',user.payment_mode)" class="ng-pristine ng-untouched ng-valid ng-empty"> NEFT/Cheque
                                                </label><br>
                                                 <span style="color:maroon;font-size:12px" class="ng-binding">
                                                        
                                                </span>
                                                
                                            </td>
                                        </tr>
                                        <tr ng-hide="bank_details_hide" class="ng-hide">
                                            <td class="text-center">Bank Account Details</td>
                                            <td style="padding-left: 10px;">
                                                <p style="text-align: left;">
                                                Beneficiary name: Salat Investments <br>
                                                Bank Name: ICICI Bank <br>
                                                Account Type: Current <br>
                                                Account No: 056605001948 <br>
                                                IFSC: ICIC0000566 <br>
                                                </p>
                                            </td>
                                            <td style="padding-left: 10px;width: 40%;">
                                                <p style="text-align: left;">
                                                Please transfer ‘Total Amount Payable’ to adjacent bank account. Please email the copy of payment slip or the UTR no at salattax@gmail.com. Your S-COM account will be activated upon payment realization.
                                                </p>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <span class="errr_msg text-center" style="color:maroon;margin-left:auto,margin-right:auto;width:100%;display:inline-block"><%plan_price_err%><span class="yes"></span> <%pay_mode_err%><span class="yes1"></span><%Payment_err%><span class="yes2"></span>
                            
                                </span>


                                <button type="submit" class=" btn btn-effect-ripple btn-info" style="margin-right: 5px; margin-top: 20px; margin-bottom: 20px; height: 40px; width: 250px; overflow: hidden; position: relative;" ng-click="submit_deposite(user)">Pay</button>
                            </div>
                            </center>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    

    </div>
{% include 'footer.html'%}
        <!-- testimonial -->
<!-- 
        <div class="footer black text-info-hover">
            <div class="container">
                <div class="row p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="col-md-5">
                        <div class="text-muted m-y-lg">
                            <h2 class="text-muted _600">
                        <span class="text-muted">Salat Tax Footer</span>
                    </h2>
                        </div>
                    </div>
                </div>
                <div class="p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. All rights reserved.</span>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Google+">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red-600"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->

        </form>
        <!-- ############ LAYOUT END-->
    </div>

    <!-- .modal -->
    <div id="m-a-a" class="modal fade animate" data-backdrop="true" style="margin-top:10%;">
        <div class="modal-dialog" id="animate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Start Filing Tax Return</h5>

                </div>
                <div class="modal-body text-center p-lg">
                    <button class="btn info" onclick="location.href='upload_form16.html'" style="margin:5px 5px;"><i class="fa fa-upload pull-left"></i> Upload Form 16</button>
                    <button class="btn success" onclick="location.href='signin.html'" style="margin:5px 5px"><i class="fa fa-pencil pull-left"></i> Start Filling Manually</button><br>
                    <div class="modal-footer" style="margin-top:20px;">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn danger p-x-md" data-dismiss="modal">Yes</button> -->
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- / .modal -->

        <!-- build:js scripts/app.min.js -->
        <!-- jQuery -->
        <!-- core -->
        <!-- endbuild -->
        <!-- script for testimonial -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="{% static 'js/sweetalert.js' %}"></script>
    <script src="{% static 'js/select2/select2.min.js' %}"></script>
    

</body>

</html>