{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Personal Details</title>
<meta name="description" content="Personal Details" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/personal_info.js' %}"></script>
<script src="{% static 'js/other_details.js' %}"></script>
<!-- <head>
    <meta charset="utf-8" />
    <title>Salat Tax | Personal Details</title>
    <meta name="description" content="Personal Details"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../static/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/personal_info.js' %}"></script>
</head> -->
<style type="text/css">
    .error_field{ color: red; }
    .success-step {
        color: #9ED438; float: right;
    }
    .inprogress-step {
        color: grey; float: right;
    }
    .warning-step {
        color: orange; float: right;
    }
    #tooltip {
        float: left;
        position: relative;
        bottom: 40px;
        color: #00A1DF;
        right: 20px;
    }
    select { position: relative; top: 20px; }
    .gotop{ color:#00A1DF; }
    .tb_tooltip { position: relative; }
    .tb_tooltip .tooltiptext {
        visibility: hidden;
        width: 275px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 9;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tb_tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 21%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .tb_tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
 

</style>

<body ng-controller="index_cntrl" style="display: none">
    <form name="taxForm" method="post"  ng-controller="personal_info_cntrl">

    <div class='loader'>
      <span class="please_css">Please wait...</span>
    </div>
    <div class="app" id="app" ng-controller="personal_info_controller">
        <!-- ############ LAYOUT START-->
        {% include 'menubar_efiling.html'%}
        <div id="aside" class="app-aside fade nav-dropdown black">
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius nav_css">
                    <!-- brand -->
                    <a href="#" class="navbar-brand">
                        <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                    {% include 'sidebar.html'%}
                </div>
                <!-- <div data-flex-no-shrink>
                    <div class="nav-fold dropup dark">
                        <a data-toggle="dropdown">
                            <div class="clear hidden-folded p-x">
                                <span class="block _500 text-muted">Goto Dashboard</span>
                            </div>
                        </a>
                    </div>
              </div> -->
            </div>
        </div>
        <!-- content -->
        <input type="hidden" ng-init="user.client_id='{{client_id}}'" ng-model="user.client_id">
        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
           
            <div class="app-body" ng-style="display_login">
                <!-- ############ PAGE START-->
                <!-- only need a height for layout 4 -->
                <div style="min-height: 200px;margin-top:67px;">
                   
                   <!--  <h4 style="margin-left:20px;">Personal Information</h4> -->
                    <div class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom:15px;">
                            <div class="b-b _800" style="padding-top: 1.2rem;padding-bottom: 1rem"><h5>Personal Information</h5></div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="b-b b-primary nav-active-primary">
                              <ul class="nav nav-tabs">
                                <li class="nav-item">
                                  <a class="nav-link active" href="#" data-toggle="tab" data-target="#personaltab" id="personalDetailsTab">Personal Details</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#" data-toggle="tab" data-target="#othertab" id="otherDetailsTab">Other Details</a>
                                </li>
                              </ul>
                            </div>
                            <div class="tab-content p-a m-b-md">
                                <!-- Personal details Tab -->
                                <div class="tab-pane animated fadeIn active text-muted" id="personaltab">
                                    <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <div class="md-form-group has-float-label" id="fname_div">
                                            <input class="md-input" id="first_name" ng-model="user.pan1_first_name" ng-keyup="user.pan1_first_name=user.pan1_first_name.toUpperCase();" ng-blur="validation('pan1_first_name',user.pan1_first_name)" ng-init="user.pan1_first_name=''" placeholder="First Name">
                                            <label for="first_name">First Name</label>
                                        </div>
                                        <div class="error_field" id="first_name_validation">
                                            <p>
                                                <span ng-messages="taxForm.user.pan1_first_name.$error" role="alert"><%pan1_first_name_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <div class="md-form-group has-float-label" id="mname_div">
                                            <input class="md-input" id="middle_name" ng-model="user.pan1_middle_name" ng-keyup="user.pan1_middle_name=user.pan1_middle_name.toUpperCase();" ng-blur="validation('pan1_middle_name',user.pan1_middle_name)" ng-init="user.pan1_middle_name=''" placeholder="Middle Name">
                                            <label>Middle Name</label>
                                        </div>
                                        <div class="error_field" id="middle_name_validation">
                                            <p>
                                                <span ng-messages="taxForm.user.pan1_middle_name.$error" role="alert"><%pan1_middle_name_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                        <div class="md-form-group has-float-label"  id="lname_div">
                                            <input class="md-input" id="last_name" ng-model="user.pan1_last_name" ng-keyup="user.pan1_last_name=user.pan1_last_name.toUpperCase();" ng-blur="validation('pan1_last_name',user.pan1_last_name);check_pan_dob(user)" ng-init="user.pan1_last_name=''" placeholder="Last Name">
                                            <label>Last Name</label>
                                        </div>
                                        <div class="error_field" id="last_name_validation">
                                            <p>
                                                <span ng-messages="taxForm.user.pan1_last_name.$error" role="alert"><%pan1_last_name_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end Name -->
                                   <!--  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div> -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="control-label">Gender</label>
                                        <div class="form-group label-floating">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: -20px">
                                                <input type="radio" name="gender" id="male" value="male" ng-model="user.pan1_gender" ng-click="validation('pan1_gender',user.pan1_gender)" style="z-index:100">
                                                Male

                                               <!--  <img src="../static/images/boy.svg" height="30px;"> -->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: -20px">
                                                <input type="radio" name="gender" id="female" value="female" ng-model="user.pan1_gender" ng-click="validation('pan1_gender',user.pan1_gender)" style="z-index:100">
                                                Female
                                               <!--  <img src="../static/images/girl.svg" height="30px;"> -->
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: -20px">
                                                <input type="radio" name="gender" id="huf" value="huf" ng-model="user.pan1_gender" ng-click="validation('pan1_gender',user.pan1_gender)" style="z-index:100"><span>
                                                HUF
                                                <!-- <img src="../static/images/family.svg" height="35px;"> -->
                                            </div>
                                            <div class="error_field" id="gender_validation">
                                                <p>
                                                    <span ng-messages="taxForm.user.pan1_gender.$error" role="alert"><%pan1_gender_error%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:15px">
                                        <div class="md-form-group has-float-label" id="dob_div">
                                          <input class="md-input" id="dob" ng-model="user.pan1_dob" ng-keyup="validation('dob1',user.pan1_dob);" ng-blur="validation('dob1',user.pan1_dob);check_pan_dob(user)" ui-date-mask="DD-MM-YYYY" ng-pattern='/^(((0[1-9]|[12]\d|3[01])-(0[13578]|1[02])-((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)-(0[13456789]|1[012])-((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])-02-((19|[2-9]\d)\d{2}))|(29-02-((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/' ng-init="user.pan1_dob=''" placeholder="Date Of Birth (DD-MM-YYYY)"readonly >
                                          <label>Date Of Birth (DD-MM-YYYY)</label>
                                        </div>
                                        <div class="error_field" id="dob_validation">
                                            <p>
                                                <span ng-messages="taxForm.user.pan1_dob.$error" role="alert"><%pan1_dob_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end Gender and DOB -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:15px">
                                        <div class="md-form-group has-float-label" id="adhar_div">
                                            <input class="md-input" id="aadhaar" ng-model="user.pan1_adhar"  ng-keyup="validation('pan1_adhar',user.pan1_adhar)" ng-blur="validation('pan1_adhar',user.pan1_adhar)" ng-init="user.pan1_adhar=''" placeholder="Aadhaar No.">
                                            <label>Aadhaar No.</label>
                                        </div>
                                        <div class="error_field" id="aadhaar_validation">
                                            <p> <span ng-messages="taxForm.user.pan1_adhar.$error" role="alert"><%pan1_adharerr%> </p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:15px">
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Aadhaar Card</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control" ng-model="user.adhaar1_file" name="file" base-sixty-four-input onload="onLoad_adhar" maxsize="500" accept="image/*" ng-file-select="onFileSelect($files)">
                                            </div>
                                        </div>
                                        <div class="error_field" id="aadhaar_file_validation">
                                            <p></p>
                                        </div>
                                    </div> -->
                                    <!-- end Adhar -->
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:15px">
                                        <div class="md-form-group has-float-label" id="pan_div">
                                            <input id="pan" class="md-input" ng-model="user.pan1" ng-keyup="user.pan1=user.pan1.toUpperCase();validation('pan',user.pan1,$event);" ng-blur="check_pan_dob(user)" ng-init="user.pan1=''" placeholder="PAN" readonly>
                                            <label>PAN</label>
                                        </div>
                                        <div class="error_field" id="pan_validation">
                                            <p> <span ng-messages="taxForm.user.pan1.$error" role="alert"><%panerr%> </p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:10px">
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 form-control-label">Upload PAN</label>
                                            <div class="col-sm-9">
                                                <input type="file" id="pan_file" class="form-control" ng-model="user.pan1_file" name="file" base-sixty-four-input onload="onLoad" maxsize="500" accept="image/*" ng-file-select="onFileSelect($files)" ng-init="user.pan1_file=''">
                                            </div>
                                        </div>
                                        <div class="error_field" id="pan_file_validation">
                                            <p><%pan1_upload_panerr%></p>
                                        </div>
                                    </div> -->
                                    <!-- end PAN -->
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top:15px">
                                        <div class="md-form-group has-float-label" id="mobile_div">
                                            <input class="md-input" id="mobile" ng-model="user.mobile" ng-keyup="validation('mobile',user.mobile)" ng-init="user.mobile=''" placeholder="Mobile">
                                            <label>Mobile</label>
                                        </div>
                                        <div class="error_field" id="Mobile_validation">
                                            <p>
                                                <span ng-messages="taxForm.mobile.$error" role="alert"><%mobile_error%>
                                            </p>
                                        </div>
                                    </div>
                                   <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label">Do you or any of your dependents suffer from any disability ? 
                                          <!--   ( Blindness, Cerebral Palsy, Leprosy Cured Person, Hearing Impairment,<br> Locomotor Disability, Mental Illness, Mental Retardation) -->
                                        <span class="tb_tooltip">
                                            <i class="fa fa-info-circle icon_css" data-tooltip="tooltip" title=""></i>
                                            <span class="tooltiptext">Hearing Impairment, Locomotor Disability, Mental Illness, Mental Retardation, Low Vision  </span>
                                        </span>
                                      <!--   <p class="please_css">( Blindness, Cerebral Palsy, Leprosy Cured Person, Hearing Impairment,<br> Locomotor Disability, Mental Illness, Mental Retardation) </p> -->
                                        </label>
                                        <div class="form-group label-floating">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <input type="radio" name="disability" value="yes" ng-model="user.disability" ng-click="validation('disability',user.disability)" ng-init="user.disability=''">  Yes
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <input type="radio" name="disability" value="no" ng-model="user.disability" ng-click="validation('disability',user.disability)" ng-init="user.disability=''">  No
                                            </div>
                                        </div><br>
                                        <div class="error_field">
                                            <p> <span role="alert"><%disability_error%> </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
                                        <div class="b-b _800" style="padding-top: 1.2rem;padding-bottom: 1rem"><h5>Address Information</h5></div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <div class="md-form-group has-float-label" id="flat_div">
                                          <input class="md-input" id="flatno" ng-model="user.pan1_flatno" ng-keyup="user.pan1_flatno=user.pan1_flatno.toUpperCase();" ng-change="user.pan1_flatno=user.pan1_flatno.toUpperCase();" ng-blur="validation('pan1_flatno',user.pan1_flatno)" ng-init="user.pan1_flatno=''" placeholder="Flat/Door/Block No">
                                          <label>Flat/Door/Block No</label>
                                      </div>
                                      <div class="error_field" id="flatno_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_flatno.$error" role="alert"><%pan1_flatno_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="premise_div">
                                            <input class="md-input" id="premise" ng-model="user.pan1_premise" ng-keyup="user.pan1_premise=user.pan1_premise.toUpperCase();  validation('pan1_premise',user.pan1_premise)" ng-change="user.pan1_premise=user.pan1_premise.toUpperCase();" ng-init="user.pan1_premise=''" placeholder="Name Of the Premise">
                                            <label>Name Of the Premise</label>
                                        </div>
                                        <div class="error_field" id="premise_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_premise.$error" role="alert"><%pan1_premise_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="road_div">
                                            <input class="md-input" id="road" ng-model="user.pan1_road" ng-keyup="user.pan1_road=user.pan1_road.toUpperCase(); validation('pan1_road',user.pan1_road)" ng-change="user.pan1_road=user.pan1_road.toUpperCase();"  ng-init="user.pan1_road=''" placeholder="Road/Street">
                                            <label>Road/Street</label>
                                        </div>
                                        <div class="error_field" id="road_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_road.$error" role="alert"><%pan1_road_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="area_div">
                                            <input class="md-input" id="area" ng-model="user.pan1_area" ng-keyup="user.pan1_area=user.pan1_area.toUpperCase(); validation('pan1_area',user.pan1_area)" ng-change="user.pan1_area=user.pan1_area.toUpperCase();"  ng-init="user.pan1_area=''" placeholder="Area/Locality">
                                            <label>Area/Locality</label>
                                        </div>
                                        <div class="error_field" id="area_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_area.$error" role="alert"><%pan1_area_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="pin_div">
                                            <input class="md-input" id="pincode" ng-model="user.pan1_pin" ng-keyup="validation('pan1_pin',user.pan1_pin)" ng-init="user.pan1_pin=''" placeholder="PIN Code">
                                            <label>PIN Code</label>
                                        </div>
                                        <div class="error_field" id="pincode_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_pin.$error" role="alert"><%pan1_pin_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="city_div">
                                            <!-- <input class="md-input" id="first_name" ng-model="user.pan1_first_name" ng-keyup="user.pan1_first_name=user.pan1_first_name.toUpperCase();validation('pan1_first_name',user.pan1_first_name);" ng-blur="validation('pan1_first_name',user.pan1_first_name)" ng-init="user.pan1_city=''"> -->
                                            <input class="md-input" id="city" ng-model="user.pan1_city" ng-keyup="user.pan1_city=user.pan1_city.toUpperCase();validation('pan1_city',user.pan1_city);" ng-change="user.pan1_city=user.pan1_city.toUpperCase()" ng-init="user.pan1_city=''" placeholder="Town/City/District">
                                            <label>Town/City/District</label>
                                        </div>
                                        <div class="error_field" id="city_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_city.$error" role="alert"><%pan1_city_error%>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <select id="state" class="md-input" ng-model="user.pan1_state" ng-change="validation('pan1_state',user.pan1_state);">
                                            <option selected="" disabled="" value="">Select State</option>
                                            {% for s in state_list %}
                                            <option value="{{ s.state}}">{{s.state}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="error_field" id="state_validation">
                                            <p>
                                                <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                                                <span ng-messages="taxForm.pan1_state.$error" role="alert"><%pan1_state_error%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="country_div">
                                            <input class="md-input" id="country" ng-model="user.pan1_country" ng-change="validation('pan1_country',user.pan1_country);" placeholder="Country">
                                            <label>Country</label>
                                        </div>
                                        <div class="error_field" id="country_validation">
                                            <p>
                                                <span ng-messages="taxForm.pan1_country.$error" role="alert"><%pan1_country_error%>
                                            </p>
                                        </div>
                                    </div>
                                  <!--   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
                                 <!--    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label class="control-label">Residential Status</label>
                                        <div class="form-group label-floating">
                                            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                                                <input type="radio" name="Residential_status" value="Resident" ng-model="user.Residential_status" ng-click="validation('Residential_status',user.Residential_status)" ng-init="user.Residential_status=''">  Resident
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
                                                <input type="radio" name="Residential_status" value="nonResident" ng-model="user.Residential_status" ng-click="validation('Residential_status',user.Residential_status)" ng-init="user.Residential_status=''">  Non-Resident
                                            </div>
                                        </div><br>
                                        <div class="error_field">
                                            <p>
                                                <span ng-messages="taxForm.user.Residential_status.$error" role="alert"><%Residential_status_error%>
                                            </p>
                                        </div>
                                    </div> -->

                                    <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
             -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="p-a" style="margin-bottom: 80px;"> 
                                            <a class="btn info pull-left" ng-class="{disabled: isDisabled}" ng-click="gotofilingtype()" ng-model="isDisabled" style="color:#ffffff;" >Prev</a>

                                            <a class="btn btn-success pull-right" ng-class="{disabled: isDisabled}" ng-click="gotoSavePersonalInformation(user,$event)" ng-model="isDisabled" style="color:#ffffff;" onclick="ga('send','event','btn click','next personal_info','Label',1);track_FP('btn click','next personal_info')">Save</a>
                                        </div>
                                      <!--   <div class="p-a text-right" style="margin-bottom: 27px;"> 
                                            <a class="btn btn-success" ng-class="{disabled: isDisabled}" ng-click="gotoSavePersonalInformation(user,$event)" ng-model="isDisabled" style="color:#ffffff;" onclick="ga('send','event','btn click','next personal_info','Label',1);track_FP('btn click','next personal_info')">Save</a>
                                        </div> -->
                                    </div>
                        
                                </div>

                                <!-- Other details Tab -->
                                <div class="tab-pane animated fadeIn text-muted" id="othertab" ng-controller="other_details_controller">
                                   <!--  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                                        <label style="position:relative;top:30px;"> Select Employer Category</label>
                                        <select id="employer_category" class="md-input" ng-model="user.employer_category" ng-change="validation('employer_category',user.employer_category);" ng-init="user.employer_category=''">
                                        <option selected="" value="">-</option>
                                        <option value="GOV">GOV</option>
                                        <option value="PSU">PSU</option>
                                        <option value="Other">Other</option>
                                        <option value="NA">NA</option>
                                        </select>
                                      <div class="error_field">
                                        <p> <span ng-messages="taxForm.employer_category.$error"><%employer_category_error%> </p>
                                      </div>
                                    </div> -->

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                      <label style="position:relative;top:30px;"> Select Residential Status</label>
                                      <select class="md-input" ng-model="user.residential_status" ng-change="validation('residential_status',user.residential_status);" ng-init="user.residential_status=''">
                                        <option selected="" value="">-</option>
                                        <option value="NRI">NRI</option>
                                        <option value="R-NOR">R-NOR</option>
                                        <option value="RES">RES</option>
                                      </select>
                                      <div class="error_field">
                                        <p> <span ng-messages="taxForm.residential_status.$error"><%residential_status_error%> </p>
                                      </div>
                                    </div>

                                   <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:relative;bottom:20px;"> -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group" style="position:relative;right:20px;">
                                        <label style="position:relative;top:30px;">Select No. of Banks</label>
                                        <select id="noofbanks" class="md-input" onchange="nobanks()" style="margin-bottom:20px;" ng-model="user.noofbanks" ng-change="validation('noofbanks',user.noofbanks);" ng-init="user.noofbanks=''">
                                          <option selected="" value="">-</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                        </select>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.noofbanks.$error"><%noofbanks_error%> </p>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank1Details" style="display:none">
                                      <center>
                                        <h5 style="color:#089CE4"> Bank 1 </h5>
                                      </center>
                                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="ifsc1_div">
                                          <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc1" ng-keyup="user.od_ifsc1=user.od_ifsc1.toUpperCase();validation('od_ifsc1',user.od_ifsc1);" ng-blur="validation('od_ifsc1',user.od_ifsc1)" ng-init="user.od_ifsc1=''" placeholder="IFSC Code">
                                          <label>IFSC Code</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_ifsc1.$error" role="alert"><%ifsc1err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" >
                                        <select id="bank_name" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name1" ng-change="validation('od_bank_name1',user.od_bank_name1);" ng-init="user.od_bank_name1=''">
                                          <option selected="" value="">Select Bank</option>
                                          {% for b in Bank_List %}
                                          <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                                          {% endfor %}
                                        </select>
                                        <div class="error_field" >
                                          <p> <span ng-messages="taxForm.od_bank_name1.$error"><%od_bank_name1_error%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="acc1_div">
                                          <input class="md-input" ng-model="user.od_account_no1" ng-keyup="validation('od_account_no1',user.od_account_no1);" ng-blur="validation('od_account_no1',user.od_account_no1)"  ng-init="user.od_account_no1=''" placeholder="Account Number">
                                          <label>Account Number</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_account_no1.$error" role="alert"><%accountno1err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <br>
                                          <label for="account_type1" style="position:relative;bottom:10px;">Account Type</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type1" id="savings1" value="savings" ng-model="user.account_type1" ng-click="validation('account_type1',user.account_type1)" ng-init="user.account_type1='savings'">
                                          <label for="account_type1">Savings</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type1" id="current1" value="current" ng-model="user.account_type1" ng-click="validation('account_type1',user.account_type1)">
                                          <label for="account_type1">Current</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.account_type1.$error" role="alert"><%account_type1_error%> </p>
                                        </div>
                                      </div>
                                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="form-group row">
                                              <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                                              <div class="col-sm-7">
                                                <input type="file" class="form-control">
                                              </div>
                                          </div>
                                      </div> -->
                                    </div>

                                    <!--  Bank 2 -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank2Details" style="display:none">
                                      <center>
                                        <h5 style="color:#089CE4"> Bank 2 </h5>
                                      </center>
                                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="ifsc2_div">
                                          <input class="md-input" ng-model="user.od_ifsc2" ng-keyup="user.od_ifsc2=user.od_ifsc2.toUpperCase();validation('od_ifsc2',user.od_ifsc2);" ng-blur="validation('od_ifsc2',user.od_ifsc2)" ng-init="user.od_ifsc2=''" placeholder="IFSC Code">
                                          <label>IFSC Code</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_ifsc2.$error"><%ifsc2err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                                        <select id="bank_name2" class="md-input" style="margin-bottom:15px"ng-model="user.od_bank_name2" ng-change="validation('od_bank_name2',user.od_bank_name2);" ng-init="user.od_bank_name2=''">
                                          <option selected="" value="">Select Bank</option>
                                          {% for b in Bank_List %}
                                          <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                                          {% endfor %}
                                        </select>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_bank_name2.$error" role="alert"><%od_bank_name2_error%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="acc2_div">
                                          <input class="md-input" ng-model="user.od_account_no2" ng-keyup="validation('od_account_no2',user.od_account_no2);" ng-blur="validation('od_account_no2',user.od_account_no2)" ng-init="user.od_account_no2=''" placeholder="Account Number">
                                          <label>Account Number</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_account_no2.$error" role="alert"><%accountno2err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <br>
                                          <label for="account_type2" style="position:relative;bottom:10px;">Account Type</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type2" id="savings2" value="savings" ng-model="user.account_type2" ng-click="validation('account_type2',user.account_type2)" ng-init="user.account_type2='savings'">
                                          <label for="account_type2">Savings</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type2" id="current2" value="current" ng-model="user.account_type2" ng-click="validation('account_type2',user.account_type2)">
                                          <label for="account_type2">Current</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.account_type2.$error"><%account_type2_error%> </p>
                                        </div>
                                      </div>
                                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                                          <div class="col-sm-7">
                                            <input type="file" class="form-control">
                                          </div>
                                        </div>
                                      </div> -->
                                    </div>

                                    <!-- Bank 3 -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank3Details" style="display:none">
                                      <center>
                                        <h5 style="color:#089CE4"> Bank 3 </h5>
                                      </center>
                                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="ifsc3_div">
                                          <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc3" ng-keyup="user.od_ifsc3=user.od_ifsc3.toUpperCase();validation('od_ifsc3',user.od_ifsc3);" ng-blur="validation('od_ifsc3',user.od_ifsc3)" placeholder="IFSC Code">
                                          <label>IFSC Code</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_ifsc3.$error" role="alert"><%ifsc3err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                                        <select id="bank_name3" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name3" ng-change="validation('od_bank_name3',user.od_bank_name3);">
                                          <option selected="" value="">Select Bank</option>
                                          {% for b in Bank_List %}
                                          <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                                          {% endfor %}
                                        </select>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_bank_name3.$error"><%od_bank_name3_error%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="acc3_div">
                                          <input class="md-input" ng-model="user.od_account_no3" ng-keyup="validation('od_account_no3',user.od_account_no3);" ng-blur="validation('od_account_no3',user.od_account_no3)" placeholder="Account Number">
                                          <label>Account Number</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_account_no3.$error"><%accountno3err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <br>
                                          <label for="account_type3" style="position:relative;bottom:10px;">Account Type</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type3" id="savings3" value="savings" ng-model="user.account_type3" ng-click="validation('account_type3',user.account_type3)" ng-init="user.account_type3='savings'">
                                          <label for="account_type3">Savings</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type3" id="current3" value="current" ng-model="user.account_type3" ng-click="validation('account_type3',user.account_type3)">
                                          <label for="account_type3">Current</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.account_type3.$error"><%account_type3_error%> </p>
                                        </div>
                                      </div>
                                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                                          <div class="col-sm-7">
                                            <input type="file" class="form-control">
                                          </div>
                                        </div>
                                      </div> -->
                                    </div>

                                    <!-- Bank 4 -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank4Details" style="display:none">
                                      <center>
                                        <h5 style="color:#089CE4"> Bank 4 </h5>
                                      </center>
                                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="ifsc4_div">
                                          <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc4" ng-keyup="user.od_ifsc4=user.od_ifsc4.toUpperCase();validation('od_ifsc4',user.od_ifsc4);" ng-blur="validation('od_ifsc4',user.od_ifsc4)" placeholder="IFSC Code">
                                          <label>IFSC Code</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_ifsc4.$error" role="alert"><%ifsc4err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                                        <select id="bank_name4" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name4" ng-change="validation('od_bank_name4',user.od_bank_name4);">
                                          <option selected="" value="">Select Bank</option>
                                          {% for b in Bank_List %}
                                          <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                                          {% endfor %}
                                        </select>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_bank_name4.$error"><%od_bank_name4_error%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="acc4_div">
                                          <input class="md-input" ng-model="user.od_account_no4" ng-keyup="validation('od_account_no4',user.od_account_no4);" ng-blur="validation('od_account_no4',user.od_account_no4)" placeholder="Account Number">
                                          <label>Account Number</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_account_no4.$error"><%accountno4err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <br>
                                          <label for="account_type4" style="position:relative;bottom:10px;">Account Type</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type4" id="savings4" value="savings" ng-model="user.account_type4" ng-click="validation('account_type4',user.account_type4)" ng-init="user.account_type4='savings'">
                                          <label for="account_type4">Savings</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type4" id="current4" value="current" ng-model="user.account_type4" ng-click="validation('account_type4',user.account_type4)">
                                          <label for="account_type4">Current</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.account_type4.$error"><%account_type4_error%> </p>
                                        </div>
                                      </div>
                                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                                          <div class="col-sm-7">
                                            <input type="file" class="form-control">
                                          </div>
                                        </div>
                                      </div> -->
                                    </div>

                                    <!-- Bank 5  -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bank5Details" style="display:none">
                                      <center>
                                        <h5 style="color:#089CE4"> Bank 5 </h5>
                                      </center>
                                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="ifsc5_div">
                                          <input class="md-input" id="main_bank_ifsc" ng-model="user.od_ifsc5" ng-keyup="user.od_ifsc5=user.od_ifsc5.toUpperCase();validation('od_ifsc5',user.od_ifsc5);" ng-blur="validation('od_ifsc5',user.od_ifsc5)" placeholder="IFSC Code">
                                          <label>IFSC Code</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_ifsc5.$error"><%ifsc5err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group" style="margin-bottom:15px;">
                                        <select id="bank_name5" class="md-input" style="margin-bottom:15px" ng-model="user.od_bank_name5" ng-change="validation('od_bank_name5',user.od_bank_name5);">
                                          <option selected="" value="">Select Bank</option>
                                          {% for b in Bank_List %}
                                          <option value="{{ b.bank_name}}">{{b.bank_name}}</option>
                                          {% endfor %}
                                        </select>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_bank_name5.$error"><%od_bank_name5_error%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <div class="md-form-group has-float-label" id="acc5_div">
                                          <input class="md-input" ng-model="user.od_account_no5" ng-keyup="validation('od_account_no5',user.od_account_no5);" ng-blur="validation('od_account_no5',user.od_account_no5)" placeholder="Account Number">
                                          <label>Account Number</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.od_account_no5.$error"><%accountno5err%> </p>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                          <br>
                                          <label for="account_type5" style="position:relative;bottom:10px;">Account Type</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type5" id="savings5" value="savings" ng-model="user.account_type5" ng-click="validation('account_type5',user.account_type5)" ng-init="user.account_type5='savings'">
                                          <label for="account_type5">Savings</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                          <input type="radio" name="account_type5" id="current5" value="current" ng-model="user.account_type5" ng-click="validation('account_type5',user.account_type5)">
                                          <label for="account_type5">Current</label>
                                        </div>
                                        <div class="error_field">
                                          <p> <span ng-messages="taxForm.account_type5.$error"><%account_type5_error%> </p>
                                        </div>
                                      </div>
                                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-3 form-control-label">Upload Cancelled Cheque</label>
                                          <div class="col-sm-7">
                                            <input type="file" class="form-control">
                                          </div>
                                        </div>
                                      </div> -->
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="form-group label-floating">
                                        <label class="control-label">Do you have any Foreign Assets</label>
                                        <br>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <input type="radio" name="foreign_asset" ng-model="user.foreign_asset" id="yes" value="yes" ng-click="foreign_asset_check(user.foreign_asset);">
                                          <label for="foreign_asset">Yes</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <input type="radio" name="foreign_asset" ng-model="user.foreign_asset" id="no" value="no" ng-click="foreign_asset_check(user.foreign_asset);">
                                          <label for="foreign_asset">No</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                          <p class="error_field"> <span ng-messages="taxForm.foreign_asset.$error"><%foreign_asseterr%> </p>
                                        </div>
                                      </div>
                                    </div>
                                  <!--   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <div class="form-group label-floating">
                                        <label class="control-label">Does your Taxable Income Exceed Rs. 50 Lakhs?</label>
                                        <br>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <input type="radio" name="tax_income_exceed" ng-model="user.tax_income_exceed" id="house_property_yes" value="yes" onclick="showExceedAbove(true)" ng-click="Taxable_income_exceed(user.tax_income_exceed);">
                                          <label for="house_property_yes">Yes</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                          <input type="radio" name="tax_income_exceed" ng-model="user.tax_income_exceed" id="house_property_no" value="no" onclick="showExceedAbove(false)" ng-click="Taxable_income_exceed(user.tax_income_exceed);">
                                          <label for="business_no">No</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                          <p class="error_field"> <span ng-messages="taxForm.tax_income_exceed.$error"><%tax_income_exceederr%> </p>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                          <p> <span ng-messages="taxForm.tax_income_exceed.$error"><%tax_income_exceedmsg%> </p>
                                        </div>
                                      </div>
                                    </div> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="p-a" style="margin-bottom: 80px;">
                                         <a class="btn info pull-left" ng-class="{disabled: isDisabled}" ng-click="gotopersonaldetailstab()" ng-model="isDisabled" style="color:#ffffff;">Prev</a>

                                        <a class="btn btn-success pull-right" ng-click="gotoSaveOtherDetails()" style="color:#ffffff;" onclick="ga('send','event','btn click','next other_details','Label',1);track_FP('btn click','next other_details')">Save</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
<!-- 
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> -->
                    </div>
                    <!-- ############ PAGE END-->
                </div>
            </div>
            <div class="app-body" ng-style="display_logout">
                <div style="margin-top:20px;"> Kindly Login to continue. </div>
            </div>
            <!-- ############ LAYOUT END-->
        </div>
        {% include 'footer_efiling.html'%}
    </div>
    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <!-- <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script> -->
    <!-- Bootstrap -->
    <!-- <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script> -->
    <!-- core -->
   <!--  <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>
    
    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>

    <script src="{% static 'js/ui-mask.js' %}"></script> -->
    <!-- endbuild -->
    <!-- http://embed.plnkr.co/MTzfQASN8ZVeocAq7VcM/preview -->
    <script type="text/javascript">
        $(document).ready(function() {
         $('#btnGoTop').on('click', function(e) {
            e.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
    });
    </script>
    <!-- Upload profile image -->
    <script type="text/javascript">
        $(function() {
            $("#upload_link").on('click', function(e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
        function label_float(id){
            // document.getElementById(id).style.display = "none";
            var element = document.getElementById(id);
            element.classList.remove("float-label");
            // if(value==''){
            //     $('.add_pan').addClass('float-label');
            // }else{
            //     $('.add_pan').removeClass('float-label');
            // }
        };
    </script>   

      <script type="text/javascript">
    $('#btnGoTop').on('click', function(e) {
      $("html, body").animate({
        scrollTop: 0
      }, "slow");
      return false;
    });
    $(function() {
      $("#upload_link").on('click', function(e) {
        e.preventDefault();
        $("#upload:hidden").trigger('click');
      });
    });
  </script>

  <!-- exceed fields -->
  <script type="text/javascript">
    function showExceedAbove(isYes) {
      // if (isYes) {
      //     document.getElementById("exceed_above_fields").style.display = "block";
      // } else {
      //     document.getElementById("exceed_above_fields").style.display = "none";
      // }
    }
    ///////<!-- banks -->
    function nobanks(){
      var no = document.getElementById('noofbanks');
      var item1 = no.options[no.selectedIndex].value;
      bank1 = document.getElementById("bank1Details");
      bank2 = document.getElementById("bank2Details");
      bank3 = document.getElementById("bank3Details");
      bank4 = document.getElementById("bank4Details");
      bank5 = document.getElementById("bank5Details");
      if (item1==''){
        bank1.style.display = "none";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if (item1==1){
        bank1.style.display = "block";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==2){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==3){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==4){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "none";
      }
      if(item1==5){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "block";
      }
      document.getElementById("savings1").checked = true;
      document.getElementById("savings2").checked = true;
      document.getElementById("savings3").checked = true;
      document.getElementById("savings4").checked = true;
      document.getElementById("savings5").checked = true;
    }
    function no_banks(item1){
      bank1 = document.getElementById("bank1Details");
      bank2 = document.getElementById("bank2Details");
      bank3 = document.getElementById("bank3Details");
      bank4 = document.getElementById("bank4Details");
      bank5 = document.getElementById("bank5Details");
      if (item1==''){
        bank1.style.display = "none";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if (item1==1){
        bank1.style.display = "block";
        bank2.style.display = "none";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==2){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "none";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==3){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "none";
        bank5.style.display = "none";
      }
      if(item1==4){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "none";
      }
      if(item1==5){
        bank1.style.display = "block";
        bank2.style.display = "block";
        bank3.style.display = "block";
        bank4.style.display = "block";
        bank5.style.display = "block";
      }
    }
    function label_float(id){
      var element = document.getElementById(id);
      element.classList.remove("float-label");
    };
  </script>
    </form>
</body>

</html>