{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Pricing and Services</title>
    <meta name="description" content="Pricing and Services" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="../static/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />
    <style type="text/css">
        .table > tbody > tr > td.text_alignment {
            padding: 10px 10px 0px !important;
        }
           /*checkbox css*/
           [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
          position: absolute;
          left: -9999px;
        }
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
          position: relative;
          padding-left: 1.95em;
          cursor: pointer;
        }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          content: '';
          position: absolute;
          left: 0; top: 0;
          width: 1.25em; height: 1.25em;
          border: 2px solid #ccc;
          background: #fff;
          border-radius: 4px;
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        }
        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          content: '✔';
          position: absolute;
          top: .2em; left: .275em;
          font-size: 1.4em;
          line-height: 0.8;
          color: #09ad7e;
          transition: all .2s;
          font-family: Helvetica, Arial, sans-serif;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        [type="checkbox"]:checked + label:after {
          opacity: 1;
          transform: scale(1);
        }
        /* disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
          box-shadow: none;
          border-color: #bbb;
          background-color: #ddd;
        }
        [type="checkbox"]:disabled:checked + label:after {
          color: #999;
        }
        [type="checkbox"]:disabled + label {
          color: #aaa;
        }
        /* accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
          border: 2px dotted blue;
        }

        /* hover style just for information */
        label:hover:before {
          border: 2px solid #4778d9!important;
        }


        .nav a {
            color: #000;
        }
        
        #btnDIY {
            background: #16202F;
            color: #FFFFFF;
        }
        #btnCAA {
            color: #FFFFFF;
        }
        .thead_style{
            background: #009EDF;
            color: white;
            text-align: center;
        }
        .free_style{
            color: #009EDF;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="app" id="app">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col" style="background:url(../static/images/pricing.jpg) no-repeat; background-size:cover;">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height: 3rem;background: white;border-radius: 0;position: fixed;width: 100%;z-index: 10000;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>
                    <!-- / brand -->

                    <!-- navbar collapse -->
                    <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                        <!-- link and dropdown -->
                        <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                            <li class="nav-item">
                                <a onclick="location.href='index.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="active nav-item">
                                <a href="#" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Services</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='tsa.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Tax Saving Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='contact.html'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Contact Us</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="signin.html" class="nav-link">
                                    <span class="nav-text"> Sign in </span>
                                </a>
                            </li>
                        </ul>
                        <!-- / link and dropdown -->
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg" style="padding-top:6rem;padding-bottom: 10rem;">
                        <h1 class="m-y-md text-white">Choose the service that fits you best!</h1>
                        <a class="btn btn-fw" id="btnDIY" onclick="diy()">Do it yourself</a>
                        <a class="btn btn-fw" id="btnCAA" onclick="caa()">CA Assisted</a>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <!-- content -->
        <div id="content" class="app-content" role="main" style="background:url(../static/images/feature_back.jpg) no-repeat; background-size:cover;">
            <div class="p-x-lg" style="position:relative;bottom:100px;" id="pricingDIY">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="row no-gutter">
                        <div class="col-md-2"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="box m-t-n">
                                    <!-- <div class="box-body text-center blue"> -->
                                    <table class="table table-bordered">
                                    <tr class="thead_style">
                                        <th class="text-u-c p-v-sm m-a-0 m-t text-center">Complexity of Tax Return</th>
                                        <span class="text-2x"></span>
                                        <span class="text-xs"></span>
                                        <th class="m-a-0 m-l m-v text-center">Actions
                                          </th>
                                           <th class="m-a-0 m-l m-v text-center">
                                          Price</th>
                                        <span class="text-2x"></span>
                                        <span class="text-xs"></span>
                                    </tr>
                                         <tr id="formp">
                                             <td class="text_alignment">
                                                 No. of form16
                                             </td>
                                             <td class="text-center">
                                             <select id="form16" onchange="select_form16()" class="md-input">
                                                <option selected="" disabled="">-</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            </td>
                                            <td id="price_value"></td>
                                         </tr>
                                         
                                          <tr>
                                             <td class="text_alignment">
                                                 No. of House Property
                                             </td>
                                             <td class="text-center">
                                             <select id="House" onchange="house()" class="md-input">
                                                <option selected="" disabled="">-</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            </td>
                                            <td id="house_price"></td>
                                         </tr>

                                          <tr>
                                             <td class="text_alignment">
                                                 Have you sold  mutual fund in last financial year 
                                             </td>
                                             <td class="text-center">
                                             <input type="radio" onchange="yfund(value)" name="ymutual_fund" id="ymutual_fund" value="300">
                                             <label for="ymutual_fund">Yes</label>
                                            <input type="radio" onchange="yfund(value)" name="nmutual_fund" id="nmutual_fund" value="0">
                                  <label for="nmutual_fund">No</label>
                                            </td>
                                            <td id="price_mutual_fund"></td>
                                         </tr>

                                             <tr>
                                             <td class="text_alignment">
                                                 Have you sold  shares  in last financial year 
                                             </td>
                                             <td class="text-center">
                                             <input type="radio" onchange="ynshare(value)" name="yshare" id="yshare" value="300">
                                             <label for="yshare">Yes</label>
                                            <input onchange="ynshare(value)" type="radio" name="nshare" id="nshare" value="0">
                                  <label for="nshare">No</label>
                                            </td>
                                            <td id="price_share"></td>
                                         </tr>

                                      

                                         <tr>
                                             <td class="text_alignment">
                                                 Have you sold  any property  in last financial year  
                                             </td>
                                             <td class="text-center">
                                             <input type="radio" onchange="pro_fin_sold(value)" name="pro_fin" id="pro_fin" value="5000">
                                             <label for="pro_fin">Yes</label>
                                            <input type="radio" onchange="pro_fin_sold(value)" name="npro_fin" id="npro_fin" value="0">
                                  <label for="npro_fin">No</label>
                                            </td>
                                            <td id="price_fin"></td>
                                         </tr>

                                         <tr>
                                             <td class="text_alignment">
                                                 Do you need help of an expert to file return  
                                             </td>
                                             <td class="text-center">
                                             <input type="radio" onchange="expert_file(value)" name="expert_file" id="expert_file" value="500">
                                             <label for="expert_file">Yes</label>
                                            <input type="radio" onchange="expert_file(value)" name="nexpert_file" id="nexpert_file" value="0">
                                  <label for="nexpert_file">No</label>
                                            </td>
                                            <td id="price_expert"></td>
                                         </tr>

                                          <tr>
                                             <td class="text_alignment">
                                                 Email support  
                                             </td>
                                             <td class="text-center">
                                             <!-- <input type="radio" name="account_type" id="savings" value="savings">
                                             <label for="account_type">Yes</label>
                                            <input type="radio" name="account_type" id="current" value="current">
                                  <label for="account_type">No</label> -->
                                            </td>
                                            <td>Free</td>
                                         </tr>

                                          <tr>
                                             <td class="text_alignment">
                                                 Phone support  
                                             </td>
                                             <td class="text-center">
                                             <input type="radio" onchange="phone_expert(value)" name="phone_expert" id="phone_expert" value="100">
                                             <label for="phone_expert">Yes</label>
                                            <input type="radio" onchange="phone_expert(value)" name="nphone_expert" id="nphone_expert" value="0">
                                  <label for="nphone_expert">No</label>
                                            </td>
                                            <td id="price_phone"></td>
                                         </tr>
                                         <tr>
                                             <td>
                                                 Total Amount
                                             </td>
                                             <td></td>
                                             <td class="total_price">
                                                 
                                             </td>
                                         </tr>
                                       
                                       
                                        </table>
                                     <button class="btn btn-primary btn-md" onclick="all_total()" style="margin-left: 86%;">Calculate</button>
                                    <div class="text-center" style="height: 42px;">Any applicable taxes will be added as per the latest government rules.</div>
                                  
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                             
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CAA -->
                    <div class="p-x-lg" style="position:relative;bottom:100px;display:none;" id="pricingCAA">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row no-gutter">
                                    <!-- basic plan -->
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                        <div class="box m-t-n">
                                            <div class="box-body text-center blue">
                                                <h6 class="text-u-c p-v-sm m-a-0 m-t">Basic Plan</h6>
                                                <h3 class="m-a-0 m-l m-v">
                                                  <sup>&#8377</sup>
                                                  <span class="text-2x">1000</span>
                                                  <span class="text-xs">/-</span>
                                                </h3>
                                            </div>
                                            <ul class="list b-t b-b m-a-0 no-radius">
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Income Tax Return Filing (Salary, Interest, House Property (one house)
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Refund tracker
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments - Advisory & Execution
                                                </li>
                                            </ul>
                                            <div class="text-center p-a-md">
                                                <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- basic plan ends -->
                                        
                                    <!-- Smart plan -->
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                        <div class="box m-t-n">
                                            <div class="box-body text-center blue">
                                                <h6 class="text-u-c p-v-sm m-a-0 m-t">Smart Plan</h6>
                                                <h3 class="m-a-0 m-l m-v">
                                                  <sup>&#8377</sup>
                                                  <span class="text-2x">3000</span>
                                                  <span class="text-xs">/-</span>
                                                </h3>
                                            </div>
                                            <ul class="list b-t b-b m-a-0 no-radius">
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Tax experts prepare your ITR (Multiple form 16, HRA, Rental Income)
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>ITR reviewed by CA
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Capital gains (Capital Markets only)
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Refund tracker
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Tax Planning
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments – Advisory & Execution
                                                </li>
                                            </ul>
                                            <div class="text-center p-a-md">
                                                <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- smart plan ends -->
                                    <!-- premium plan starts -->
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                        <div class="box m-t-n">
                                            <div class="box-body text-center blue">
                                                <h6 class="text-u-c p-v-sm m-a-0 m-t">Premium Plan</h6>
                                                <h3 class="m-a-0 m-l m-v">
                                                  <sup>&#8377</sup>
                                                  <span class="text-2x">5000</span>
                                                  <span class="text-xs">/-</span>
                                                </h3>
                                            </div>
                                            <ul class="list b-t b-b m-a-0 no-radius">
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Tax experts prepare your ITR (Multiple form 16, HRA, Rental Income)
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>ITR reviewed by CA
                                                    </div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Capital gains, F&O, carry forward losses.
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Replying to notices
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Tax Planning for current year
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                        <i class="fa fa-check text-success m-r-xs"></i>Round the year CA consultancy
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-body">
                                                <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments – Advisory & Execution
                                                </li>
                                            </ul>
                                            <div class="text-center p-a-md">
                                                <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- premium plan ends -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- CAA ends  -->
                </div>
            </div>
            
        </div>
        <!-- / -->

        <div class="footer black text-info-hover">
            <div class="container">
                <div class="row p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="col-md-5">
                        <div class="text-muted m-y-lg">
                            <h2 class="text-muted _600">
                                            <span class="text-muted">Salat Tax Footer</span>
                                        </h2>
                        </div>
                    </div>
                </div>
                <div class="p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. All rights reserved.</span>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Google+">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red-600"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        $('.total_price').html('0');
        function all_total(){
            var form16 = document.getElementById("price_value");
            var form16=form16.innerText;

            var house=document.getElementById("house_price");
            var house=house.innerText;

            var yfund =document.getElementById("price_mutual_fund");
            var yfund=yfund.innerText;

            var ynshare =document.getElementById("price_share");
            var ynshare=ynshare.innerText;

            var expert_file =document.getElementById("price_expert");
            var expert_file=expert_file.innerText;

            var phone_expert =document.getElementById("price_phone");
            var phone_expert=phone_expert.innerText;

            var pro_fin_sold =document.getElementById("price_fin");
            var pro_fin_sold=pro_fin_sold.innerText;
              
            var total =Number(form16)+Number(house)+Number(yfund)+Number(ynshare)+Number(expert_file)+Number(phone_expert);
            var pro_fin = pro_fin_sold;
            var pro_fin=pro_fin.replace(/\D/g,'');
            var total=total+Number(pro_fin);
            $('.total_price').html(total);
        }
        function select_form16(){
            var form16 =document.getElementById('form16');
            var form16=form16.options[form16.selectedIndex].value;
            if(form16=="1"){
                var d = $('#price_value').html('249');
                $('#house_price').html('');
            }if(form16=="2"){
                $('#price_value').html('498');
            }if(form16=="3"){
                $('#price_value').html('747');
            }if(form16=='0'){
                $('.sprice_value').html('');
                $('#house_price').html('200');
            }
        }
        function house(){
            var house =document.getElementById('House');
            var house=house.options[house.selectedIndex].value;
            var form16 =$('#form16').val();
            if(house=="1" || house=='0'){
                $('#house_price').html('0');
            }if(form16=="0"){
                $('#house_price').html('200');
            }else if(house=="2"){
                $('#house_price').html('400');
            }else if(house=="3"){
                $('#house_price').html('600');
            }else if(form16=="1"){
                $('#house_price').html('');
            }
        }
        function yfund(value){
            if(value=='300'){
                $('#price_mutual_fund').html('300');
                $('#nmutual_fund').prop('checked',false);
                
            }else if(value=='0'){
                $('#price_mutual_fund').html('0');
                $('#ymutual_fund').prop('checked',false);
              
            }
        }
        function ynshare(value){
            if(value=='300'){
                $('#price_share').html('300');
                $('#nshare').prop('checked',false);
            }else if(value=='0'){
                $('#price_share').html('0');
                $('#yshare').prop('checked',false);
            }
        }
        function expert_file(value){
            if(value=='500'){
                $('#price_expert').html('500');
                $('#nexpert_file').prop('checked',false);
            }else if(value=='0'){
                $('#price_expert').html('0');
                $('#expert_file').prop('checked',false);
            }
        }
        function phone_expert(value){
            if(value=='100'){
                $('#price_phone').html('100');
                $('#nphone_expert').prop('checked',false);
            }else if(value=='0'){
                $('#price_phone').html('0');
                $('#phone_expert').prop('checked',false);
            }
        }
        function pro_fin_sold(value){
            if(value=='5000'){
                $('#price_fin').html('5000 Onwards');
                $('#npro_fin').prop('checked',false);
            }else if(value=='0'){
                $('#price_fin').html('0');
                $('.onwards').html('');
                $('#pro_fin').prop('checked',false);
            }
        }
    </script>
    <script type="text/javascript">
        function diy(){
            document.getElementById("pricingDIY").style.display = "block";
            document.getElementById("pricingCAA").style.display = "none";
            document.getElementById("btnCAA").style.background = "transparent";
            document.getElementById("btnDIY").style.background = "#16202F";
            document.getElementById("btnDIY").style.color = "#FFFFFF";
        }

        function caa(){
            document.getElementById("pricingDIY").style.display = "none";
            document.getElementById("pricingCAA").style.display = "block";
            document.getElementById("btnCAA").style.background = "#16202F";
            document.getElementById("btnCAA").style.color = "#FFFFFF";
            document.getElementById("btnDIY").style.background = "transparent";
            // document.getElementById("content").style.background = "url(images/feature_back.jpg) no-repeat" 
            // background-size:cover;";
        }
    </script>
</body>

</html>