{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Dashboard</title>
<meta name="description" content="Salat Tax Dashboard" />
{% include 'header.html'%}
<script src="{% static 'js/salattax_dashboard.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
<script type="text/javascript" src="https://d3js.org/d3.v2.js"></script>
<script src="{% static 'js/sankey.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js/go.js' %}"></script>

<style type="text/css">
    .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }
    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }
    .link {
      fill: none;
      stroke: #000;
      stroke-opacity: .2;
    }
    .cycleLink {
      fill: #600;
      opacity: .2;
      stroke: none;
      stroke-linejoin: "round";
    }
    .cycleLink:hover {
      opacity: .5;
    }
    .link:hover {
      stroke-opacity: .5;
    }

    .footer-style{ padding-top: 30px; }
    .footer-css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .md_css{
        padding-top:5rem!important;
        padding-bottom: 1rem!important;
    }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        border-radius: 8px;
        padding: 15px;
        margin : 30px;
    }
    .table_css{
        margin-top: 108px;
        margin-bottom: 58px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .copy_css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .footer_same_css{
        padding-top: 30px;
    }
    .row_data{
        padding-top:5px;
        padding-bottom:10px;
    }
    .main-title{
        color: #2d2d2d;
        text-align: center;
        text-transform: capitalize;
        padding: 0.7em 0;
    }
    .container_data .footer_data{ width: 100%; }
    @media screen and (max-width: 640px){ }
    @media screen and (min-width: 900px){ }
    .container_data .title{
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px;
    }
    .content {
        position: relative;
        max-width: 400px;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        /*font-size: 0.95rem;*/
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        body{ margin: 10px; }
        /*h3.content-title{ font-size: 1.3rem; }
        .h3, h3 { font-size: 1.1rem!important; }*/
    }
    @media only screen and (max-width: 731px) and (min-width: 411px){ }
    @media only screen and (max-width: 812px) and (min-width: 375px){ }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 95%;
        margin: 0 auto;
    }
    .dataTables_scroll {
        overflow:auto;
    }
</style>
</head>

<body onload="init()" ng-controller="index_cntrl">
<form name="myForm" method="post" >
<div class="app" ng-controller="salattax_dashboard_controller">
    <div class="row-col1">
        <div class="col-sm-12" ng-controller="index_controller">
        {% include 'menubar.html'%}
        </div>
        <!-- content -->
        <div class="col-sm-12 text-center row-main">
            <div class="p-t-lg md_css">
                <h1 class="m-y-md text-white"></h1>
            </div>
        </div>
        <div class="row row-main">
            <div class="main_css table_css">
                <table id="display_table" class="stripe row-border order-column" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>PAN</th>
                            <th>E-mail ID</th>
                            <th>Mobile No.</th>
                            <th>Created Login</th>
                            <th>Registered as Salat Client</th>
                            <th>Count of timer Ended Error</th>
                            <th>OTP Triggered</th>
                            <th>OTP Submitted</th>
                            <th>No of ITRs</th>
                            <th>Latest Income</th>
                            <th>Total Tax Leakage</th>
                            <th>Went Last Slide</th>
                            <th>Clicked Open TSA</th>
                            <th>Clicked Know More</th>
                            <th>Checked Offer</th>
                            <th>Subscribed</th>
                            <th>Details</th>
                            <th>Flow</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.name}}</td>
                            <td>{{ d.pan}}</td>
                            <td>{{ d.mail}}</td>
                            <td>{{ d.phone}}</td>
                            <td>{{ d.created_login}}</td>
                            <td>{{ d.salat_client}}</td>
                            <td>{{ d.timer_ended}}</td>
                            <td>{{ d.otp_trigger}}</td>
                            <td>{{ d.otp_submitted}}</td>
                            <td>{{ d.no_of_itr}}</td>
                            <td>{{ d.latest_income}}</td>
                            <td>{{ d.total_tax_leakage}}</td>
                            <td>{{ d.went_on_last_slide}}</td>
                            <td>{{ d.click_on_open_tsa}}</td>
                            <td>{{ d.click_on_know_more}}</td>
                            <td>{{ d.checked_offer}}</td>
                            <td>{{ d.subscribed}}</td>
                            <td><button class="get_id btn success rounded" data-toggle="modal" data-target="#m-a-a" data-ui-toggle-class="zoom" data-ui-target="#animate" data-id="{{ d.client_id}}" >{{ d.username}}</button></td>
                            <td><button class="get_c_flow btn success rounded" data-toggle="modal" data-target="#diagram" data-ui-toggle-class="zoom" data-ui-target="#animate" data-id="{{ d.client_id}}" >{{ d.client_id}}</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th>PAN</th>
                            <th>Name</th>
                            <th>E-mail ID</th>
                            <th>Mobile No.</th>
                            <th>Created Login</th>
                            <th>Salat Client</th>
                            <th>No of ITRs</th>
                            <th>Latest Income</th>
                            <th>Total Tax Leakage</th>
                            <th>Last Slide</th>
                            <th>Open TSA</th>
                            <th>Know More</th>
                            <th>Checked Offer</th>
                            <th>Subscribed</th>
                            <th>Details</th>
                        </tr>
                    </tfoot> -->
                </table>
                <!-- <div id="sankey_basic1" style="width: 900px; height: 300px;"></div> -->
                <!-- <button class="get_c_flow btn success rounded" data-toggle="modal" data-target="#diagram" data-ui-toggle-class="zoom" data-ui-target="#animate" data-id="0" >All User</button> -->
                <button class="btn success rounded" ng-click="send_mail()" >Send Mail</button>
            </div>
        </div>
    </div>

    <!-- .modal -->
    <div id="m-a-a" class="modal fade" data-backdrop="true" style="margin-top:2%;">
        <div class="modal-dialog  modal-lg" style="width:55%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Client Data</h5>
                </div>
                <div class="modal-body text-center p-lg">
                    <!-- <div id="div1"></div> -->
                    <table id="data_table" class="table table-striped table-bordered" >
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Event Name</th>
                                <th>Device</th>
                                <th>Date Time</th>
                            </tr>
                        </thead>
                    </table>
                    <br>
                    <!-- <div class="modal-footer" style="margin-top:5px;">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div id="diagram" class="modal fade" data-backdrop="true" style="margin-top:1%;">
        <div class="modal-dialog modal-lg" style="width:100%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Client Flow</h5>
                </div>
                <div class="modal-body text-center">
                    <!-- <div id="myDiv">Plotly flowchart will be drawn inside this DIV</div> -->
                    <!-- <div id="sankey_basic" style="width: 900px; height: 300px;"></div> -->
                    <!-- <p id="chart"></p> -->

                    <div id="sample">
                        <div style="width: 100%; display: flex; justify-content: space-between">
                            <!-- <div id="myPaletteDiv" style="width: 100px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div> -->
                            <div id="myDiagramDiv" style="flex-grow: 1; height: 750px; border: solid 1px black;"></div>
                        </div>
                        <textarea id="mySavedModel" style="width:100%;height:50px;display: none;"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>

{% include 'footer.html'%}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript">
    $(document).on('hide.bs.modal', '#diagram', function (e) {
        alert('hide');
    });

    $(document).ready(function() {
        $('#display_table').DataTable({
            scrollY:        "400px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         false,
            fixedColumns:   {
                leftColumns: 1,
                rightColumns: 1
            }
        } );
        var table_data = $('#data_table').DataTable({
            // fixedHeader: {
            //     header: true,
            //     footer: true
            // },
            // fixedHeader:true,
            scrollY:        "280px",
            scrollX:        true,
            // bAutoWidth: true,
            // bLengthChange: false,
            scrollCollapse: true,
            paging:         false,
            bSort: false,
            "responsive": true,
            "bAutoWidth": true
            // fixedColumns:   {
            //     leftColumns: 1,
            //     rightColumns: 1
            // }
            // 'columnDefs': [
            //     {
            //         'targets': 3,
            //         'createdCell':  function (td, cellData, rowData, row, col) {
            //             $(td).attr('data-order', cellData.split(/[- :]/)[1] ); 
            //         }
            //     }
            // ]
        } );

        $(".get_id").click(function(){ // Click to only happen on announce links
            client_id = $(this).data('id');
            // console.log(client_id);
            // $('#data_table').html('');
            // html = '<table id="data_table" class="table table-striped table-bordered" >';
            // html = '<tr>';
            $.ajax({
                url:'/get_client_flow/',
                type:'POST',
                dataType: 'json',
                data:{'client_id':client_id},
                success: function(response){
                    console.log(response);
                    table_data.rows().remove().draw();
                    // console.log(response.event_flow.length);
                    if (response.event_flow.length == 0){
                        // html += '<td>No Data Found</td>';
                    }
                    else{
                        // html += '<tr><td>Event</td><td>Event Name</td>';
                        // html += '<td>Device</td><td>Date Time</td></tr>';
                    }
                    for (var i = 0; i < response.event_flow.length; i++) {
                        // html += '<td>'+response.event_flow[i]+'</td>';
                        // html += '<td>'+response.event_name_flow[i]+'</td>';
                        // html += '<td>'+response.platform_flow[i]+'</td>';
                        // html += '<td>'+response.date_flow[i]+'</td>';
                        // var d = new Date(response.date_flow[i]);
                        var t = response.date_flow[i].split(/[- :]/);
                        // var d = new Date(Date.UTC(t[2], t[1]-1, t[0], t[3], t[4], "00")).toLocaleDateString().split('G')[0];
                        var d = new Date(Date.UTC(t[2], t[1]-1, t[0], t[3], t[4], "00")).toLocaleString();
                        // var d = new Date();
                        // var date = d.toLocaleFormat('%A, %B %e, %Y');
                        // 31-01-2019 10:36
                        // "2010-06-09 13:12:01"
                        table_data.row.add( [
                            response.event_flow[i],
                            response.event_name_flow[i],
                            response.platform_flow[i],
                            d
                        ] ).draw( false );
                    }
                    // table_data.columns.adjust();
                    setTimeout(function(){
                        // table_data.fnAdjustColumnSizing();
                    },100);

                    // html += '</table>';
                    // html += '</tr>';
                    // $(html).appendTo('#table_body');
                    // table_data.ajax.reload();
                    // $('#data_table').DataTable({
                    //     'paging': false,
                    //     "scrollX": true
                    // } );
                }
            });
            // $('<tr><td>2</td></tr><tr><td>4</td></tr></table>').appendTo('#div1');
            // alert($(this).data('id'));
        });

        $(".get_flow").click(function(){ // Click to only happen on announce links
            client_id = $(this).data('id');
            /*$.ajax({
                url:'/get_client_flow/',
                type:'POST',
                dataType: 'json',
                data:{'client_id':client_id},
                success: function(response){
                    console.log(response);
                    // console.log(response.client_flow[0]);
                    if(response.count_start >0){
                        var lable_name = [];
                        var label_color = [];

                        for (var i = 0; i < response.count_start; i++) {
                            lable_name.push(response.total_page[i]);
                            label_color.push("blue");
                        }
                        var data_sankey = {
                            type: "sankey",
                            orientation: "h",
                            node: {
                                pad: 10,
                                thickness: 30,
                                line: {
                                    color: "black",
                                    width: 0.5
                                },
                                label: lable_name,
                                color: label_color
                            },
                            link: {
                                source: response.client_flow[0].source,
                                target: response.client_flow[0].target,
                                value:  response.client_flow[0].value,
                                // label: ["0", "1", "2", "3", "4"],
                            },
                        }

                        var data_sankey = [data_sankey]
                        var layout = {
                            title: "Flow",
                            font: { size: 10 }
                        }
                        Plotly.react('myDiv', data_sankey, layout, {showSendToCloud:true})
                    }
                }
            });*/
            var svg = d3.select("svg");
            svg.selectAll("*").remove();
            $.ajax({
                url:'/get_client_flow/',
                type:'POST',
                dataType: 'json',
                data:{'client_id':client_id},
                success: function(response){
                    console.log(response);
                    // console.log(response.client_flow[0]);
                    if(response.count_start >0){
                        // google.charts.load('current', {'packages':['sankey']});
                        // google.charts.setOnLoadCallback(drawChart);
                        var flow_arr = response.client_flow[0];

                        function drawChart() {
                            // var data = new google.visualization.DataTable();
                            // data.addColumn('string', 'From');
                            // data.addColumn('string', 'To');
                            // data.addColumn('number', 'Weight');
                            // for (var i = 0; i < response.client_flow[0].source.length; i++) {
                            //     data.addRows([
                            //       [ response.client_flow[0].source[i], response.client_flow[0].target[i], i+1 ],
                            //     ]);
                            //     console.log(response.client_flow[0].source[i]+'-'+response.client_flow[0].target[i] +'-'+toString(i+1) );
                            // }
                            // // console.log(data);

                            // // Sets chart options.
                            // var options = {
                            //   width: 600,
                            // };

                            // Instantiates and draws our chart, passing in some options.
                            // var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
                            // chart.draw(data, options);
                        }
                        var energyData = generateRandomData(flow_arr.source,flow_arr.target,flow_arr.total_page,flow_arr.value);
                        createChart( energyData );
                        // var lable_name = [];
                        // var label_color = [];

                        // for (var i = 0; i < response.count_start; i++) {
                        //     lable_name.push(response.total_page[i]);
                        //     label_color.push("blue");
                        // }
                        // var data_sankey = {
                        //     type: "sankey",
                        //     orientation: "h",
                        //     node: {
                        //         pad: 10,
                        //         thickness: 30,
                        //         line: {
                        //             color: "black",
                        //             width: 0.5
                        //         },
                        //         label: lable_name,
                        //         color: label_color
                        //     },
                        //     link: {
                        //         source: response.client_flow[0].source,
                        //         target: response.client_flow[0].target,
                        //         value:  response.client_flow[0].value,
                        //         // label: ["0", "1", "2", "3", "4"],
                        //     },
                        // }

                        // var data_sankey = [data_sankey]
                        // var layout = {
                        //     title: "Flow",
                        //     font: { size: 10 }
                        // }
                        // Plotly.react('myDiv', data_sankey, layout, {showSendToCloud:true})
                    }
                }
            });
        });
        $(".get_c_flow").click(function(){ // Click to only happen on announce links
            client_id = $(this).data('id');
            $.ajax({
              url:'/client_current_state/',
              type:'POST',
              dataType: 'json',
              data:{'client_id':client_id},
              success: function(response){
                console.log(response);
                // document.getElementById("mySavedModel").value = 'sdfasfd';
                // console.log(response.client_flow[0]);
                chart_html = '{ "class": "go.GraphLinksModel",';
                chart_html += '  "linkFromPortIdProperty": "fromPort",';
                chart_html += '  "linkToPortIdProperty": "toPort",';
                chart_html += '  "nodeDataArray": [';
                // chart_html += '{"category":"Comment", "loc":"360 -10", "text":"Test Chart", "key":-13},';
                chart_html += '{"key":-1, "category":"Start", "loc":"100 0", "text":"User"},';
                chart_html += '{"key":0, "loc":"-15 75", "text":"Not LoggedIn"},';
                if (response.sign_in == 1)
                  chart_html += '{"key":1, "loc":"350 75", "text":"Sign Up", "category":"yes_node"},';
                else
                  chart_html += '{"key":1, "loc":"350 75", "text":"Sign Up"},';

                if (response.salat_client == 1){
                  chart_html += '{"key":2, "loc":"120 140", "text":"ERI Registration Done","category":"yes_node"},';
                  chart_html += '{"key":3, "loc":"580 140", "text":"ERI Registration Pending"},';
                }
                else{
                  chart_html += '{"key":2, "loc":"120 140", "text":"ERI Registration Done"},';
                  chart_html += '{"key":3, "loc":"580 140", "text":"ERI Registration Pending", "category":"yes_node"},';
                }

                if(response.submit_pan_dob == 1)
                  chart_html += '{"key":4, "loc":"550 200", "text":"PAN/DOB submitted","category":"yes_node"},';
                else
                  chart_html += '{"key":4, "loc":"550 200", "text":"PAN/DOB submitted"},';
                if(response.submit_pan_dob == 2)
                  chart_html += '{"key":5, "loc":"750 210", "text":"PAN/DOB not submitted","category":"yes_node"},';
                else
                  chart_html += '{"key":5, "loc":"750 210", "text":"PAN/DOB not submitted"},';

                if(response.submit_otp == 1)
                  chart_html += '{"key":6, "loc":"500 270", "text":"OTP Entered","category":"yes_node"},';
                else
                  chart_html += '{"key":6, "loc":"500 270", "text":"OTP Entered"},';
                if(response.submit_otp == 2)
                  chart_html += '{"key":7, "loc":"650 270", "text":"OTP not Entered","category":"yes_node"},';
                else
                  chart_html += '{"key":7, "loc":"650 270", "text":"OTP not Entered"},';

                if (response.cal_tax_submit==1)
                  chart_html += '{"key":8, "loc":"80 200", "text":"3 Ques. Submitted","category":"yes_node"},';
                else
                  chart_html += '{"key":8, "loc":"80 200", "text":"3 Ques. Submitted"},';
                if(response.cal_tax_submit==2)
                  chart_html += '{"key":9, "loc":"340 200", "text":"3 Ques. not Submitted","category":"yes_node"},';
                else
                  chart_html += '{"key":9, "loc":"340 200", "text":"3 Ques. not Submitted"},';

                if (response.view_tax_report==1){
                  chart_html += '{"key":10, "loc":"65 450", "text":"Tax Report Visited","category":"yes_node"},';
                }else{
                  chart_html += '{"key":10, "loc":"65 450", "text":"Tax Report Visited"},';
                }
                if (response.view_tax_report==2)
                  chart_html += '{"key":11, "loc":"240 450", "text":"Tax Report not Visited","category":"yes_node"},';
                else
                  chart_html += '{"key":11, "loc":"240 450", "text":"Tax Report not Visited"},';

                if(response.view_tsa == 1)
                  chart_html += '{"key":12, "loc":"250 580", "text":"TSA Page Visited","category":"yes_node"},';
                else
                  chart_html += '{"key":12, "loc":"250 580", "text":"TSA Page Visited"},';

                if(response.success == 1)
                  chart_html += '{"key":14, "loc":"30 840", "text":"Subscription Success","category":"yes_node"},';
                else
                  chart_html += '{"key":14, "loc":"30 840", "text":"Subscription Success"},';
                if(response.failure == 1)
                  chart_html += '{"key":15, "loc":"210 840", "text":"Subscription Failure","category":"yes_node"},';
                else
                  chart_html += '{"key":15, "loc":"210 840", "text":"Subscription Failure"},';

                if (response.next_fin_goal == 1)
                  chart_html += '{"key":16, "loc":"20 270", "text":"Clicked Next Financial Goal","category":"yes_node"},';
                else
                  chart_html += '{"key":16, "loc":"20 270", "text":"Clicked Next Financial Goal"},';
                if (response.next_fin_goal == 2)
                  chart_html += '{"key":17, "loc":"200 270", "text":"Not Clicked Next Financial Goal","category":"yes_node"},';
                else
                  chart_html += '{"key":17, "loc":"200 270", "text":"Not Clicked Next Financial Goal"},';

                if (response.seen_last_slide==1){
                  chart_html += '{"key":18, "loc":"80 520", "text":"Seen Last Slide","category":"yes_node"},';
                }else{
                  chart_html += '{"key":18, "loc":"80 520", "text":"Seen Last Slide"},';
                }
                if (response.seen_last_slide==2)
                  chart_html += '{"key":19, "loc":"240 520", "text":"Not Seen Last Slide","category":"yes_node"},';
                else
                  chart_html += '{"key":19, "loc":"240 520", "text":"Not Seen Last Slide"},';

                if(response.checked_offer == 1)
                  chart_html += '{"key":20, "loc":"250 630", "text":"Checked Offer => Yes","category":"yes_node" },';
                else
                  chart_html += '{"key":20, "loc":"250 630", "text":"Checked Offer => No"},';
                
                if (response.click_open_tsa==1){
                  chart_html += '{"key":21, "loc":"150 700", "text":"Clicked Open My TSA","category":"yes_node"},';
                }else{
                  chart_html += '{"key":21, "loc":"150 700", "text":"Clicked Open My TSA"},';
                }
                if (response.click_open_tsa==2)
                  chart_html += '{"key":22, "loc":"350 700", "text":"Not Clicked Open My TSA","category":"yes_node"},';
                else
                  chart_html += '{"key":22, "loc":"350 700", "text":"Not Clicked Open My TSA"},';

                if (response.click_submit_btn==1){
                  chart_html += '{"key":23, "loc":"100 770", "text":"Clicked Submitted","category":"yes_node"},';
                }else{
                  chart_html += '{"key":23, "loc":"100 770", "text":"Clicked Submitted"},';
                }
                if (response.click_submit_btn==2)
                  chart_html += '{"key":24, "loc":"280 770", "text":"Not Clicked Submitted","category":"yes_node"},';
                else
                  chart_html += '{"key":24, "loc":"280 770", "text":"Not Clicked Submitted"},';

                chart_html += '{"key":"P1","loc":"110 380", "category":"parallel" }';
                chart_html += '  ],';
                chart_html += '  "linkDataArray": [';
                chart_html += '{"from":1, "to":2, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":1, "to":3, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":3, "to":4, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":3, "to":5, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":4, "to":6, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":4, "to":7, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":2, "to":8, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":2, "to":9, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":8, "to":16, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":8 , "to":17, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":16 , "to":"P1", "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":17 , "to":"P1", "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":10 , "to":18, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":10 , "to":19, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":18 , "to":12, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":19 , "to":12, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":9 , "to":12, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":12 , "to":20, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":20 , "to":21, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":20 , "to":22, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":21 , "to":23, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":21 , "to":24, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":23 , "to":14, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":23 , "to":15, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":"P1" , "to":10, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":"P1" , "to":11, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":-1, "to":0, "fromPort":"B", "toPort":"T"},';
                chart_html += '{"from":-1, "to":1, "fromPort":"B", "toPort":"T"}';
                chart_html += ' ]}';
                if(response.status == 'success'){
                  myDiagram.div = null;
                  document.getElementById("mySavedModel").value = chart_html;
                  init();
                }
              }
            });
        });

    } );
</script>

<script>
    var margin = {top: 1, right: 1, bottom: 6, left: 1},
        width = 800 - margin.left - margin.right,
        height = 200 - margin.top - margin.bottom;

    var formatNumber = d3.format(",.0f"),
        format = function(d) { return formatNumber(d) + " tuples"; },
        color = d3.scale.category20();

    var sankey = d3.sankey().nodeWidth(15).nodePadding(10).size([width, height]);

    var svg = d3.select("#chart").append("svg")
      .attr( "preserveAspectRatio", "xMinYMid meet" )
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);

    var rootGraphic = svg
      .append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var path = sankey.link();

    function createChart( energy ) {
        sankey.nodes(energy.nodes).links(energy.links).layout(32);

        var allgraphics = svg.append("g").attr("id", "node-and-link-container" );

        var link = allgraphics.append("g").attr("id", "link-container")
          .selectAll(".link").data(energy.links).enter().append("path")
          .attr("class", function(d) { return (d.causesCycle ? "cycleLink" : "link") })
          .attr("d", path).sort(function(a, b) { return b.dy - a.dy; });

        link.filter( function(d) { return !d.causesCycle} )
        .style("stroke-width", function(d) { return Math.max(1, d.dy); })

        link.append("title")
          .text(function(d) { return d.source.name + " -> " + d.target.name + "\n" + format(d.value); });

        var node = allgraphics.append("g").attr("id", "node-container")
          .selectAll(".node").data(energy.nodes).enter().append("g").attr("class", "node")
          .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
          .call(d3.behavior.drag().origin(function(d) { return d; })
          .on("dragstart", function() { this.parentNode.appendChild(this); })
          .on("drag", dragmove));

        node.append("rect")
          .attr("height", function(d) { return d.dy; })
          .attr("width", sankey.nodeWidth())
          .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
          .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
          .append("title").text(function(d) { return d.name + "\n" + format(d.value); });

        node.append("text")
          .attr("x", -6).attr("y", function(d) { return d.dy / 2; }).attr("dy", ".35em")
          .attr("text-anchor", "end").attr("transform", null).text(function(d) { return d.name; })
          .filter(function(d) { return d.x < width / 2; })
          .attr("x", 6 + sankey.nodeWidth()).attr("text-anchor", "start");

        function dragmove(d) {
            d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
            sankey.relayout();
            link.attr("d", path);
        }

        // I need to learn javascript
        var numCycles = 0;
        for( var i = 0; i< sankey.links().length; i++ ) {
            if( sankey.links()[i].causesCycle ) {
                numCycles++;
            }
        }

        var cycleTopMarginSize = (sankey.cycleLaneDistFromFwdPaths() -
            ( (sankey.cycleLaneNarrowWidth() + sankey.cycleSmallWidthBuffer() ) * numCycles ) )
        var horizontalMarginSize = ( sankey.cycleDistFromNode() + sankey.cycleControlPointDist() );

        svg = d3.select("#chart").select("svg").attr( "viewBox",
          "" + (0 - horizontalMarginSize ) + " "         // left
          + cycleTopMarginSize + " "                      // top
          + (960 + horizontalMarginSize * 2 ) + " "     // width
          + (500 + (-1 * cycleTopMarginSize)) + " " ); // height
    };

    function generateRandomData(source_arr,target_arr,unique_arr,value_arr) {
        // console.log(unique_arr);
        // console.log(source_arr);
        var dataObject = new Object();

        var numNodes = Math.floor(10 + 10 * Math.random());
        var numLinks = Math.floor(1.25 * numNodes + 10 * Math.random());
        var numNodes = unique_arr.length-1; //unique page
        var numLinks = Math.floor(source_arr.length); //start_end

        // Generate nodes
        dataObject.nodes = d3.range(numNodes).map(function (x) {return {name: unique_arr[x]};});

        // Generate links
        // console.log('dataObject1');
        dataObject.links = d3.range(numLinks).map(function (x) {
            // var target = source = Math.floor(Math.random() * numNodes);
            // while (target== source) {
            //     target = Math.floor(Math.random() * numNodes);
            // }
            var source = source_arr[x];
            var target = target_arr[x];
            // console.log(source + ' - ' + target);
            return {source: source, target: target, value: value_arr[x]};
        });
        // console.log('dataObject2');

        return dataObject;
    }

    // var energyData = generateRandomData();
    // createChart( energyData );
</script>

<script id="code">
  function init() {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
    var $ = go.GraphObject.make;  // for conciseness in defining templates

    myDiagram = $(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
      {
        "LinkDrawn": showLinkLabel,  // this DiagramEvent listener is defined below
        "LinkRelinked": showLinkLabel,
        "undoManager.isEnabled": true  // enable undo & redo
      });

    // when the document is modified, add a "*" to the title and enable the "Save" button
    myDiagram.addDiagramListener("Modified", function(e) {
      var button = document.getElementById("SaveButton");
      if (button) button.disabled = !myDiagram.isModified;
      var idx = document.title.indexOf("*");
      if (myDiagram.isModified) {
        if (idx < 0) document.title += "*";
      } else {
        if (idx >= 0) document.title = document.title.substr(0, idx);
      }
    });

    // helper definitions for node templates
    function nodeStyle() {
      return [
        // The Node.location comes from the "loc" property of the node data,
        // converted by the Point.parse static method.
        // If the Node.location is changed, it updates the "loc" property of the node data,
        // converting back using the Point.stringify static method.
        new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
        {
          // the Node.location is at the center of each node
          locationSpot: go.Spot.Center
        }
      ];
    }

    // Define a function for creating a "port" that is normally transparent.
    // The "name" is used as the GraphObject.portId, the "align" is used to determine where to 
    // position the port relative to the body of the node, the "spot" is used to control how links 
    // connect with the port and whether the port stretches along the side of the node, and the 
    // boolean "output" and "input" arguments control whether the user can draw links from or to the 
    // port.
    function makePort(name, align, spot, output, input) {
      var horizontal = align.equals(go.Spot.Top) || align.equals(go.Spot.Bottom);
      // the port is basically just a transparent rectangle that stretches along the side of the node,
      // and becomes colored when the mouse passes over it
      return $(go.Shape,
        {
          fill: "transparent",  // changed to a color in the mouseEnter event handler
          strokeWidth: 0,  // no stroke
          width: horizontal ? NaN : 8,  // if not stretching horizontally, just 8 wide
          height: !horizontal ? NaN : 8,  // if not stretching vertically, just 8 tall
          alignment: align,  // align the port on the main Shape
          stretch: (horizontal ? go.GraphObject.Horizontal : go.GraphObject.Vertical),
          portId: name,  // declare this object to be a "port"
          fromSpot: spot,  // declare where links may connect at this port
          fromLinkable: output,  // declare whether the user may draw links from here
          toSpot: spot,  // declare where links may connect at this port
          toLinkable: input,  // declare whether the user may draw links to here
          cursor: "pointer",  // show a different cursor to indicate potential link point
          mouseEnter: function(e, port) {  // the PORT argument will be this Shape
            if (!e.diagram.isReadOnly) port.fill = "rgba(255,0,255,0.5)";
          },
          mouseLeave: function(e, port) {
            port.fill = "transparent";
          }
        });
    }

    function textStyle() {
      return {
        font: "bold 11pt Helvetica, Arial, sans-serif",
        stroke: "whitesmoke"
      }
    }

    // define the Node templates for regular nodes

    myDiagram.nodeTemplateMap.add("",  // the default category
      $(go.Node, "Table", nodeStyle(),
        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
        $(go.Panel, "Auto",
          $(go.Shape, "Rectangle",
            { fill: "#00A9C9", strokeWidth: 0 },
            new go.Binding("figure", "figure")),
          $(go.TextBlock, textStyle(),
            {
              margin: 8,
              maxSize: new go.Size(160, NaN),
              wrap: go.TextBlock.WrapFit,
              editable: false
            },
            new go.Binding("text").makeTwoWay())
        ),
        // four named ports, one on each side:
        makePort("T", go.Spot.Top, go.Spot.TopSide, false, true),
        makePort("L", go.Spot.Left, go.Spot.LeftSide, true, true),
        makePort("R", go.Spot.Right, go.Spot.RightSide, true, true),
        makePort("B", go.Spot.Bottom, go.Spot.BottomSide, true, false)
      ));
      myDiagram.nodeTemplateMap.add("yes_node",  // the default category
      $(go.Node, "Table", nodeStyle(),
        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
        $(go.Panel, "Auto",
          $(go.Shape, "Rectangle",
            { fill: "#79C900", strokeWidth: 0 },
            new go.Binding("figure", "figure")),
          $(go.TextBlock, textStyle(),
            {
              margin: 8,
              maxSize: new go.Size(160, NaN),
              wrap: go.TextBlock.WrapFit,
              editable: false
            },
            new go.Binding("text").makeTwoWay())
        ),
        // four named ports, one on each side:
        makePort("T", go.Spot.Top, go.Spot.TopSide, false, true),
        makePort("L", go.Spot.Left, go.Spot.LeftSide, true, true),
        makePort("R", go.Spot.Right, go.Spot.RightSide, true, true),
        makePort("B", go.Spot.Bottom, go.Spot.BottomSide, true, false)
      ));
      // define the parallel Node template.
    myDiagram.nodeTemplateMap.add("parallel",
      $(go.Node,
        { locationSpot: go.Spot.Center },
        new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
        $(go.Shape, "Rectangle",
          {
            fill: "whitesmoke",
            stroke: "black",
            fromSpot: go.Spot.BottomCenter,
            toSpot: go.Spot.TopCenter,
            desiredSize: new go.Size(150, 6),
            portId: "",
            fromSpot: go.Spot.BottomSide,
            toSpot: go.Spot.TopSide
          })
      ));
    myDiagram.nodeTemplateMap.add("Conditional",
      $(go.Node, "Table", nodeStyle(),
        // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
        $(go.Panel, "Auto",
          $(go.Shape, "Diamond",
            { fill: "#00A9C9", strokeWidth: 0 },
            new go.Binding("figure", "figure")),
          $(go.TextBlock, textStyle(),
            {
              margin: 8,
              maxSize: new go.Size(160, NaN),
              wrap: go.TextBlock.WrapFit,
              editable: true
            },
            new go.Binding("text").makeTwoWay())
        ),
        // four named ports, one on each side:
        makePort("T", go.Spot.Top, go.Spot.Top, false, true),
        makePort("L", go.Spot.Left, go.Spot.Left, true, true),
        makePort("R", go.Spot.Right, go.Spot.Right, true, true),
        makePort("B", go.Spot.Bottom, go.Spot.Bottom, true, false)
      ));

    myDiagram.nodeTemplateMap.add("Start",
      $(go.Node, "Table", nodeStyle(),
        $(go.Panel, "Auto",
          $(go.Shape, "Circle",
            { minSize: new go.Size(40, 40), fill: "#79C900", strokeWidth: 0 }),
          $(go.TextBlock, "Start", textStyle(),
            new go.Binding("text"))
        ),
        // three named ports, one on each side except the top, all output only:
        makePort("L", go.Spot.Left, go.Spot.Left, true, false),
        makePort("R", go.Spot.Right, go.Spot.Right, true, false),
        makePort("B", go.Spot.Bottom, go.Spot.Bottom, true, false)
      ));

    myDiagram.nodeTemplateMap.add("End",
      $(go.Node, "Table", nodeStyle(),
        $(go.Panel, "Auto",
          $(go.Shape, "Circle",
            { minSize: new go.Size(40, 40), fill: "#DC3C00", strokeWidth: 0 }),
          $(go.TextBlock, "End", textStyle(),
            new go.Binding("text"))
        ),
        // three named ports, one on each side except the bottom, all input only:
        makePort("T", go.Spot.Top, go.Spot.Top, false, true),
        makePort("L", go.Spot.Left, go.Spot.Left, false, true),
        makePort("R", go.Spot.Right, go.Spot.Right, false, true)
      ));

    // taken from ../extensions/Figures.js:
    go.Shape.defineFigureGenerator("File", function(shape, w, h) {
      var geo = new go.Geometry();
      var fig = new go.PathFigure(0, 0, true); // starting point
      geo.add(fig);
      fig.add(new go.PathSegment(go.PathSegment.Line, .75 * w, 0));
      fig.add(new go.PathSegment(go.PathSegment.Line, w, .25 * h));
      fig.add(new go.PathSegment(go.PathSegment.Line, w, h));
      fig.add(new go.PathSegment(go.PathSegment.Line, 0, h).close());
      var fig2 = new go.PathFigure(.75 * w, 0, false);
      geo.add(fig2);
      // The Fold
      fig2.add(new go.PathSegment(go.PathSegment.Line, .75 * w, .25 * h));
      fig2.add(new go.PathSegment(go.PathSegment.Line, w, .25 * h));
      geo.spot1 = new go.Spot(0, .25);
      geo.spot2 = go.Spot.BottomRight;
      return geo;
    });

    myDiagram.nodeTemplateMap.add("Comment",
      $(go.Node, "Auto", nodeStyle(),
        $(go.Shape, "File",
          { fill: "#DEE0A3", strokeWidth: 0 }),
        $(go.TextBlock, textStyle(),
          {
            margin: 5,
            maxSize: new go.Size(200, NaN),
            wrap: go.TextBlock.WrapFit,
            textAlign: "center",
            editable: true,
            font: "bold 12pt Helvetica, Arial, sans-serif",
            stroke: '#454545'
          },
          new go.Binding("text").makeTwoWay())
        // no ports, because no links are allowed to connect with a comment
      ));

    // replace the default Link template in the linkTemplateMap
    myDiagram.linkTemplate =
      $(go.Link,  // the whole link panel
        {
          routing: go.Link.AvoidsNodes,
          curve: go.Link.JumpOver,
          corner: 5, toShortLength: 4,
          relinkableFrom: true,
          relinkableTo: true,
          reshapable: true,
          resegmentable: true,
          // mouse-overs subtly highlight links:
          mouseEnter: function(e, link) { link.findObject("HIGHLIGHT").stroke = "rgba(30,144,255,0.2)"; },
          mouseLeave: function(e, link) { link.findObject("HIGHLIGHT").stroke = "transparent"; },
          selectionAdorned: false
        },
        new go.Binding("points").makeTwoWay(),
        $(go.Shape,  // the highlight shape, normally transparent
          { isPanelMain: true, strokeWidth: 8, stroke: "transparent", name: "HIGHLIGHT" }),
        $(go.Shape,  // the link path shape
          { isPanelMain: true, stroke: "gray", strokeWidth: 2 },
          new go.Binding("stroke", "isSelected", function(sel) { return sel ? "dodgerblue" : "gray"; }).ofObject()),
        $(go.Shape,  // the arrowhead
          { toArrow: "standard", strokeWidth: 0, fill: "gray"}),
        $(go.Panel, "Auto",  // the link label, normally not visible
          { visible: false, name: "LABEL", segmentIndex: 2, segmentFraction: 0.5},
          new go.Binding("visible", "visible").makeTwoWay(),
          $(go.Shape, "RoundedRectangle",  // the label shape
            { fill: "#F8F8F8", strokeWidth: 0 }),
          $(go.TextBlock, "Yes",  // the label
            {
              textAlign: "center",
              font: "10pt helvetica, arial, sans-serif",
              stroke: "#333333",
              editable: true
            },
            new go.Binding("text").makeTwoWay())
        )
      );

    // Make link labels visible if coming out of a "conditional" node.
    // This listener is called by the "LinkDrawn" and "LinkRelinked" DiagramEvents.
    function showLinkLabel(e) {
      var label = e.subject.findObject("LABEL");
      if (label !== null) label.visible = (e.subject.fromNode.data.category === "Conditional");
    }

    // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
    myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Link.Orthogonal;
    myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Link.Orthogonal;

    load();  // load an initial diagram from some JSON text

    // initialize the Palette that is on the left side of the page
    // myPalette =
    //   $(go.Palette, "myPaletteDiv",  // must name or refer to the DIV HTML element
    //     {
    //       nodeTemplateMap: myDiagram.nodeTemplateMap,  // share the templates used by myDiagram
    //       model: new go.GraphLinksModel([  // specify the contents of the Palette
    //         { category: "Start", text: "Start" },
    //         { text: "Step" },
    //         { category: "Conditional", text: "???" },
    //         { category: "End", text: "End" },
    //         { category: "Comment", text: "Comment" }
    //       ])
    //     });
  } // end init


  // Show the diagram's model in JSON format that the user may edit
  function save() {
    document.getElementById("mySavedModel").value = myDiagram.model.toJson();
    myDiagram.isModified = false;
  }
  function load() {
    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
  }

  // print the diagram by opening a new window holding SVG images of the diagram contents for each page
  function printDiagram() {
    var svgWindow = window.open();
    if (!svgWindow) return;  // failure to open a new Window
    var printSize = new go.Size(700, 960);
    var bnds = myDiagram.documentBounds;
    var x = bnds.x;
    var y = bnds.y;
    while (y < bnds.bottom) {
      while (x < bnds.right) {
        var svg = myDiagram.makeSVG({ scale: 1.0, position: new go.Point(x, y), size: printSize });
        svgWindow.document.body.appendChild(svg);
        x += printSize.width;
      }
      x = bnds.x;
      y += printSize.height;
    }
    setTimeout(function() { svgWindow.print(); }, 1);
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      url:'/client_current_state/',
      type:'POST',
      dataType: 'json',
      data:{'client_id':'19'},
      success: function(response){
        console.log(response);
        // document.getElementById("mySavedModel").value = 'sdfasfd';
        // console.log(response.client_flow[0]);
        chart_html = '{ "class": "go.GraphLinksModel",';
        chart_html += '  "linkFromPortIdProperty": "fromPort",';
        chart_html += '  "linkToPortIdProperty": "toPort",';
        chart_html += '  "nodeDataArray": [';
        chart_html += '{"category":"Comment", "loc":"360 -10", "text":"Test Chart", "key":-13},';
        chart_html += '{"key":-1, "category":"Start", "loc":"100 0", "text":"User"},';
        chart_html += '{"key":0, "loc":"-15 75", "text":"Not LoggedIn"},';
        if (response.sign_in == 1)
          chart_html += '{"key":1, "loc":"350 75", "text":"Sign Up", "category":"yes_node"},';
        else
          chart_html += '{"key":1, "loc":"350 75", "text":"Sign Up"},';

        if (response.salat_client == 1){
          chart_html += '{"key":2, "loc":"120 140", "text":"ERI Registration Done","category":"yes_node"},';
          chart_html += '{"key":3, "loc":"580 140", "text":"ERI Registration Pending"},';
        }
        else{
          chart_html += '{"key":2, "loc":"120 140", "text":"ERI Registration Done"},';
          chart_html += '{"key":3, "loc":"580 140", "text":"ERI Registration Pending", "category":"yes_node"},';
        }

        if(response.submit_pan_dob == 1)
          chart_html += '{"key":4, "loc":"550 200", "text":"PAN/DOB submitted","category":"yes_node"},';
        else
          chart_html += '{"key":4, "loc":"550 200", "text":"PAN/DOB submitted"},';
        if(response.submit_pan_dob == 2)
          chart_html += '{"key":5, "loc":"750 210", "text":"PAN/DOB not submitted","category":"yes_node"},';
        else
          chart_html += '{"key":5, "loc":"750 210", "text":"PAN/DOB not submitted"},';

        if(response.submit_otp == 1)
          chart_html += '{"key":6, "loc":"500 270", "text":"OTP Entered","category":"yes_node"},';
        else
          chart_html += '{"key":6, "loc":"500 270", "text":"OTP Entered"},';
        if(response.submit_otp == 2)
          chart_html += '{"key":7, "loc":"650 270", "text":"OTP not Entered","category":"yes_node"},';
        else
          chart_html += '{"key":7, "loc":"650 270", "text":"OTP not Entered"},';

        if (response.cal_tax_submit==1)
          chart_html += '{"key":8, "loc":"80 200", "text":"3 Ques. Submitted","category":"yes_node"},';
        else
          chart_html += '{"key":8, "loc":"80 200", "text":"3 Ques. Submitted"},';
        if(response.cal_tax_submit==2)
          chart_html += '{"key":9, "loc":"340 200", "text":"3 Ques. not Submitted","category":"yes_node"},';
        else
          chart_html += '{"key":9, "loc":"340 200", "text":"3 Ques. not Submitted"},';

        if (response.view_tax_report==1){
          chart_html += '{"key":10, "loc":"65 450", "text":"Tax Report Visited","category":"yes_node"},';
        }else{
          chart_html += '{"key":10, "loc":"65 450", "text":"Tax Report Visited"},';
        }
        if (response.view_tax_report==2)
          chart_html += '{"key":11, "loc":"240 450", "text":"Tax Report not Visited","category":"yes_node"},';
        else
          chart_html += '{"key":11, "loc":"240 450", "text":"Tax Report not Visited"},';

        if(response.view_tsa == 1)
          chart_html += '{"key":12, "loc":"250 580", "text":"TSA Page Visited","category":"yes_node"},';
        else
          chart_html += '{"key":12, "loc":"250 580", "text":"TSA Page Visited"},';

        if(response.success == 1)
          chart_html += '{"key":14, "loc":"30 840", "text":"Subscription Success","category":"yes_node"},';
        else
          chart_html += '{"key":14, "loc":"30 840", "text":"Subscription Success"},';
        if(response.failure == 1)
          chart_html += '{"key":15, "loc":"210 840", "text":"Subscription Failure","category":"yes_node"},';
        else
          chart_html += '{"key":15, "loc":"210 840", "text":"Subscription Failure"},';

        if (response.next_fin_goal == 1)
          chart_html += '{"key":16, "loc":"20 270", "text":"Clicked Next Financial Goal","category":"yes_node"},';
        else
          chart_html += '{"key":16, "loc":"20 270", "text":"Clicked Next Financial Goal"},';
        if (response.next_fin_goal == 2)
          chart_html += '{"key":17, "loc":"200 270", "text":"Not Clicked Next Financial Goal","category":"yes_node"},';
        else
          chart_html += '{"key":17, "loc":"200 270", "text":"Not Clicked Next Financial Goal"},';

        if (response.seen_last_slide==1){
          chart_html += '{"key":18, "loc":"80 520", "text":"Seen Last Slide","category":"yes_node"},';
        }else{
          chart_html += '{"key":18, "loc":"80 520", "text":"Seen Last Slide"},';
        }
        if (response.seen_last_slide==2)
          chart_html += '{"key":19, "loc":"240 520", "text":"Not Seen Last Slide","category":"yes_node"},';
        else
          chart_html += '{"key":19, "loc":"240 520", "text":"Not Seen Last Slide"},';

        if(response.checked_offer == 1)
          chart_html += '{"key":20, "loc":"250 630", "text":"Checked Offer => Yes","category":"yes_node" },';
        else
          chart_html += '{"key":20, "loc":"250 630", "text":"Checked Offer => No"},';
        
        if (response.click_open_tsa==1){
          chart_html += '{"key":21, "loc":"150 700", "text":"Clicked Open My TSA","category":"yes_node"},';
        }else{
          chart_html += '{"key":21, "loc":"150 700", "text":"Clicked Open My TSA"},';
        }
        if (response.click_open_tsa==2)
          chart_html += '{"key":22, "loc":"350 700", "text":"Not Clicked Open My TSA","category":"yes_node"},';
        else
          chart_html += '{"key":22, "loc":"350 700", "text":"Not Clicked Open My TSA"},';

        if (response.click_submit_btn==1){
          chart_html += '{"key":23, "loc":"100 770", "text":"Clicked Submitted","category":"yes_node"},';
        }else{
          chart_html += '{"key":23, "loc":"100 770", "text":"Clicked Submitted"},';
        }
        if (response.click_submit_btn==2)
          chart_html += '{"key":24, "loc":"280 770", "text":"Not Clicked Submitted","category":"yes_node"},';
        else
          chart_html += '{"key":24, "loc":"280 770", "text":"Not Clicked Submitted"},';

        chart_html += '{"key":"P1","loc":"110 380", "category":"parallel" }';
        chart_html += '  ],';
        chart_html += '  "linkDataArray": [';
        chart_html += '{"from":1, "to":2, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":1, "to":3, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":3, "to":4, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":3, "to":5, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":4, "to":6, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":4, "to":7, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":2, "to":8, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":2, "to":9, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":8, "to":16, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":8 , "to":17, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":16 , "to":"P1", "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":17 , "to":"P1", "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":10 , "to":18, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":10 , "to":19, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":18 , "to":12, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":19 , "to":12, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":9 , "to":12, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":12 , "to":20, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":20 , "to":21, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":20 , "to":22, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":21 , "to":23, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":21 , "to":24, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":23 , "to":14, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":23 , "to":15, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":"P1" , "to":10, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":"P1" , "to":11, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":-1, "to":0, "fromPort":"B", "toPort":"T"},';
        chart_html += '{"from":-1, "to":1, "fromPort":"B", "toPort":"T"}';
        chart_html += ' ]}';
        if(response.status == 'success'){
          document.getElementById("mySavedModel").value = chart_html;
        }
      }
    });
  } );
</script>
</body>
</html>

<!-- https://www.totaljs.com/flow/ -->
