{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Salat Information</title>
<meta name="description" content="Salat Information" />
{% include 'header.html'%}
<script src="{% static 'js/success.js' %}"></script>
<style type="text/css">
    .n-m{
        margin-bottom: 3rem;
    }
    .top-css{
        padding-top:4rem;
        padding-bottom: 1rem;
    }
    .img_cs{ 
        margin-left: 33%;
    }
    .ana_color{
        color: #036a9e;
        text-decoration: underline;
    }
    .ana_color:hover{
        color: #036a9e!important;
        text-decoration: underline;
    }
    .main_div{
        padding-top:5px;
        padding-bottom:10px;
    }
    .footer_address{ padding-top: 30px; }
    .footer_contact{ padding-top: 30px; }
    .footer_con{ padding-top: 30px; }
    .box{
        border-radius: 0;
        margin-bottom: 30px;
    }
    .tax_saving_style{
        margin-bottom: 12px;
        font-size: 1.1rem;
    }
    ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 32px;
        width: 100%;
    }
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        padding: 0px 21px;
        height: 31px;
        line-height: 31px;
        border-top: 1px solid #00A0E3;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #00A0E3;
        background-color: #00A0E3;
        color: white;
        overflow: hidden;
        position: relative;
    }
    .tab_last { 
        border-right: 1px solid #00A0E3; 
    }
    ul.tabs li:hover {
        background-color: #fff;
        color: #00A0E3;
        font-weight: 600;
        border-color: #00A0E3;
    }
    ul.tabs li.active {
        background-color: #fff;
        border-bottom: 1px solid #00A0E3;
        display: block;
        color: #00A0E3;
        border-color: #00A0E3;
        font-weight: 600;
    }
    .tab_container {
        border: 1px solid #00A0E3;
        border-top: 1px solid #00A0E3;
        clear: both;
        float: left;
        width: 100%;
        background: #fff;
        overflow: auto;
        margin-top: 14px;
        margin-bottom: 40px;
    }
    .tab_content {
        padding: 20px;
        display: none;
    }
    .tab_drawer_heading { display: none; }
    .success_style{
        position: relative;
        top: 17px;
    }
    .invest_style{
        margin-bottom: 100px;
        box-shadow: 0px 3px 32px 8px #adaeaf;
        border: 15px solid #b3e1e8;
        border-radius: 8px;
    }
    h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media screen and (max-width: 480px) {
        .tabs { display: none; }
        .tab_drawer_heading {
            background-color: #00A0E3;
            color: #fff;
            margin: 0;
            padding: 5px 20px;
            display: block;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-bottom: 1px solid #fff;
        }
        .tab_container{
            margin-top: 0px;
            width: 100%;
        }
        .h2, h2 {
            font-size: 1.6rem!important;
        }
        .d_active {
            background-color: #fff;
            color: #00A0E3;
        }
        .mobile_css{ font-size: 1.3rem!important; }
        .tab_css{ border-top: 1px solid rgb(0, 160, 227); }
    }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        ul.tabs li { border-bottom: 1px solid #1A2531; }
        .invest_style{
            margin-bottom: 20px;
            margin-top: -27px;
        }
        .footer_black{ margin-top: 70px; }
        .img_cs{ margin-left: 0; }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    /*435*/
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="success_controller">
        {% csrf_token %}
        <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{% csrf_token %}">
        <div class="row-col1">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <!-- content -->
            <div class="success_style row-main">
                <div class="col-sm-12 text-center">
                    <div class="p-t-lg top-css">
                        <h1 class="m-y-md text-white"></h1>
                    </div>
                </div>
                <div class="row row-main n-m">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12 invest_style">
                        <div class="box">
                            <div class="box-body">
                                <h3><img src="../static/images/generatedtext.png" class="img_cs"></h3>
                                <center>
                                    <h6 style="font-size:1.3rem;">Welcome to the smart group of people who intend to pay less taxes this financial year with prudent tax planning</h6>
                                </center>
                            </div>
                        <center>
                            <h6 class="tax_saving_style">Here is how to make most of Salat Tax Savings Account</h6>
                        </center>
                        <ul class="tabs">
                            <li class="active" rel="tab1">Analytics Report</li>
                            <li rel="tab2">Tax Plan for Current Year</li>
                            <li rel="tab3">Tax Saving Avenues</li>
                            <li rel="tab4">Return Filing for FY 2018-19</li>
                        </ul>
                        <div class="tab_container">
                            <h3 class="d_active tab_drawer_heading mobile_css" rel="tab1">Tax Analytics Report</h3>
                            <div id="tab1" class="tab_content tab_css">
                                <!-- <h2>Tab 1 content</h2> -->
                            <p>To begin please check out Salat Tax Analytics Report.</p>
                            <p>It contains analysis of your income, taxes paid, deductions taken etc over last <%count_itr%> years. Your tax leakages would be analysed and exactly how you could have saved more taxes would be elaborated. Any other issues related to your Income tax return filing would also be highlighted.</p>
                            <p>So buckle up, wear your x ray goggles and checkout <a href="/tax_analytics_report" class="ana_color" target="_blank">Salat Tax Analytics Report.</a></p>
                            </div>
                            <!-- #tab1 -->
                            <h3 class="tab_drawer_heading mobile_css" rel="tab2">Tax Plan for Current Year</h3>
                            <div id="tab2" class="tab_content tab_css">
                                <!-- <h2>Tab 2 content</h2> -->
                                <p>Once you have gone through the Tax Analytics report you will get a fair idea regarding dos and donts of tax planning.</p>
                                <p>Armed with these insights lets now help you plan taxes prudently for current financial year.</p>
                                <p>Go to the <a href="/tax_plan" class="ana_color" target="_blank"> Tax Plan</a> page and start planning your taxes like a pro!</p>
                            </div>
                            <!-- #tab2 -->
                            <h3 class="tab_drawer_heading mobile_css"  rel="tab3">Tax Saving Avenues</h3>
                            <div id="tab3" class="tab_content tab_css">
                                <!-- <h2>Tab 3 content</h2> -->
                                <p>You can google and get a plethora of information on how to save more taxes. There are more than a dozen tax saving investments out there. How do you know which one is suitable for you ? </p>

                                <p>Get an easy to understand guide on tax saving avenues and more importantly recommendations as per your suitability. </p>

                                <p>Check out <a href="/tax_saving_report" class="ana_color" target="_blank">Tax Saving Avenues</a> now. </p>
                            </div>
                            <!-- #tab3 -->
                            <h3 class="tab_drawer_heading mobile_css" rel="tab4">Income Tax Return Filing for FY 2018-19</h3>
                            <div id="tab4" class="tab_content tab_css">
                                <p>Return Filing is one of the most important compliance any income earning person has to do.</p>
                                <p>Do it right and you can actually get refunds faster of course if you are eligible for it. Do it wrong and you may have to face income tax notices and penalties.</p>
                                <p>Salat's return filing portal is very easy and smart so filing right return yourself is going to be much easier. Portal opens in June 2019.</p>
                            </div>
                            <!-- #tab4 -->
                        </div>
                        <!-- .tab_container -->
                    </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div> 
    </div>
    <!--modal-->
    {% include 'footer.html'%}
</div>
</form>


<script type="text/javascript">
    /*var accordion = (function(){
      var $accordion = $('.js-accordion');
      var $accordion_header = $accordion.find('.js-accordion-header');
      var $accordion_item = $('.js-accordion-item');
     
      // default settings 
      var settings = {
        // animation speed
        speed: 400,
        
        // close all other accordion items if true
        oneOpen: false
      };
        
      return {
        // pass configurable object literal
        init: function($settings) {
          $accordion_header.on('click', function() {
            accordion.toggle($(this));
          });
          
          $.extend(settings, $settings); 
          
          // ensure only one accordion is active if oneOpen is true
          if(settings.oneOpen && $('.js-accordion-item.active').length > 1) {
            $('.js-accordion-item.active:not(:first)').removeClass('active');
          }
          
          // reveal the active accordion bodies
          $('.js-accordion-item.active').find('> .js-accordion-body').show();
        },
        toggle: function($this) {
                
          if(settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
            $this.closest('.js-accordion')
                   .find('> .js-accordion-item') 
                   .removeClass('active')
                   .find('.js-accordion-body')
                   .slideUp()
          }
          
          // show/hide the clicked accordion item
          $this.closest('.js-accordion-item').toggleClass('active');
          $this.next().stop().slideToggle(settings.speed);
        }
      }
    })();

    $(document).ready(function(){
      accordion.init({ speed: 300, oneOpen: true });
    });*/
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function() {
        $(".tab_content").hide();
        var activeTab = $(this).attr("rel"); 
        $("#"+activeTab).fadeIn();        

        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function() {
        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel"); 
        console.log(d_activeTab)
        $("#"+d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("active");
        $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
    /* Extra class "tab_last" to add border to right side of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

</body>
</html>
