{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Services</title>
<meta name="description" content="Registration" />

<head>
{% include 'header.html'%}
<script src="{% static 'js/services.js' %}"></script>
<style type="text/css">
    .desktop_mobile{
            padding-top:7rem;
            padding-bottom: 76px;
            width: 693px;
            margin-left: 78px;
    }
   
    .table > tbody > tr > td.text_alignment {
        padding: .5rem!important;
    }
    /*checkbox css*/
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 1.95em;
      cursor: pointer;
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 1.25em; height: 1.25em;
      border: 2px solid #ccc;
      background: #fff;
      border-radius: 4px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: .2em; left: .275em;
      font-size: 1.4em;
      line-height: 0.8;
      color: #09ad7e;
      transition: all .2s;
      font-family: Helvetica, Arial, sans-serif;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      border: 2px dotted blue;
    }
    /* hover style just for information */
    label:hover:before {
      border: 2px solid #4778d9!important;
    }
    .nav a {
        color: #000;
    }
    #btnDIY {
        background: #16202F;
        color: #FFFFFF;
    }
    #btnCAA {
        color: #FFFFFF;
    }
    .thead_style{
        color: black;
        text-align: center;
    }
    .free_style{
        color: #009EDF;
        font-weight: 600;
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
     @media only screen and (max-width: 480px) and (min-width: 320px){
        .desktop_mobile{
            padding-top:10rem;
            padding-bottom: 90px;
            width: 90%;
            margin-left: 18px;
        }
        .mobile_width{
            width: 278px;
        }
     }
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="taxForm" method="post"  ng-controller="index_controller">
    <div class="app" id="app" ng-controller="services_controller">
        <div class="row-col1" style="background:url(../static/images/pricing.jpg) no-repeat; background-size:cover;">
            <div class="col-sm-12">
                {% include 'menubar.html'%}
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg desktop_mobile">
                     <div class="box">
                            <div class="box-header dark">
                                <h2>IT Return Filing</h2>
                            </div>
                            <div class="box-body" style="text-align: justify;">
                                <p class="same_box" style="margin-bottom: 4px;">Filing Income Tax Returns with Salat Tax is the fastest, cheapest and the most accurate way of return filing.</p>
                                <p class="same_box" style="margin-bottom: 4px;">We have a very transparent and simple pricing based on the complexity of your return.</p>
                                <p class="same_box">Use the below calculator to know how much you would have to pay for your return filing. Start filing your returns now.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div id="content" class="app-content" role="main" style="background:url(../static/images/feature_back.jpg) no-repeat; background-size:cover;">
                <div class="p-x-lg" style="position:relative;bottom:100px;" id="pricingDIY">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 mobile_width">
                            <div class="row no-gutter">
                                <div class="col-md-2"></div>
                                <div id="calculation" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="box m-t-n">
                                    <table class="table table-bordered">
                                        <tr class="thead_style">
                                            <th class="text-u-c p-v-sm m-a-0 m-t text-center">Complexity of Tax Return</th>
                                            <span class="text-2x"></span>
                                            <span class="text-xs"></span>
                                            <th class="m-a-0 m-l m-v text-center"> Actions </th>
                                            <th class="m-a-0 m-l m-v text-center"> Price </th>
                                            <span class="text-2x"></span>
                                            <span class="text-xs"></span>
                                        </tr>
                                         <tr id="basic_amt">
                                            <td class="text_alignment"> Basic Return Filing Charges </td>
                                            <td class="text-center">
                                                
                                            </td>
                                            <td id="basic_value"></td>
                                        </tr>
                                        <tr id="formp">
                                            <td class="text_alignment"> No. of form16 </td>
                                            <td class="text-center">
                                                <select id="form16" style="text-align-last: center;" onchange="select_form16()" ng-model="user_s.no_form16" class="md-input" ng-init="user_s.no_form16='0'">
                                                    <option selected="" disabled="">-</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td id="price_value"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> No. of House Property </td>
                                            <td class="text-center">
                                                <select id="House" style="text-align-last: center;" onchange="house()" ng-model="user_s.no_house" class="md-input">
                                                    <option selected="" disabled="">-</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </td>
                                            <td id="house_price"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Have you sold mutual fund in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="yfund(value)" name="mutual_fund" id="ymutual_fund" ng-model="user_s.sold_mf" value="300">
                                                <label for="ymutual_fund">Yes</label>
                                                <input type="radio" onchange="yfund(value)" name="mutual_fund" id="nmutual_fund" ng-model="user_s.sold_mf" value="0">
                                                <label for="nmutual_fund">No</label>
                                            </td>
                                            <td id="price_mutual_fund"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Have you sold shares in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="ynshare(value)" name="share" id="yshare" ng-model="user_s.sold_shares" value="300">
                                                <label for="yshare">Yes</label>
                                                <input onchange="ynshare(value)" type="radio" name="share" id="nshare" ng-model="user_s.sold_shares" value="0">
                                                <label for="nshare">No</label>
                                            </td>
                                            <td id="price_share"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Have you sold any property  in last financial year </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="pro_fin_sold(value)" name="pro_fin" id="pro_fin" value="5000">
                                                <label for="pro_fin">Yes</label>
                                                <input type="radio" onchange="pro_fin_sold(value)" name="pro_fin" id="npro_fin" value="0">
                                                <label for="npro_fin">No</label>
                                            </td>
                                            <td id="price_fin"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Do you need help of an expert to file return </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="expert_file_change(value)" name="expert_file" id="expert_file" value="500">
                                                <label for="expert_file">Yes</label>
                                                <input type="radio" onchange="expert_file_change(value)" name="expert_file" id="nexpert_file" value="0">
                                                <label for="nexpert_file">No</label>
                                            </td>
                                            <td id="price_expert"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Email support </td>
                                            <td class="text-center"> </td>
                                            <td>Free</td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Phone support </td>
                                            <td class="text-center">
                                                <input type="radio" onchange="phone_expert_change(value)" name="phone_expert" id="phone_expert" value="100">
                                                <label for="phone_expert">Yes</label>
                                                <input type="radio" onchange="phone_expert_change(value)" name="phone_expert" id="nphone_expert" value="0">
                                                <label for="nphone_expert">No</label>
                                            </td>
                                            <td id="price_phone"></td>
                                        </tr>
                                        <tr>
                                            <td class="text_alignment"> Express Return Filing </td>
                                            <td class="text-center"> 
                                            <input type="radio" onchange="filing(value)" name="return_filing" id="return_filing" value="750">
                                                <label for="return_filing">Yes</label>
                                                <input type="radio"onchange="filing(value)" name="return_filing" id="nreturn_filing" value="0">
                                                <label for="nreturn_filing">No</label>

                                            </td>
                                            <td id="express_return_filing"> </td>
                                        </tr>
                                        <tr>
                                            <td> Total Amount </td>
                                            <td></td>
                                            <td class="total_price"> </td>
                                        </tr>
                                    </table>
                                   <!--  <table class="table">
                                        <tr class="">
                                            <th class="text-center">
                                                <div style="margin-left: 90%"></div>
                                            </th>
                                            <th class="text-center">
                                                <button class="btn btn-primary btn-md" onclick="" ng-click="pay_efiling()">Pay</button>
                                            </th>
                                            <th class="text-center">
                                                <button class="btn btn-primary btn-md" onclick="all_total()"> Calculate</button>
                                            </th>
                                        </tr>
                                    </table> -->
                                    
                                    <div class="text-center" style="height: 42px;">
                                        Any applicable taxes will be added as per the latest government rules.
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAA -->
                <div class="p-x-lg" style="position:relative;bottom:100px;display:none;" id="pricingCAA">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="row no-gutter">
                                <!-- basic plan -->
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                    <div class="box m-t-n">
                                        <div class="box-body text-center blue">
                                            <h6 class="text-u-c p-v-sm m-a-0 m-t">Basic Plan</h6>
                                            <h3 class="m-a-0 m-l m-v">
                                                <sup>&#8377</sup>
                                                <span class="text-2x">1000</span>
                                                <span class="text-xs">/-</span>
                                            </h3>
                                        </div>
                                        <ul class="list b-t b-b m-a-0 no-radius">
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Income Tax Return Filing (Salary, Interest, House Property (one house)
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Refund tracker
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments - Advisory & Execution
                                            </li>
                                        </ul>
                                        <div class="text-center p-a-md">
                                            <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- basic plan ends -->
                                <!-- Smart plan -->
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                    <div class="box m-t-n">
                                        <div class="box-body text-center blue">
                                            <h6 class="text-u-c p-v-sm m-a-0 m-t">Smart Plan</h6>
                                            <h3 class="m-a-0 m-l m-v">
                                              <sup>&#8377</sup>
                                              <span class="text-2x">3000</span>
                                              <span class="text-xs">/-</span>
                                            </h3>
                                        </div>
                                        <ul class="list b-t b-b m-a-0 no-radius">
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax experts prepare your ITR (Multiple form 16, HRA, Rental Income)
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>ITR reviewed by CA
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Capital gains (Capital Markets only)
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Refund tracker
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax Planning
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments – Advisory & Execution
                                            </li>
                                        </ul>
                                        <div class="text-center p-a-md">
                                            <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- smart plan ends -->
                                <!-- premium plan starts -->
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0 10px">
                                    <div class="box m-t-n">
                                        <div class="box-body text-center blue">
                                            <h6 class="text-u-c p-v-sm m-a-0 m-t">Premium Plan</h6>
                                            <h3 class="m-a-0 m-l m-v">
                                              <sup>&#8377</sup>
                                              <span class="text-2x">5000</span>
                                              <span class="text-xs">/-</span>
                                            </h3>
                                        </div>
                                        <ul class="list b-t b-b m-a-0 no-radius">
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax experts prepare your ITR (Multiple form 16, HRA, Rental Income)
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>ITR reviewed by CA
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Capital gains, F&O, carry forward losses.
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Claiming Refunds, Replying to notices
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Tax Planning for current year
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                                    <i class="fa fa-check text-success m-r-xs"></i>Round the year CA consultancy
                                            </li>
                                            <li class="list-item">
                                                <div class="list-body">
                                            <i class="fa fa-check text-success m-r-xs"></i>Tax Saving Investments – Advisory & Execution
                                            </li>
                                        </ul>
                                        <div class="text-center p-a-md">
                                            <a href="#" class="btn btn-block btn-lg dark">Start Trial</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- premium plan ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% include 'footer.html'%}
    <!-- CAA ends  -->

    <!-- endbuild -->
    <script type="text/javascript">
        $('.total_price').html('0');
        $('#price_value').html('0');
        f=$('#form16').val('0');
        $('#house_price').html('0');
        $('#House').val('0');
        $('#price_mutual_fund').html('0');
        $('#house_price').html('0');
        $('#price_share').html('0');
        $('#price_expert').html('0');
        $('#price_phone').html('0');
        $('#price_fin').html('0');
        $('#basic_value').html('249');
        $('#express_return_filing').html('0');
        function all_total(){
            var basic_value =  document.getElementById("basic_value");
            var basic_value=basic_value.innerText;

            var form16 = document.getElementById("price_value");
            var form16=form16.innerText;

            var house=document.getElementById("house_price");
            var house=house.innerText;

            var yfund =document.getElementById("price_mutual_fund");
            var yfund=yfund.innerText;

            var ynshare =document.getElementById("price_share");
            var ynshare=ynshare.innerText;

            var expert_file =document.getElementById("price_expert");
            var expert_file=expert_file.innerText;

            var phone_expert =document.getElementById("price_phone");
            var phone_expert=phone_expert.innerText;

            var pro_fin_sold =document.getElementById("price_fin");
            var pro_fin_sold=pro_fin_sold.innerText;

            var express_return_filing =document.getElementById("express_return_filing");
            var express_return_filing=express_return_filing.innerText;
            
            /*alert(basic_value+', '+form16+', '+house+', '+yfund+', '+ynshare+', '+expert_file+', '+phone_expert+', '+pro_fin_sold+', '+express_return_filing)*/
              
            var total =Number(form16)+Number(house)+Number(yfund)+Number(ynshare)+Number(expert_file)+Number(phone_expert)+Number(basic_value)+Number(express_return_filing);
            var pro_fin = pro_fin_sold;
            var pro_fin=pro_fin.replace(/\D/g,'');
            var total=total+Number(pro_fin);
            $('.total_price').html(total);
            
        }
        function get_total_amt(){
            return $('.total_price').html();
        }
        function filing(value){
            if(value=='750'){
                $('#express_return_filing').html('750');
            }else if(value=='0'){
                $('#express_return_filing').html('0');
            }
            all_total();
        }
        function select_form16(){
            var form16 =document.getElementById('form16');
            var form16=form16.options[form16.selectedIndex].value;
            if(form16=="1"){
                // var d = $('#price_value').html('249');
                // $('#house_price').html('');
                $('#price_value').html('0');
            }if(form16=="2"){
                $('#price_value').html('200');
            }if(form16=="3"){
                $('#price_value').html('400');
            }if(form16=='0'){
                $('#price_value').html('0');
                // $('#house_price').html('200');
            }
            all_total();
        }
        function house(){
            var house =document.getElementById('House');
            var house=house.options[house.selectedIndex].value;
            var form16 =$('#form16').val();
            if(house=="1" || house=='0' || form16=="0"){
                $('#house_price').html('0');
            }
            /*if(form16=="0"){
                $('#house_price').html('200');
            }*/
            else if(house=="2"){
                $('#house_price').html('200');
            }else if(house=="3"){
                $('#house_price').html('400');
            }else if(form16=="1"){
                $('#house_price').html('0');
            }
            all_total();
        }
        function yfund(value){
            if(value=='300'){
                $('#price_mutual_fund').html('300');
                // $('#nmutual_fund').prop('checked',false);
            }else if(value=='0'){
                $('#price_mutual_fund').html('0');
                // $('#ymutual_fund').prop('checked',false);
            }
            all_total();
        }
        function ynshare(value){
            if(value=='300'){
                $('#price_share').html('300');
                // $('#nshare').prop('checked',false);
            }else if(value=='0'){
                $('#price_share').html('0');
                // $('#yshare').prop('checked',false);
            }
            all_total();
        }
        function expert_file_change(value){
            if(value=='500'){
                $('#price_expert').html('500');
                // $('#nexpert_file').prop('checked',false);
            }else if(value=='0'){
                $('#price_expert').html('0');
                // $('#expert_file').prop('checked',false);
            }
            all_total();
        }
        function phone_expert_change(value){
            if(value=='100'){
                $('#price_phone').html('100');
                // $('#nphone_expert').prop('checked',false);
            }else if(value=='0'){
                $('#price_phone').html('0');
                // $('#phone_expert').prop('checked',false);
            }
            all_total();
        }
        function pro_fin_sold(value){
            if(value=='5000'){
                $('#price_fin').html('5000 Onwards');
                // $('#npro_fin').prop('checked',false);
            }else if(value=='0'){
                $('#price_fin').html('0');
                $('.onwards').html('');
                // $('#pro_fin').prop('checked',false);
            }
            all_total();
        }
    </script>
    <script type="text/javascript">
        function diy(){
            alert('diy');
            document.getElementById("pricingDIY").style.display = "block";
            document.getElementById("pricingCAA").style.display = "none";
            document.getElementById("btnCAA").style.background = "transparent";
            document.getElementById("btnDIY").style.background = "#16202F";
            document.getElementById("btnDIY").style.color = "#FFFFFF";
        }

        function caa(){
            alert('show');
            document.getElementById("pricingDIY").style.display = "none";
            document.getElementById("pricingCAA").style.display = "block";
            document.getElementById("btnCAA").style.background = "#16202F";
            document.getElementById("btnCAA").style.color = "#FFFFFF";
            document.getElementById("btnDIY").style.background = "transparent";
            // document.getElementById("content").style.background = "url(images/feature_back.jpg) no-repeat" 
            // background-size:cover;";
        }
        $('#content').scrollTop(2000);

    </script>
</body>

</html>