<style type="text/css">
    .cross_css{
        color: #ff8984;
        float: right;
        display: none;
    }
</style>
<nav class="scroll nav-stacked nav-stacked-rounded nav-color">
                        <ul class="nav" data-ui-nav>
                            <li class="chooseFillingType">
                                <a ng-click="chooseFillingType( user.id )">
                                    <span class="nav-text">Choose Filling Type
                                    <i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="choose_filling_type_cross" aria-hidden="true"></i>

                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoPersonalInformation( user.id )">
                                    <span class="nav-text">Personal Information
                                    <i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="personal_cross" aria-hidden="true"></i>

                                    </span>
                                </a>
                            </li>
                           <!--  <li>
                                <a ng-click="gotoOtherDetails( user.id )">
                                    <span class="nav-text">Other Details<i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="other_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li> -->
                            <li>
                                <a ng-click="gotoIncomeDetails( user.id )">
                                    <span class="nav-text">Income Details<i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="income_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a ng-click="gotoDeductions( user.id )">
                                    <span class="nav-text">Deductions<i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="deductions_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a ng-click="gotoExempt( user.id )">
                                    <span class="nav-text">Exempt Income<i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="exempt_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li> -->
                            <li>
                                <a ng-click="gotoTaxesPaid( user.id )">
                                    <span class="nav-text">Taxes Paid<i class="fa fa-check success-step"></i>
                                        <i class="fa fa-times cross_css" id="tax_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="active">
                                <a ng-click="gotoNewReview( user.id )">
                                    <span class="nav-text">Review and e-file<i class="fa fa-eye success-step"></i>
                                        <i class="fa fa-times cross_css" id="review_cross" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>