{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head onload="submitPayuForm()">
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  <!-- <h2>PayU Money Form</h2> -->
  <br/>
  <!-- <span style="color:red">Please fill all mandatory fields.</span> -->
  <!-- https://sandboxsecure.payu.in/_payment -->
  <br/>
  <form action="{{action}}" method="post" name="payuForm">
    {% csrf_token %}
    <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
    <input type="hidden" name="hash_string" value="{{ hash_string }}" />
    <input type="hidden" id="hashh" name="hash" value="{{ hashh }}"/>
    <input type="hidden" name="posted" value="{{ posted }}"/>
    <input type="hidden" name="txnid" value="{{ txnid }}" />
    <table style="display: none;">
      <tr>
        <td><b>Mandatory Parameters</b></td>
      </tr>
      <tr>
        <td>Amount: </td>
        <td><input name="amount" value="{{posted.amount}}" /></td>
        <td>First Name: </td>
        <td><input name="firstname" id="firstname" value="{{ posted.firstname }}" /></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input name="email" id="email" value="{{ posted.email }}" /></td>
        <td>Phone: </td>
        <td><input name="phone" value="{{ posted.phone }}" /></td>
      </tr>
      <tr>
        <td>Product Info: </td>
        <td colspan="3"><textarea name="productinfo">{{ posted.productinfo }}</textarea></td>
      </tr>
      <tr>
        <td>Success URI: </td>
        <td colspan="3"><input name="surl" value="{{ posted.surl }}" size="64" /></td>
      </tr>
      <tr>
        <td>Failure URI: </td>
        <td colspan="3"><input name="furl" value="{{ posted.furl }}" size="64" /></td>
      </tr>
      <tr>
        <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
      </tr>
      <tr>
        <td><b>Optional Parameters</b></td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td><input name="lastname" id="lastname" value="{{ posted.lastname }}" /></td>
        <td>Cancel URI: </td>
        <td><input name="curl" value="{{ posted.curl }}" /></td>
      </tr>
      <tr>
        <td>Address1: </td>
        <td><input name="address1" value="{{ posted.address1 }}" /></td>
        <td>Address2: </td>
        <td><input name="address2" value="{{ posted.address2 }}" /></td>
      </tr>
      <tr>
        <td>City: </td>
        <td><input name="city" value="{{ posted.city }}" /></td>
        <td>State: </td>
        <td><input name="state" value="{{ posted.state }}" /></td>
      </tr>
      <tr>
        <td>Country: </td>
        <td><input name="country" value="{{ posted.country }}" /></td>
        <td>Zipcode: </td>
        <td><input name="zipcode" value="{{ posted.zipcode }}" /></td>
      </tr>
      <tr>
        <td>UDF1: </td>
        <td><input name="udf1" value="{{ posted.udf1 }}" /></td>
        <td>UDF2: </td>
        <td><input name="udf2" value="{{ posted.udf2 }}" /></td>
      </tr>
      <tr>
        <td>UDF3: </td>
        <td><input name="udf3" value="{{ posted.udf3 }}" /></td>
        <td>UDF4: </td>
        <td><input name="udf4" value="{{ posted.udf4 }}" /></td>
      </tr>
      <tr>
        <td>UDF5: </td>
        <td><input name="udf5" value="{{ posted.udf5 }}" /></td>
        <td>PG: </td>
        <td><input name="pg" value="{{ posted.PG }}" /></td>
      </tr>
      <tr>
        <td colspan="4"><input type="submit" id="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>
  <script type="text/javascript">
    // var posted = "{{ posted }}";
    // console.log(posted);
    // var hash = sha512("{{ MERCHANT_KEY }}"+"|"+"{{ txnid }}"+"|"+"{{ amount }}"+"|"+"{{ productinfo }}"+"|"+"{{ firstname }}"+"|"+"{{ email }}"+"|"+"{{ udf1 }}"+"|"+"{{ udf2 }}"+"|"+"{{ udf3 }}"+"|"+"{{ udf4 }}"+"|"+"{{ udf5 }}"+"||||||"+"{{ salt }}");
    // console.log(hash);
    // document.getElementById("hashh").value = hash;
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    
    function submitPayuForm() {
      alert('sdsdf');
      // subscribe_payumoney
      if(hash =='') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
    $(document).ready(function(){
      // alert('start');
      document.getElementById("submit").click();
      UserId = getCookie("UserId");
      $.ajax({
        url:'/get_client/',
        type:'POST',
        dataType: 'json',
        data:{'mail':'mail'},
        success: function(response){
          if (response.client_id!=0) {
            $.ajax({
              url:'/user_tracking_func/',
              type:'POST',
              dataType: 'json',
              data:{'event':'viewed','event_name':'','client_id':response.client_id,'UserId':UserId},
              success: function(response){
                // console.log(response);
              }
            });
          }
        }
      });
    });
  </script>
</body>
</html>

<!-- https://developer.payumoney.com/redirect/ -->
<!-- card no - 4012001037141112
  Expire - 05/20
  CVV - 123
  Name = Test
  Password = Salattax@123
method=%22post%22?csrfmiddlewaretoken=oF6nfhkhX5sLh0TuCQfiJajHCv3BPto0f8EMvqvu0aKrM7SJcByhlPQkpKt8sXpv
&key=
&hash_string=
&hash=
&posted=
&txnid=
&amount=5000
&firstname=jagruti
&email=salat.investments%40gmail.com
&phone=8828210714
&productinfo=Tax+planning
&surl=dsfsd
&furl=sdfdf
&service_provider=payu_paisa
&lastname=more
&curl=dfdfsdf&address1=B+401+Gini+Bellina
&address2=Sr+no.+282%2C+Porwal+road%2C+lohegaon+47
&city=PUNE
&state=MAHARASHTRA
&country=sdf
&zipcode=411047
&udf1=sdf
&udf2=dfsdf
&udf3=sdf&
udf4=sdfsdf
&udf5=sdf
&pg=sdfsdf -->
<!-- https://salattax.com/subscribe_payumoney/
method=%22post%22?
key=
&hash_string=
&hash=
&posted=
&txnid=
&amount=3333
&firstname=Jagruti
&email=jagrutikadam15%40gmail.com
&phone=8828210714
&productinfo=tax
&surl=qwer
&furl=qwer
&service_provider=payu_paisa
&lastname=More&curl=dfgdfgdfg&address1=B+401+Gini+Bellina&address2=Sr+no.+282%2C+Porwal+road%2C+lohegaon+47&city=PUNE&state=MAHARASHTRA&country=India&zipcode=411047&udf1=sdffd&udf2=sdf&udf3=dfgdf&udf4=sdf&udf5=sdf&pg=sdf 
{'firstname': 'firstname', 'surl': 'https://salattax.com/success/', 'udf3': '', 'txnid': 'f23b118be0500854f90d', 'productinfo': 'Tax Saving Account', 'furl': 'https://salattax.com/Failure/', 'udf1': '', 'phone': '1234567890', 'amount': 1.0, 'udf2': '', 'udf5': '', 'udf4': '', 'key': 'iv05Eqin', 'curl': 'https://salattax.com/curl', 'salt': 'X31IOZyzi6', 'email': 'abc@abc.abc', 'PG': 'PG'}
-->