{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Success</title>
<meta name="description" content="Success" />
{% include 'header.html'%}
<script src="{% static 'js/success.js' %}"></script>
<style type="text/css">
    .n-m{
        margin-bottom: 3rem;
    }
    .img_success{
        margin-left: 25%;
    }
    .top-css{
        padding-top:4rem;
        padding-bottom: 1rem;
    }
    .font_color{
        text-align: center;
        color: green;
        font-family: serif;
    }
    .main_div{
        padding-top:5px;
        padding-bottom:10px;
    }
    .footer_address{ padding-top: 30px; }
    .footer_contact{ padding-top: 30px; }
    .footer_con{ padding-top: 30px; }
    .box{
        border-radius: 0;
        margin-bottom: 30px;
    }
    ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 32px;
        width: 100%;
    }
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        padding: 0px 21px;
        height: 31px;
        line-height: 31px;
        border-top: 1px solid #00A0E3;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #00A0E3;
        background-color: #00A0E3;
        color: white;
        overflow: hidden;
        position: relative;
    }
    ul.tabs li:hover {
        background-color: #fff;
        color: #00A0E3;
        font-weight: 600;
        border-color: #00A0E3;
    }
    ul.tabs li.active {
        background-color: #fff;
        border-bottom: 1px solid #00A0E3;
        display: block;
        color: #00A0E3;
        border-color: #00A0E3;
        font-weight: 600;
    }
    .success_style{
        position: relative;
        top: 17px;
    }
    .invest_style{
        margin-bottom: 100px;
        box-shadow: 0px 3px 32px 8px #adaeaf;
        border: 15px solid #b3e1e8;
        border-radius: 8px;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media screen and (max-width: 480px) {
        .tabs { display: none; }
        .h2, h2 {
            font-size: 1.6rem!important;
        }
        .d_active {
            background-color: #fff;
            color: #00A0E3;
        }
    }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        ul.tabs li { border-bottom: 1px solid #1A2531; }
        .invest_style{
            margin-bottom: 20px;
            margin-top: -27px;
        }
        .footer_black{ margin-top: 70px; }
        .header_css{  margin-bottom: 35px; }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="success_controller">
        {% csrf_token %}
        <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{% csrf_token %}">
        <div class="row-col1 n-m">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <!-- content -->
           <div class="success_style row-main">
                <div class="col-sm-12 text-center">
                    <div class="p-t-lg top-css">
                        <h1 class="m-y-md text-white"></h1>
                    </div>
                </div>
                <div class="row row-main">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12 invest_style">
                        <div class="box">
                            <div class="box-body">
                             <img src="../static/images/success.png" class="img_success">
                                <h4 id="client_id" style="display: none;">{{ client_id}}</h4> 
                                <h4 id="amount" style="display: none;">{{ amount}}</h4> 
                                <h4 id="productinfo" style="display: none;">{{ productinfo}}</h4> 
                                <h3 class="font_color">Your payment is successfully done!</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <!--modal-->
    {% include 'footer.html'%}
</div>
</form>

<script type="text/javascript">
    var amount = document.getElementById("amount").textContent ;
    var client_id1 = document.getElementById("client_id").textContent ;
    var productinfo = document.getElementById("productinfo").textContent ;
    fbq('track', 'Purchase', {value: amount, currency: 'INR'});
    var client_id = 1;
    $(document).ready(function(){
        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }

        UserId = getCookie("UserId");
        
        $.ajax({
            url:'/get_client/',
            type:'POST',
            dataType: 'json',
            data:{'mail':'mail'},
            success: function(response){
                if (response.client_id!=0) {
                    client_id = response.client_id;
                    $.ajax({
                        url:'/user_tracking_func/',
                        type:'POST',
                        dataType: 'json',
                        data:{'event':'payment','event_name':'success','client_id':client_id,'UserId':UserId},
                        success: function(response){
                            // console.log(response);
                        }
                    });
                }
            }
        });
    });
    setTimeout(function(){
        // window.location.href = "/salat_info";
        if (productinfo == 'E-filing') {
            if (client_id != 1) 
                window.location.href = "/NewReview/"+client_id1;
        }else if (productinfo == 'Partner_Deposit'){
            console.log(productinfo)
            var $popup = window.location.href = '/dashboard';
        }else{
            window.location.href = "/salat_info";
        }
    }, 6000);
</script>

</body>
</html>
