<html>
<body>
<div style="">
   	{% csrf_token %}
   	<input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
<h4>Thank You.</h4>
<h4>Your order status is {{ status }}</h4>
<h4>Your Transaction ID for this transaction is {{ txnid }}</h4>
<h4>We have received a payment of Rs {{ amount}}</h4> 
<script type="text/javascript">
    console.log(document.getElementById("csrfmiddlewaretoken").value );
    
  </script>
</body>
</html>
