{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Failure</title>
<title>Alluvial Diagram</title>
<meta name="description" content="Success" />
{% include 'header.html'%}
<script src="{% static 'js/success.js' %}"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.5.0"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style type="text/css">
        body {
            margin: 1em;
        } 
        .node {
          stroke: #fff;
          stroke-width: 2px;
        }
        .link {
          fill: none;
          stroke: #000;
          opacity: .3;
        }
        .link.on {
          stroke: #F00;
          opacity: .7;
        }
        .node {
            stroke: none;
        }
    </style>
</head>

<body>
    <form name="myForm" method="post" >
    <div class="app">
        <div class="row-col1">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <!-- content -->
            <div class="success_style row-main">
                <div class="col-sm-12 text-center">
                    <div class="p-t-lg top-css">
                        <h1 class="m-y-md text-white"></h1>
                    </div>
                </div>
                <div class="row row-mains">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12 invest_style">
                        <!-- <div class="box"> -->
                            <!-- <div class="box-body">
                            <img src="../static/images/i.png" class="img-c">
                                <h3 class="font_color">Something Went Wrong!</h3>
                            </div> -->
                            <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
<!-- {% include 'footer.html'%} -->
</form>
<script type="text/javascript">
    var data_sankey = {
  type: "sankey",
  orientation: "h",
  node: {
    pad: 10,
    thickness: 30,
    line: {
      color: "black",
      width: 0.5
    },
   label: ["A1", "A2", "B1", "B2", "C1", "C2", "D3"],
   color: ["blue", "blue", "blue", "blue", "blue", "blue", "blue"]
      },

  link: {
    source: [0,1,0,2,3,3,3,4],
    target: [2,3,3,4,4,5,6,6],
    value:  [8,3,2,8,4,2,1,2],
    label: ["0", "1", "2", "3", "4", "5", "6"],
  },
}

var data_sankey = [data_sankey]

var layout = {
  title: "Basic Sankey",
  font: {
    size: 10
  }
}
Plotly.react('myDiv', data_sankey, layout, {showSendToCloud:true})

 
/* Make Fake Data */
var data = (function() {
        var maxt = 5,
            maxn = 12,
            maxl = 4,
            maxv = 10,
            times = [],
            allLinks = [],
            counter = 0,
            addNodes = function() {
                var ncount = Math.random() * maxn + 1,
                    nodes = d3.range(0, ncount).map(function(n) {
                        return {
                            id: counter++,
                            nodeName: "Node " + n,
                            nodeValue: 0,
                            incoming: []
                        }
                    });
                times.push(nodes);
                return nodes;
            },
            addNext = function() {
                var current = times[times.length-1],
                    nextt = addNodes();
                // make links
                current.forEach(function(n) {
                    var linkCount = Math.min(~~(Math.random() * maxl + 1), nextt.length),
                        breaks = d3.range(linkCount-1)
                            .map(function() { return Math.random() * n.nodeValue })
                            .sort(d3.ascending),
                        links = {},
                        target, link, x;
                    for (x=0; x<linkCount; x++) {
                        do { 
                            target = nextt[~~(Math.random() * nextt.length)];
                        } while (target.id in links);
                        // add link
                        link = {
                            source: n.id,
                            target: target.id,
                            value: (breaks[x] || n.nodeValue) - (breaks[x-1] || 0)
                        };
                        links[target.id] = link;
                        allLinks.push(link);
                        target.nodeValue += link.value;
                    }
                });
                // prune next
                times[times.length-1] = nextt.filter(function(n) { return n.nodeValue });
            }
        // initial set
        addNodes().forEach(function(n) {
            n.nodeValue = Math.random() * maxv + 1;
        });
        // now add rest
        for (var t=0; t<maxt-1; t++) {
            addNext();
        }
        
        return {
            times: times,
            links: allLinks
        };
    })();

/* Process Data */
    
// make a node lookup map
var nodeMap = (function() {
    var nm = {};
    data.times.forEach(function(nodes) {
        nodes.forEach(function(n) {
            nm[n.id] = n;
            // add links and assure node value
            n.links = [];
            n.incoming = [];
            n.nodeValue = n.nodeValue || 0;
        })
    });
    return nm;
})();

// attach links to nodes
data.links.forEach(function(link) {
    nodeMap[link.source].links.push(link);
    nodeMap[link.target].incoming.push(link);
});
    
// sort by value and calculate offsets
data.times.forEach(function(nodes) {
    var cumValue = 0;
    nodes.sort(function(a,b) {
        return d3.descending(a.nodeValue, b.nodeValue)
    });
    nodes.forEach(function(n, i) {
        n.order = i;
        n.offsetValue = cumValue;
        cumValue += n.nodeValue;
        // same for links
        var lCumValue;
        // outgoing
        if (n.links) {
            lCumValue = 0;
            n.links.sort(function(a,b) {
                return d3.descending(a.value, b.value)
            });
            n.links.forEach(function(l) {
                l.outOffset = lCumValue;
                lCumValue += l.value;
            });
        }
        // incoming
        if (n.incoming) {
            lCumValue = 0;
            n.incoming.sort(function(a,b) {
                return d3.descending(a.value, b.value)
            });
            n.incoming.forEach(function(l) {
                l.inOffset = lCumValue;
                lCumValue += l.value;
            });
        }
    })
});
data = data.times;

// calculate maxes
var maxn = d3.max(data, function(t) { return t.length }),
    maxv = d3.max(data, function(t) { return d3.sum(t, function(n) { return n.nodeValue }) });

/* Make Vis */
    
// settings and scales
var w = 1400,
    h = 500,
    gapratio = .7,
    delay = 1500,
    padding = 15,
    x = d3.scale.ordinal()
        .domain(d3.range(data.length))
        .rangeBands([0, w + (w/(data.length-1))], gapratio),
    y = d3.scale.linear()
        .domain([0, maxv])
        .range([0, h - padding * maxn]),
    line = d3.svg.line()
        .interpolate('basis');
        
// root
var vis = d3.select("body")
  .append("svg:svg")
    .attr("width", w)
    .attr("height", h);
    
    
var t = 0;
function update(first) {
    // update data
    var currentData = data.slice(0, ++t);
    
    // time slots
    var times = vis.selectAll('g.time')
        .data(currentData)
      .enter().append('svg:g')
        .attr('class', 'time')
        .attr("transform", function(d, i) { return "translate(" + (x(i) - x(0)) + ",0)" });
        
    // node bars
    var nodes = times.selectAll('g.node')
        .data(function(d) { return d })
      .enter().append('svg:g')
        .attr('class', 'node');
    
    setTimeout(function() {
        nodes.append('svg:rect')
            .attr('fill', 'steelblue')
            .attr('y', function(n, i) {
                return y(n.offsetValue) + i * padding;
            })
            .attr('width', x.rangeBand())
            .attr('height', function(n) { return y(n.nodeValue) })
          .append('svg:title')
            .text(function(n) { return n.nodeName });
    }, (first ? 0 : delay));
        
    var linkLine = function(start) {
        return function(l) {
            var source = nodeMap[l.source],
                target = nodeMap[l.target],
                gapWidth = x(0),
                bandWidth = x.rangeBand() + gapWidth,
                startx = x.rangeBand() - bandWidth,
                sourcey = y(source.offsetValue) + 
                    source.order * padding +
                    y(l.outOffset) +
                    y(l.value)/2,
                targety = y(target.offsetValue) + 
                    target.order * padding + 
                    y(l.inOffset) +
                    y(l.value)/2,
                points = start ? 
                    [
                        [ startx, sourcey ], [ startx, sourcey ], [ startx, sourcey ], [ startx, sourcey ] 
                    ] :
                    [
                        [ startx, sourcey ],
                        [ startx + gapWidth/2, sourcey ],
                        [ startx + gapWidth/2, targety ],
                        [ 0, targety ]
                    ];
            return line(points);
        }
    }
        
    // links
    var links = nodes.selectAll('path.link')
        .data(function(n) { return n.incoming || [] })
      .enter().append('svg:path')
        .attr('class', 'link')
        .style('stroke-width', function(l) { return y(l.value) })
        .attr('d', linkLine(true))
        .on('mouseover', function() {
            d3.select(this).attr('class', 'link on')
        })
        .on('mouseout', function() {
            d3.select(this).attr('class', 'link')
        })
      .transition()
        .duration(delay)
        .attr('d', linkLine());
        
}

function updateNext() {
    if (t < data.length) {
        update();
        window.setTimeout(updateNext, delay)
    }
}
update(true);
updateNext();
    
    </script>

</body>
</html>

<!-- http://bl.ocks.org/igorzilla/3086583 -->
<!-- https://plot.ly/javascript/sankey-diagram/ -->
