{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">

<head>
    <meta charset="utf-8" />
    <title>Home | Salat Tax</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <!-- owl corousel testimonial -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
 
    <style type="text/css">
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
        .text-muteds{
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .my_custom_card_view{
            background: #FFFFFF;
            border-radius: 10px;
        }
        .nav a { color: #000; }
        .testimonial3{
            text-align: center;
            padding: 85px 50px 100px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial3 .pic{
            width: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial3 .pic img{
            width: 100%;
            height:120px;
        }
        .testimonial3 .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial3 .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial3 .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial3 .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial3 .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial3 .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .testimonial2{
            text-align: center;
            padding: 85px 50px 127px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial2 .pic{
            width: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial2 .pic img{
            width: 100%;
            height:120px;
        }
        .testimonial2 .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial2 .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial2 .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial2 .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial2 .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial2 .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .testimonial1{
            text-align: center;
            padding: 85px 50px 73px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial1 .pic{
            width: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial1 .pic img{
            width: 100%;
            height:120px;
        }
        .testimonial1 .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial1 .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial1 .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial1 .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial1 .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial1 .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .testimonial{
            text-align: center;
            padding: 85px 50px 45px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border:1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial .pic{
            width: 120px;
            border: 5px solid #3A98E3;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        .testimonial .pic img{
            width: 100%;
            height:120px;
        }
        .testimonial .description{
            font-size: 15px;
            color: #757575;
            line-height: 27px;
            margin-bottom: 20px;
            position: relative;
        }
        .testimonial .description:before{
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 32px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -35px;
        }
        .testimonial .testimonial-profile{
            position: relative;
            margin: 20px 0 10px 0;
        }
        .testimonial .testimonial-profile:after{
            content: "";
            width: 50px;
            height: 2px;
            background: #3A98E3;
            margin: 0 auto;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 18px;
            color: #4a5184;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
        }
        .testimonial .post{
            display: inline-block;
            font-size: 15px;
            color: #757575;
            text-transform: capitalize;
        }
        .owl-theme .owl-controls{ margin-top: 10px; }
        .owl-theme .owl-controls .owl-page span{
            background: #5e5f5f;
            opacity: 1;
            transition: all 0.4s ease 0s;
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span{ background: #3A98E3; }
        .owl-theme .owl-controls .owl-page.active span{
            width: 22px;
            height: 12px;
        }
        .file_return{
           position: absolute;
            left: 56%;
            top: 42%;
            color: #072a5f
        }
        h5.file_head{ font-size: 16px; }
        @media only screen and (max-width: 480px) and (min-width: 320px){
            .testimonial2 {
                text-align: center;
                padding: 85px 50px 213px 70px;
                margin: 70px 15px 35px;
                background: #f9f9f9;
                border: 1px solid #3A98E3;
                position: relative;
                border-radius: 5px;
            }
            .testimonial3 {
                text-align: center;
                padding: 85px 50px 235px 70px;
                margin: 70px 15px 35px;
                background: #f9f9f9;
                border: 1px solid #3A98E3;
                position: relative;
                border-radius: 5px;
            }
        }
        @media only screen and (max-width: 640px) and (min-width: 360px){
            .testimonial1 {
                text-align: center;
                padding: 85px 50px 51px 70px;
                margin: 70px 15px 35px;
                background: #f9f9f9;
                border: 1px solid #3A98E3;
                position: relative;
                border-radius: 5px;
            }
            .testimonial2 {
                text-align: center;
                padding: 85px 50px 187px 70px;
                margin: 70px 15px 35px;
                background: #f9f9f9;
                border: 1px solid #3A98E3;
                position: relative;
                border-radius: 5px;
            }
            .testimonial3 {
                text-align: center;
                padding: 85px 50px 160px 70px;
                margin: 70px 15px 35px;
                background: #f9f9f9;
                border: 1px solid #3A98E3;
                position: relative;
                border-radius: 5px;
            }
        }
        .row-col1 {
            display: table;
            table-layout: fixed;
            border-spacing: 0;
            width: 100%;
            height: 100%;
        }
        /*435*/
    </style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="index_controller">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col1" style="">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height:3rem;background:white;border-radius:0;position:fixed;width:100%;z-index:10000;right:0;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>

                    <!-- navbar collapse -->
                    <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                        <!-- link and dropdown -->
                        <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                            <li class="active nav-item">
                                <a href="#" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='/services'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Services</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a onclick="location.href='/tsa'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Tax Saving Account</span>
                                </a>
                            </li> -->
                            <li class="nav-item">
                                <a onclick="location.href='/contact_us'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Contact Us</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#b_signin_model" data-ui-toggle-class="zoom" data-dismiss="modal" data-ui-target="#animate" ng-model="signin" href="" ng-style="display_login">
                                    <span class="nav-text"> Business Log in </span>
                                </a>
                                <!-- <a class="nav-link" ng-model="signout" ng-click="signOut();" href="../" ng-style="display_logout">
                                    <span class="nav-text"> Business Sign out </span>
                                </a> -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#signin_model" data-ui-toggle-class="zoom" data-dismiss="modal" data-ui-target="#animate" ng-model="signin" href="" ng-style="display_login">
                                    <span class="nav-text"> Client Log in </span>
                                </a>
                                <a class="nav-link" ng-model="signout" ng-click="signOut();" href="../" ng-style="display_logout">
                                    <span class="nav-text"> Log out </span>
                                </a>
                            </li>
                        </ul>
                        <!-- / link and dropdown -->
                    </div>
                </div>
               
            </div>

            <!-- content -->
             <div class="col-sm-12 text-center">
                    <div class="p-t-lg" style="padding-top:5rem;padding-bottom: 4rem;">
                        <h1 class="m-y-md text-white"></h1>
                        <!-- <h1 class="m-y-md text-white">Salat Easy Tax Return Header will be here!!</h1> -->
                        <center>
                       <h4 class="">Income Tax Return Filing for FY 2018-19</h4>
                        </center>


                    </div>
            </div>
            <div class="col-sm-3 text-center"></div>
            <div class="col-sm-6 text-center" style="border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 20px;">
            </div>
            <div class="col-sm-3 text-center"></div>
            </div>
                 <!--modal-->
            
                <!--success modal-->
                     <!--modal-->
          
            <!-- testimonial -->
        <div class="footer black text-info-hover">
            <div class="container">
                <div class="row p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="col-md-6" style="padding-top: 30px;">
                       <!--  <div class="text-muteds m-y-lg">
                            <span class="text-muteds"><img src="../static/images/logo_blue.png" style="max-height: 3rem;" alt="Salat-logo" height="100"></span>
                        </div> -->
                        <h2 class="widget-title">About Us</h2>
                        <span class="text-muteds">Salat Tax is an initiative by Salat Investments founded by Swapnil Bagmar and Prerana Bagmar. We like to use cutting edge technology and simplify tax compliance for tax payers. We are on a mission to save maximum tax and use the money to create sustainable wealth for the clients. </span>
                    </div>
                    <div class="col-md-3" style="padding-top:30px;">
                        <h2 class="widget-title">Address</h2>
                        <span class="text-muteds">Flat No 1, Building A1,<br> Indira Park Co-Operative Housing Society, Pune Nagar Road,<br> Pune 411006 </span>
                    </div>
                    <div class="col-md-3" style="padding-top:30px;">
                        <h2 class="widget-title">Contact Us</h2>
                        <span class="text-muteds">E-mail : <a href="mailto:salattax@gmail.com">salattax@gmail.com</a></span><br>
                        <span class="text-muteds">Telephone : <a href="tel:020-41225277">020-41225277</a></span>
                    </div>
                </div>
                <div class="p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. <a href="http://salatinvestments.com" target="_blank">salatinvestments.com </a> All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ############ LAYOUT END-->
       
        <!-- / -->
        <!-- ############ LAYOUT END-->
        
        <!-- / .modal -->
    </div>
    </form>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <!-- core -->
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <!-- <script src="{% static 'scripts/ui-screenfull.js'%}"></script> -->
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>

    <!-- script for testimonial -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#testimonial-slider").owlCarousel({
                items:2,
                itemsDesktop:[1000,2],
                itemsDesktopSmall:[979,2],
                itemsTablet:[768,2],
                itemsMobile:[650,1],
                pagination:true,
                navigation:false,
                slideSpeed:1000,
                autoPlay:true
            });
        });
    </script>

</body>

</html>