{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Tax Analytics Report</title>
<meta name="description" content="Tax Analytics Report" />
    
{% include 'header.html'%}

<script src="{% static 'js/tax_analytics_report.js' %}"></script>

<style type="text/css">
    .m-t{ margin-bottom: 3rem }
    .mr-b{ margin-bottom:20px; }
    .pl-pd{
        padding-top:5rem;
        padding-bottom:1rem;
    }
    .pr-top{ margin-top: 12px; }
    .mr-top{ margin-top: 50px; }
    .com-c{
        cursor: pointer;
        color: #00B8ED;
    }
    .same-width{ width: 25%; }
    .footer-css{
        padding-top:5px;
        padding-bottom:10px;
    }
    .same-css{ padding-top: 30px; }
    #chart_lineContainer{
        margin-bottom: 20px;
        display: block;
    }
    .tax_color{ color: red; }
    .salat_color{ color: #00B8ED; }
    .color_tax{
        color: #00B8ED;
        font-weight: 700;
    }
    .color_taxs{
        color: red;
        font-weight: 700;
    }
    .divider{
        border: 1px solid #dadada;
        position: relative;
        width: 103%;
        right: 13px;
    }
    .fee_style_css{ margin-left: 60px; }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
    }
    .rating_feedback_style{
        /*border: 1px solid #ddd;*/
        padding:12px;
        background: #f9f9f9;
        border-radius: 8px;
    }
    .feedback_css{
        width: 70%;
        margin-left: 35px;
    }
    .heading_colors{ color: #113d6d; }
    .heading_color{
        color: #113d6d;
        border: 1px solid #eceeef;
        position: relative;
        padding: 10px;
        top: 9px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #f9f9f9;
    }
    .table_css{ background-color: #f9f9f9; }
    fieldset, label { margin: 0; padding: 0; }
    h1 { font-size: 1.5em; margin: 10px; }
    /****** Style Star Rating Widget *****/
    .rating { 
        border: none;
        float: left;
        margin-left: 133px;
    }
    .rating > input { display: none; } 
    .rating > label:before { 
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }
    .rating > .half:before { 
        content: "\f089";
        position: absolute;
    }
    .rating > label { 
        color: #ddd; 
        float: right; 
    }
    /***** CSS Magic to Highlight Stars on Hover *****/
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
    .color_insight{ color: #113d6d; }
    .star_css_style{ width:50%; }
    .in_style{
        text-align: left;
        margin-left: 8px;
    }
    .card_tax{
        border-radius: 0;
        padding: 12px;
        margin-bottom: 17px;
    }
    .card_taxs{
        background: #b3e1e8;
        border-radius: 0;
        padding: 12px;
        border-bottom: 1px solid #00B8ED!important;
    }
    /*.glyphicon{ display: none!important; }*/
    /*star*/
    /*.glyphicon-lg{font-size:3em}*/
    /*.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
    .blockquote-box .square{
        width:100px;min-height:50px;margin-right:22px;
        text-align:center!important;
        background-color:#E6E6E6;padding:20px 0
    }
    .blockquote-box.blockquote-primary{border-color:#357EBD}
    .blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
    .blockquote-box.blockquote-success{border-color:#4CAE4C}
    .blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
    .blockquote-box.blockquote-info{border-color:#46B8DA}
    .blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
    .blockquote-box.blockquote-warning{border-color:#EEA236}
    .blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
    .blockquote-box.blockquote-danger{border-color:#D43F3A}
    .blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}*/
    /*  @copyright © Kartik Visweswaran, Krajee.com, 2014
     * @version 2.5.0
     * A simple yet powerful JQuery star rating plugin that allows rendering
     * fractional star ratings and supports Right to Left (RTL) input.
     * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
     * For more Yii related demos visit http://demos.krajee.com */
    /*.rating-loading {
        width: 25px;
        height: 25px;
        font-size: 0px;
        color: #fff;
        background: transparent url('../img/loading.gif') top left no-repeat;
        border: none;
    }*/
    .canvasjs-chart-credit{ display: none; }
    .feed_style{  margin-left: 74%; }
    .fee_style{ margin-left: 38%; }
    .table td.table_ana_report_style{
        padding: .4rem!important;
        vertical-align: middle;
    }
    .text_alignment{ text-align: center; }
    .share_love_style{
        margin-left: 40%;
        background: #FF28F7;
        border-color: #FF28F7;
        margin-top: 12px;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 1024px){
        .fin_table_tablet{
            display: inline-block;
            width: 100%;
            overflow: scroll;
        }
    }
    @media only screen and (max-width: 480px) and (min-width: 320px){ }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        body{ margin: 10px!important; }
        .rating {
            border: none;
            float: left;
            margin-left: 0px;
        }
        .star_css_style{ width:100%; }
        .share_love_style{
            margin-left: 30%;
            background: #FF28F7;
            border-color: #FF28F7;
        }
        .income_fin_report{
            display: inline-block;
            width: 100%;
            overflow: auto;
        }
        .feedback_css {
            width: initial;
            margin-left: 0;
        }
        .fee_style_css { margin-left: 0; }
        .feed_style { margin-left: 50%; }
        .divider {
            border: 1px solid #dadada;
            position: relative;
            width: 109%;
            right: 13px;
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    .tb_tooltip { position: relative; }
    .tb_tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tb_tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .tb_tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(/static/img/loader-final-2.gif) 50% 50% no-repeat rgb(255,255,255);
        opacity: .9;
    }
    /*435*/
</style>

<body ng-controller="index_cntrl">
<div class="loader"></div>
    <form name="myForm" method="post" >
    <div class="app" ng-controller="tax_analytics_report_controller">
        <div class="row-col1 m-t" style="">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <div class="col-sm-12 text-center row-main">
                <div class="p-t-lg pl-pd">
                    <h1 class="m-y-md text-white"></h1>
                    <center> <h4></h4> </center>
                </div>
            </div>
            <div class="row row-main">
            <div class="col-md-2 col-sm-0 col-xs-0 text-center"></div>
            <div class="col-md-8 col-sm-12 col-xs-12 text-center main_css row-main">
                <div class="card-header card_taxs">
                <h4 class="heading_colors">Salat Tax Analytics Report for <%client_name%></h4></div>
                <div class="card bg-dark mb-3 card_tax">
                <div class="card-body">
                    <table class="table table-bordered income_fin_report table_css fin_table_tablet">
                        <h5 class="heading_color">Income Report</h5>
                        <tr>
                            <td class="text_alignment table_ana_report_style">Financial Year</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"> Salary </td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"> Property </td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"> Capital Gains </td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"> Other Sources </td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp">Business/ Profession</td>
                            <td class="text-center table_ana_report_style"> Total Income </td>
                        </tr>
                        <tr ng-show="div_2014">
                            <td class="text_alignment table_ana_report_style">2013-14</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"><%salary_14%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"><%property_14%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"><%cg_14%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"><%os_14%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp"><%bp_14%></td>
                            <td class="text-center table_ana_report_style"><%Total_income_14%></td>
                        </tr>
                        <tr ng-show="div_2015">
                            <td class="text_alignment table_ana_report_style">2014-15</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"><%salary_15%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"><%property_15%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"><%cg_15%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"><%os_15%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp"><%bp_15%></td>
                            <td class="text-center table_ana_report_style"><%Total_income_15%></td>
                        </tr>
                        <tr ng-show="div_2016">
                            <td class="text_alignment table_ana_report_style">2015-16</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"><%salary_16%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"><%property_16%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"><%cg_16%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"><%os_16%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp"><%bp_16%></td>
                            <td class="text-center table_ana_report_style"><%Total_income_16%></td>
                        </tr>
                        <tr ng-show="div_2017">
                            <td class="text_alignment table_ana_report_style">2016-17</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"><%salary_17%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"><%property_17%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"><%cg_17%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"><%os_17%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp"><%bp_17%></td>
                            <td class="text-center table_ana_report_style"><%Total_income_17%></td>
                        </tr>
                        <tr ng-show="div_2018">
                            <td class="text_alignment table_ana_report_style">2017-18</td>
                            <td class="text-center table_ana_report_style" ng-show="col_sal"><%salary_18%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_prp"><%property_18%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_cg"><%cg_18%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_os"><%os_18%></td>
                            <td class="text-center table_ana_report_style" ng-show="col_bp"><%bp_18%></td>
                            <td class="text-center table_ana_report_style"><%Total_income_18%></td>
                        </tr>
                    </table>
                    <h5 class="in_style color_insight"><i class="fa fa-hand-o-right"></i> Insights</h5>
                    <p class="in_style">1. Your Income is growing at <%Total_income_GR%>% per year.<!--  [Comment based on growth rate] --></p>
                    <div class="row">
                        <div class="col-md-2 col-xs-0 col-sm-0"></div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                           <canvas id="myChart_income" width="555" height="276"></canvas>
                        </div>
                        <div class="col-md-2 col-xs-0 col-sm-0"></div>
                    </div>
                    
                    <p class="in_style">2. You are earning a major portion of your total Income from <%major_income%>. Having multiple sources of Income helps diversify your income streams.</p>
                    <canvas id="chartContainer" style="height:300px;width:100%;"></canvas>
                    <div class="divider"></div>

                    <table class="table table-bordered income_fin_report table_css">
                        <h5 class="heading_color">Tax Paid Report</h5>
                        <tr>
                            <td class="text_alignment table_ana_report_style">Financial Year</td>
                            <td class="text-center table_ana_report_style"> TDS in ITR </td>
                            <td class="text-center table_ana_report_style"> TDS in 26AS </td>
                            <td class="text-center table_ana_report_style"> Total Tax Paid </td>
                        </tr>
                        <tr ng-show="div_2014">
                            <td class="text_alignment table_ana_report_style">2013-14</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_14">
                                <%tds_itr_14%><span class="tooltiptext">Tax paid 2013-14</span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_14">
                                <%tds_26as_14%><span class="tooltiptext">Tax paid 2013-14</span>
                            </td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_14%></td>
                        </tr>
                        <tr ng-show="div_2015">
                            <td class="text_alignment table_ana_report_style">2014-15</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_15">
                                <%tds_itr_15%><span class="tooltiptext">Tax paid 2014-15</span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_15">
                                <%tds_26as_15%><span class="tooltiptext">Tax paid 2014-15</span>
                            </td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_15%></td>
                        </tr>
                        <tr ng-show="div_2016">
                            <td class="text_alignment table_ana_report_style">2015-16</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_16">
                                <%tds_itr_16%><span class="tooltiptext">Tax paid 2015-16</span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_16">
                                <%tds_26as_16%><span class="tooltiptext">Tax paid 2015-16</span>
                            </td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_16%></td>
                        </tr>
                        <tr ng-show="div_2017">
                            <td class="text_alignment table_ana_report_style">2016-17</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_17">
                                <%tds_itr_17%><span class="tooltiptext">Tax paid 2016-17</span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_17">
                                <%tds_26as_17%><span class="tooltiptext">Tax paid 2016-17</span>
                            </td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_17%></td>
                        </tr>
                        <tr ng-show="div_2018">
                            <td class="text_alignment table_ana_report_style">2017-18</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_18">
                                <%tds_itr_18%><span class="tooltiptext">Tax paid 2017-18</span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="tds_18">
                                <%tds_26as_18%><span class="tooltiptext">Tax paid 2017-18</span>
                            </td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_18%></td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-2 col-xs-0 col-sm-0"></div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <canvas id="chart_lineContainer" width="555" height="276"></canvas>
                        </div>
                        <div class="col-md-2 col-xs-0 col-sm-0""></div>
                    </div>
                    <h5 class="in_style color_insight"><i class="fa fa-hand-o-right"></i> Insights</h5>
                    <p class="in_style">1. As you grow in your career you are going to pay more income taxes. Tax planning is a must if you want to minimise your tax outgo.</p>
                    <p class="in_style" ng-show='tds_mismatch_div'>2. TDS Mismatch resulting in paying <%less_excess%> tax of Rs. <%tds_mismatch_amt%> in F.Y. 2017-18. This was due to improper return filing.</p>
                    <p class="in_style"><%tds_mismatch_point%> In last <%count_year%> years you have paid a total of Rs. <%tax_paid_total%> in taxes.</p>
                    <div class="divider"></div>
                    <table class="table table-bordered income_fin_report table_css">
                        <h5 class="heading_color">Tax Leakage Report</h5>
                        <tr>
                            <td class="text-center table_ana_report_style"> Financial Year </td>
                            <td class="text-center table_ana_report_style"> Total Tax Paid </td>
                            <td class="text-center table_ana_report_style color_tax"> Salat Tax </td>
                            <td class="text-center table_ana_report_style color_taxs"> Tax Leakage </td>
                        </tr>
                        <tr ng-show="div_2014">
                            <td class="text_alignment table_ana_report_style">2013-14</td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_14%></td>
                            <td class="text-center table_ana_report_style salat_color"><%salat_tax_14%></td>
                            <td class="text-center table_ana_report_style tax_color"><%tax_leakage_14%></td>
                        </tr>
                        <tr ng-show="div_2015">
                            <td class="text_alignment table_ana_report_style">2014-15</td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_15%></td>
                            <td class="text-center table_ana_report_style salat_color"><%salat_tax_15%></td>
                            <td class="text-center table_ana_report_style tax_color"><%tax_leakage_15%></td>
                        </tr>
                        <tr ng-show="div_2016">
                            <td class="text_alignment table_ana_report_style">2015-16</td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_16%></td>
                            <td class="text-center table_ana_report_style salat_color"><%salat_tax_16%></td>
                            <td class="text-center table_ana_report_style tax_color"><%tax_leakage_16%></td>
                        </tr>
                        <tr ng-show="div_2017">
                            <td class="text_alignment table_ana_report_style">2016-17</td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_17%></td>
                            <td class="text-center table_ana_report_style salat_color"><%salat_tax_17%></td>
                            <td class="text-center table_ana_report_style tax_color"><%tax_leakage_17%></td>
                        </tr>
                        <tr ng-show="div_2018">
                            <td class="text_alignment table_ana_report_style">2017-18</td>
                            <td class="text-center table_ana_report_style"><%total_tax_paid_18%></td>
                            <td class="text-center table_ana_report_style salat_color"><%salat_tax_18%></td>
                            <td class="text-center table_ana_report_style tax_color"><%tax_leakage_18%></td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-2 col-xs-0 col-sm-0"></div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <canvas id="chart_barContainer" style="height:300px;width:100%;margin-bottom:20px;"></canvas>
                        </div>
                        <div class="col-md-2 col-xs-0 col-sm-0"></div>
                    </div>
                    <h5 class="in_style color_insight"><i class="fa fa-hand-o-right"></i> Insights</h5>
                    <p class="in_style">1. <span class="color_tax">Salat Tax</span> is the minimum amount of tax you would have paid had you done complete tax planning for that financial year. </p>
                    <p class="in_style">2. Hence the extra taxes which you paid is called a <span class="color_taxs">Tax Leakage</span> which you could have actually saved. In F.Y 2017-18 you have paid Rs. <%tax_leakage_18%> extra.</p>
                    <div class="divider"></div>
                    <table class="table table-bordered income_fin_report table_css mr-b">
                        <h5 class="heading_color">How could you have saved more taxes ?</h5>
                        <tr>
                            <!-- <p>Hover over orange coloured cells to know more</p> -->
                            <td class="text-center table_ana_report_style same-width"> Financial Year </td>
                            <td class="text-center table_ana_report_style same-width"> Tax Saving Investments </td>
                            <td class="text-center table_ana_report_style same-width"> Medical Insurance </td>
                            <td class="text-center table_ana_report_style same-width"> NPS </td>
                            <!-- <td class="text-center table_ana_report_style"> 80CCG </td> -->
                        </tr>
                        <tr ng-show="div_2014">
                            <td class="text_alignment table_ana_report_style">2013-14</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="c80_14">
                                <%c_80_14%><span class="tooltiptext" ng-show='c_hover_14'><%c_80_14_text%></span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="d80_14">
                                <%d_80_14%><span class="tooltiptext" ng-show='d_hover_14'><%d_80_14_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="ccd80_14">
                                <%ccd_80_14%><span class="tooltiptext" ng-show='ccd_hover_14'><%ccd_80_14_text%></span>
                            </td>
                            <!-- <td class="text-center table_ana_report_style" ng-style="ccg80_14"><%ccg_80_14%></td> -->
                        </tr>
                        <tr ng-show="div_2015">
                            <td class="text_alignment table_ana_report_style">2014-15</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="c80_15">
                                <%c_80_15%><span class="tooltiptext" ng-show='c_hover_15'><%c_80_15_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="d80_15">
                                <%d_80_15%><span class="tooltiptext" ng-show='d_hover_15'><%d_80_15_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="ccd80_15">
                                <%ccd_80_15%><span class="tooltiptext" ng-show='ccd_hover_15'><%ccd_80_15_text%><span>
                            </td>
                            <!-- <td class="text-center table_ana_report_style" ng-style="ccg80_15"><%ccg_80_15%></td> -->
                        </tr>
                        <tr ng-show="div_2016">
                            <td class="text_alignment table_ana_report_style">2015-16</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="c80_16">
                                <%c_80_16%><span class="tooltiptext" ng-show='c_hover_16'><%c_80_16_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="d80_16">
                                <%d_80_16%><span class="tooltiptext" ng-show='d_hover_16'><%d_80_16_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="ccd80_16">
                                <%ccd_80_16%><span class="tooltiptext" ng-show='ccd_hover_16'><%ccd_80_16_text%><span>
                            </td>
                            <!-- <td class="text-center table_ana_report_style" ng-style="ccg80_16"><%ccg_80_16%></td> -->
                        </tr>
                        <tr ng-show="div_2017">
                            <td class="text_alignment table_ana_report_style">2016-17</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="c80_17">
                                <%c_80_17%><span class="tooltiptext" ng-show='c_hover_17'><%c_80_17_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="d80_17">
                                <%d_80_17%><span class="tooltiptext" ng-show='d_hover_17'><%d_80_17_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="ccd80_17">
                                <%ccd_80_17%><span class="tooltiptext" ng-show='ccd_hover_17'><%ccd_80_17_text%><span>
                            </td>
                            <!-- <td class="text-center table_ana_report_style" ng-style="ccg80_17"><%ccg_80_17%></td> -->
                        </tr>
                        <tr ng-show="div_2018">
                            <td class="text_alignment table_ana_report_style">2017-18</td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="c80_18">
                                <%c_80_18%><span class="tooltiptext" ng-show='c_hover_18'><%c_80_18_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="d80_18">
                                <%d_80_18%><span class="tooltiptext" ng-show='d_hover_18'><%d_80_18_text%><span>
                            </td>
                            <td class="text-center table_ana_report_style tb_tooltip" ng-style="ccd80_18">
                                <%ccd_80_18%><span class="tooltiptext" ng-show='ccd_hover_18'><%ccd_80_18_text%><span>
                            </td>
                            <!-- <td class="text-center table_ana_report_style" ng-style="ccg80_18"><%ccg_80_18%></td> -->
                        </tr>
                    </table>
                    <h5 class="in_style color_insight"><i class="fa fa-hand-o-right"></i> Insights</h5>
                    <p class="in_style">1. Tax Saving Investments - By investing in tax saving instruments you could not only have saved lot of taxes but also saved money towards your financial goals.</p>
                    <p class="in_style"><%c80_mismatch%></p>
                    <p class="in_style"><%d80_mismatch%></p>
                    <p class="in_style"><%ccd80_mismatch%></p>
                    <p class="in_style"><%ccg80_mismatch%></p>
                    <p class="in_style">2. Expenses which can save taxes - There are some expenses in our routine life which are eligible for tax deduction. Claiming them is our birthright! :). However note it is not advisable to incur such expenses just to save taxes.</p>
                    <p class="in_style">80C - School Fees, Housing Loan, Life Insurance</p>
                    <p class="in_style">80D - Medical Insurance -</p>
                    <p class="in_style">Preventive Health Check up -</p>
                    <p class="in_style">3. Standard Deductions - There are certain standard deductions which are available irrespective of investments or expenses. Needless to say those have to be claimed too!</p>
                    <p class="in_style">80TTA - Interest on Savings bank account</p>
                    <div style="display: none">
                        <h5 class="in_style">Issues due to incorrect Tax Filing</h5>
                        <p class="in_style">If your Income Tax return is not filed correctly then there is a good chance that you may have paid incorrect amount of tax. You may also get notices from Income Tax department demanding explanation about certain things. If proper response is not given to them then your future tax refunds do not get processed. So all the tax planning goes for a toss.</p>
                    </div>
                    <div style="display: none;">
                        <table class="table table-bordered">
                            <tr> <p>Below is a list of issue due to incorrect tax filing </p>
                                <td class="text-center table_ana_report_style"> Financial Year </td>
                                <td class="text-center table_ana_report_style"> Issue </td>
                            </tr>
                            <tr>
                                <td class="text_alignment table_ana_report_style">2013-14</td>
                                <td class="text-center table_ana_report_style"> </td>
                            </tr>
                            <tr>
                                <td class="text_alignment table_ana_report_style">2014-15</td>
                                <td class="text-center"> </td>
                            </tr>
                            <tr>
                                <td class="text_alignment table_ana_report_style">2015-16</td>
                                <td class="text-center"> </td>
                            </tr>
                            <tr>
                                <td class="text_alignment table_ana_report_style">2016-17</td>
                                <td class="text-center"> </td>
                            </tr>
                            <tr>
                                <td class="text_alignment table_ana_report_style">2017-18</td>
                                <td class="text-center"> </td>
                            </tr>
                        </table>
                    </div>

                    <h5 class="in_style heading_colors">Next Step</h5>
                    <p class="in_style">Use Insights from this report to Plan your taxes efficiently for the current financial year. <a href="/tax_plan_year">Go to Tax Plan for current year</a>.</p>
                    <div>
                        <h5 class="in_style heading_colors">Feedback</h5>
                        <p class="in_style">Was the above report helpful ?</p>
                        <table width="100%">
                            <tr>
                                <td width="77%" >
                                    <div class="form-group row">
                                        <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">Your rating</label>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <fieldset class="rating">
                                                <input onchange="calculate_star(5)" type="radio" id="star5" name="rating" value="5" />
                                                <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                <input onchange="calculate_star(4.5)" type="radio" id="star4half" name="rating" value="4 and a half" />
                                                <label class="half" for="star4half" title="Pretty good - 4.5 stars">
                                                </label>
                                                <input onchange="calculate_star(4)" type="radio" id="star4" name="rating" value="4" />
                                                <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input onchange="calculate_star(3.5)" type="radio" id="star3half" name="rating" value="3 and a half" />
                                                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                <input onchange="calculate_star(3)" type="radio" id="star3" name="rating" value="3" />
                                                <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                <input onchange="calculate_star(2.5)" type="radio" id="star2half" name="rating" value="2 and a half"/>
                                                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input onchange="calculate_star(2)" type="radio" id="star2" name="rating" value="2" />
                                                <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input onchange="calculate_star(1.5)" type="radio" id="star1half" name="rating" value="1 and a half" />
                                                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                <input onchange="calculate_star(1)" type="radio" id="star1" name="rating" value="1" />
                                                <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                <input onchange="calculate_star(0.5)" type="radio" id="starhalf" name="rating" value="half"/>
                                                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="feedback" class="rating_feedback_style">
                        <p class="in_style">What can be done to improve above report.</p>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">Full Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" name="full_name" class="md-input star_css_style" ng-model="full_name" ng-init="full_name=''">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" name="email" class="md-input star_css_style" ng-model="email" ng-init="email=''">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">Message</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <textarea class="star_css_style" ng-model="message" ng-init="message=''"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-md blue p-x-md btn-md fee_style" ng-click="feedback();user_tracking('click btn','Submit Improve');">Submit</button>
                    </div>
                    <div id="refer" class="rating_feedback_style">
                        <p class="in_style">Glad you liked it. Please refer your friends to know their <span class="color_taxs">tax leakage</span> for free.</p>
                         <div class="form-group row">
                            <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input type="text" name="email" class="md-input star_css_style" ng-model="refer_mail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3 col-xs-3 control-label pr-top" for="message">SMS</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                               <input type="" class="md-input star_css_style">
                            </div>
                        </div>
                        <button type="button" class="btn btn-md blue p-x-md btn-md" ng-click="refer_friend();user_tracking('click btn','Submit Refer Friend');">Share the Love</button>
                        <!-- <table class="table table-bordered">
                            <tr>
                                <td class="text-center table_ana_report_style">Email</td>
                                <td class="text-center table_ana_report_style star_css_style">
                                    <div class="float-label">
                                        <input type="text" ng-model="refer_mail" class="md-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center table_ana_report_style">SMS</td>
                                <td class="text-center table_ana_report_style star_css_style">
                                    <div class="float-label">
                                        <input type="" class="md-input">
                                    </div>
                                </td>
                            </tr>
                        </table> -->
                    </div>
                    <p class="pr-top">Have any doubts regarding this report ?
                        <span class="com-c" onclick="feedback()">Click to communicate.</span>
                    </p>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10 fee_style_css">
                        <div class="rating_feedback_style hide_show_feedback">
                            <div class="md-form-group float-label hide_show_feedback">
                             <label>Feedback</label>
                                <textarea class="feedback_css" ng-model="message_feedback" ng-init="message_feedback=''"></textarea>
                   
                             </div>
                              <button type="button" class="btn btn-md blue p-x-md btn-md hide_show_feedback submit_style" ng-click="click_to_communicate();user_tracking('click btn','Submit Feedback');">Submit</button>
                        </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
    {% include 'footer.html'%}
    </div>
</form>

<script type="text/javascript" src="{% static 'js/Chart.min.js'%}"></script>
<script type="text/javascript">
    $('.hide_show_feedback').hide();
    $(document).ready(function(){
        $('#feedback').hide();
        $('#refer').hide();
    });

    function feedback(){
        $('.hide_show_feedback').show();
    }
    function calculate_star(value){
        $('#feedback').hide();
        $('#refer').hide();
        if(value<=2){
            // alert('bad');
            $('#feedback').show();
        }
        if(value>=3.5){
            // alert('good');
            $('#refer').show();
        }
    }
    
    function show_chart_salary(val_14,val_15,val_16,val_17,val_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var ctx = document.getElementById("myChart_income").getContext('2d');
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0)
            var myChart ='';
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_15, val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
        else
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [val_14, val_15, val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
    }

    function show_chart_income(salary,property,cg,os,bp){
        var ctx1 = $("#chartContainer");
        var options = {
            responsive: true,
            title: {
                display: true,
                position: "top",
                text: "F.Y. 2017-18",
                fontSize: 18,
                fontColor: "#111"
            },
            legend: {
                display: true,
                position: "bottom",
                labels: {
                    fontColor: "#333",
                    fontSize: 16
                }
            },
            tooltips: {
              callbacks: {
                    label: function(tooltipItem, data) {
                        var value = data.datasets[0].data[tooltipItem.index];
                        value = value.toString();
                        value = value.split(/(?=(?:...)*$)/);
                        value = value.join(',');
                        return value;
                    }
              } // end callbacks:
            }, //end tooltips
            
        };
        // var incomes = ["Salary", "Property", "Capital Gains", "Other Sources", "Business / Profession"];
        // var income_data = [salary, property, cg, os, bp];
        // var backgroundColor = ["#800000","#A9A9A9","#FFA500","#F4A460","#1E90FF"];
        // var borderColor = ["#800000","#989898","#FFA500","#E39371","#1E90FF"];
        var incomes = [];
        var income_data = [];
        var backgroundColor = [];
        var borderColor = [];
        if(salary!=0){
            incomes.push("Salary");
            income_data.push(salary);
            backgroundColor.push("#800000");
            borderColor.push("#800000");
        }
        if(property!=0){
            incomes.push("Property");
            income_data.push(property);
            backgroundColor.push("#A9A9A9");
            borderColor.push("#989898");
        }
        if(cg!=0){
            incomes.push("Capital Gains");
            // console.log(cg);
            income_data.push(cg);
            backgroundColor.push("#D45CDB");
            borderColor.push("#D45CDB");
        }
        if(os!=0){
            incomes.push("Other Sources");
            // console.log(os);
            income_data.push(os);
            backgroundColor.push("#F4A460");
            borderColor.push("#E39371");
        }
        if(bp!=0){
            incomes.push("Business / Profession");
            // console.log(bp);
            income_data.push(bp);
            backgroundColor.push("#1E90FF");
            borderColor.push("#1E90FF");
        }
        var data1 = {
            labels: incomes,
            datasets: [{
                label: "",
                data: income_data,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: [1, 1, 1, 1, 1]
            }]
        };
        var chart1 = new Chart(ctx1, {
            type: "pie",
            data: data1,
            options: options
        });
    }

    //line chart
    function chart_taxes_paid(tp_14,tp_15,tp_16,tp_17,tp_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var ctx = document.getElementById("chart_lineContainer").getContext('2d');
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["17-18"],
                    datasets: [{
                        label: '',
                        data: [tp_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ], borderWidth: 1
                    }]
                },
                options: { legend: { display: false, } }
            });
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [tp_17, tp_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ], borderWidth: 1
                    }]
                },
                options: { legend: { display: false, } }
            });
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [tp_16, tp_17, tp_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ], borderWidth: 1
                    }]
                },
                options: { legend: { display: false, } }
            });
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [tp_15, tp_16, tp_17, tp_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ], borderWidth: 1
                    }]
                },
                options: { legend: { display: false, } }
            });
        else
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [tp_14, tp_15, tp_16, tp_17, tp_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ], borderWidth: 1
                    }]
                },
                options: { 
                    legend: 
                        { display: false,
                         },title: {
                            display: true,
                            text: 'Total Tax Paid',
                            fontSize: 20,
                            fontColor:'#00426A',
                        }
                     }
            });
    }

    function show_chart_tax_leakage(tp_14,tp_15,tp_16,tp_17,tp_18,st_14,st_15,st_16,st_17,st_18,tl_14,tl_15,tl_16,tl_17,tl_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var max_limit = get_round_up(Math.max(tp_14,tp_15,tp_16,tp_17,tp_18,st_14,st_15,st_16,st_17,st_18,tl_14,tl_15,tl_16,tl_17,tl_18) );
        //bar chart
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0)
            var chartData = {
                labels: [ "17-18"],
                datasets: [{
                    label: "Total Tax Paid",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ tp_18]
                }, {
                    label: "Salat Tax",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ st_18]
                }, {
                    label: "Tax Leakage",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ tl_18]
                }]
            };
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0)
            var chartData = {
                labels: [ "16-17", "17-18"],
                datasets: [{
                    label: "Total Tax Paid",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ tp_17, tp_18]
                }, {
                    label: "Salat Tax",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ st_17, st_18]
                }, {
                    label: "Tax Leakage",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ tl_17, tl_18]
                }]
            };
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var chartData = {
                labels: [ "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "Total Tax Paid",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ tp_16, tp_17, tp_18]
                }, {
                    label: "Salat Tax",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ st_16, st_17, st_18]
                }, {
                    label: "Tax Leakage",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ tl_16, tl_17, tl_18]
                }]
            };
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0)
            var chartData = {
                labels: [ "14-15", "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "Total Tax Paid",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ tp_15, tp_16, tp_17, tp_18]
                }, {
                    label: "Salat Tax",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ st_15, st_16, st_17, st_18]
                }, {
                    label: "Tax Leakage",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ tl_15, tl_16, tl_17, tl_18]
                }]
            };
        else
            var chartData = {
                labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "Total Tax Paid",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [tp_14, tp_15, tp_16, tp_17, tp_18]
                }, {
                    label: "Salat Tax",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [st_14, st_15, st_16, st_17, st_18]
                }, {
                    label: "Tax Leakage",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [tl_14, tl_15, tl_16,tl_17,tl_18]
                }]
            };

        var canvas = document.getElementById('chart_barContainer').getContext('2d');
        var myBarChart = new Chart(canvas, {
            type: "bar",
            data: chartData,
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                           min: 0,
                           max: max_limit
                        }
                    }]
                },legend: {
                    display: true,
                    position: "bottom",
                }
            }
        });
    }

    function get_round_up(value){
        var str_value = value.toString();
        // alert(str_value.length);
        if(str_value.length==2){
            value = value / 10;
            return (parseInt(value)+1)*10;
        }
        if(str_value.length==3){
            value = value / 100;
            return (parseInt(value)+1)*100;
        }
        if(str_value.length==4){
            value = value / 1000;
            return (parseInt(value)+1)*1000;
        }
        if(str_value.length==5){
            value = value / 10000;
            // alert((parseInt(value)+1)*10000);
            return (parseInt(value)+1)*10000;
        }
        if(str_value.length==6){
            value = value / 100000;
            // alert(Math.round(value));
            return (Math.round(value)+1)*100000;
        }
        // alert(value);
        // alert(parseInt(value)+1 );
    }
    function titleCase (str) {
        if ((str===null) || (str===''))
            return false;
        else
            str = str.toString();

        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    $('.loader').show();
    $(document).ready(function(){
        $('#feedback').hide();
        $('#refer').hide();
        setTimeout(function(){
            $('.loader').hide();
        }, 1200);
    });
</script>
</body>
</html>
