{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Tax Saving Avenues</title>
<meta name="description" content="Tax Saving Avenues" />
{% include 'header.html'%}
<script src="{% static 'js/success.js' %}"></script>

<style type="text/css">
    .table-bordered td, .table-bordered th {
        border: 1px solid #1D2A33!important;
    }
    .t-color{ color:#1A2531; }
    .bc-color{
        background: #1A2531;
        color: white;
    }
    .same-cf{ background: #ffe3be; }
    .same-c{ background: #9bcbff; }
    .ef-rent{
        background: #f9f9f9;
        border-radius: 5px;
    }
    .h-r{
        position: relative;
        left: 20px;
    }
    /*.color-l{ background: #eaca9e; }
    .color-i{ background: #f8ffa8; }
    .color-g{ background: #c5ffc8; }
    .color-f{ background: #d6e0ff; }
    .color-t{ background: antiquewhite; }
    .color-m{ background: #d1f8ff; }*/
    /*.s-css{
        position: relative;
        right: 20px;
    }*/
    .table > tbody>tr>td, .table > tbody>tr>th, .table > tfoot>tr>td, .table > tfoot>tr>th{
        padding: .4rem!important;
    }
    .b-css{
        border-bottom: none!important;
        border-top: none!important;
    }
    /*.m-css{
        position: relative;
        right: 7px;
    }*/
    .text-bold{ font-weight: bold; }
    .text-left{ text-align: left; }
    .border-css{ border: none!important; }
    .same-head-color{ color: #1A2531; }
    .same-width{ width: 25%; }
    .p-t-lg{
        padding-top:4rem!important;
        padding-bottom: 1rem!important;
    }
    .circle-css{
        font-size: 8px;
        position: relative;
        top: -2px;
        color: #1A2531;
    }
    .margin-css{ margin-left: 30px; }
    .color-css{ color: #805400; }
    /*.img_cs{ margin-left: 33%; }*/
    /*.font_color{
        text-align: center;
        color: #3aaf2e;
        margin-bottom: 25px;
        font-family: serif;
    }*/
    /*.ana_color{
        color: #036a9e;
        text-decoration: underline;
    }
    .ana_color:hover{
        color: #036a9e!important;
        text-decoration: underline;
    }*/
    .main_div{
        padding-top:5px;
        padding-bottom:10px;
    }
    /*.footer_address{ padding-top: 30px; }*/
    /*.footer_contact{ padding-top: 30px; }*/
    /*.footer_con{ padding-top: 30px; }*/
    .box{
        /*box-shadow: 0px 25px 50px 9px #000000;*/
        border-radius: 0;
        /*padding: 12px;*/
        margin-bottom: 30px;
    }
    ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 32px;
        width: 100%;
    }
    ul.tabs li {
        float: left;
        margin: 0;
        cursor: pointer;
        padding: 0px 21px;
        height: 31px;
        line-height: 31px;
        border-top: 1px solid #00A0E3;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #00A0E3;
        background-color: #00A0E3;
        color: white;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
    .tab_last { border-right: 1px solid #00A0E3; }
    ul.tabs li:hover {
        background-color: #fff;
        color: #00A0E3;
        font-weight: 600;
        border-color: #00A0E3;
    }
    ul.tabs li.active {
        background-color: #fff;
        border-bottom: 1px solid #00A0E3;
        display: block;
        color: #00A0E3;
        border-color: #00A0E3;
        font-weight: 600;
    }
    .tab_container {
        border: 1px solid #00A0E3;
        border-top: 1px solid #00A0E3;
        clear: both;
        float: left;
        width: 100%;
        background: #fff;
        overflow: auto;
        margin-top: 14px;
        margin-bottom: 40px;
    }
    .tab_content {
        padding: 20px;
        display: none;
    }
    .tab_drawer_heading { display: none; }
    .success_style{
        position: relative;
        top: 17px;
    }
    .invest_style{
        margin-bottom: 100px;
        box-shadow: 0px 3px 32px 8px #adaeaf;
        border: 15px solid #b3e1e8;
        border-radius: 8px;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media screen and (max-width: 480px) {
        .tabs { display: none; }
        .tab_drawer_heading {
            background-color: #00A0E3;
            color: #fff;
            /*border-top: 1px solid #00A0E3;*/
            margin: 0;
            padding: 5px 20px;
            display: block;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-bottom: 1px solid #fff;
        }
        .tab_container{
            margin-top: 0px;
            width: 100%;
            margin-bottom: 4px;
        }
        .h2, h2 { font-size: 1.6rem!important; }
        .d_active {
            background-color: #fff;
            color: #00A0E3;
        }
        .mobile_css{ font-size: 1.3rem!important; }
        .tab_css{ border-top: 1px solid rgb(0, 160, 227); }
    }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        .table td, .table th {
            padding: .75rem;
            vertical-align: middle!important;
            border-top: 1px solid #eceeef;
        }
        ul.tabs li { border-bottom: 1px solid #1A2531; }
        /*.s-css{
            position: relative;
            right: 0; 
        }*/
        .t-b{
            display: inline-block;
            overflow: scroll;
        }
        .h-r{
            position: relative;
            left: 0;
        }
        body{ margin: 10px!important; }
        .invest_style{
            margin-bottom: 20px;
            margin-top: -27px;
        }
        .footer_black{ margin-top: 70px; }
        .header_css{  margin-bottom: 35px; }
        /*.img_cs{ margin-left: 0; }*/
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    /*435*/
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app">
    {% csrf_token %}
    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{% csrf_token %}">
    <div class="row-col1">
        <div class="col-sm-12" ng-controller="index_controller">
        {% include 'menubar.html'%}
        </div>
        <!-- content -->
        <div class="success_style row-main">
            <div class="col-sm-12 text-center">
                <div class="p-t-lg"> <h1 class="m-y-md text-white"></h1> </div>
            </div>
            <div class="row row-main">
                <div class="col-md-2 col-sm-2 col-lg-2"></div>
                <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 invest_style">
                    <div class="box">
                        <div class="box-body">
                            <!-- <h3 class="font_color">𝒴𝑜𝓊 𝒶𝓇𝑒 𝒶𝓌𝑒𝓈𝑜𝓂𝑒!</h3> -->
                            <center> <h4 class="t-color">Tax Saving Avenues</h4> </center>
                        </div>
                        <ul class="tabs">
                            <li class="active same-width" rel="tab1">Tax Saving Expenses</li>
                            <li rel="tab2" class="same-width">Tax Saving Investments</li>
                            <li rel="tab3" class="same-width">Insurance</li>
                        </ul>
                        <div class="tab_container">
                            <h3 class="d_active tab_drawer_heading mobile_css" rel="tab1">Tax Saving Expenses</h3>
                            <div id="tab1" class="tab_content tab_css">
                                <!-- <h2>Tab 1 content</h2> -->
                                <p>We have quite a few expenses in our daily lives. Some of these expenses can be used to get tax benefits, like expenses towards paying your rent, your children's’ education expenses upto a limit etc.</p>
                                <p>Some of the major expenses you can claim tax benefit on are explained below .</p>
                                <table class="table table-bordered">
                                    <tr>
                                        <th colspan="2" class="text-center bc-color">House Rent Allowance</th>
                                    </tr>
                                    <tr>
                                        <td class="b-css"></td>
                                        <td><span>Description</span><br> - Many incur expenses towards their stay or accommodation in the form of rent. To certain extent government makes this expense non taxable i.e. while calculating income tax this expense is subtracted from your income so that you pay less tax. This expense is given in the form of an allowance by the employer and called as House Rent Allowance (HRA).</td>
                                    </tr>
                                    <tr>
                                        <td class="border-css"></td>
                                        <td>How to take benefit - This benefit can be taken while filing income tax returns in the month of July.</td>
                                    </tr>
                                    <tr>
                                        <td class="b-css"> <img class="lib-img" src="../static/images/hra.png"></td>
                                        <td>
                                            <span>Calculation -</span><br><span>HRA benefit depends on 3 things</span><br>
                                            <span class="h-r">a) Actual HRA given by your employer</span><br>
                                            <span class="h-r">b) Actual Rent paid by you - 10% of your Salary</span><br>
                                            <span class="h-r">c) 40%(for non metros) or 50% (for metros) * Salary or non-metropolitan cities and 50% for metropolitan cities.</span><br>
                                            <span>HRA allowed is minimum of the above three conditions.</span><br>
                                            <div class="ef-rent">
                                                <span>Example:-</span><br>
                                                <span class="h-r">H.R.A given= 2,40,000</span><br>
                                                <span class="h-r">Actual Rent  = 2,40,000</span><br>
                                                <span class="h-r">1. Rent – 10% of the salary in a year = 12 x (22,000 – 10% of 50,000) = 2,04,000</span><br>
                                                <span class="h-r">2. 50% of the salary in a year = 50% of 12 x 50,000 = 3 Lakhs. </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-css"></td>
                                        <td><span>Fine Print :-</span><br> 
                                        <span class="h-r">a) Parents - If living in a house owned by your parents, H.R.A can be claimed by paying rent to either of your parents.</span><br>
                                        <span class="h-r">b) If employer not giving H.R.A - If the employer is not giving an H.R.A and you still live in a rented house  you can claim the allowance under section 80GG. The minimum of the following will be considered:-</span><br>
                                        <span class="h-r"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;5000/- per month.</span><br>
                                        <span class="h-r"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;25% of adjusted total income.</span><br>
                                        <span class="h-r"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;Actual rent - 10% of adjusted total income.</span><br>
                                        <span># Adjusted total income = Total income - long term and short term(111A) capital gain, income under 115A or 115D and deductions 80C to 80U ( except 80GG).</span><br>
                                        <span class="h-r">c) If you are staying in a house owned by you, then H.R.A cannot be claimed.</span>
                                        </td>
                                    </tr>
                                </table>

                                <table class="table table-bordered">
                                    <tr>
                                        <th colspan="2" class="text-center bc-color">Children Education Allowance</th>
                                    </tr>
                                    <tr>
                                        <td class="b-css"></td>
                                        <td>Description - This allowance is given for the expenses of the education of your children.</td>
                                    </tr>
                                    <tr>
                                        <td class="border-css"></td>
                                        <td>How to take the benefit - In order to take the benefit you will have to mention the amount of this allowance when asked in the form which you fill during the filing of tax returns.</td>
                                    </tr>
                                    <tr>
                                        <td class="b-css"> <img class="lib-img" src="../static/images/children.jpg"></td>
                                        <td>Limits - Monthly limit for this is Rs. 100 for each child, limited for upto 2 children.</td>
                                    </tr>
                                    <tr>
                                        <td class="border-css"></td>
                                        <td>Fine Print- Similar to this allowance, if you receive an hostel expenditure allowance by your employer, the amount that is exempted is 300/- per month or 3600/- per year for maximum of 2 children.</td>
                                    </tr>
                                </table>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;Standard Deduction -</p>
                                <p class="margin-css">- Standard deduction is not available for A.Y. 2018-19 but is available for A.Y. 2019-20 upto 40,000/- rupees.</p>
                               <!--  <table class="table table-bordered">
                                    <tr>
                                        <th class="text-center color-t">Particulars</th>
                                        <th class="text-center color-t">Until FY 2017-18 / AY 2018-19</th>
                                        <th class="text-center color-t">From FY 2018-19 / AY 2019-20</th>
                                    </tr>
                                    <tr>
                                        <th class="text-left color-m">Gross Salary</th>
                                        <td class="text-center color-f">Rs 5,00,000</td>
                                        <td class="text-center color-g">Rs 5,00,000</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp; Transport Allowance (Max)</td>
                                        <td class="text-center color-f">Rs 19,200</td>
                                        <td class="text-center color-g">NA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><span class="m-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp; Medical Allowance (Max)</span></td>
                                        <td class="text-center color-f">Rs 15,000</td>
                                        <td class="text-center color-g">NA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"><span class="s-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp; Standard Deduction</span></td>
                                        <td class="text-center color-f">NA</td>
                                        <td class="text-center color-g">Rs 40,000</td>
                                    </tr>
                                     <tr>
                                        <th class="text-left color-m">Net Salary Income</th>
                                        <td class="text-center color-i">Rs 4,65,800</td>
                                        <td class="text-center color-l">Rs 4,60,000</td>
                                    </tr>
                                </table> -->
                            </div>
                            <!-- #tab1 -->
                            <h3 class="tab_drawer_heading mobile_css" rel="tab2">Tax Saving Investments</h3>
                            <div id="tab2" class="tab_content tab_css">
                                <!-- <h2>Tab 2 content</h2> -->
                                <p class="text-bold">Tax can be saved by making investments on which deductions can be claimed :-</p>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;EPF ( Employees’ Provident Fund ) -</p>
                                <p class="margin-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;An amount is deducted from your salary as your contribution in EPF. If employer contributes more than 12% of your salary, then excess is taxable in your hands.</p>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;PPF ( Public Provident Fund ) -</p> 
                                <p class="margin-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;An amount from Rs. 500 upto 1.5 lakh in a financial year. It matures in 15 years. The effective  interest rate is 8 percent.</p>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;ELSS(Equity Linked Savings Scheme)-</p>
                                <p class="margin-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;Tax benefit is available upto Rs.1.5 lakh, ELSS comes with a lock-in period of 3 years.</p>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;Fixed Deposits -</p>
                                <p class="margin-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;Any deposit in the bank for at least a period of five years qualifies for deduction.</p>

                                <table class="table table-bordered t-b table-striped">
                                    <tr>
                                        <th class="text-center same-c">SAVING INVESTMENT SCHEMES(U/S ,80C)</th>
                                        <th class="text-center same-c">RETURN OF INVESTMENT</th>
                                        <th class="text-center same-c">LOCK IN PERIOD</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center same-cf">Contribution to employee’s provident fund (EPF)</td>
                                        <td class="text-center">8.65% (Declared Annually)</td>
                                        <td class="text-center">Till Retirement</td>
                                    </tr>
                                     <tr>
                                        <td class="text-center same-cf">Public Provident Fund (PPF)</td>
                                        <td class="text-center">7.6% (Declared QoQ basis)</td>
                                        <td class="text-center">15 years maybe extended</td>
                                    </tr>
                                     <tr>
                                        <td class="text-center same-cf">Equity Linked Saving Scheme (ELSS)</td>
                                        <td class="text-center">Varies as it is market linked</td>
                                        <td class="text-center">3 years, maybe extended</td>
                                    </tr>

                                     <tr>
                                        <td class="text-center same-cf">National Saving Certificate (NSC)</td>
                                        <td class="text-center">7.6% (Declared QoQ basis)</td>
                                        <td class="text-center">5 years</td>
                                    </tr>
                                     <tr>
                                        <td class="text-center same-cf">Unit Linked Investment Plan (ULIP)</td>
                                        <td class="text-center">Varies as it is market linked</td>
                                        <td class="text-center">5 years or more</td>
                                    </tr>
                                     <tr>
                                        <td class="text-center same-cf">Fixed Deposits</td>
                                        <td class="text-center">Varies as per banks</td>
                                        <td class="text-center">5 years</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- #tab2 -->
                            <h3 class="tab_drawer_heading mobile_css" rel="tab3">Insurance</h3>
                            <div id="tab3" class="tab_content tab_css">
                                <!-- <h2>Tab 3 content</h2> -->
                                <p class="text-bold">These sections are introduced for saving taxes on the insurance premiums paid.</p>
                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;80C -</p>

                                <p class="margin-css"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;Under this section a deduction upto Rs. 1,50,000 from the taxable income can be taken, if you have invested in a life insurance premium, PPF, Mediclaim, tuition fees etc. Premium paid for your spouse, children for life insurance can be included .</p>

                                <p class="color-css"><i class="fa fa-dot-circle-o"></i>&nbsp;80D -</p>
                                <p class="margin-css">This can be taken on the health insurance premium paid by the taxpayer.</p>
                                <table class="table table-bordered t-b">
                                    <tr>
                                        <th></th>
                                        <th class="same-head-color text-center">SELF</th>
                                        <th class="same-head-color text-center">PARENTS</th>
                                        <th class="same-head-color text-center">TOTAL</th>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;When no one has attained the age of 60, i.e neither Your parents, nor you. </td>
                                        <td class="text-center">25,000</td>
                                        <td class="text-center">25,000</td>
                                        <td class="text-center">50,000</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;When you and your family Is less than 60 and your Parents are above 60. </td>
                                        <td class="text-center">25,000</td>
                                        <td class="text-center">30,000</td>
                                        <td class="text-center">55,000</td>
                                    </tr>
                                    <tr>
                                        <td class=""><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;When you and your parents,Both are 60 and above. </td>
                                        <td class="text-center">30,000</td>
                                        <td class="text-center">30,000</td>
                                        <td class="text-center">60,000</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><i class="fa fa-circle circle-css" aria-hidden="true"></i>&nbsp;Preventive health checkup - An amount of 5,000/- can be claimed on the expenses incurred on preventive health checkups for self, spouse, children and parents. </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- #tab3 -->
                            <!-- #tab4 -->
                        </div>
                        <!-- .tab_container -->
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2"></div>
        </div>
    </div>
    </div>
    {% include 'footer.html'%}
<!-- </div> -->
</form>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->
<script type="text/javascript">
    // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();

    /* if in tab mode */
    $("ul.tabs li").click(function() {
        $(".tab_content").hide();
        var activeTab = $(this).attr("rel"); 
        $("#"+activeTab).fadeIn();        

        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");

        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");
    });
    /* if in drawer mode */
    $(".tab_drawer_heading").click(function() {
        $(".tab_content").hide();
        var d_activeTab = $(this).attr("rel"); 
        console.log(d_activeTab)
        $("#"+d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("active");
        $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
    });
    /* Extra class "tab_last" to add border to right side of last tab */
    $('ul.tabs li').last().addClass("tab_last");
</script>

</body>
</html>
