{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
 <title>Salat Tax | Recommendation</title>
<meta name="description" content="Tax Planning Recommendations" />
{% include 'header.html'%}
<script src="{% static 'js/tax_recom.js' %}"></script>

<style type="text/css">
    .n-m{
        margin-bottom: 3rem;
    }
    .p-t-lg{
        padding-top:5rem!important;
        padding-bottom: 1rem!important;
    }
    .footer-css{ margin-top: 50px; }
    .edu_img{ width: 140px; }
    .lib-panel { margin-bottom: 20Px; }
    .lib-panel img {
        margin-left: 33px;
        background-color: transparent;
    }
    .lib-panel .row,
    .lib-panel .col-md-6 {
        padding: 0;
        background-color: #fff;
    }
    .lib-panel .lib-row { padding: 0 20px 0 20px; }
    .lib-panel .lib-row.lib-header {
        background-color: #FFFFFF;
        font-size: 20px;
        padding: 10px 20px 0 20px;
    }
    .lib-panel .lib-row.lib-header .lib-header-seperator {
        height: 2px;
        width: 26px;
        background-color: #1A2531;
        margin: 7px 0 7px 0;
    }
    .lib-panel .lib-row.lib-desc {
        position: relative;
        height: 100%;
        display: block;
        font-size: 1.1rem;
        margin-top: 8px;
        color: #1A2531;
    }
    .lib-panel .lib-row.lib-desc a{
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 20px;
    }
    .row-margin-bottom { margin-bottom: 20px; }
    .box-shadow {
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    }
    .no-padding { padding: 0; }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
    }
    .footer_con{ padding-top:30px; }
    .footer_style{
        padding-top:5px;
        padding-bottom:10px;
    }
    .card_tax{
        border-radius: 0;
        padding: 12px;
        margin-bottom: 20px;
    }
    .card_taxs{
        border-radius: 0;
        padding: 12px;
        color: #113d6d;
        border-bottom: 1px solid #00B8ED!important;
        background: #b3e1e8;
    }
    .based_css_plan {
        position: relative;
        right: 0px;
        color: #1A2531;
        font-size: 1.1rem;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        .lib-panel img {
            background-color: transparent;
            margin-left: 90px;
        }
        .based_css_plan {
            position: relative;
            right: 1px;
        }
        body {
            margin: 5px!important;
            overflow: auto!important;
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    /*435*/
</style>
</head>

<body ng-controller="index_cntrl">
<form name="myForm" method="post" >
<div class="app" ng-controller="tax_recom_controller">
    <div class="row-col1">
        <div class="col-sm-12" ng-controller="index_controller">
        {% include 'menubar.html'%}
        </div>
        <div class="col-sm-12 text-center row-main">
            <div class="p-t-lg">
                <h1 class="m-y-md text-white"></h1> <center> </center>
            </div>
        </div>
        <div class="row row-main n-m">
            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text-center"></div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 main_css">
                <div class="card-header card_taxs text-center">
                    <h4>Tax Planning Recommendations</h4>
                </div>
                <div class="card bg-dark mb-3 card_tax">
                    <div class="card-body">
                    <div class="container recommendations">
                        <p class="based_css_plan">Based on the above data you have submitted below is a set of recommendations which may help you optimise your taxes for FY 2018-19. </p>
                        <div class="row row-margin-bottom">
                            <div class="col-md-12 col-lg-12 no-padding lib-item" id="medical_allowance" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img-show st_img" src="../static/images/standard.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Standard Deduction
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc">1. You can avail a standard deduction towards transport and medical allowance of Rs. 40,000.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="hra_deduction" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/hra.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> HRA Deduction
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc">2 .Total HRA deduction that can be availed by you is Rs. <%total_hra_text%>. You would be required, as per your company policies, to submit rent receipts / agreement to claim the above deduction.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="incurred_travel_expense" data-category="view">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img-show" src="../static/images/travel.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Travel Allowance 
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%travel_expense_no%>. Leave Travel Allowance that can be availed by you for this FY is Rs. <%total_travel_expense_text%>. For claiming the benefit of LTA you are required to submit travel tickets/bills to your company as per their policy.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="children_fee" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/children.jpg">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Children
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%child_deduction_no%>. You can take deduction of <%child_deduction_text%> towards Children Fee Allowance. This deduction can be availed at the time of return filing in the month of July.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="home_loan_taken" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/steps-to-homeowner.jpg">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Housing Loan
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%home_loan_no%>. Since you have availed a Housing Loan, the interest amount paid for current FY can be claimed as a tax a deductible expense. You can avail a tax deduction of Rs. <%interest_amt_text%>. Your company may require you to submit Interest certificate towards this end which you can get from your loan company.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" id="deduction_limit" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/tax.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> 80C Deduction 
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%deduction_80c_no%>. 80C deduction limit is 1,50,000/- <%deduction_80c_text%>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" id="national_pension_scheme" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/nps.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> NPS
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%nps_no%>. In addition to 80C you can invest Rs. 50,000 towards National Pension Scheme (NPS) which can further help to reduce taxes. 
                                                <br><%nps_text%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" id="NPS_employer" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/nps.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> NPS Account
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%nps_employer_no%>. Apart from your contribution to NPS your employer can contribute 10% of your basic salary which is <%monthly_bs%> to  NPS. This additional contribution by employer can further reduce your taxes. If possible you can ask your employer to reduce your taxable perquisites and contribute to your NPS account instead.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" id="80D_data" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/medical.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> 80D
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%deduction_80d_no%>. This section refers to the medical insurance premium paid , this deduction can be claimed by any individual on the annual payment of premiums of medical insurance, preventive health checkups in respect of senior citizens etc. 
                                            <!-- Health insurance premium given for self spouse or children is deductible upto 25000 and medical insurance premium paid for a specified senior citizen is deductible upto 5000/-. -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="education_loan" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img edu_img" src="../static/images/education_loan.jpeg">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Education Loan
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%education_loan_no%>. Since you have an education loan the interest amount of Rs. <%education_loan_text%> paid is a tax deductible expense. You can declare the same in your company or while filing income tax returns.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 no-padding lib-item" ng-show="disability" data-category="ui">
                                <div class="lib-panel">
                                    <div class="row box-shadow">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="lib-img" src="../static/images/disabilities.png">
                                        </div>
                                        <div class="col-md-9 col-lg-9">
                                            <div class="lib-row lib-header"> Disabilities
                                                <div class="lib-header-seperator"></div>
                                            </div>
                                            <div class="lib-row lib-desc"><%disability_no%>. There is a special deduction for people with specific disabilities towards their medical and routine upkeep. Under this provision you are eligible for a deduction of Rs. 75,000 in current FY. You can claim this deduction at the time of return filing in July 2019.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 text-center"></div>
        </div>

        <!-- <div class="footer black text-info-hover footer-css">
            <div class="container">
                <div class="row p-y-lg footer_style">
                    <div class="col-md-6 footer_con">
                        <h2 class="widget-title">About Us</h2>
                        <span class="text-muteds">Salat Tax is an initiative by Salat Investments founded by Swapnil Bagmar and Prerana Bagmar. We like to use cutting edge technology and simplify tax compliance for tax payers. We are on a mission to save maximum tax and use the money to create sustainable wealth for the clients. </span>
                    </div>
                    <div class="col-md-3 footer_con">
                        <h2 class="widget-title">Address</h2>
                        <span class="text-muteds">Flat No 1, Building A1,<br> Indira Park Co-Operative Housing Society, Pune Nagar Road,<br> Pune 411006 </span>
                    </div>
                    <div class="col-md-3 footer_con">
                        <h2 class="widget-title">Contact Us</h2>
                        <span class="text-muteds">E-mail : <a href="mailto:salattax@gmail.com">salattax@gmail.com</a></span><br>
                        <span class="text-muteds">Telephone : <a href="tel:020-41225277">020-41225277</a></span>
                    </div>
                </div>
                <div class="p-y-lg footer_style">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. <a href="http://salatinvestments.com" target="_blank">salatinvestments.com </a> All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        {% include 'footer.html'%}
    </div>
</div>
</form>

<!-- build:js scripts/app.min.js -->
<!-- jQuery -->


</body>
</html>
