{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
<title>Salat Tax | Tax Saving Account</title>
<meta name="description" content="Tax Saving Account" />
{% include 'header.html'%}
<script src="{% static 'js/tax_saving_account.js' %}"></script>

<!-- owl corousel testimonial -->
<link rel="stylesheet" href="{% static 'css/styles/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/owl.theme.min.css' %}">
 
<style type="text/css">
    .paln_t{
        margin-right: 0!important;
      margin-left: 0!important;
    }
    .row{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .m-padding{ padding-left: 10px; }
    .color-e{ color: black; }
    .m-t{ margin-top:12px; }
    .p-t-lg{
        padding-top:5rem;
        padding-bottom:1rem;
    }
    .open_css{ margin-bottom:30px; }
    .table_color{ background: #f9f9f9!important; }
    .error_css_state{
        color: maroon;
        position: relative;
        left: 4px;
    }
    .error_css{
        color: maroon;
        position: relative;
        left: 50px;
    }
    .img_width{ width: 50px; }
    .btn-md {
        padding: .695rem .75rem!important;
        border-radius: 5px;
    }
    .green_color{ color: green; font-weight: 600; }
    .same_color_label{ color: #1A2632; font-weight: 600; }
    .same_pointer{ cursor: pointer; }
    .color_same_one{ background: #273849; color: #fff!important; }
    .color_same_two{ background: #273849; color: #fff!important; }
    .same_width{ width: 65%; margin-left: 50px; }
    #employment_state{
        text-align-last: center;
        width: 65%;
        margin-left: 50px;
    }
    .modal-header .close { margin-top:5px!important; }
    .font_css{ font-size:25px; }
    .yes_btn{ margin-left:-16px; padding: .2225rem .5rem!important; }
    .yes_btn_dis{ padding: .2225rem .5rem!important; }
    .no_btn_dis{ padding: .2225rem .5rem!important; }
    .yes_btn_log{
        margin-left:-5px;
        padding: .2225rem .5rem!important;
    }
    .no_btn_log{
        padding: .2225rem .5rem!important;
        margin-right: -8px;
    }
    .same_td_padding{ 
        padding:12px; 
    }
    .today_css{
        color: #161f2e;
        font-weight: 600;
    }
    .add_font_add{
        text-decoration: line-through;
        position: relative;
        top: -3px;
    }
    .take_css_will_dis {
        position: absolute;
        top: 682px!important;
        left: 416px;
        color: #69400a;
    }
    .dis_table{
        margin-top: 50px;
        width: 90%;
        background: #fff;
        margin-left: 0;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
    .dash_line{ 
        text-decoration: line-through; 
    }
    .dash_line:hover{ 
        text-decoration: line-through; 
    }
    .take_css{
        position: relative;
        top: 0px;
        left: 7px;
        color: #69400a;
    }
    .take_css_will{
        color: #15466B;
        padding: 12px;
        font-weight: 600;
    }
    /*first td*/
    .onoffswitch1{
        position: relative;
        width: 90px;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select: none;
        position: relative;
        top: -38px;
        left: 345px;
    }
    .onoffswitch1-checkbox { 
        display: none;
    }
    .onoffswitch1-label {
        display: block;overflow: hidden;cursor: pointer;
        border: 0px solid #999999;border-radius: 10px;height: 22px;width: 70px;
    }
    .onoffswitch1-inner {
        display: block;width: 200%;margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;-webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch1-inner > span {
        display: block;float: left;
        position: relative;width: 50%;height: 30px;padding: 0;line-height: 30px;
        font-size: 14px;color: white;font-family: Trebuchet, Arial, sans-serif;font-weight: bold;
        -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
    }
    .onoffswitch1-inner .onoffswitch1-active {
        padding-left: 10px;
        background-color: #EEEEEE;color: #FFFFFF;
    }
    .onoffswitch1-inner .onoffswitch1-inactive {
        padding-right: 10px;
        background-color: #EEEEEE;color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch1-switch {
        display: block;width: 32px;margin: 0px;text-align: center;
        border: 0px solid #999999;border-radius: 0px;
        position: absolute;top: -4px;bottom: 0;
    }
    .onoffswitch1-active .onoffswitch1-switch {
        background: #27A1CA;left: 0;
    }
    .onoffswitch1-inactive .onoffswitch1-switch {
        background: #A1A1A1;right: 0;
    }
    .onoffswitch1-active .onoffswitch1-switch:before {
        content: " ";position: absolute;
        top: 0;
        left: 32px;
        border-style: solid;
        border-color: #27A1CA transparent transparent #27A1CA;
        border-width: 15px 9px;
    }
    .onoffswitch1-inactive .onoffswitch1-switch:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 32px;
        border-style: solid;
        border-color: transparent #A1A1A1 #A1A1A1 transparent;
        border-width: 15px 9px;
    }
    .onoffswitch1-checkbox:checked + .onoffswitch1-label .onoffswitch1-inner {
        margin-left: 0;
    }
    /*end first*/
    /*third td*/
    .onoffswitch3{
        position: relative;width: 90px;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select: none;
        position: relative;
        top: 4px;
        right:280px;
    }
    .onoffswitch3-checkbox { display: none;}
    .onoffswitch3-label {
        display: block;overflow: hidden;cursor: pointer;
        border: 0px solid #999999;border-radius: 10px;height: 22px;width: 70px;
    }
    .onoffswitch3-inner {
        display: block;width: 200%;margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;-webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch3-inner > span {
        display: block;float: left;
        position: relative;width: 50%;height: 30px;padding: 0;line-height: 30px;
        font-size: 14px;color: white;font-family: Trebuchet, Arial, sans-serif;font-weight: bold;
        -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
    }
    .onoffswitch3-inner .onoffswitch3-active {
        padding-left: 10px;
        background-color: #EEEEEE;color: #FFFFFF;
    }
    .onoffswitch3-inner .onoffswitch3-inactive {
        padding-right: 10px;
        background-color: #EEEEEE;color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch3-switch {
        display: block;width: 32px;margin: 0px;text-align: center;
        border: 0px solid #999999;border-radius: 0px;
        position: absolute;top: -4px;bottom: 0;
    }
    .onoffswitch3-active .onoffswitch3-switch {
        background: #27A1CA;left: 0;
    }
    .onoffswitch3-inactive .onoffswitch3-switch {
        background: #A1A1A1;right: 0;
    }
    .onoffswitch3-active .onoffswitch3-switch:before {
        content: " ";position: absolute;top: 0;left: 32px;
        border-style: solid;border-color: #27A1CA transparent transparent #27A1CA;
        border-width: 15px 9px;
    }
    .onoffswitch3-inactive .onoffswitch3-switch:before {
        content: " ";position: absolute;top: 0;right: 32px;
        border-style: solid;
        border-color: transparent #A1A1A1 #A1A1A1 transparent;border-width: 15px 9px;
    }
    .onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
        margin-left: 0;
    }
    /*end third*/
    .take_css_chance{
        position: relative;
        top: auto;
        left: 8px;
        color: #15466B;
        font-weight: 600;
    }
    .table td, .table th {
        padding: .3rem!important;
        vertical-align: top;
        border-top: 1px solid #eceeef;
    }
    .margin_table{
        margin-top: -30px;
        background: #f9f9f9;
    }
    #testimonial-slider{ 
        height: 340px; 
    }
    .modal_color{
        color: #113d6d;
        text-align: center;
    }
    .resg_css{
        background: #b3e1e8;
        color: white;
        padding: 4px 12px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .img_video{ 
        margin-left: 20%; 
    }
    .same_box{
        color:#1c1c1c!important;
        margin-top: 12px!important;
    }
    .open_acc_style{ 
        margin-top: 45px;
        margin-bottom: 20px; 
    }
    .copyright_style{
        padding-top:5px;
        padding-bottom:10px;
    }
    .video_style{ 
        height: 373px; 
    }
    .plan_box{
        margin-bottom: 0px;
        margin-top: 5rem;
    }
    .plan_acc_style{
        margin-bottom: -25px;
        margin-left: 60px;
    }
    th{ 
        text-align: center!important; 
    }
    .rupee_css{ 
        font-size: 0.7em; 
    }
    .table1{
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    table.table1{
        font-family: "Trebuchet MS", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4em;
        font-style: normal;
        border-collapse:separate;
        margin-left: 10px;
        border-radius: 8px;
    }
    .table1 thead th{
        padding:9px;
        color: #273849;
        background-color: #b3e1e8;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }
    .table1 thead th:empty{
        background:transparent;
        border:none;
    }
    .table1 tbody th {
        color: #273849;
        background-color: #b3e1e8;
        padding: 0px 10px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
    }
    .table1 tfoot td{
        color: #15466B;
        font-size:32px;
        text-align:center;
        padding:10px 0px;
        text-shadow:1px 1px 1px #444;
        border: 2px solid #E7EFE0;
    }
    .table1 tfoot th{
        color: #273849;
        text-align: center!important;
        background-color: #b3e1e8;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
    }
    .table1 tbody td{
        padding:10px;
        text-align:center;
        background-color:#fff;
        border: 2px solid #E7EFE0;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        color:#666;
        text-shadow:1px 1px 1px #fff;
    }
    .table1 tbody span.check::before{
        content : url(../static/images/check0.png) 
    }
    /* Table 3 Style */
    /*table.table3{
        font-family:Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 1.7em;
        text-align:center;
        border-collapse:collapse;
    }
    .table3 thead th{
        padding:6px 10px;
        text-transform:uppercase;
        color:#444;
        font-weight:bold;
        text-shadow:1px 1px 1px #fff;
        border-bottom:5px solid #444;
    }
    .table3 thead th:empty{
        background:transparent;
        border:none;
    }
    .table3 thead :nth-child(2), .table3 tfoot :nth-child(2){ 
        background-color: #7FD2FF;
    }
    .table3 tfoot :nth-child(2){
        border-bottom-left-radius:5px;
    }
    .table3 thead :nth-child(2){
        -moz-border-radius:5px 0px 0px 0px;
        -webkit-border-top-left-radius:5px;
        border-top-left-radius:5px;
    }
    .table3 thead :nth-child(3), .table3 tfoot :nth-child(3){ 
        background-color: #45A8DF;
    }
    .table3 thead :nth-child(4), .table3 tfoot :nth-child(4){ 
        background-color: #2388BF;
    }
    .table3 thead :nth-child(5), .table3 tfoot :nth-child(5){ 
        background-color: #096A9F;
    }
    .table3 thead :nth-child(5){
        border-top-right-radius:5px;
    }
    .table3 tfoot :nth-child(5){
        border-bottom-right-radius:5px;
    }
    .table3 tfoot td{
        font-size:38px;
        font-weight:bold;
        padding:15px 0px;
        text-shadow:1px 1px 1px #fff;
    }
    .table3 tbody td{ 
        padding:10px;
    }
    .table3 tbody tr:nth-child(4) td{
        font-size:26px;
        font-weight:bold;
    }
    .table3 tbody td:nth-child(even){
        background-color:#444;
        color:#444;
        border-bottom:1px solid #444;
        text-shadow:1px 1px 1px #fff;
    }
    .table3 tbody td:nth-child(odd){
        background-color:#555;
        color:#f0f0f0;
        border-bottom:1px solid #444;
        text-shadow:1px 1px 1px #000;
    }
    .table3 tbody td:nth-last-child(1){ 
        border-right:1px solid #222;
    }
    .table3 tbody th{
        color:#696969;
        text-align:right;
        padding:0px 10px;
        border-right:1px solid #aaa;
    }
    .table3 tbody span.check::before{ content : url(../images/check2.png) }*/
    .pro_color{
        color: #fff;
        background: #273849!important;
    }
    .pro_colorsss{
        color: #fff;
        background: #273849!important;
    }
    .starter_color{
        color: #d20298;
        background: aqua!important;
    }
    .add_starter{
        color: black;
        background: #fff!important;
    }
    .add_pro_color{
        color: black;
        background: #fff!important;
    }
    /* Checkboxes aspect */
    /* :before is for the box */
    #test1:not(:checked) + label:before,
    #test1:checked + label:before {
      content: '';
        position: absolute;
        top: 10px;
        width: 17px;
        height: 17px;
        border: 1px solid #aaa;
        background: #f8f8f8;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */;
        right: 270px;
        cursor: pointer;
    }
    /* Check symbol aspect */
    #test1:not(:checked) + label:after,
    #test1:checked + label:after {
      content: '✔';
        position: absolute;
        top: 7px;
        font-size: 14px;
        color: #09ad7e;
        transition: all .2s;
        right: 271px;/* animation incoming :p */
        cursor: pointer;
    }
    /* if "not checked" */
    #test1:not(:checked) + label:after {
        opacity: 0;/* invisible */
        transform: scale(0);/* scaled down to 0 */
    }
    /* If "checked" */
    #test1:checked + label:after {
        opacity: 1;/* visible */
        transform: scale(1);/* scaled up to normal */
    }
    /* :before is for the box */
    #test2:not(:checked) + label:before,
    #test2:checked + label:before {
      content: '';
        position: absolute;
        top: 10px;
        width: 17px;
        height: 17px;
        border: 1px solid #aaa;
        background: #f8f8f8;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */;
        right: 142px;
        cursor: pointer;
    }
    /* Check symbol aspect */
    #test2:not(:checked) + label:after,
    #test2:checked + label:after {
        content: '✔';
        position: absolute;
        top: 7px;
        font-size: 14px;
        color: #09ad7e;
        transition: all .2s;
        right: 144px;/* animation incoming :p */
        cursor: pointer;
    }
    /* if "not checked" */
    #test2:not(:checked) + label:after {
      opacity: 0;/* invisible */
      transform: scale(0);/* scaled down to 0 */
    }
    /* If "checked" */
    #test2:checked + label:after {
        opacity: 1;/* visible */
        transform: scale(1);/* scaled up to normal */
    }
    .table td.table_data_style{ 
        padding: .4rem!important;
    }
    .cros_style{
        font-size: 1.5rem;
        color: #FF5E00;
    }
    .check_style{
        font-size: 1.5rem;
        color: #059205;
    }
    .check_styles{
        font-size: 1.5rem;
        color: rgb(21, 70, 107);
    }
    .owl-buttons{
        position: relative;
        top: -263px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        color: black!important;
        background: #4bbaf1!important;
        left: -1%!important;
        position: absolute!important;
        top: 90px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        color: black!important;
        background: #4bbaf1!important;
        left: 96%!important;
        position: absolute!important;
        top: 94px!important;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { 
        color: #000;
    }
    .testimonial3{
        text-align: center;
        padding: 78px 37px 19px 38px;
        margin: 60px 15px 35px;
        background: #f9f9f9;
        border:1px solid #3A98E3;
        position: relative;
        border-radius: 5px;
    }
    .testimonial3 .pic{
        width: 120px;
        border: 5px solid #3A98E3;
        margin: 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
    }
    .testimonial3 .pic img{
        width: 100%;
        height:120px;
    }
    .testimonial3 .description{
        font-size: 15px;
        color: #757575;
        line-height: 27px;
        margin-bottom: 20px;
        position: relative;
    }
    .testimonial3 .description:before{
        content: "\f10d";
        font-family: "FontAwesome";
        font-size: 32px;
        color: #3A98E3;
        position: absolute;
        top: -15px;
        left: -35px;
    }
    .testimonial3 .testimonial-profile{
        position: relative;
        margin: 20px 0 10px 0;
    }
    .testimonial3 .testimonial-profile:after{
        content: "";
        width: 50px;
        height: 2px;
        background: #3A98E3;
        margin: 0 auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
    .testimonial3 .title{
        display: inline-block;
        font-size: 18px;
        color: #4a5184;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .testimonial3 .post{
        display: inline-block;
        font-size: 15px;
        color: #757575;
        text-transform: capitalize;
    }
    .testimonial2{
        text-align: center;
        padding: 78px 37px 19px 38px;
        margin: 60px 15px 35px;
        background: #f9f9f9;
        border:1px solid #3A98E3;
        position: relative;
        border-radius: 5px;
    }
    .testimonial2 .pic{
        width: 120px;
        border: 5px solid #3A98E3;
        margin: 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
    }
    .testimonial2 .pic img{
        width: 100%;
        height:120px;
    }
    .testimonial2 .description{
        font-size: 15px;
        color: #757575;
        line-height: 27px;
        margin-bottom: 20px;
        position: relative;
    }
    .testimonial2 .description:before{
        content: "\f10d";
        font-family: "FontAwesome";
        font-size: 32px;
        color: #3A98E3;
        position: absolute;
        top: -15px;
        left: -35px;
    }
    .testimonial2 .testimonial-profile{
        position: relative;
        margin: 20px 0 10px 0;
    }
    .testimonial2 .testimonial-profile:after{
        content: "";
        width: 50px;
        height: 2px;
        background: #3A98E3;
        margin: 0 auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
    .testimonial2 .title{
        display: inline-block;
        font-size: 18px;
        color: #4a5184;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .testimonial2 .post{
        display: inline-block;
        font-size: 15px;
        color: #757575;
        text-transform: capitalize;
    }
    .testimonial1{
        text-align: center;
        padding: 78px 37px 19px 38px;
        margin: 60px 15px 35px;
        background: #f9f9f9!important;
        border:1px solid #3A98E3!important;
        position: relative!important;
        border-radius: 5px!important;
    }
    .testimonial1 .pic{
        width: 120px;
        border: 5px solid #3A98E3;
        margin: 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
    }
    .testimonial1 .pic img{
        width: 100%;
        height:120px;
    }
    .testimonial1 .description{
        font-size: 15px;
        color: #757575;
        line-height: 27px;
        margin-bottom: 20px;
        position: relative!important;
    }
    .testimonial1 .description:before{
        content: "\f10d";
        font-family: "FontAwesome";
        font-size: 32px;
        color: #3A98E3;
        position: absolute;
        top: -15px;
        left: -35px;
    }
    .testimonial1 .testimonial-profile{
        position: relative;
        margin: 20px 0 10px 0;
    }
    .testimonial1 .testimonial-profile:after{
        content: "";
        width: 50px;
        height: 2px;
        background: #3A98E3;
        margin: 0 auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
    .testimonial1 .title{
        display: inline-block;
        font-size: 18px;
        color: #4a5184;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .testimonial1 .post{
        display: inline-block;
        font-size: 15px;
        color: #757575;
        text-transform: capitalize;
    }
    .testimonial{
        text-align: center;
        padding: 78px 37px 19px 38px;
        margin: 60px 15px 35px;
        background: #f9f9f9!important;
        border:1px solid #3A98E3!important;
        position: relative;
        border-radius: 5px;
    }
    .testimonial .pic{
        width: 120px;
        border: 5px solid #3A98E3;
        margin: 0 auto;
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
    }
    .testimonial .pic img{
        width: 100%;
        height:120px;
    }
    .testimonial .description{
        font-size: 15px;
        color: #757575;
        line-height: 27px;
        margin-bottom: 20px;
        position: relative;
    }
    .testimonial .description:before{
        content: "\f10d";
        font-family: "FontAwesome";
        font-size: 32px;
        color: #3A98E3;
        position: absolute;
        top: -15px;
        left: -35px;
    }
    .testimonial .testimonial-profile{
        position: relative;
        margin: 20px 0 10px 0;
    }
    .testimonial .testimonial-profile:after{
        content: "";
        width: 50px;
        height: 2px;
        background: #3A98E3;
        margin: 0 auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
    }
    .testimonial .title{
        display: inline-block;
        font-size: 18px;
        color: #4a5184;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .testimonial .post{
        display: inline-block;
        font-size: 15px;
        color: #757575;
        text-transform: capitalize;
    }
    .owl-theme .owl-controls{
        margin-top: 0;
        position: relative;
        top: -25px!important;
    }
    .owl-theme .owl-controls .owl-page span{
        background: #5e5f5f;
        opacity: 1;
        transition: all 0.4s ease 0s;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{ 
        background: #3A98E3;
    }
    .owl-theme .owl-controls .owl-page.active span{
        width: 22px;
        height: 12px;
    }
    h5.file_head{ font-size: 16px;}
    @media only screen and (max-width: 480px) and (min-width: 320px){
        .testimonial2 {
            text-align: center;
            padding: 85px 50px 213px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border: 1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
        .testimonial3 {
            text-align: center;
            padding: 85px 50px 235px 70px;
            margin: 70px 15px 35px;
            background: #f9f9f9;
            border: 1px solid #3A98E3;
            position: relative;
            border-radius: 5px;
        }
    }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        #testimonial-slider{ 
            height: 700px; 
        }
        .video_style{ 
            height: 100%; 
        }
        .testimonial .testimonial-profile {
            position: relative;
            margin: 20px 10px 10px 0;
            text-align: center;
        }
        .plan_acc_style {
            margin-bottom: -25px;
            margin-top: 12px;
            margin-left: 0!important;
        }
        .testimonial .description:before {
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 25px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -23px;
        }
        .testimonial1 {
            text-align: left;
            padding: 87px 6px 30px 55px;
            margin: 70px 15px 35px;
            background: #f9f9f9!important;
            border: 1px solid #3A98E3!important;
            position: relative;
            border-radius: 5px;
        }
        .testimonial1 .testimonial-profile {
            position: relative;
            margin: 20px 0 7px -10px;
            text-align: center;
        }
        .testimonial1 .description:before {
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 25px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -23px;
        }
        .testimonial {
            text-align: left;
            padding: 87px 6px 30px 55px;
            margin: 70px 15px 35px;
            background: #f9f9f9!important;
            border: 1px solid #3A98E3!important;
            position: relative;
            border-radius: 5px;
        }
        .testimonial2 {
            text-align: left;
            padding: 87px 6px 25px 55px;
            margin: 70px 15px 35px;
            background: #f9f9f9!important;
            border: 1px solid #3A98E3!important;
            position: relative;
            border-radius: 5px;
        }
        .testimonial2 .description:before {
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 25px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -23px;
        }
        .testimonial3 {
            text-align: left;
            padding: 87px 6px 35px 55px;
            margin: 70px 15px 35px;
            background: #f9f9f9!important;
            border: 1px solid #3A98E3!important;
            position: relative;
            border-radius: 5px;
        }
        .testimonial3 .description:before {
            content: "\f10d";
            font-family: "FontAwesome";
            font-size: 25px;
            color: #3A98E3;
            position: absolute;
            top: -15px;
            left: -23px;
        }
        .testimonial3 .description { 
            margin-left: -30px; 
        }
        .testimonial3 .testimonial-profile {
            position: relative;
            margin: 3px 0px 3px -50px;
            text-align: center;
        }
        .testimonial2 .description {
            margin-left: -30px;
        }
        .testimonial2 .testimonial-profile {
            position: relative;
            margin: 3px 12px 3px -37px;
            text-align: center;
        }
        /*.salat_watch_style{ font-size: 1.2rem;}*/
        .owl-theme .owl-controls .owl-buttons .owl-next {
            color: black!important;
            background: #4bbaf1!important;
            left: 91%!important;
            position: absolute!important;
            top: 94px!important;
        }
        #test1:not(:checked) + label:after, #test1:checked + label:after {
            content: '✔';
            position: absolute;
            top: 7px;
            font-size: 14px;
            color: #09ad7e;
            transition: all .2s;
            right: 132px;
            cursor: pointer;
        }
        #test1:not(:checked) + label:before, #test1:checked + label:before {
            content: '';
            position: absolute;
            top: 10px;
            width: 17px;
            height: 17px;
            border: 1px solid #aaa;
            background: #f8f8f8;
            border-radius: 3px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */;
            right: 130px;
            cursor: pointer;
        }
        #test2:not(:checked) + label:after, #test2:checked + label:after {
            content: '✔';
            position: absolute;
            top: 7px;
            font-size: 14px;
            color: #09ad7e;
            transition: all .2s;
            right: 50px;
            cursor: pointer;
        }
        #test2:not(:checked) + label:before, #test2:checked + label:before {
            content: '';
            position: absolute;
            top: 10px;
            width: 17px;
            height: 17px;
            border: 1px solid #aaa;
            background: #f8f8f8;
            border-radius: 3px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */;
            right: 48px;
        }
        .iframe_css{ 
            width: 220px!important;
        }
        .table.table1{ 
            font-size: 0.9rem;
        }
        th{ 
            text-align: center!important;
        }
        .table1 tfoot td {
            color: #15466B;
            font-size: 25px;
        }
        .table1 tbody th{ 
            font-size: 0.9em;
        }
        .table1 tbody td{ 
            font-size: 0.9em;
        }
        .select_styles{ 
            width: 44%;
        }
        .img_video{
           width: 100%;
           margin-left: 0;
        }
        .testimonial1 .description{ margin-left: -30px;}
        .testimonial1 .title{ margin-left: -30px;}
        .testimonial1 .testimonial-profile:after{ margin-left: 25px;}
        .testimonial .description{ margin-left: -30px;}
        .testimonial .post{ margin-left: -30px;}
        .testimonial .testimonial-profile:after{ margin-left:18px; }
        .testimonial .title{ margin-left: -30px; }
        .testimonial1 .post{ margin-left: -30px; }
        .test_style { height: 590px; }
        .plan_box {
            margin-bottom: 0px;
            margin-top: 2rem;
        }
        .onoffswitch3 {
            position: relative;
            width: 90px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            position: relative;
            top: 4px;
            right: 0;
        }
        .onoffswitch1 {
            position: relative;
            width: 90px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            position: relative;
            top: -37px;
            left: 39px;
        }
        .add_font_add {
            text-decoration: line-through;
            position: relative!important;
            top: -2px;
        }
        .dis_table {
            width: 100%;
            margin-left: 0!important;
        }
        .discount_mobile {
            display: inline;
            top: 4px;
            position: relative;
            left: -4px;
            border-top:none!important;
        }
        .same_td_padding { 
            padding: 6px; 
        }
        .same_width {
            width: 100%;
            margin-left: 0;
        }
        .error_css{
            color: maroon;
            position: relative;
            left: 0;
        }
        #employment_state {
            text-align-last: center;
            width:100%;
            margin-left: 0; 
        }
        .yes_btn_dis {
            padding: .2225rem .5rem!important;
            display: table-caption!important;
        }
        .yes_btn_log {
            margin-left: -43px;
            padding: .2225rem .5rem!important;
        }
        .dis_yes_no{
            display: inline-flex!important;
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    .p-x-lg {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    /*1062*/
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="tsa_controller">
        <!-- / navbar collapse -->
        <div class="row-col1" style="background:url(../static/images/pricing.jpg) no-repeat;background-size:cover;">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
        </div>
        <div id="content" class="app-content row-main" style="background:url(../static/images/rev-slider2.jpg) no-repeat;background-size:cover;">
            <div class="p-x-lg row-main" id="pricingDIY" style="position:relative;">
                <div class="text-center row-main">
                    <div class="p-t-lg"> <h1 class="m-y-md text-white"></h1> </div>
                </div>
                <div class="row paln_t">
                    <div class="col-md-12 col-sm-12 col-xs-12 animate visible fadeInLeft" data-animation="fadeInLeft" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;" role="main">
                        <div class="box">
                            <div class="box-header dark">
                                <h2>Salat Tax Savings Account</h2>
                            </div>
                            <div class="box-body">
                                <p class="m-a-0 same_box">Salat Tax Savings Account provides you with personalised actionable tax saving advice by analysing your tax statements. Watch the video to know more.</p>
                                <p class="m-a-0 same_box">Many people are saving lakhs of Rs. in taxes with Salat Tax Savings Account. This is what some of them have to say.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row animate visible fadeInUp paln_t" data-animation="fadeInUp" data-animation-delay="400" data-animation-speed="1000" data-animation-offset="90%" style="animation-delay:400ms;animation-duration:1000ms;" role="main">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="box">
                            <div class="box-header dark m-padding">
                                <!-- <h2>What is Tax Leakage and How much is your Tax Leakage?</h2> -->
                                <h2>What is Tax Savings Account?</h2>
                            </div>
                            <div class="box-body video_style">
                                <img class="img_video" src="../static/images/Email Marketing.png" height="232">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="box">
                            <div class="box-header dark"><h2>Testimonials</h2></div>
                            <div class="box-body test_style">
                                <div id="testimonial-slider" class="owl-carousel owl-theme">
                                    <div class="testimonial3">
                                        <div class="pic"><img src="../static/images/567d24a9-ee0f-4fbf-be04-70fc0d973700.jpg"> </div>
                                        <p class="description">Salat Tax has played an instrumental role in providing sound financial advise. Happy to have them as my financial and tax consultants!" </p>
                                        <div class="testimonial-profile">
                                            <h3 class="title">Niyati - </h3>
                                            <span class="post">Manager,Corporate Communications </span>
                                        </div>
                                    </div>
                                    <div class="testimonial2">
                                        <div class="pic">
                                            <img src="../static/images/7Y7A0510.jpg">
                                        </div>
                                        <p class="description"> Team at Salat has made my tax compliance and planning very systematic and easy. Highly satisfied with efficient services. </p>
                                        <div class="testimonial-profile">
                                            <h3 class="title">Pradeep-</h3>
                                            <span class="post">Sr Vice President,Force Motors Ltd</span>
                                        </div>
                                    </div>
                                    <div class="testimonial1">
                                        <div class="pic">
                                            <img src="../static/images/16ca86fe-93c6-4624-b826-0e76d8eabd26.jpg">
                                        </div>
                                        <p class="description">Coming from an engineering background I knew nothing about the right investments and tax planning. After meeting Team Salat I have understood so much more and I have saved much more than I could have thought. </p>
                                        <div class="testimonial-profile">
                                            <h3 class="title">Rachan,</h3>
                                            <span class="post">Senior Executive Supply Chain,Loreal</span>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <div class="pic">
                                            <img src="../static/images/SumitM.jpeg">
                                        </div>
                                        <p class="description"> Team Salat has always helped my family and business with their responsiveness and expertise whenever we are in a need of taxation counsel. I am pleased with their services and would like to recommend them to anyone who is looking for a tax consultant. </p>
                                        <div class="testimonial-profile">
                                            <h3 class="title">Sumit-</h3>
                                            <span class="post">Co-Founder, NonStopIO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tax-plan-account">
            <div class="row row-main paln_t">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="box plan_box">
                        <div class="box-header dark">
                            <h2>Select a plan that suits you</h2>
                        </div>
                        <div class="box-body plan_acc_style">
                            <table class="table1">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col" data-tooltip="tooltip" title="click on & select Do It Yourself" class="test1" abbr="Starter">
                                            <a href="">Do It Yourself</a>
                                        </th>
                                        <th scope="col" data-tooltip="tooltip" title="click on & select Expert Assisted" class="test2" abbr="Medium">
                                            <a href="">Expert Assisted</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Plan Price</th>
                                        <td class="test1 color_same1 same_pointer"><a href="" class="add_dash font_css"><span class="rupee_css add_font">&#x20B9;</span> 1400</a></td>
                                        <td class="test2 color_same2 same_pointer"><a href="" class="add_dash font_css"><span class="rupee_css add_font">&#x20B9;</span> 2100</a></td>
                                    </tr>
                                    <tr id="discount_value">
                                        <th scope="row">Discounted Plan Price</th>
                                        <td class="test1 color_same1 same_pointer"><a href="" class="font_css"><span class="rupee_css">&#x20B9;</span> 980</a></td>
                                        <td class="test2 color_same2 same_pointer"><a href="" class="font_css"><span class="rupee_css">&#x20B9;</span> 1470</a></td>
                                    </tr>
                                    <tr id="saving_value">
                                        <th scope="row">Savings</th>
                                        <td class="test1 color_same1 same_pointer"><a href="" class="font_css"><span class="rupee_css">&#x20B9;</span> 420</a></td>
                                        <td class="test2 color_same2 same_pointer"><a href="" class="font_css"><span class="rupee_css">&#x20B9;</span> 630</a></td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <th scope="row">Detailed Tax Analytics Report up to last 5 years</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-check check_style" aria-hidden="true"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Actionable plan for efficient tax planning for current FY</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-check check_style" aria-hidden="true"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Advisory and Execution of Tax Saving Investments</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-check check_style" aria-hidden="true"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Free do it yourself Tax Return Filing for FY 2018-19</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-check check_style" aria-hidden="true"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Expert Assistance for Tax Planning for FY 2018-19</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-times cros_style"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Expert Assistance for Tax Return Filing for FY 2018-19</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-times cros_style"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Free CA consultancy  - 2 questions - Email only</th>
                                        <td class="starter_colors test1 same_pointer"><a href=""><i class="fa fa-times cros_style"></i></a></td>
                                        <td class="pro_colors test2 same_pointer"><a href=""><i class="fa fa-check check_styles" aria-hidden="true"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="dis_table table" ng-show="offer_table">
                                <tr>
                                    <td class="same_td_padding">There is an offer. Just for today. Do you want to get a discount ?</td>
                                    <td class="discount_mobile">
                                        <button class="btn btn-md blue yes_btn_dis" onclick="apply_btn(); ga('send','event','Yes btn click','Get a Discount','Label',1);track_FP('btn click','Yes Get a Discount');" ng-click="user_tracking('Yes btn click','Get a Discount');">Yes</button>
                                        <button class="btn btn-md blue no_btn_dis" onclick="cancel_offer();ga('send','event','No btn click','Get a Discount','Label',1);track_FP('btn click','No Get a Discount');" ng-click="user_tracking('No btn click','Get a Discount');">No</button>
                                        <span class="take_css_will">This is good enough.</span>
                                    </td>
                                </tr>
                                <tr class="show_offer">
                                    <td colspan="2" class="same_td_padding">Yay!<img class="img_width" src="../static/images/Yay.gif">  We have applied a discount of 30% on all the plans. So you save Rs. 630 with <span class="green_color"> Expert Assisted Plan</span>. That is worth 2 movie tickets + pop corn + beverage! Isn't that cool!</td>
                                </tr>
                                <tr class="show_offer">
                                    <td colspan="2" class="same_td_padding">Click below button to Open your Salat Tax Savings Account now.</td>
                                </tr>
                                <tr class="show_offer">
                                    <td colspan="2" class="same_td_padding">Note this is a one time offer and will automatically expire end of day today.</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-2"></div>
                        <center class="open_acc_style">
                            <button type="button" class="btn btn-md blue p-x-md open_css" ng-click="open_account();user_tracking('click btn','Open Tax Savings Account');" onclick="ga('send','event','btn click','Open my Tax Savings Account','Label',1);track_FP('btn click','Open my Tax Savings Account');">Open my Tax Savings Account
                            </button>
                        </center>
                    </div>
                </div>
            </div> 
            </div>
        </div>
        <!-- / .modal -->
        <div class="container row-main">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wait_modal">Success</button> -->
            <div class="modal fade m-t" id="subscribe_modal" role="dialog" >
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header resg_css">
                            <button type="button" class="close resg_close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title modal_color">Billing Details </h4>
                        </div>
                        <div class="modal-body">
                            <!-- If User is not logged in then below pop up -->
                            <table class="table table-bordered table_color">
                                <tr ng-show="logged_out" ng-hide="otp_submit">
                                    <td class="same_color_label"><label>Username</label></td>
                                    <td>
                                        <input type="text" ng-model="user.signup_username" class="md-input text-center same_width" ng-init="user.signup_username=''" ng-change="reset_password();"><br>
                                        <span class="error_css"><%signup_username_err%></span>
                                    </td>
                                </tr>
                                <tr ng-show="logged_out" ng-hide="otp_submit">
                                    <td class="same_color_label"><label>Email Id</label></td>
                                    <td>
                                        <input type="text" ng-model="user.signup_email" class="md-input text-center same_width" ng-init="user.signup_email=''" ng-change="reset_password();" ng-blur="send_otp();"><br>
                                        <span class="error_css"><%signup_mail_err%></span>
                                    </td>
                                </tr>
                                <tr ng-show="logged_out" ng-hide="otp_submit">
                                    <td class="same_color_label"><label>Password</label></td>
                                    <td>
                                        <input type="password" ng-model="user.signup_password" class="md-input text-center same_width" ng-init="user.signup_password=''" ng-change="send_otp();"><br>
                                        <span class="error_css"><%password_err%></span>
                                    </td>
                                </tr>
                                <tr ng-show="logged_out" ng-style="otp_div" ng-hide="otp_submit">
                                    <td class="same_color_label"> <label>Enter OTP which you received on above Email ID </label> </td>
                                    <td>
                                        <input type="text" ng-model="user.signup_OTP" class="md-input text-center same_width" ng-init="user.signup_OTP=''" ng-change="check_otp()"><br>
                                        <span class="error_css"><%signup_otp_err%></span>
                                    </td>
                                </tr>
                                <tr ng-show="logged_out">
                                    <td class="same_color_label"><label>Permanent Account No (PAN)</label></td>
                                    <td>
                                        <input type="text" class="md-input same_width" ng-model="user.pan" ng-init="user.pan=''" ng-keyup="user.pan=user.pan.toUpperCase();"><br>
                                        <span class="error_css"><%pan_err%></span>
                                    </td>
                                </tr>
                                <tr ng-show="logged_in">
                                    <td class="same_color_label"><label>Permanent Account No (PAN)</label></td>
                                    <td class="text-center"> <label><%client_pan%></label> </td>
                                </tr>
                                <tr>
                                    <td class="same_color_label"><label>Full Name</label></td>
                                    <td>
                                        <input type="text" class="md-input text-center same_width" ng-model="user.name" ng-init="user.name=''" ng-keyup="user.name=user.name.toUpperCase();"><br>
                                        <span class="error_css"><%name_err%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="same_color_label"><label>Mobile No.</label></td>
                                    <td>
                                        <input type="text" class="md-input text-center same_width" ng-model="user.mobile" ng-init="user.mobile=''"><br>
                                        <span class="error_css"><%mobile_err%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="same_color_label">
                                        <label class="">Current state of your employment</label>
                                    </td>
                                    <td>  
                                        <select ng-model="employment_state" id="employment_state" class="md-input text-center" ng-change="emp_state_error()">
                                            <option value="" disabled="">Select</option>
                                            <option value="Job">Job</option>
                                            <option value="Unemployed">Unemployed</option>
                                            <option value="Self Employed">Self Employed</option>
                                        </select><br>
                                        <span class="error_css_state"><%emp_state_err%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="same_color_label"><label>Tax Savings Account Plan</label>
                                    </td>
                                    <td class="text-center">
                                        <label class="green_color"><%selected_tsa_plan%></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="same_color_label"><label>Amount Payable</label></td>
                                    <td class="text-center">
                                        <label class="green_color">&#x20B9; <%amount_payable%></label>
                                    </td>
                                </tr>
                            </table>
                            <span class="color-e"><%emp_state%></span>
                            <table ng-show="do_it_yourself">
                                <tr>
                                    <td colspan="2">You have chosen <span class="green_color">‘Do It Yourself’ Plan</span>. It is beneficial to take help of experts while dealing with taxation. </td>
                                </tr>
                                <tr>
                                    <td>Would you like to upgrade to <span class="green_color">‘Expert Assisted Plan’</span></td>
                                    <td>
                                        <button class="btn btn-md blue yes_btn_log" onclick="upgrade_plan('yes');ga('send','event','Upgrade btn click','Upgrade Plan','Label',1);track_FP('btn click','Upgrade Plan');" ng-click="user_tracking('Yes btn click','Upgrade Plan');open_account()">Yes</button>
                                        <button class="btn btn-md blue no_btn_log" onclick="upgrade_plan('no');ga('send','event','Downgrade btn click','Downgrade Plan','Label',1);track_FP('btn click','Downgrade Plan');" ng-click="user_tracking('No btn click','Downgrade Plan');open_account()">No</button>
                                        <span class="take_css_chance">I will take my chances</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-md blue p-x-md" ng-click="save_name_mobile(user,$event);user_tracking('click btn','Billing Submit Button');" onclick="ga('send','event','Submit btn click','Billing Submit Button','Label',1);track_FP('btn click','Billing Submit Button');">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html'%}
</form>

<script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>
<script type="text/javascript">
    // fbq('track', 'AddToCart');
    fbq('track', 'Lead');

    var selected_plan = 'professional';
    var apply_offer = 'no';
    $(document).ready(function(){
        $("#testimonial-slider").owlCarousel({
            items:1,
            itemsDesktop:[1000,2],
            itemsDesktopSmall:[979,2],
            itemsTablet:[768,2],
            itemsMobile:[650,1],
            pagination:true,
            navigation:false,
            slideSpeed:3000,
            autoPlay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:false
        });
    });
    //first checkbox starter plan
    $('.pro_colors').addClass('pro_color');
    $('.check_styles').css('color','#00BB00');
    $('.check_style').css('color','#15466B');
    $('.color_same2').addClass('color_same_two');
    
    $('.test1').click(function(){
        $('.starter_colors').addClass('pro_colorsss');
        $('.starter_colors').removeClass('add_starter');
        $('.pro_colors').removeClass('pro_color');
        $('.pro_colors').addClass('add_pro_color');
        $('.check_styles').css('color','#15466B');
        $('.check_style').css('color','#00BB00');
        $('.color_same1').addClass('color_same_one');
        $('.color_same2').removeClass('color_same_two');
        selected_plan = 'starter';
    });
    $('#tax-plan-account').scrollTop(1000);
    //second checkbox Professional plan
    $('.test2').click(function(){
        $('.pro_colors').addClass('pro_color');
        $('.pro_colors').removeClass('add_pro_color');
        $('.starter_colors').addClass('add_starter');
        $('.starter_colors').removeClass('starter_color');
        $('.check_styles').css('color','#00BB00');
        $('.check_style').css('color','#15466B');
        $('.color_same2').addClass('color_same_two');
        $('.color_same1').removeClass('color_same_one');
        selected_plan = 'professional';
    });

    function get_plan(){
        return selected_plan;
    }
    $('.take_css').hide();
    $('.take_css_chance').hide();
    $('.take_css_will').hide();
   
    $('.yes_btn').click(function(){
        $('.take_css').hide();
    })
    $('.no_btn').click(function(){
        $('.take_css').show();
    });
    $('.yes_btn_log').click(function(){
        $('.take_css_chance').hide();
    })
    $('.no_btn_log').click(function(){
        $('.take_css_chance').show();
    });
    $('.yes_btn_dis').click(function(){
        $('.take_css_will').hide();
        $('.show_offer').show();
    })
    $('.no_btn_dis').click(function(){
        $('.take_css_will').show();
        $('.show_offer').hide();
    });

    $('#discount_value').hide();
    $('#saving_value').hide();
    $('.show_offer').hide();
    $('.discount_mobile').addClass('dis_yes_no');
    function apply_btn(){
        $('.add_dash').addClass('dash_line');
        $('#discount_value').show();
        $('#saving_value').show();
        $('.add_font').addClass('add_font_add');
        $('.discount_mobile').addClass('dis_yes_no');
        /*$('.take_css_will').addClass('take_css_will_dis');*/
        /*$('.dis_table').hide();*/
        apply_offer = 'yes';
    }
    function get_apply_offer(){
        return apply_offer;
    }
    function cancel_offer(){
        $('.add_dash').removeClass('dash_line');
        $('#discount_value').hide();
        $('#saving_value').hide();
        $('.add_font').removeClass('add_font_add');
        $('.discount_mobile').removeClass('dis_yes_no');
        apply_offer = 'no';
    }
    function upgrade_plan(plan){
        // alert(plan);
        if(plan=='no'){
            $('.starter_colors').addClass('pro_colorsss');
            $('.starter_colors').removeClass('add_starter');
            $('.pro_colors').removeClass('pro_color');
            $('.pro_colors').addClass('add_pro_color');
            $('.check_styles').css('color','#15466B');
            $('.check_style').css('color','#059205');
            $('.color_same1').addClass('color_same_one');
            $('.color_same2').removeClass('color_same_two');
            selected_plan = 'starter';
        }
        if(plan=='yes'){
            $('.pro_colors').addClass('pro_color');
            $('.pro_colors').removeClass('add_pro_color');
            $('.starter_colors').addClass('add_starter');
            $('.starter_colors').removeClass('starter_color');
            $('.check_styles').css('color','#059205');
            $('.check_style').css('color','#15466B');
            $('.color_same2').addClass('color_same_two');
            $('.color_same1').removeClass('color_same_one');
            selected_plan = 'professional';
        }
    }
</script>
</body>
</html>
