{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Tax Report</title>
<meta name="description" content="Tax Report" />
    
{% include 'header.html'%}
<script src="{% static 'js/tax_report.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<style type="text/css">
    .f-m{ margin-bottom: 1rem; }
    .margin-same{ margin-top: 8px; }
    .margin-css{ margin-bottom: 8px; }
    .height-css{ height: 330px!important; }
    .height-css-same{ height: 330px!important; }
    .same_color{ color: #0a5f12; }
    .acc_style{ margin-top: 24px; }
    /*custom css prev */
    .card-header:first-child { height: 100px!important; }
    .owl-nav .owl-prev{
        width: 53px;
        height: 27px;
        background: #b3e1e8!important;
        border-radius: 40px!important;
        position: relative;
        right: 333px;
        bottom: 300px;
        border: initial!important;
    }
    .owl-nav .owl-next{
        width: 53px;
        height: 27px;
        background: #b3e1e8!important;
        border-radius: 40px!important;
        left: 333px;
        position: relative;
        bottom: 300px;
        border: initial!important;
    }
    .owl-theme .owl-nav [class*='owl-']:hover {
        background: #869791;
        color: #1A2531!important;
        text-decoration: none;
    }
    /*end next*/
    .owl-item{ margin-top: 130px!important; }
    .owl-carousel {
        display: inline-block!important;
        width: 100%;
        /* z-index: 1; */
    }
    .carousel-wrap {
        width:50%;
        margin: auto;
        position: relative;
    }
    .owl-carousel .owl-nav{
        overflow: visible;
        height: 0px;
    }
    .owl-theme .owl-dots .owl-dot.active span, 
    .owl-theme .owl-dots .owl-dot:hover span { background: #2caae1; }
    .owl-carousel .item { text-align: center; }
    .owl-carousel .nav-btn{
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 315px !important;
    }
    .owl-carousel .owl-prev.disabled, .owl-carousel .owl-next.disabled{
        pointer-events: none;
        opacity: 0.2;
    }
    .owl-carousel .prev-slide{
        background: url(../static/images/nav-icon.png) no-repeat scroll 0 0;
        left: -33px;
    }
    .owl-carousel .next-slide{
        background: url(../static/images/nav-icon.png) no-repeat scroll -24px 0px;
        right: -33px;
    }
    .owl-carousel .prev-slide:hover{ background-position: 0px -53px; }
    .owl-carousel .next-slide:hover{ background-position: -24px -53px; }
    .main_last{ 
        height: 330px!important;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding: 0px!important;
    }
    .owl_same_css{ padding-top: 8rem; }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        height: auto;
        border-radius: 8px;
        width: 85%;
        margin-left: 65px;
    }
    .card_taxs{
        background: #b3e1e8;
        color: #1A2531;
        border-bottom: 1px solid #00B8ED!important;
    }
    .salat_contact{
        padding-top:5px;
        padding-bottom:10px;
    }
    .tax_acc_style{ margin-bottom: 120px; }
    .saving_data{ height: 450px; }
    .salat_m_o{
        padding-top:0rem;
        padding-bottom: 1rem;
    }
    .footer_contact{ padding-top: 30px; }
    .footer_con{ padding-top: 30px; }
    .footer_address{ padding-top: 30px; }
    .card_tax{
        box-shadow: none;
        border-radius: 0;
        padding: 12px;
        margin-bottom: 20px;
    }
    .tax_acc_css{ height: 200px; }
    .active-slide { display: block; }
    .TaxPaidText{ color:rgba(147, 147, 147); }
    .TaxPaidTexts{ color:rgb(90, 90, 90); }
    .SalatTaxText{ color: rgba(0, 178, 235, 1); }
    .TaxLeakageText{ color: rgba(255, 0, 20, 1); }
    .owl-wrapper-outer{ height: 600px!important; }
    /*animated text*/
    .activate {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1 * 100);
        filter: alpha(opacity=1 * 100);
    }
    .animate_divs {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0 * 100);
        filter: alpha(opacity=0 * 100);
    }
    /*end animated text*/
    .tooltips {
        position: relative;
        display: inline-block;
    }
    .tooltips .tooltiptext {
        visibility: hidden;
        width: 117px;
        background-color: #00B8ED;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        margin-left: -250px;
        top: -28px;
    }
    .tooltips:hover .tooltiptext {
        visibility: visible;
    }
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 43%;
        left: 100%;
        margin-top: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #00BAE9;
    }
    .taxtooltips {
        position: relative;
        display: inline-block;
    }
    .taxtooltips .taxtooltiptext {
        visibility: hidden;
        width: 92px;
        background-color: #00B8ED;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        margin-left: -163px;
        top: -44px;
    }
    .taxtooltips:hover .taxtooltiptext {
        visibility: visible;
    }
    .taxtooltiptext::after {
        content: "";
        position: absolute;
        top: 65%;
        left: 100%;
        margin-top: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #00BAE9;
    }
    .leakagetooltips {
        position: relative;
        display: inline-block;
    }
    .leakagetooltips .leakagetooltiptext {
        visibility: hidden;
        width: 83px;
        background-color: #FF0014;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        margin-left: -174px;
        top: -39px;
        transition:opacity 0.5s linear;
    }
    .animate_div{
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        width: 98px;
        background: #FF0014;
        position: absolute;
        color: #fff;
        margin-left: -230px;
        top: -30px;
        -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
        animation: mymove 3s;
        animation-fill-mode: forwards;
    }
    @-webkit-keyframes mymove {
        from {top: 0px;}
        to {top: 200px; background-color: #00B8ED;}
    }
    @keyframes mymove {
        from {top: 0px;}
        to {top: 200px; background-color: #00B8ED;}
    }
    .animate_div::after {
        content: "";
        position: absolute;
        top: 58%;
        left: 100%;
        margin-top: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #00B8ED;
    }
    .leakagetooltips:hover .leakagetooltiptext {
        visibility: visible;
    }
    .leakagetooltiptext::after {
        content: "";
        position: absolute;
        top: 58%;
        left: 100%;
        margin-top: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #FF0014;
    }
    /*end test */
    .owl-buttons{
        position: relative;
        top: -263px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev{
        color: black!important;
        background: #4bbaf1!important;
        left: 22%!important;
        position: absolute!important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next{
        color: black!important;
        background: #4bbaf1!important;
        left: 75%!important;
        position: absolute!important;
        top: 3px!important;
    }
    .fn_middle{
        vertical-align: middle!important;
    }
    .table th,td.report_tax_style{
        padding: .4rem!important;
        vertical-align: middle;
    }
    .table th,td.report_tax_styles{
        padding: .4rem!important;
        vertical-align: middle;
    }
    .report_style{
        font-size:0.975rem
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    .owl-theme .owl-controls{ margin-top: 10px; }
    .owl-theme .owl-controls .owl-page span{
        background: #5e5f5f;
        opacity: 1;
        transition: all 0.4s ease 0s;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{ background: #3A98E3; }
    .owl-theme .owl-controls .owl-page.active span{
        width: 22px;
        height: 12px;
    }
    .list_last{
        text-align: left !important;
    }
    .list_li{
        margin-bottom: 16px;
    }
    @media only screen and (max-width: 480px) and (min-width: 320px){ }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        .list_li{
            margin-bottom: 1px;
        }
        .owl-dots{ margin-top: -17px; }
        .height-css-same { height: 308px!important; }
        .card-header:first-child { height: auto!important; }
        .acc_style { margin-top: 0; }
        .main_last { padding:0; }
        .main_css {
            box-shadow: none;
            background: #b3e1e8;
            height: auto;
            padding-left: inherit!important;
            padding-right: inherit!important;
            margin-left: 0;
            width: 100%;
            border-bottom: 5px solid #b3e1e8;
            border-radius: 0;
        }
        .report_style{ font-size: 0.8rem; }
        .report_tax_styles{ font-size: 0.8rem; }
        .tax_acc_css{ height: 250px; }
        .owl-theme .owl-controls .owl-buttons .owl-prev {
            color: black!important;
            background: #4bbaf1!important;
            left: 0%!important;
            position: absolute!important;
            top: 0px!important;
        }
        .owl-theme .owl-controls .owl-buttons .owl-next {
            color: black!important;
            background: #4bbaf1!important;
            left: 88%!important;
            position: absolute!important;
            top: 0px!important;
        }
        .table th,td.report_tax_style{ vertical-align: middle; }
        .table th,td.report_tax_styles{ vertical-align: middle; }
        .table-bordered{
            width: 100%;
            overflow: auto;
            /*display: inline-block;*/
        }
        td, th {
            margin: 0;
            border: 1px solid grey;
            white-space: normal;
            border-top-width: 0px;
        }
        .owl-wrapper-outer{ height: 570px!important; }
        .cool_para{ margin-top: -12px; }
        body { margin: auto!important; }
        .footer_contact{ padding-top: 20px; }
        .owl-pagination{
            bottom: 15px;
            position: relative;
        }
        .carousel-wrap {
            width: 100%;
            margin: auto;
            position: relative;
            margin-top: -25px;
        }
        .owl-carousel .next-slide {
            background: url(../static/images/nav-icon.png) no-repeat scroll -24px 0px;
            right: 0px;
        }
        .owl-carousel .prev-slide{
          background: url(../static/images/nav-icon.png) no-repeat scroll 0 0;
          left: 0px;
        }
        .owl-carousel .nav-btn {
            height: 47px;
            position: absolute;
            width: 26px;
            cursor: pointer;
            top: 380px !important;
        }
        .owl-nav .owl-next {
            width: 53px;
            height: 27px;
            background: #b3e1e80d!important;
            border-radius: 40px!important;
            left: 115px;
            position: relative;
            bottom: 210px;
            border: initial!important;
            cursor: pointer;
        }
        .owl-nav .owl-prev{
            width: 53px;
            height: 27px;
            background: #b3e1e80d!important;
            border-radius: 40px!important;
            position: relative;
            right: 115px;
            bottom: 210px;
            border: initial!important;
            cursor: pointer;
        }
        .tax_acc_style {
            margin-bottom: 120px;
            margin-left: 0px;
        }
        .table_one_len{
            width: 100%;
            overflow: scroll;
            display: inline-block!important;
            margin-left: 0px;
        }
        .table_two_len{
            width: 100%;
            overflow: scroll;
            display: inline-block!important;
            margin-left: 0px;
        }
        .table_third_len{
            width: 100%;
            overflow: scroll;
           /* display: inline-block;*/
            margin-left: 0px;
        }
        .table_fourth_len{
            width: 100%;
            overflow: scroll;
            display: inline-block!important;
            margin-left: 0px;
        }
        .main_last { height: 390px!important; }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
        .main_css{ margin-left: 40px; }
        .report_style {
          font-size: 0.975rem;
          display: inline-block;
          overflow-x: scroll;
        }
    }
    /*435*/
</style>
</head>

<body ng-controller="index_cntrl">
    <form name="myForm" method="post" >
    <div class="app" ng-controller="tax_report_controller">
        <div class="row-col1">
            <div class="col-sm-12" ng-controller="index_controller">
            {% include 'menubar.html'%}
            </div>
            <div class="row row-main f-m">
            <div class="carousel-wrap row-main" id="main_div" style="display: none;">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 main_css">
                            <div class="card-header card_taxs text-center">
                            <h4 class="margin-same">Your Salat Tax Report is ready</h4>
                                <h5 id="income_last_year">Below is the Income you have earned over last <%total_year%> years</h5>
                            </div>
                            <div class="card bg-dark mb-3 card_tax height-css">
                                <div class="card-body">
                                    <div class="test_demo">
                                        <table class="table table-bordered report_style table_first">
                                            <tbody class="table_mobile">
                                                <tr class="thead_style">
                                                    <th class="m-a-0 m-t text-center report_tax_style"> Year </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style mobile_view" ng-show="div_2014"> 13-14 </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2015"> 14-15 </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2016"> 15-16 </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2017"> 16-17 </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2018"> 17-18 </th>
                                                </tr>
                                                <tr>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style headcol" style="color: rgba(64, 131, 184, 1);">Income Earned </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2014"><%salary_earned_14%></th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2015"><%salary_earned_15%> </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2016"><%salary_earned_16%> </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2017"><%salary_earned_17%> </th>
                                                    <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2018"><%salary_earned_18%> </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <canvas id="myChart" width="400" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                    <div class="item">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 main_css">
                            <div class="card-header card_taxs text-center"><h4 class="margin-same">Salat Tax Report</h4><h5 id="total_tax">But you have paid over Rs. <%tax_paid_total_text%> in income taxes over this period</h5></div>
                            <div class="card bg-dark mb-3 card_tax height-css">
                                <div class="card-body">
                                    <table class="table table-bordered report_style table_second">
                                        <tr class="thead_style">
                                            <th class="m-a-0 m-t text-center report_tax_style"> Year </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2014"> 13-14 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2015"> 14-15 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2016"> 15-16 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2017"> 16-17 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2018"> 17-18 </th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style">Income Earned </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2014"><%salary_earned_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2015"><%salary_earned_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2016"><%salary_earned_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2017"><%salary_earned_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style" ng-show="div_2018"><%salary_earned_18%></th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidText">Tax Paid </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidTexts" ng-show="div_2014"><%tax_paid_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidTexts" ng-show="div_2015"><%tax_paid_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidTexts" ng-show="div_2016"><%tax_paid_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidTexts" ng-show="div_2017"><%tax_paid_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_style TaxPaidTexts" ng-show="div_2018"><%tax_paid_18%></th>
                                        </tr>
                                    </table>
                                    <canvas id="myCharts" width="400" height="125"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                    <div class="item">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 main_css">
                            <div class="card-header card_taxs text-center">
                                <h4 class="margin-same">Salat Tax Report</h4>
                                <h5 id="tax_planning">If you would have done proper tax planning then the minimum taxes you would have paid would be.</h5>
                            </div>
                            <div class="card bg-dark mb-3 card_tax height-css-same">
                                <div class="card-body">
                                    <table class="table table-bordered table_third">
                                        <tr class="thead_style">
                                            <th class="m-a-0 m-t text-center report_tax_styles"> Year </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles" ng-show="div_2014"> 13-14 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles" ng-show="div_2015"> 14-15 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles" ng-show="div_2016"> 15-16 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles" ng-show="div_2017"> 16-17 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles" ng-show="div_2018"> 17-18 </th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidText">Tax Paid </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2014"><%tax_paid_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2015"><%tax_paid_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2016"><%tax_paid_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2017"><%tax_paid_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2018"><%tax_paid_18%></th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText">Salat Tax </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2014"><%salat_tax_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2015"><%salat_tax_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2016"><%salat_tax_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2017"><%salat_tax_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2018"><%salat_tax_18%></th>
                                        </tr>
                                    </table>
                                    <canvas id="myChartss" width="400" height="111"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                    <div class="item">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 main_css margin-css">
                            <div class="card-header card_taxs text-center"><h4 class="margin-same">Salat Tax Report</h4><h5 id="total_tax_leakage">That means you have over paid almost Rs. <%tax_leakage_total_text%> in taxes!</h5></div>
                            <div class="card bg-dark mb-3 card_tax height-css">
                                <div class="card-body">
                                    <table class="table table-bordered table_fourth">
                                        <tr class="thead_style">
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle"> Year </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle" ng-show="div_2014">13-14 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle" ng-show="div_2015">14-15 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle" ng-show="div_2016">15-16 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle" ng-show="div_2017">16-17 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle" ng-show="div_2018">17-18 </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles fn_middle">Total</th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidText">Tax Paid </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2014"><%tax_paid_14%> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2015"><%tax_paid_15%> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2016"><%tax_paid_16%> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2017"><%tax_paid_17%> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts" ng-show="div_2018"><%tax_paid_18%> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxPaidTexts"><%tax_paid_total%></th>
                                        </tr>
                                        <tr>
                                            <th class="report_tax_styles m-a-0 m-l m-v text-center SalatTaxText"><div class="taxtooltips">Salat Tax<span class="taxtooltiptext">Minimum Tax you should have paid</span></div> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2014"><%salat_tax_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2015"><%salat_tax_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2016"><%salat_tax_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2017"><%salat_tax_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText" ng-show="div_2018"><%salat_tax_18%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles SalatTaxText"><%salat_tax_total%></th>
                                        </tr>
                                        <tr>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText"><div class="leakagetooltips">Tax Leakage<span class="leakagetooltiptext">Excess Tax you have paid</span></div> </th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText" ng-show="div_2014"><%tax_leakage_14%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText" ng-show="div_2015"><%tax_leakage_15%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText" ng-show="div_2016"><%tax_leakage_16%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText" ng-show="div_2017"><%tax_leakage_17%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText" ng-show="div_2018"><%tax_leakage_18%></th>
                                            <th class="m-a-0 m-l m-v text-center report_tax_styles TaxLeakageText"><%tax_leakage_total%></th>
                                        </tr>
                                    </table>
                                <canvas id="myChartsss" width="400" height="104"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                    <div class="item">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 saving_data main_css">
                            <div class="card-header card_taxs text-center">
                                <h4 class="acc_style">Open My Tax Savings Account</h4>
                            </div>
                            <div class="card bg-dark mb-3 card_tax main_last">
                                <div class="card-body">
                                <div class="p-t-lg salat_m_o">
                                    <h1 class="m-y-md text-white"></h1>
                                        <div class="">
                                            <!-- <center>
                                                <p class="text-center">Would you like to begin saving Rs. <%tax_leakage_total_text%> for <%financial_goal%> ?</p>
                                            </center>
                                            <p class="text-center">Pay less taxes. Save more.</p>
                                            <p class="text-center" >Salat Tax Savings Account helps you minimise your taxes with prudent tax planning. </p> -->
                                            <p class="text-center">Would you like to ...</p>
                                            <ul class="list_last">
                                                <li class="list_li">Have a detailed report on how you could have saved Rs. <%tax_leakage_total_text%></li>
                                                <li class="list_li">Begin saving Rs. <%tax_leakage_total_text%> for <%financial_goal%>?</li>
                                                <li class="list_li">Do professional grade tax planning for financial year 2018-19?</li>
                                                <li class="list_li">File you tax returns for free for financial year 2018-19?</li>
                                            </ul>  
                                            <!-- <p class="text-center">Have a detailed report on how you could have saved Rs. <%tax_leakage_total_text%></p>
                                            <p class="text-center">Begin saving Rs. <%tax_leakage_total_text%> for <%financial_goal%>?</p>
                                            <p class="text-center">Do professional grade tax planning for financial year 2018-19?</p>
                                            <p class="text-center">File you tax returns for free for financial year 2018-19?</p> -->
                                            <br>
                                            <p class="text-center">Open a Salat Tax Savings Account and get all of the above and more.</p>
                                        </div>
                                        <center class="tax_acc_style">
                                            <a type="button" href="/tax_saving_account#tax-plan-account" target="_blank" class="btn btn-md blue p-x-md btn-md" onclick="ga('send','event','btn click','Open my Tax Savings Account','Label',1);track_FP('btn click','Open my Tax Savings Account');" ng-click="user_tracking('click btn','Open my Tax Savings Account');">Open my Tax Savings Account </a>
                                            <a type="button" href="/tax_saving_account/" target="_blank" class="btn btn-md blue p-x-md btn-md" onclick="ga('send','event','btn click','Know More','Label',1);track_FP('btn click','Know More');" ng-click="user_tracking('click btn','Know More');">Know More 
                                            </a>
                                        </center>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            
            {% include 'footer.html'%}
        </div>
    </form>
<script type="text/javascript" src="{% static 'js/Chart.min.js'%}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $('.leakagetooltiptext').fadeIn('slow');
    /*first chart*/
    function show_chart_salary(val_14,val_15,val_16,val_17,val_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var ctx = document.getElementById("myChart").getContext('2d');
        // alert(data_2014);
        // alert(data_2015);
        // alert(data_2016);
        // alert(data_2017);
        // alert(data_2018);
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0){
            var myChart ='';
         }  
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0){
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
            $('.table_first').removeClass('table_one_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
            $('.table_first').removeClass('table_one_len');
        }
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ "14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [ val_15, val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
            $('.table_first').removeClass('table_one_len');
        }
        else{
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
                    datasets: [{
                        label: '',
                        data: [val_14, val_15, val_16, val_17, val_18],
                        borderColor: [
                            'rgba(64, 131, 184, 1)',
                            'rgba(64, 131, 184, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: { display: false,
                    },tooltips: { enabled: false, }
                }
            });
            $('.table_first').addClass('table_one_len');
        }
    }

    //second bar graph
    /*var densityCanvas = document.getElementById("myCharts").getContext('2d');*/
    function show_chart_tax_paid(val_14,val_15,val_16,val_17,val_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var max_limit = get_round_up(Math.max(val_14,val_15,val_16,val_17,val_18) );
        // alert(Math.max(val_14,val_15,val_16,val_17,val_18));
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0){
            var chartData = {
               labels: [ "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: [
                  'rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)'],
                  data: [ val_18]
               }]
            };
            $('.table_second').removeClass('table_two_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: [
                  'rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)'],
                  data: [ val_17, val_18]
               }]
            };
            $('.table_second').removeClass('table_two_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: [
                  'rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)'],
                  data: [ val_16, val_17, val_18]
               }]
            };
            $('.table_second').removeClass('table_two_len');
        }
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "14-15", "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: [
                  'rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)'],
                  data: [ val_15, val_16, val_17, val_18]
               }]
            };
            $('.table_second').removeClass('table_two_len');
        }
        else{
            var chartData = {
               labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: [
                  'rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)','rgba(147, 147, 147)'],
                  data: [val_14, val_15, val_16, val_17, val_18]
               }]
            };
            $('.table_second').addClass('table_two_len');
        }

        var canvas = document.getElementById('myCharts').getContext('2d');
        var myBarChart = new Chart(canvas, {
            type: "bar",
            data: chartData,
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            suggestedMin: 0,
                            suggestedMax: max_limit
                        }
                    }]
                },legend: { display: false,   
                }, tooltips: { enabled: false, }
            }
        });
    }

        //third bar graph

        /*var densityCanvas = document.getElementById("myChartss").getContext('2d');

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var densityData = {
          label: 'Total Tax Paid',
          data: [10, 20, 30, 40, 50, 60,70,80],
          backgroundColor: 'rgba(164, 164, 164, 1)',
          borderWidth: 0,
          yAxisID: "y-axis-density"
        };

        var gravityData = {
          label: 'Salat Tax',
          data: [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0],
          backgroundColor: 'rgba(0, 178, 235, 1)',
          borderWidth: 0,
          yAxisID: "y-axis-gravity"
        };

        var planetData = {
          labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
          datasets: [densityData, gravityData]
        };

        var chartOptions = {
          scales: {
            xAxes: [{
              barPercentage: 1,
              categoryPercentage: 0.6
            }],
            yAxes: [{
              id: "y-axis-density"
            }, {
              id: "y-axis-gravity"
            }]
          },legend: {
                    display: false,
                    
                }
        };

        var barChart = new Chart(densityCanvas, {
          type: 'bar',
          data: planetData,
          options: chartOptions
        });*/

    function show_chart_salat_tax(val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18,val_st_14,val_st_15,val_st_16,val_st_17,val_st_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var max_limit = get_round_up(Math.max(val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18,val_st_14,val_st_15,val_st_16,val_st_17,val_st_18) );
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0){
            var chartData = {
               labels: [ "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: "rgba(164, 164, 164, 1)",
                  data: [ val_tp_18]
               }, 
               {
                  label: "",
                  backgroundColor: "rgba(0, 178, 235, 1)",
                  data: [ val_st_18]
               }]
            };
            $('.table_third').removeClass('table_third_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: "rgba(164, 164, 164, 1)",
                  data: [ val_tp_17,val_tp_18]
               }, 
               {
                  label: "",
                  backgroundColor: "rgba(0, 178, 235, 1)",
                  data: [ val_st_17,val_st_18]
               }]
            };
            $('.table_third').removeClass('table_third_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: "rgba(164, 164, 164, 1)",
                  data: [ val_tp_16,val_tp_17,val_tp_18]
               }, 
               {
                  label: "",
                  backgroundColor: "rgba(0, 178, 235, 1)",
                  data: [ val_st_16,val_st_17,val_st_18]
               }]
            };
            $('.table_third').removeClass('table_third_len');
        }
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
               labels: [ "14-15", "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: "rgba(164, 164, 164, 1)",
                  data: [ val_tp_15,val_tp_16,val_tp_17,val_tp_18]
               }, 
               {
                  label: "",
                  backgroundColor: "rgba(0, 178, 235, 1)",
                  data: [ val_st_15,val_st_16,val_st_17,val_st_18]
               }]
            };
            $('.table_third').removeClass('table_third_len');
        }
        else{
            var chartData = {
               labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
               datasets: [{
                  label: "",
                  backgroundColor: "rgba(164, 164, 164, 1)",
                  data: [val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18]
               }, 
               {
                  label: "",
                  backgroundColor: "rgba(0, 178, 235, 1)",
                  data: [val_st_14,val_st_15,val_st_16,val_st_17,val_st_18]
               }]
            };
            $('.table_third').addClass('table_third_len');
        }

        var canvas = document.getElementById('myChartss').getContext('2d');
        var myBarChart = new Chart(canvas, {
            type: "bar",
            data: chartData,
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            min: 0,
                            max: max_limit
                        }
                    }]
                },legend: { display: false,
                },tooltips: { enabled: false, }
            }
        });
    }

    //fourth bar graph
    function show_chart_tax_leakage(val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18,val_st_14,val_st_15,val_st_16,val_st_17,val_st_18,val_tl_14,val_tl_15,val_tl_16,val_tl_17,val_tl_18,data_2014,data_2015,data_2016,data_2017,data_2018){
        var max_limit = get_round_up(Math.max(val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18,val_st_14,val_st_15,val_st_16,val_st_17,val_st_18,val_tl_14,val_tl_15,val_tl_16,val_tl_17,val_tl_18) );
        var min_limit = get_round_down(Math.min(val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18,val_st_14,val_st_15,val_st_16,val_st_17,val_st_18,val_tl_14,val_tl_15,val_tl_16,val_tl_17,val_tl_18),max_limit );
        // alert(min_limit);
        if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 == 0 && data_2018 != 0){
            var chartData = {
                labels: [ "17-18"],
                datasets: [{
                    label: "",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ val_tp_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ val_st_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ val_tl_18]
                }]
            };
            $('.table_fourth').removeClass('table_fourth_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 == 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
                labels: [ "16-17", "17-18"],
                datasets: [{
                    label: "",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ val_tp_17,val_tp_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ val_st_17,val_st_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ val_tl_17,val_tl_18]
                }]
            };
            $('.table_fourth').removeClass('table_fourth_len');
        }
        else if(data_2014 == 0 && data_2015 == 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
                labels: [ "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ val_tp_16,val_tp_17,val_tp_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ val_st_16,val_st_17,val_st_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ val_tl_16,val_tl_17,val_tl_18]
                }]
            };
            $('.table_fourth').removeClass('table_fourth_len');
        }
        else if(data_2014 == 0 && data_2015 != 0 && data_2016 != 0 && data_2017 != 0 && data_2018 != 0){
            var chartData = {
                labels: [ "14-15", "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [ val_tp_15,val_tp_16,val_tp_17,val_tp_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [ val_st_15,val_st_16,val_st_17,val_st_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [ val_tl_15,val_tl_16,val_tl_17,val_tl_18]
                }]
            };
            $('.table_fourth').removeClass('table_fourth_len');
        }
        else{
            var chartData = {
                labels: ["13-14", "14-15", "15-16", "16-17", "17-18"],
                datasets: [{
                    label: "",
                    backgroundColor: "rgba(164, 164, 164, 1)",
                    data: [val_tp_14,val_tp_15,val_tp_16,val_tp_17,val_tp_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(0, 178, 235, 1)",
                    data: [val_st_14,val_st_15,val_st_16,val_st_17,val_st_18]
                }, {
                    label: "",
                    backgroundColor: "rgba(255, 0, 20, 1)",
                    data: [val_tl_14,val_tl_15,val_tl_16,val_tl_17,val_tl_18]
                }]


            };
            $('.table_fourth').addClass('table_fourth_len');
        }

        var canvas = document.getElementById('myChartsss').getContext('2d');
        var myBarChart = new Chart(canvas, {
            type: "bar",
            data: chartData,
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            min: min_limit,
                            max: max_limit
                        }
                    }]
                },legend: { display: false, }
            }
        });
    }

    function get_round_up(value){
        var str_value = value.toString();
        // alert(str_value.length);
        if(str_value.length==2){
            value = value / 10;
            return (parseInt(value)+1)*10;
        }
        if(str_value.length==3){
            value = value / 100;
            return (parseInt(value)+1)*100;
        }
        if(str_value.length==4){
            value = value / 1000;
            return (parseInt(value)+1)*1000;
        }
        if(str_value.length==5){
            value = value / 10000;
            // alert((parseInt(value)+1)*10000);
            return (parseInt(value)+1)*10000;
        }
        if(str_value.length==6){
            value = value / 100000;
            // alert(Math.round(value));
            return (Math.round(value)+1)*100000;
        }
        // alert(value);
        // alert(parseInt(value)+1 );
    }
    function get_round_down(value,max_limit){
        if(max_limit !== undefined){
            var str_value = max_limit.toString();
            if(value == 0)
                return 0;
            if(str_value.length==1){
                // value = value / 10;
                return (-1)*10;
            }
            if(str_value.length==2){
                value = value / 10;
                return (parseInt(value)-1)*10;
            }
            if(str_value.length==3){
                value = value / 10;
                return (parseInt(value)+1)*10;
            }
            if(str_value.length==4){
                value = value / 100;
                return (parseInt(value)+1)*100;
            }
            if(str_value.length==5){
                value = value / 1000;
                // alert((parseInt(value)-1)*1000);
                return (parseInt(value)+1)*1000;
            }
            if(str_value.length==6){
                value = value / 10000;
                return (parseInt(value)+1)*10000;
            }
        }else
            return 0;
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        document.getElementById("main_div").style.display = "";
        $('.owl-carousel').owlCarousel({
            items: 1,
            nav: true,
            dots:true,
            mouseDrag: false,
            pullDrag: false,
            touchDrag: false,
            smartSpeed:1000,
            itemsDesktop:[1000,2],
            itemsDesktopSmall:[979,2],
            itemsTablet:[768,2],
            itemsMobile:[650,1],
            navText:["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
        });
        $('.owl-carousel').on('changed.owl.carousel', function(e) {
            var currentIndex = e.item.index;
            if(currentIndex == 4 || currentIndex == '4'){
                ga('send','event','Seen Last Slide','Open My Tax Savings Account','Slide',1);
                track_FP('Seen Last Slide','Open My Tax Savings Account');
                UserId = getCookie("UserId");

                $.ajax({
                    url:'/get_client/',
                    type:'POST',
                    dataType: 'json',
                    data:{'mail':'mail'},
                    success: function(response){
                        if (response.client_id!=0) {
                            $.ajax({
                                url:'/user_tracking_func/',
                                type:'POST',
                                dataType: 'json',
                                data:{'event':'seen','event_name':'Seen Last Slide','client_id':response.client_id,'UserId':UserId},
                                success: function(response){
                                    // console.log(response);
                                }
                            });
                        }
                    }
                });
            }
            // console.log(currentIndex);
            var trackers = ga.getAll();
            var i, len;
            for (i = 0, len = trackers.length; i < len; i += 1) {
              if (trackers[i].get('trackingId') === 'UA-132417121-1') {
                // console.log( trackers[i].get('name') );
              }
            }
            // ga(function(tracker) {
            //   // Logs the tracker created above to the console.
            //   console.log(tracker);
            // });
        });

        // api.client.analyticsreporting.reports.batchGet( {
        //   "reportRequests":[
        //   {
        //     "viewId":"XXXX",
        //     "dateRanges":[
        //       {
        //         "startDate":"2015-06-15",
        //         "endDate":"2015-06-30"
        //       }],
        //     "metrics":[
        //       {
        //         "expression":"ga:sessions"
        //       }],
        //     "dimensions": [
        //       {
        //         "name":"ga:browser"
        //       }]
        //   }]
        // } ).execute(handleReportingResults)

    });
</script>

</body>
</html>

