{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Tax Plan</title>
<meta name="description" content="Tax Plan" />
{% include 'header.html'%}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">

<!-- <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" /> -->
<script src="{% static 'js/salat_tax.js' %}"></script>
<style type="text/css">
    .r-m{ margin-bottom: 3rem; }
    .tb_tooltip { position: relative; }
    .tb_tooltip .tooltiptext {
        visibility: hidden;
        width: 275px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 9;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .tb_tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 21%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    .tb_tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .sp-o{ padding-top:30px; }
    .s-m-o{
        padding-top:5px;
        padding-bottom:10px;
    }
    .footer_css{ margin-top: 50px; }
    .div_padding{
        padding-top:5rem;
        padding-bottom:2rem;
    }
    .icon_css{
        cursor:pointer;
        color: #113d6d;
    }
    .re_acc_css_f{ width: 50%!important; }
    .re_acc_css_empty_zero {
        width: 50%!important;
        position: relative;
        left: 180px!important; 
    }
    .error_data{ color: #ff1212; }
    .into_css{
        position: relative;
        right: 30px;
        top: 7px;
    }
    .resg_close{ margin-top: 5px!important; }
    .modal_color{ color: #1A2531; }
    .date_of_birth_empty {
        width: 60%!important;
        position: relative;
        left: 45px!important;
        text-align: center;
    }
    .resg_css{
        background: #b3e1e8;
        color: white;
        padding: 4px 12px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .nps_error{
        position: relative;
        left: 540px;
        color: #ff1212;
    }
    .hra_error{
        position: relative;
        left: 470px;
        color: #ff1212;
    }
    .amount_error{
        color: #ff1212;
        position: relative;
        left: 530px;
        top: 0px;
    }
    .int_amount_error{
        color: #ff1212;
        position: relative;
        left: 530px;
        top: 0px;
    }
    .expenses_error{
        color: #ff1212;
        position: relative;
        left: 530px;
        top: -8px;
    }
    .ms_error{
        color: #ff1212;
        position: relative;
        top: 0px;
        left: 430px;
    }
    .error_age{
        position: absolute;
        color: #ff1212;
        left: 55px;
        top: 47px;
    }
    .error_css{
        position: absolute;
        left: 500px;
        /*top: 9px;*/
        color: #ff1212;
    }
    .f_css {
        position: relative;
        left: 103px!important;
        width: 90%!important;
    }
    .re_acc_css_b {
        width: 59%;
        position: relative;
        left: 180px!important;
    }
    .re_acc_css_com {
        width: 59%;
        position: relative;
        left: 180px;
    }
    .fin_css{
        position: relative;
        left: 105px!important;
        width: 75%!important;
    }
    .fin_csss {
        position: relative;
        left: 96px!important;
        width: 75%!important;
    }
    .error_msg_date{
        color: #ff1212;
        left: 530px;
        position: relative;
    }
    .annual_error{
        color: #ff1212;
        position: relative;
        left: 530px;
    }
    .recopy_data{
        width: 59%!important;
        position: relative;
        left: 122px!important;
    }
    .onoffswitch5_copy {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        position: relative;
        left: 144px!important;
    }
    .rent_copy_data{
        width: 29%!important;
        position: relative;
        left: 122px!important;
    }
    .d_error{ color: #ff1212; }
    .date_of_birth{
        width: 62%;
        position: relative;
        left: 45px;
        text-align: center;
    }
    .error_colors{
        color: #ff1212;
        position: relative;
        left: 500px;
    }
    .same_last_style{
        position: relative;
        left: 31px;
        width: 66%;
    }
    .same_input_bs{
        width: 77%;
        position: relative;
        left: 33px;
    }
    .legend_popup{ position: relative; left: 14px; }
    .same_color_msg{ display: inline-block; color: #ff1212; }
    .datepicker{ border-radius: 0; }
    .current_age_css{
        width: 62%;
        position: relative;
        left: 45px;
    }
    .rent_pa_css{
        width: 50%;
        position: relative;
        left: 103px;
    }
    .main_css{
        box-shadow: 0px 3px 32px 8px #adaeaf;
        background: #b3e1e8;
        border-radius: 8px;
    }
    .here_style{ margin-top: 30px; }
    #financial_year{
        position: relative;
        left: 104px;
        width: 88%;
    }
    .table td, .table th{ padding: .5rem!important; }
    .c_90_css{ height: 25px!important;text-align: center;width: 86%; }
    .checkbox-custom {
      opacity: 0;
      position: absolute;
    }
    .checkbox-custom, .checkbox-custom-label {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      cursor: pointer;
    }
    .checkbox-custom + .checkbox-custom-label:before {
      content: '';
      background: #fff;
      border-radius: 5px;
      border: 2px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      padding: 2px;
      margin-right: 10px;
      text-align: center;
    }
    .checkbox-custom:checked + .checkbox-custom-label:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 20px;
      border: solid #00B8ED;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      border-radius: 0px;
      margin: 0px 15px 5px 5px;
    }
    .btn_css{ margin-left: 44%;margin-top: 34px; }
    .alter_color{ padding: 2px; }
    .please_css{
        position: relative;
        left: 15px;
        font-size: 0.9rem;
        color: #162331;
    }
    .house_css{ position: relative; left: 61px; }
    .a_style{
        position: relative;
        left: 68px;
        padding-bottom: 12px;
    }
    .house_rent_style{ position: relative; left: 14px; }
    .rent_style{ position: relative; left: 14px; }
    .state_curr{ position: relative; left: 14px; }
    .same_padding{ padding-bottom: 12px; }
    .date_join{ padding-bottom: 10px; }
    .fin_year_css{ padding-bottom: 10px; }
    .card_tax{
        padding: 12px;
        border-radius: 0;
        margin-bottom: 17px;
    }
    .card_taxs{
        padding: 12px;
        border-radius: 0;
        color: #113d6d;
        border-bottom: 1px solid #00B8ED!important;
        background: #b3e1e8;
    }
    .company_cssdsa{ position: relative; left: 14px; }
    .age_css{ position: relative; left: 70px; }
    .company_cssdss{ position: relative; right: 0; }
    .company_cssds{ position: relative; right: 0; }
    .dec_css{
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }
    .css_80{ position: relative; right: 0; }
    .css_80ccd{ position: relative; right: 0; }
    .invest_am{ position: relative; left: 16px; }
    .epf_table_style{
        left: 14px;
        position: relative;
        width: 90%;
    }
    .ann_prin_css{ position: relative; left: 15px; }
    .interest_am{ position: relative; left: 14px; }
    .home_loan_css{ position: relative; right: 0; }
    .rent_allow_css{  position: relative; left: 14px; }
    .rent_css{ position: relative; }
    .stay_csss { position: relative; }
    .curr_city{ position: relative; right: 0; }
    .stay_css{ position: relative; right: 0; }
    .acc_css{ position: relative; }
    .height_data{ height: 40px; }
    .pan_hra_dob_styles{ 
        text-align: center;
        position: relative;
        right: 30px;
        width: 78%;
    }
    .color_td_one{ background: #CBCBCB; }
    .color_td_two{ background: #F8CACB; }
    .color_td_three{ background: #D6E9D3; }
    .color_td_four{ background: #FFD573; }
    .color_td_five{ background: #ECD0DA; }
    .color_td_six{ background: #60A9D7; }
    .color_td_seven{ background: #C77A9D; }
    .com_work_css{
        position: relative;
        right: 0;
        left: 14px;
    }
    .join_companys_data {
        position: relative;
        right: 0;
        left: 14px;
    }
    .join_company3{
        position: relative;
        right: 0;
        left: 14px;
    }
    /*h2.widget-title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid #39C6C7;
        width: 150px;
    }*/
    .text-muteds{
        font-family: inherit;
        color: inherit !important;
        font-size: 0.95rem;
        text-align: justify;
    }
    .nav a { color: #000; }
    @media only screen and (max-width: 640px) and (min-width: 360px){
        .company_cssds{ position: relative; right: 0; }
        .company_cssdsa{ position: relative; left: 11px; }
        .com_work_css { position: relative; left: 11px; }
        .join_company3 { position: relative; left: 11px; }
        .pan_dob_style {
            width: 100%;
            position: relative;
            margin-left: 0;
            text-align: center;
            left: 11px;
        }
        .curr_city { position: relative; }
        .stay_css { position: relative; }
        .acc_css { position: relative; right: 2px; }
        .rent_css { position: relative; left: 11px; }
        .rent_style { position: relative; left: 0; }
        .same_input_bs {
            width: 100%;
            position: relative;
            left: -5px;
        }
        .rent_allow_css { position: relative; left: 11px; }
        .state_curr { position: relative; left: 11px; }
        .house_rent_style { position: relative; left: 14px; }
        .stay_csss { position: relative; right: 6px; }
        .house_css{ position: relative; left: 22px; }
        .pan_hra_dob_styles {
            width: 132%;
            margin-left: 0;
            right: 10px;
        }
        .ann_prin_css { position: relative; left: 7px; }
        .home_loan_css { position: relative; right: 0; }
        .interest_am { position: relative; left: 7px; }
        .epf_table_style {
            position: relative;
            right: 0px;
            width: 100%;
            left: 8px;
        }
        .invest_am { position: relative; right: 0; }
        .same_last_style {
            position: relative;
            left: 20px;
            width: 80%;
        }
        .company_cssdss{ position: relative; right: 0; }
        .age_css { position: relative; left: 0px; }
        .card_tax { padding: 12px; }
        body{ margin: 10px!important; }
        .dependents_css{
            position: relative;
            left: 0;
        }
        .join_companys_data {
            position: relative;
            left: 11px;
        }
        .please_css{
            position: relative;
            left: 11px; 
        }
        .css_80 {
            position: relative;
            right: 0;
        }
        .btn_css { margin-left: 33%; }
        .a_style {
            position: relative;
            left: 0px;
        }
        #financial_year {
            width: 80px;
            left: 20px;
        }
        .monthly_bs{ display: inline-block; }
        .modal{ top: 18px; }
        .current_age_css {
            width: 75%;
            position: relative;
            left: 33px           
        }
        .rent_pa_css {
            width: 86%;
            position: relative;
            left: 23px;
        }
        .error_colors {
            color: #ff1212;
            position: relative;
            left: 142px;
        }
        .do_son_dob{
            width: 90%;
            position: relative;
            margin-left: 0;
            text-align: center;
            left: 20px;
        }
        .re_acc_css_mobile {
            width: 50%!important;
            left: 90px!important;
        }
        .annual_error{
            color: #ff1212;
            position: relative;
            left: 181px;
            top: 9px;
        }
        .re_acc_css_com{
            width: 86%;
            left: 22px!important;
        }
        .re_acc_css_b{
            width: 86%;
            left: 22px!important;
        }
        .error_css{
            position: absolute;
            left: 180px;
            /*top: 460px;*/
        }
        .ms_error {
            color: #ff1212;
            position: relative;
            top: 0px;
            left: 36px;
        }
        .hra_error {
            position: relative;
            left: 80px;
            color: #ff1212;
        }
        .error_age {
            position: absolute;
            color: #ff1212;
            left: 0px;
            top: 75px;
        }
        .expenses_error {
            color: #ff1212;
            position: relative;
            left: 180px;
            top: -8px;
        }
        .amount_error {
            color: #ff1212;
            position: relative;
            left: 180px;
            top: -15px;
        }
        .int_amount_error {
            color: #ff1212;
            position: relative;
            left: 180px;
            top: 0px;
        }
        .nps_error {
            position: relative;
            left: 180px;
            color: #ff1212;
            top: -10px;
        }
        .error_msg_date {
            color: #ff1212;
            left: 196px;
            position: relative;
            top: 0;
        }
        .f_css_empty {
            position: relative;
            left: 7px!important;
            width: 100%!important;
        }
        .fin_css {
            position: relative;
            left: 22px!important;
            width: 75%!important;
        }
        .re_acc_css_empty_into {
            width: 50%!important;
            position: relative;
            left: 100px!important;
        }
        .add_into_css{ position: relative; }
        .into_css{
            position: relative;
            right: 35px;
            top: 50px;
        }
        .add_css_in{
            position: absolute;
            right: 10px;
        }
        .fin_csss {
            position: relative;
            left: 30px!important;
            width: 75%!important;
        }
    }
    .row-col1 {
        display: table;
        table-layout: fixed;
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }
    select {
      text-align: center;
      text-align-last: center;
    }
    option {
      text-align: left;
    }
    .no-bottom-border td {
        /*border-bottom: none !important;*/
        border-color: white!important;
        /*border-left-color: white!important;*/
        /*border-right-color: white!important;*/

    }
    /*1211 1276*/
</style>
</head>

<body ng-controller="index_cntrl">
<form name="myForm" method="post" >
<div class="app" ng-controller="salat_tax_controller">
  <div class="row-col1">
    <div class="col-sm-12" ng-controller="index_controller">
    {% include 'menubar.html'%}
    </div>
    <!-- content -->
    <div class="div_padding row-main"></div>
    <div class="row row-main r-m">
    <div class="col-md-2 text-center"></div>
    <div class="col-md-8 col-sm-12 col-xs-12 main_css row-main">
      <div class="card-header card_taxs text-center"></div>
      <div class="card bg-dark mb-3 card_tax">
        <div class="card-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 here_style">
              <!-- <a type="button" href="/tax_recom" class="btn btn-md blue p-x-md btn-md text-center btn_css">Submit</a> -->
              <a type="button" href="" ng-click="get_adhar_xml()" class="btn btn-md blue p-x-md btn-md text-center btn_css">Start</a>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <table id="table_style" class="same_width_table">
                <tr>
                  <td class="md-form-group float-label">
                    <label> Captcha   </label>
                  </td>
                  <td class="fin_year_css">
                    <!-- <img src="{% static 'aadhar/859748396648.png' %}" alt="Captcha" > -->
                    <img src="<%captcha_img%>" alt="Captcha" >
                  </td>
                </tr>
                <tr>
                  <td class="md-form-group float-label">
                    <label> Enter Captcha   </label>
                  </td>
                  <td class="fin_year_css">
                    <input type="text" class="md-input text-center" ng-model="captcha_text" ng-init="captcha_text=''" placeholder="Enter Captha">
                  </td>
                </tr>
                <tr>
                  <td class=""> </td>
                  <td>
                    <a type="button" href="" ng-click="submit_captcha(captcha_text)" class="btn btn-md blue p-x-md btn-md text-center btn_css">Save Captcha</a>
                  </td>
                </tr>
                <tr>
                  <td class="md-form-group float-label">
                    <label> Enter OTP   </label>
                  </td>
                  <td class="fin_year_css">
                    <input type="text" class="md-input text-center" ng-model="aadhar_otp" ng-init="aadhar_otp=''" placeholder="Enter OTP">
                  </td>
                </tr>
                <tr>
                  <td class=""> </td>
                  <td>
                    <a type="button" href="" ng-click="submit_adhar_otp(aadhar_otp)" class="btn btn-md blue p-x-md btn-md text-center btn_css">Submit OTP</a>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 here_style">
              <p style="color: #ff1212;"><%common_err%></p>
              <!-- <a type="button" href="/tax_recom" class="btn btn-md blue p-x-md btn-md text-center btn_css">Submit</a> -->
              <a type="button" href="" ng-click="submit();" class="btn btn-md blue p-x-md btn-md text-center btn_css">Submit</a>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>

  {% include 'footer.html'%}
</div>
</form>


<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<!-- <script type="text/javascript" src="{% static 'js/angular-strap.orig.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-strap.tpl.js' %}"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<script type="text/javascript">
  $(document).ready(function(){ });
   
// console.log($('#doj2').val());
</script>
</body>
</html>
<!-- 1192 -->