{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Tax Paid</title>
<meta name="description" content="Taxes Paid" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/taxes_paid.js' %}"></script>
<!-- <head>
    <meta charset="utf-8" />
    <title>Salat Tax | Tax Paid</title>
    <meta name="description" content="Tax Paid" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/taxes_paid.js' %}"></script>
</head> -->
<style type="text/css">
    .success-step {
        color: #9ED438; float: right;
    }
    .inprogress-step {
        color: grey; float: right;
    }
    .warning-step {
        color: orange; float: right;
    }
    #tooltip {
        float: left;
        position: relative;
        bottom: 40px;
        color: #00A1DF;
        right: 20px;
    }
    select {
        position: relative;
        top: 20px;
    }
    #save1 { color: #fff; }
    .gotop { color: #00A1DF; }
    .table-bordered thead th.table_head{
        font-weight: 600;
        width: 50%;
    }
</style>

<body ng-controller="index_cntrl" style="display: none">
    <div ng-controller="taxes_paid_cntrl">
    <div class="app" id="app" ng-controller="taxes_paid_controller">

        <div class='loader'>
            <span class="please_css">Please wait...</span>
        </div>
        <!-- ############ LAYOUT START-->
        {% include 'menubar_efiling.html'%}
        <div id="aside" class="app-aside fade nav-dropdown black">
            <!-- fluid app aside -->
            <div class="navside dk" data-layout="column">
                <div class="navbar blue no-radius nav_css">
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
                    </a>
                    <!-- / brand -->
                </div>
                <div data-flex class="hide-scroll dark">
                    {% include 'sidebar.html'%}
                </div>
            </div>
        </div>
        <!-- content -->
        <input type="hidden" ng-init="user.client_id='{{client_id}}'" ng-model="user.client_id">

        <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
            
            <div class="app-body" ng-style="display_login">
                <!-- ############ PAGE START-->
                <!-- only need a height for layout 4 -->
                <div style="min-height: 200px;margin-top:67px;">
                    <!-- <h4 style="margin-left:28px;margin-bottom: -15px;">Taxes Paid</h4> -->
                    <div class="p-a-md">
                        <form role="form" name="taxForm" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-a-0">
                            <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.user }}'">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom:15px;">
                                    <div class="b-b _800" style="padding-top: 1.2rem;padding-bottom: 1rem"><h5>Taxes Paid </h5></div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-style="taxDeductedAtSource" style="margin-top:20px;">
                                        <h5>Tax Deducted at Source on Salary in Financial Year <%return_detail_fy%></h5>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table1">
                                                    <thead>
                                                        <tr>
                                                            <th>TAN</th>
                                                            <th>Name Of Employer</th>
                                                            <th>Income under head Salary</th>
                                                            <th>Tax Deducted</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='tds_on_salary' ng-model="tds_on_salary">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-style="tax_other_salary" style="margin-top:20px;">
                                        <h5>Tax Deducted at Source on Income other than Salary</h5>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th>TAN</th>
                                                            <th>Name Of Deductor</th>
                                                            <th>Income Received</th>
                                                            <th>Tax Deducted</th>
                                                            <th>Amount Claimed This Year</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='tds_otherthan_salary' ng-model="tds_otherthan_salary">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th class="table_head">Total Tax Deducted at Source</th>
                                                            <th class="table_head"><%total_tax_deducted%></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;" ng-style="tax_collected_source_div">
                                        <h5>Tax Collected at Source</h5>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th>TAN</th>
                                                            <th>Name of Collector</th>
                                                            <th>Amount Debited </th>
                                                            <th>Tax Collected</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='tax_collected_source' ng-model="tax_collected_source">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th class="table_head">Total Tax Collected at Source </th>
                                                           <th class="table_head"><%total_tax_collected%></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;" ng-style="adv_selfA_tax_div">
                                        <h5>Advance / Self Assessment Tax</h5>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th>BSR Code</th>
                                                            <th>Date of Deposit</th>
                                                            <th>Challan No. </th>
                                                            <th>Tax Paid</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id='adv_tax' ng-model='adv_tax'>
                                                    </tbody>
                                                    <tbody id='self_a_tax' ng-model='self_a_tax'></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-a-0" id="table2">
                                                    <thead>
                                                        <tr>
                                                            <th class="table_head">Total Taxes Paid (Advance + Self Assessment)</th>
                                                           <!-- <th class="table_head"><%total_tax_paid | number : 2%></th> -->
                                                           <th class="table_head"><%total_tax_paid%></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-a col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;margin-bottom: 60px">

                                        <a class="btn info pull-left" ng-class="{disabled: isDisabled}" ng-click="gotodeductiondetails()" ng-model="isDisabled" style="color:#ffffff;">Prev</a>

                                        <a class="btn btn-success pull-right" ng-click="gotoReview(); user_tracking('click btn','next taxes paid');" id="review" style="color:#FFFFFF;" onclick="ga('send','event','btn click','next taxes paid','Label',1);track_FP('btn click','next taxes paid')">Save</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ############ PAGE END-->
            </div>
            <div class="app-body" ng-style="display_logout">
                <div style="margin-top:20px;"> Kindly Login to continue. </div>
            </div>
        </div>
        <!-- ############ LAYOUT END-->
    {% include 'footer_efiling.html'%}
    </div>
    </div>

    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <!-- <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script>
    <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script>
    <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
    <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
    <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
    <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
    <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

    <script src="{% static 'scripts/config.lazyload.js'%}"></script>
    <script src="{% static 'scripts/ui-load.js'%}"></script>
    <script src="{% static 'scripts/ui-jp.js'%}"></script>
    <script src="{% static 'scripts/ui-include.js'%}"></script>
    <script src="{% static 'scripts/ui-device.js'%}"></script>
    <script src="{% static 'scripts/ui-form.js'%}"></script>
    <script src="{% static 'scripts/ui-modal.js'%}"></script>
    <script src="{% static 'scripts/ui-nav.js'%}"></script>
    <script src="{% static 'scripts/ui-list.js'%}"></script>
    <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
    <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
    <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
    <script src="{% static 'scripts/ui-taburl.js'%}"></script>
    <script src="{% static 'scripts/app.js'%}"></script>
    <script src="{% static 'scripts/ajax.js'%}"></script>
    <script src="{% static 'js/ui-mask.js' %}"></script> -->
    <!-- endbuild -->

    <script type="text/javascript">
        $(document).ready(function() {
            $(".add-row1").click(function() {
                var markup = "<tr><td><input type='checkbox' name='record'></td><td><input class='md-input' type='text' id='name' placeholder='Enter TAN'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Name of Employer'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Income under head salary'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Tax deducted'></td></tr>";
                $("#table1 tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row1").click(function() {
                $("#table1 tbody").find('input[name="record"]').each(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });

            // TAble 2
            $(".add-row2").click(function() {
                var markup = "<tr><td><input type='checkbox' name='record'></td><td><input class='md-input' type='text' id='name' placeholder='Enter TAN'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Name of Deductor'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Income received'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Tax deducted'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Amount Claimed'></td></tr>";
                $("#table2 tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row2").click(function() {
                $("#table2 tbody").find('input[name="record"]').each(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });

            // TAble 3
            $(".add-row3").click(function() {
                var markup = "<tr><td><input type='checkbox' name='record'></td><td><input class='md-input' type='text' id='name' placeholder='Enter BSR Code'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Date of Deposit'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Challan No.'></td><td><input class='md-input' type='text' id='name' placeholder='Yes/No'></td></tr>";
                $("#table3 tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row3").click(function() {
                $("#table3 tbody").find('input[name="record"]').each(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });

            // TAble 4
            $(".add-row4").click(function() {
                var markup = "<tr><td><input type='checkbox' name='record'></td><td><input class='md-input' type='text' id='name' placeholder='Enter BSR Code'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Date of Deposit'></td><td><input class='md-input' type='text' id='name' placeholder='Enter Challan No.'></td><td><input class='md-input' type='text' id='name' placeholder='Yes/No'></td></tr>";
                $("#table4 tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row4").click(function() {
                $("#table4 tbody").find('input[name="record"]').each(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $('#save1').on('click', function(e) {
            $('#tdsTab').removeClass('active');
            $('#taxesTab').tab('show');
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
        $('#btnGoTop').on('click', function(e) {
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        });
        $(function() {
            $("#upload_link").on('click', function(e) {
                e.preventDefault();
                $("#upload:hidden").trigger('click');
            });
        });
    </script>
</body>
</html>