{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Salat Tax | Tax Saving Account</title>
    <meta name="description" content="Tax Saving Account" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />
    <style type="text/css">
        .nav a {
            color: #000;
        }
        .text-info-hover .active > a {
            color: #2196f3 !important;
        }
        h2.widget-title {
            font-size: 25px;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid #39C6C7;
            width: 150px;
        }
                .text-muteds{
            font-family: inherit;
            color: inherit !important;
            font-size: 0.95rem;
            text-align: justify;
        }
        .file_return{
            position: absolute;
            left: 40%;
            top: 40%;
            color: #2196f3;
        }
    </style>
</head>

<body>
    <div class="app" id="app">
        <!-- ############ LAYOUT START-->
        <!-- / navbar collapse -->
        <div class="row-col" style="background:url(../static/images/tsa_back.jpg) no-repeat; background-size:cover;">
            <div class="col-sm-12">
                <div class="navbar" data-pjax style="min-height: 3rem;background: white;border-radius: 0;position: fixed;width: 100%;z-index: 10000;">
                    <a data-toggle="collapse" data-target="#navbar" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                        <i class="ion-android-menu"></i>
                    </a>
                    <!-- brand -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../static/images/logo_blue.png" alt="Salat-logo" height="100">
                    </a>
                    <!-- / brand -->
                    <a href="" class="file_return"><h5>File Your Tax Returns</h5></a>
                    <!-- navbar collapse -->
                    <div class="collapse navbar-toggleable-sm pull-right pull-none-xs" id="navbar">
                        <!-- link and dropdown -->
                        <ul class="nav navbar-nav text-info-hover" data-ui-nav>
                            <li class="nav-item">
                                <a onclick="location.href='../'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='/services'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Services</span>
                                </a>
                            </li>
                            <li class="active nav-item">
                                <a href="#" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Tax Saving Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="location.href='/contact_us'" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text">Contact Us</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../" data-ui-scroll-to class="nav-link">
                                    <span class="nav-text"> Sign in </span>
                                </a>
                            </li>
                        </ul>
                        <!-- / link and dropdown -->
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <div class="p-t-lg" style="padding-top:10rem;padding-bottom: 10rem;">
                        <h1 class="m-y-md text-white">Tax Saving Account!</h1>
                        <p style="color:#FFFFFF;"> This Account is designed exclusively for persons working in IT industry. As you all are extremely busy in your day to day activities. This account will take care of your tax Savings as well as money multiplication.</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <!-- content -->
        <div class="footer black text-info-hover">
            <div class="container">
                <!-- <div class="p-y-lg b-b">

                    <div class="m-r">
                        <div class="text-md p-y-sm">Start Filing your tax return Now</div>
                        <a href="#" class="btn success pull-none-xs">Start</a>
                    </div>
                </div> -->
            </div>
            <div class="container">
                <div class="row p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="col-md-6">
                        <div class="text-muteds m-y-lg">
                            <span class="text-muteds"><img src="../static/images/logo_blue.png" style="max-height: 3rem;" alt="Salat-logo" height="100"></span>
                        </div>
                        <h2 class="widget-title">About Us</h2>
                        <span class="text-muteds">Salat Tax is an initiative by Salat Investments founded by Swapnil Bagmar and Prerana Bagmar. We like to use cutting edge technology and simplify tax compliance for tax payers. We are on a mission to save maximum tax and use the money to create sustainable wealth for the clients. </span>
                    </div>
                    <div class="col-md-3" style="padding-top:146px;">
                        <h2 class="widget-title">Address</h2>
                        <span class="text-muteds">Flat No 1, Building A1,<br> Indira Park Co-Operative Housing Society, Pune Nagar Road,<br> Pune 411006 </span>
                    </div>
                    <div class="col-md-3" style="padding-top:146px;">
                        <h2 class="widget-title">Contact Us</h2>
                        <span class="text-muteds">E-mail : <a href="mailto:salattax@gmail.com">salattax@gmail.com</a></span><br>
                        <span class="text-muteds">Telephone : <a href="tel:020-41225277">020-41225277</a></span>
                    </div>
                </div>
                <div class="p-y-lg" style="padding-top:5px;padding-bottom:10px;">
                    <div class="m-b-lg text-sm">
                        <div class="text-muted pull-left pull-none-xs m-b">
                            <span class="text-muted">&copy; Copyright. <a href="http://salatinvestments.com" target="_blank">salatinvestments.com </a> All rights reserved.</span>
                        </div>
                    </div>
                    <!-- <div>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-social rounded lt" title="Google+">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red-600"></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ############ LAYOUT END-->
    </div>


    <!-- build:js scripts/app.min.js -->
    <!-- jQuery -->
    <script src="libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="libs/tether/dist/js/tether.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- core -->
    <script src="libs/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="libs/PACE/pace.min.js"></script>
    <script src="libs/jquery-pjax/jquery.pjax.js"></script>
    <script src="libs/blockUI/jquery.blockUI.js"></script>
    <script src="libs/jscroll/jquery.jscroll.min.js"></script>

    <script src="scripts/config.lazyload.js"></script>
    <script src="scripts/ui-load.js"></script>
    <script src="scripts/ui-jp.js"></script>
    <script src="scripts/ui-include.js"></script>
    <script src="scripts/ui-device.js"></script>
    <script src="scripts/ui-form.js"></script>
    <script src="scripts/ui-modal.js"></script>
    <script src="scripts/ui-nav.js"></script>
    <script src="scripts/ui-list.js"></script>
    <script src="scripts/ui-screenfull.js"></script>
    <script src="scripts/ui-scroll-to.js"></script>
    <script src="scripts/ui-toggle-class.js"></script>
    <script src="scripts/ui-taburl.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/ajax.js"></script>
    <!-- endbuild -->
</body>

</html>