{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<title>Salat Tax | Upload Form 16</title>
<meta name="description" content="Upload Form 16" />
{% include 'header_efiling.html'%}

<script src="{% static 'js/upload_form16.js' %}"></script>
<!-- <head>
    <meta charset="utf-8" />
    <title>Salat Tax | Upload Form 16</title>
    <meta name="description" content="Income Details" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/animate.css/animate.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/glyphicons/glyphicons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/material-design-icons/material-design-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/ionicons/css/ionicons.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'css/styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles/font.css' %}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
    <script src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/upload_form16.js' %}"></script>
</head> -->
<style type="text/css">
  .error_field{ color: red; }
  .progress {
    margin: 10px; width: 700px;
  }
  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/static/img/loader-final-2.gif) 50% 50% no-repeat rgb(255,255,255);
    opacity: .9;
  }
  .text_color_success{
      margin-left: 12px;
      color: green;
  }
  .text_color_danger{
      margin-left: 12px;
      color: maroon;
  }
</style>
<body ng-controller="index_cntrl">
<div class="loader"></div>
<div ng-controller="uploadForm_cntrl">
<div class="app" id="app" ng-controller="uploadForm_controller">
  <div class='loader'>
      <span class="please_css">Please wait...</span>
  </div>
  {% include 'menubar_efiling.html'%}
  <div id="content" class="app-content box-shadow-z2 bg pjax-container" role="main">
    <div class="app-header blue bg b-b" ng-controller="index_controller">
      <div class="navbar" data-pjax>
        <a href="index.html" class="navbar-brand">
          <img src="../static/images/logo_white.png" alt="Salat-logo" height="100" style="margin-bottom:20px;">
        </a>
        <div class="navbar-item h5" id="pageTitle">Upload Form 16</div>
      </div>
    </div>
    <div class="app-footer dark bg p-a b-t">
      <div class="pull-right text-sm text-muted">Version 1.0.1</div>
      <span class="text-sm text-muted">&copy; Copyright.</span>
    </div>
    <div class="app-body" ng-style="display_login">
      <div style="min-height: 200px">
        <form role="taxForm" class="p-a-md col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
            <h5>Select Number of Form 16 to upload 
            <a href="#" id="tooltip" data-toggle="tooltip" title="Please upload your Form 16. You can get one from your company HR. It should contain two parts Part A and Part B. If you have them in separate pdf files upload them together. In case the files have password please specify the same."><i class="fa fa-info-circle"></i></a></h5>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group">
            <input type="hidden" ng-model="user.id" ng-init="user.id='{{ id.id }}'">
            <select id="form16select" class="md-input" onchange="form16no()" ng-model="user.no_of_form16" ng-change="validation('no_of_form16',user.no_of_form16);" ng-init="user.no_of_form16=''" style="margin-bottom:20px;">
              <option selected="" value="0">Select Number</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <div class="error_field" id="state_validation">
              <p>
                <span ng-messages="taxForm.no_of_form16.$error" role="alert"><%no_of_form16_error%>
              </p>
            </div>
          </div>
          <!-- First Form16 -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;display:none" id="form16comp1">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 form-control-label">Form 16 For Company 1</label>
                <div class="col-sm-8">
                  <input type="file" id="form16_1" class="form-control" ng-model="user.form16_1" base-sixty-four-input onload="onLoad_form16_1" maxsize="500" ng-file-select="onFileSelect($files)" ng-click="reset_filename()" multiple>
                </div>
                <div class="error_field">
                  <p>
                    <span ng-messages="taxForm.user.form16_1.$error" role="alert"><%form16_1_error%>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input" ng-model="user.form1_passwordA" ng-keyup="user.form1_passwordA=user.form1_passwordA.toUpperCase();validation('form1_passwordA',user.form1_passwordA);" ng-blur="validation('form1_passwordA',user.form1_passwordA)" ng-init="user.form1_passwordA=''">
                  <label>Enter Password for part A</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form1_passwordA.$error" role="alert"><%form1_passwordA_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input"ng-model="user.form1_passwordB" ng-keyup="user.form1_passwordB=user.form1_passwordB.toUpperCase();validation('form1_passwordB',user.form1_passwordB);" ng-blur="validation('form1_passwordB',user.form1_passwordB)" ng-init="user.form1_passwordB=''">
                  <label>Enter Password for part B</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form1_passwordB.$error" role="alert"><%form1_passwordB_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <button type="button" class="btn btn-success" style="width : 85%" data-dismiss="modal" ng-click="upload_form16_1()">Upload</button>
                </div>
                <div class="error_field">
                  <p>
                    <span class="<%upload_form16_1_color%> upload_form16_1_error_cl"><%upload_form16_1_error%></span>
                  </p>
                </div>
            </div>
          </div>
          <!-- Second Form16 -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;display:none" id="form16comp2">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 form-control-label">Form 16 For Company 2</label>
                <div class="col-sm-8">
                  <input type="file" id="form16_2" class="form-control" ng-model="user.form16_2" base-sixty-four-input onload="onLoad_form16_2" maxsize="500" ng-file-select="onFileSelect($files)" ng-click="reset_filename2()" multiple>
                </div>
                <div class="error_field">
                  <p>
                    <span ng-messages="taxForm.user.form16_2.$error" role="alert"><%form16_2_error%>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input" ng-model="user.form2_passwordA" ng-keyup="user.form2_passwordA=user.form2_passwordA.toUpperCase();validation('form2_passwordA',user.form2_passwordA);" ng-blur="validation('form2_passwordA',user.form2_passwordA)" ng-init="user.form2_passwordA=''">
                  <label>Enter Password for part A</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form2_passwordA.$error" role="alert"><%form2_passwordA_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input"ng-model="user.form2_passwordB" ng-keyup="user.form2_passwordB=user.form2_passwordB.toUpperCase();validation('form2_passwordB',user.form2_passwordB);" ng-blur="validation('form2_passwordB',user.form2_passwordB)" ng-init="user.form2_passwordB=''">
                  <label>Enter Password for part B</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form2_passwordB.$error" role="alert"><%form2_passwordB_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <button type="button" class="btn btn-success" style="width : 85%" data-dismiss="modal" ng-click="upload_form16_2()">Upload</button>
                </div>
                <div class="error_field">
                  <p>
                    <span class="<%upload_form16_2_color%> upload_form16_2_error_cl"><%upload_form16_2_error%></span>
                  </p>
                </div>
            </div>
          </div>
          <!-- Third Form16 -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;display:none" id="form16comp3">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 form-control-label">Form 16 For Company 3</label>
                <div class="col-sm-8">
                  <input type="file" id="form16_3" class="form-control" ng-model="user.form16_3" base-sixty-four-input onload="onLoad_form16_3" maxsize="500" ng-file-select="onFileSelect($files)" ng-click="reset_filename3()" multiple>
                </div>
                <div class="error_field">
                  <p>
                    <span ng-messages="taxForm.user.form16_3.$error" role="alert"><%form16_3_error%>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input" ng-model="user.form3_passwordA" ng-keyup="user.form3_passwordA=user.form3_passwordA.toUpperCase();validation('form3_passwordA',user.form3_passwordA);" ng-blur="validation('form3_passwordA',user.form3_passwordA)" ng-init="user.form3_passwordA=''">
                  <label>Enter Password for part A</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form3_passwordA.$error" role="alert"><%form3_passwordA_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <input type="password" class="md-input"ng-model="user.form3_passwordB" ng-keyup="user.form3_passwordB=user.form3_passwordB.toUpperCase();validation('form3_passwordB',user.form3_passwordB);" ng-blur="validation('form3_passwordB',user.form3_passwordB)" ng-init="user.form3_passwordB=''">
                  <label>Enter Password for part B</label>
                </div>
                <div class="error_field">
                    <p>
                      <span ng-messages="taxForm.user.form3_passwordB.$error" role="alert"><%form3_passwordB_error%>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <div class="md-form-group float-label">
                  <button type="button" class="btn btn-success" style="width : 85%" data-dismiss="modal" ng-click="upload_form16_3()">Upload</button>
                </div>
                <div class="error_field">
                  <p>
                    <span class="<%upload_form16_3_color%> upload_form16_3_error_cl"><%upload_form16_3_error%></span>
                  </p>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              <!-- <span id="current-progress"></span> -->
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;margin-top:50px">
            <a class="btn info" style="color:#FFFFFF;" onclick="start_proceed();ga('send','event','btn click','Proceed Upload Form16','Label',1);track_FP('btn click','Proceed Upload Form16')" ng-click="gotoSaveForm16(user,$event);start_proceed(); user_tracking('click btn','Proceed Upload Form16');">Proceed&nbsp<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </form>
      </div>
      <!-- ############ PAGE END -->
    </div>
    <div class="app-body" ng-style="display_logout">
        <div style="margin-top:20px;">
          <center><h2> Kindly Login to continue. </h2></center>
        </div>
    </div>
  </div>
  {% include 'footer_efiling.html'%}
</div>
</div>

  <!-- build:js scripts/app.min.js -->
  <!-- jQuery -->
  <!-- <script src="{% static 'libs/jquery/dist/jquery.js'%}"></script> -->
  <!-- Bootstrap -->
  <!-- <script src="{% static 'libs/tether/dist/js/tether.min.js'%}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.js'%}"></script> -->
  <!-- core -->
  <!-- <script src="{% static 'libs/jQuery-Storage-API/jquery.storageapi.min.js'%}"></script>
  <script src="{% static 'libs/PACE/pace.min.js'%}"></script>
  <script src="{% static 'libs/jquery-pjax/jquery.pjax.js'%}"></script>
  <script src="{% static 'libs/blockUI/jquery.blockUI.js'%}"></script>
  <script src="{% static 'libs/jscroll/jquery.jscroll.min.js'%}"></script>

  <script src="{% static 'scripts/config.lazyload.js'%}"></script>
  <script src="{% static 'scripts/ui-load.js'%}"></script>
  <script src="{% static 'scripts/ui-jp.js'%}"></script>
  <script src="{% static 'scripts/ui-include.js'%}"></script>
  <script src="{% static 'scripts/ui-device.js'%}"></script>
  <script src="{% static 'scripts/ui-form.js'%}"></script>
  <script src="{% static 'scripts/ui-modal.js'%}"></script>
  <script src="{% static 'scripts/ui-nav.js'%}"></script>
  <script src="{% static 'scripts/ui-list.js'%}"></script>
  <script src="{% static 'scripts/ui-screenfull.js'%}"></script>
  <script src="{% static 'scripts/ui-scroll-to.js'%}"></script>
  <script src="{% static 'scripts/ui-toggle-class.js'%}"></script>
  <script src="{% static 'scripts/ui-taburl.js'%}"></script>
  <script src="{% static 'scripts/app.js'%}"></script>
  <script src="{% static 'scripts/ajax.js'%}"></script>
    <script src="{% static 'js/ui-mask.js' %}"></script> -->
  <!-- endbuild -->
  <script type="text/javascript">
    $('.loader').hide();
    
    function start_proceed() {
      // alert('sfd');
      /*$(function() {
        var current_progress = 0;
        var interval = setInterval(function() {
            current_progress += 5;
            var text = current_progress + "%"
            if (current_progress>20) {
             text = current_progress + "% Complete"
            }
            $("#dynamic")
            .css("width", current_progress + "%")
            .attr("aria-valuenow", current_progress)
            .text(text);
            if (current_progress >= 100)
              clearInterval(interval);
        }, 1400);
      });*/
    }
    function form16no(){
      var no = document.getElementById('form16select');
      var item1 = no.options[no.selectedIndex].value;
      if (item1==1){
        document.getElementById("form16comp1").style.display = "block";
        document.getElementById("form16comp2").style.display = "none";
        document.getElementById("form16comp3").style.display = "none";
      }
      if(item1==2){
        document.getElementById("form16comp1").style.display = "block";
        document.getElementById("form16comp2").style.display = "block";
        document.getElementById("form16comp3").style.display = "none";
      }

      if(item1==3){
        document.getElementById("form16comp1").style.display = "block";
        document.getElementById("form16comp2").style.display = "block";
        document.getElementById("form16comp3").style.display = "block";
      }
    }
    // var two = document.getElementById('yourSelect');
    // var three = document.getElementById('yourSelect');
  </script>
</body>
</html>
